﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Bridgeline.iAPPS.Resources.GUIStrings.iAPPSSocial: @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script>
        @Html.Action("RenderScripts", "Activity")
    </script>
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/jqueryui")
    @Scripts.Render("~/scripts/kendo")
    @Scripts.Render("~/scripts/iapps")
    @Scripts.Render("~/iapps-callback-mapping.js")
    @Scripts.Render("~/switchsite.js")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/App_Themes/General/iapps")
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        $(function () {
            $(".product-nav .global-navigation").iAppsMegaMenu({ useToken: true, delay: 500 });
            $(".site-utility .global-navigation").iAppsMegaMenu();
        });

        $(function () {
            //setup ajax error handling
            $.ajaxSetup({
                error: function (data, status, error) {
                    //alert('in error post');
                    //debugger;
                    var responseData = data.responseJSON;
                    if (responseData && typeof (responseData.success) != 'undefined' && !responseData.success) {
                        alert(responseData.message);
                    }
                    CanceliAppsAdminPopup(false);
                    CloseiAppsLoadingPanel();
                }
            });
        });

        function fn_ShowNotifications() {
            OpeniAppsSocialPopup('ViewNotifications', '', '');
        }
    </script>
</head>
<body>
    <div style="position: relative; min-height: 100%;">
        <!-- Header Starts -->
        <div class="site-header-wrapper">
            <div class="site-header clear-fix">
                <div class="left-header">
                    <div class="product-nav top-section clear-fix">
                        @Html.Action("AdminMainMenu", "Navigation")
                    </div>
                    <div class="site-utility bottom-section clear-fix">
                        @Html.Action("AdminMenu", "Navigation")
                    </div>
                </div>
                <div class="right-header">
                    <div class="top-section site-utility-search clear-fix">
                        <div class="clear-fix">
                            <div style="float: left;">
                                &nbsp;
                            </div>
                            <div class="signout" style="float: right;">
                               @Html.Partial("_Signout")
                            </div>
                        </div>
                        <ul class="utility-nav">
                            <li class="site-search ui-front" style="display: none;">
                                @Html.TextBox("txtSearch", "",
                                        new
                                        {
                                            @width = "200",
                                            @title = Bridgeline.FW.SiteBlock.SiteManager.GetCurrentSite().Title,
                                            @class = "textBoxes"
                                        })
                            </li>
                        </ul>
                    </div>
                    <div class="site-utility bottom-section clear-fix">
                        <div class="search-help clear-fix">
                            <ul>
                                <li class="notifications">
                                    <a href="javascript://" onclick="fn_ShowNotifications();"><span id="spNotificationCount"></span></a>
                                </li>
                                @Html.Partial("_LoginPartial")
                                <li class="siteeditor-dropdown" style="display: none;"><a href="javascript:// ">
                                    @Bridgeline.iAPPS.Resources.GUIStrings.SiteEditor</a>
                                    <ul>
                                        <li><a onclick="JumpToFrontPage();">
                                            @Bridgeline.iAPPS.Resources.GUIStrings.HomePage</a></li>
                                        <li><a onclick="JumpToLastVisitedFrontPage();">
                                            @Bridgeline.iAPPS.Resources.GUIStrings.LastVisitedPage</a></li>
                                    </ul>
                                </li>
                                <li class="help" id="iapps_help" style="display: none;"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Ends -->
        <div class="wrapper clear-fix" id="wrapper">
            <!-- Content Section Starts -->
            <div class="contentSection clear-fix" runat="server" id="contentSection">
                @Html.Action("DisplayMessage", "General")
                @RenderBody()
            </div>
            <!-- Content Section Ends -->
        </div>
        <!-- Footer Starts -->
        <div class="footerWrapper" id="footerWrapper">
            <div class="footer" id="footer">
                <div class="leftFooter">
                    @Html.Raw(String.Format(Bridgeline.iAPPS.Resources.GUIStrings.Copy1BridgelineDigital, "v" + Bridgeline.iAppsCMS.Web.GeneralUtility.GetCurrentVersionNumber(), DateTime.Now.Year))
                </div>
                <div class="rightFooter">
                    <img src="@Url.Content("~/App_Themes/General/images/bridgeline-logo.png")" alt="@Bridgeline.iAPPS.Resources.GUIStrings.BridgelineDigital" />
                </div>
            </div>
        </div>
        <!-- Footer Ends -->
        <div style="display: none" id="iApps_LoadingPanel">
            <div class="iapps-modal loadingSpinner">
                <img src="~/App_Themes/General/images/iapps-rotating-cube.gif" alt="Please wait..." />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window["formName"] = "<%=frmMain.ClientID%>";
        @Html.Action("RenderGridDTO", "General")
        @Html.Action("RenderTreeDTO", "General")
        @Html.Action("RenderPopupDTO", "General")

        $(function () {
            UpdateNotificationCount(); // call once and then setup the timer to call every 30 secs
            setInterval(UpdateNotificationCount, 30000);
        });

        function UpdateNotificationCount() {
            $.get("@Url.Content("~/socialnotification/GetSocialNotificationCount")", function (result) {
                if (result != null && result != "") {
                    $("#spNotificationCount").text(result);
                }
            });
        }
    </script>
</body>
</html>
