﻿@if (Request.IsAuthenticated)
{
    <li class="user-dropdown">
        <a>
            @Html.Raw(string.Format("{0} {1}", @Bridgeline.iAPPS.Resources.GUIStrings.WelcomeNamePrefix, User.Identity.Name))
        </a>
        <ul>
            <li>
                @Html.ActionLink(@Bridgeline.iAPPS.Resources.GUIStrings.MyProfile, "ManageUserDetails", "User",
                    new { userId = (User.Identity as Bridgeline.FW.Global.Security.FWIdentity).Member.ProviderUserKey }, null)
            </li>
            <li><a onclick="OpeniAppsAdminPopup('ChangePassword');">
                @Bridgeline.iAPPS.Resources.GUIStrings.ChangePassword</a></li>
            @if ((User as Bridgeline.FW.Global.Security.FWPrincipal).IsInRole(Bridgeline.iAppsCMS.Enums.SocialRole.EngagementSpecialist.ToString()))
            {
                <li><a onclick="return OpenResetCachePopup();">
                    @Bridgeline.iAPPS.Resources.GUIStrings.ResetCache</a></li>
                <li><a onclick="OpenVersionCheckPopup();">
                    @Bridgeline.iAPPS.Resources.GUIStrings.CheckForUpdates</a></li>
            }
        </ul>
    </li>
}
