﻿<ul class="utility-nav">
    @if (Request.IsAuthenticated)
    {
        <li class="signout">
            @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">@Bridgeline.iAPPS.Resources.GUIStrings.SignOut</a>
            }
        </li>
    }
</ul>