﻿<%@ Master Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeBehind="SettingsMaster.master.cs" Inherits="Bridgeline.iAPPS.Admin.CMS.Web.SettingsMaster" %>

<asp:Content ID="head" ContentPlaceHolderID="cphHeader" runat="server">
    <asp:ContentPlaceHolder ID="cphHead" runat="server">
    </asp:ContentPlaceHolder>
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {
                iAPPS_Tooltip.Initialize('rel', 'title', 'top');
            }, 1000);

            //iAPPS_Tooltip.TitleReplacement();

            $(".settings-header").iAppsFixHeader();
        });

    </script>
</asp:Content>
<asp:Content ID="content" ContentPlaceHolderID="cphContent" runat="server">
    <div class="settings-header">
        <div class="page-header clear-fix">
            <h1>
                <asp:Literal ID="litPageHeading" runat="server" /></h1>
            <asp:ContentPlaceHolder ID="cphPageHeader" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div class="navigation-bar clear-fix">
            <asp:Panel ID="pnlNavLinks" runat="server" CssClass="navigation-links">
                <asp:HyperLink ID="hplGlobalSettings" runat="server" NavigateUrl="~/Administration/SiteSetting/SiteSettings.aspx"
                    Text="<%$ Resources:GUIStrings, GlobalSettings %>" />
                <asp:HyperLink ID="hplGeneralSettings" runat="server" NavigateUrl="~/Administration/SiteSetting/GeneralSettings.aspx"
                    Text="<%$ Resources:GUIStrings, GeneralSiteSettings %>" />
                <asp:HyperLink ID="hplCLSettings" runat="server" NavigateUrl="~/Administration/SiteSetting/CodeLibrarySettings.aspx"
                    Text="<%$ Resources:GUIStrings, CodeLibrarySettings %>" />
                <asp:HyperLink ID="hplCustomSettings" runat="server" NavigateUrl="~/Administration/SiteSetting/CustomSettings.aspx"
                    Text="<%$ Resources:GUIStrings, CustomSettings %>" />
                <asp:HyperLink ID="hplSchedulerSettings" runat="server" NavigateUrl="~/Administration/SiteSetting/SchedulerConfiguration.aspx"
                    Text="<%$ Resources:GUIStrings, SchedulerConfiguration %>" />
                <asp:HyperLink ID="hplVideoSettings" runat="server" NavigateUrl="~/Administration/SiteSetting/VideoSettings.aspx"
                    Text="<%$ Resources:GUIStrings, VideoSettings %>" />
                <asp:HyperLink ID="hplTranslationSettings" runat="server" NavigateUrl="~/Administration/SiteSetting/TranslationSettings.aspx"
                    Text="<%$ Resources:GUIStrings, TranslationSettings %>" />
                <asp:HyperLink ID="hplCacheURLs" runat="server" NavigateUrl="~/Administration/SiteSetting/CacheURLs.aspx"
                    Text="<%$ Resources:GUIStrings, CacheURLs %>" />
            </asp:Panel>
        </div>
    </div>
    <div class="settings-content">
        <asp:ContentPlaceHolder ID="cphContent" runat="server" />
    </div>
</asp:Content>
