﻿<%@ Master Language="C#" MasterPageFile="~/MainMaster.Master" AutoEventWireup="true"
    CodeBehind="AdministrationMaster.master.cs" Inherits="Bridgeline.iAPPS.Admin.Commerce.Web.AdministrationMaster" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <asp:ContentPlaceHolder ID="StoreSetupHeader" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainPlaceHolder" runat="server">
    <div class="administration">
        <div class="page-header">
            <h1>
                <asp:Literal ID="ltPageHeader" runat="server" Text="" /></h1>
            <asp:ContentPlaceHolder ID="StoreSetupHeaderButtons" runat="server">
            </asp:ContentPlaceHolder>
            <div class="clear-fix">
            </div>
        </div>
        <asp:PlaceHolder ID="phNavLinks" runat="server">
            <div class="nav-links">
                <asp:HyperLink ID="hplEmailMgmt" runat="server" Text="<%$ Resources:GUIStrings, EmailManagement %>"
                    NavigateUrl="~/StoreSetup/EmailManagement/EmailLetters.aspx"></asp:HyperLink>
                <asp:HyperLink ID="hplPaymentMethods" runat="server" Text="<%$ Resources:GUIStrings, PaymentMethods %>"
                    NavigateUrl="~/StoreSetup/PaymentMethods/ManagePaymentMethods.aspx"></asp:HyperLink>
                <asp:HyperLink ID="hplShippingMethods" runat="server" Text="<%$ Resources:GUIStrings, ShippingMethods %>"
                    NavigateUrl="~/StoreSetup/ShippingMethods/ManageShippers.aspx"></asp:HyperLink>
                <asp:HyperLink ID="hplShippingContainers" runat="server" Text="<%$ Resources:GUIStrings, ShippingContainers %>"
                    NavigateUrl="~/StoreSetup/ShippingMethods/ManageShippingContainers.aspx"></asp:HyperLink>
                <asp:HyperLink ID="hplTaxCategory" runat="server" Text="<%$ Resources:GUIStrings, TaxCategory %>"
                    NavigateUrl="~/StoreSetup/TaxCategory/ManageTaxCategory.aspx"></asp:HyperLink>
            </div>
        </asp:PlaceHolder>
        <asp:ContentPlaceHolder ID="StoreSetupContentHolder" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</asp:Content>
