﻿<%@ Master Language="C#" MasterPageFile="~/MainMaster.Master" AutoEventWireup="true"
    CodeBehind="StoreSetupMaster.master.cs" Inherits="Bridgeline.iAPPS.Admin.Commerce.Web.StoreSetupMaster" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <asp:ContentPlaceHolder ID="StoreSetupHeader" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainPlaceHolder" runat="server">
    <div class="store-setup">
        <div class="page-header">
            <h1>
                <asp:Literal ID="ltPageHeader" runat="server" Text="" /></h1>
            <asp:ContentPlaceHolder ID="StoreSetupHeaderButtons" runat="server">
            </asp:ContentPlaceHolder>
            <div class="clear-fix">
            </div>
        </div>
        <asp:PlaceHolder ID="phNavLinks" runat="server">
            <div class="nav-links">
                <asp:HyperLink ID="hplCoupons" runat="server" Text="<%$ Resources:GUIStrings, Coupons %>"
                    NavigateUrl="~/StoreSetup/MarketingAndPromos/ManageCoupons.aspx" />
                <asp:HyperLink ID="hplFeatures" runat="server" Text="<%$ Resources:GUIStrings, Features %>"
                    NavigateUrl="~/StoreSetup/Features/ManageFeatures.aspx" />
                <asp:HyperLink ID="hplPriceSets" runat="server" Text="<%$ Resources:GUIStrings, PriceSets %>"
                    NavigateUrl="~/StoreSetup/PriceSets/ManagePriceSets.aspx" />
            </div>
        </asp:PlaceHolder>
        <asp:ContentPlaceHolder ID="StoreSetupContentHolder" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</asp:Content>
