﻿@model  List<Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.ItemByTopicModel>

@foreach (var p in Model)
{
        <p class="links">
            <a>@p.ItemCount</a>
            @p.TopicName
        </p>
}
