﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CheckWeb.aspx.cs" Inherits="CheckWeb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Check Web</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
SITE_IS_OK    
    </div>
    </form>
</body>
</html>
