﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.DisplayMessage

@if (Model != null)
{
    <div class="messageContainer clear-fix">
        <div class="errorMessage @Model.ClassName">
            <div class="msg-close-handle" onclick="$(this).parents('.messageContainer').slideUp();"></div>
            @Model.Message
        </div>
    </div>
}