﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="DeveloperConfiguration.master.cs" Inherits="Bridgeline.iAPPS.Admin.Marketier.Web.DeveloperConfigurationMaster"
    MasterPageFile="~/MasterPage.master" %>

<asp:Content ID="head" ContentPlaceHolderID="cphHeader" runat="server">
    <script type="text/javascript">
        $(function () {
            $(".developer-configuration").iAppsSplitter({ minHeight: 592 });
            setTimeout(function () {
                iAPPS_Tooltip.Initialize('rel', 'title', 'top');
            }, 1000);
        });
    </script>
    <asp:ContentPlaceHolder ID="cphHead" runat="server" />
</asp:Content>
<asp:Content ID="body" ContentPlaceHolderID="cphContent" runat="server">
    <h1>
        <asp:Literal ID="ltSectionTitle" runat="server" Text="<%$ Resources:GUIStrings, DeveloperConfigurations %>" /></h1>
    <div class="left-control">
        <ul class="vertical-tabs">
            <li>
                <asp:HyperLink ID="hplDeveloperConfigurations" runat="server" Text="<%$ Resources:GUIStrings, DeveloperConfigurations %>" NavigateUrl="~/Administration/DeveloperConfiguration.aspx" />
            </li>
            <li>
                <asp:HyperLink ID="hplSalesforceConfiguration" runat="server" Text="<%$ Resources:GUIStrings, SalesforceConfigurations %>" NavigateUrl="~/Administration/ManageSalesforceConfiguration.aspx" />
            </li>
            <li>
                <asp:HyperLink ID="hplEmailProcessor" runat="server" Text="<%$ Resources:GUIStrings, EmailProcessorConfigurations %>" NavigateUrl="~/Administration/EmailProcessorSettings.aspx" />
            </li>
        </ul>
    </div>
    <div class="right-control">
        <div class="settings-container clear-fix">
            <asp:ContentPlaceHolder ID="cphContent" runat="server" />
        </div>
    </div>
</asp:Content>
