﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ManageVideoLibrary.aspx.cs"
    Inherits="Bridgeline.iAPPS.Admin.CMS.Web.ManageVideoLibrary" %>

<%@ Register src="../../UserControls/Libraries/Display/BrigthcoveVideoPlayer.ascx" tagname="BrigthcoveVideoPlayer" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:PlaceHolder runat="server" ID="phVideo"></asp:PlaceHolder>
    </div>
    <uc1:BrigthcoveVideoPlayer ID="BrigthcoveVideoPlayer1" runat="server" VideoId="1677643698001" IsVideo="false" PlayerId="1684488506001" PlayerKey="AAABhuSnOdE~,jV_sb1ZcGE-528Dk63YvHwsPMzF_Nbfw" />
    </form>
</body>
</html>
