﻿<%@ Master Language="C#" AutoEventWireup="True" CodeBehind="~/Popups/iAPPSPopup.Master.cs" 
    Inherits="Bridgeline.iAPPS.Admin.Common.Web.Popups.iAPPSPopup" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Src="~/UserControls/MultiSiteDropDown.ascx" TagName="MultiSite"
    TagPrefix="uc3" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>iAPPS Popup</title>
    <asp:ContentPlaceHolder ID="cphHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="body" runat="server" class="popupBody" clientidmode="Static"> 
    <form id="frmPopup" runat="server">
        <iAppsControls:ScriptManagerControl runat="server" ID="psManager" />
        <asp:Panel ID="pnlModal" runat="server" CssClass="iapps-modal">
            <%--       <asp:UpdatePanel ID="upPopupContent" runat="server" UpdateMode="Conditional">
            <ContentTemplate>--%>
            <asp:PlaceHolder ID="phHeader" runat="server">
                <div class="modal-header clear-fix">
                    <h2>
                        <asp:Literal ID="litHeading" runat="server" />
                    </h2>
                    <div class="right-column">
                        <uc3:MultiSite ID="multiSite" runat="server" />
                    </div>
                    <asp:PlaceHolder ID="phVariantSites" runat="server">
                        <div class="right-column">
                            <div class="form-row">
                                <label class="form-label"><%= GUIStrings.SiteVariantsTitle %></label>
                                <div class="form-value">
                                    <asp:DropDownList ID="ddlAncestorSites" runat="server" Visible="false" Width="130"></asp:DropDownList>
                                </div>
                            </div>
                        </div>
                    </asp:PlaceHolder>
                    <div class="right-column" id="iapps_help">
                    </div>
                </div>
            </asp:PlaceHolder>
            <asp:PlaceHolder ID="phBreadcrumb" runat="server" Visible="false">
                <div class="modal-breadcrumb clear-fix">
                    <asp:Literal ID="ltBreadcrumb" runat="server" />
                </div>
            </asp:PlaceHolder>
            <div class="modal-content resizeable clear-fix">
                <div id="divPageTopContainer" class="messageContainer" runat="server">
                </div>
                <asp:ContentPlaceHolder ID="cphContent" runat="server" />
            </div>
            <asp:HiddenField ID="hdnPopupActionsDTO" runat="server" ClientIDMode="Static" />
            <%--           </ContentTemplate>
        </asp:UpdatePanel>--%>
            <asp:PlaceHolder ID="phFooter" runat="server">
                <div class="modal-footer clear-fix" id="popupFooter">
                    <asp:ContentPlaceHolder ID="cphFooter" runat="server" ClientIDMode="AutoID" />
                </div>
                <div style="display: none" id="iApps_LoadingPanel">
                    <div class="iapps-modal loadingSpinner">
                        <img src="/Admin/App_Themes/General/images/iapps-rotating-cube.gif" alt="Please wait..." />
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        if (typeof Subload == 'function')
                            Subload();
                    });

                    $(function () {
                        popupActionsJson = parent.popupActionsJson;
                        $("#hdnPopupActionsDTO").val(JSON.stringify(popupActionsJson));
                        $("#popupFooter input.cancel-button").on("click", function (e) {
                            CanceliAppsAdminPopup();
                            return false;
                        });

                        $(window).load(function () {
                            shortcut.add("Ctrl+ALT+P", function () {
                                var params = GetPopupActionParams();
                                if (params != "") {
                                    $("<div />").html(params).iAppsDialog("open", { alertBox: true });
                                }
                            });
                        });
                    });
                </script>
            </asp:PlaceHolder>
        </asp:Panel>
    </form>
</body>
</html>
