<%@ Control Language="C#" %>
<%@ Register Assembly="Bridgeline.FW.UI.ControlLibrary" Namespace="Bridgeline.FW.UI.ControlLibrary"
    TagPrefix="FWControls" %>
<%@ Register Assembly="ComponentArt.Web.UI" Namespace="ComponentArt.Web.UI" TagPrefix="ComponentArt" %>
<!--BEGIN Header -->
<div class="header">
    <div class="upperHeaderContent">
       
    </div>
    <div class="lowerHeaderContent">
    </div>
</div>
<asp:SiteMapDataSource ID="topMenuDS" runat="server" SiteMapProvider="TopMenu" ShowStartingNode="False" />
