﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.ConversationSubchannelModel

@using (Html.BeginForm("ReplyToFaceBook", "Conversation"))
{
    <div class="grid-section clear-fix">
        @{        
    if (Model.conversation.updatable == null || Model.conversation.updatable == false)
    {
            <div style="color: red">@Model.conversation.subchannel_failure_reason</div>
    }
            <div class="collection-row grid-item clear-fix parent" objectId="@Model.conversation.conversation_id">
                <div class="first-cell">
                    <img src="@Model.conversation.avatar" alt="Avatar" />
                </div>
                <div class="middle-cell">
                    <h4>
                        @Model.conversation.author
                    </h4>
                    <p>@Model.conversation.message</p>

                </div>
                <div class="last-cell">
                    @Model.conversation.publishtime
                </div>
            </div>
        
    int i = 0;
    if (Model.conversation.comments != null && Model.conversation.comments.Count > 0)
    {
        foreach (var item in Model.conversation.comments)
        {
            i++;
            <div class="@(i % 2 == 0 ? "alternate-row" : "row") children">
                <div class="collection-row grid-item clear-fix" objectId="@item.conversation_id">
                    <div class="first-cell">
                        <img src="@item.avatar" alt="Avatar" />
                    </div>
                    <div class="middle-cell">
                        <h4>
                            @item.author
                        </h4>
                        <p>@Html.Raw(item.message)</p>
                        @if (Model.conversation.updatable != null && Model.conversation.updatable == true)
                        {
                            if (Model.conversation.channel_id == "1")
                            {
                            <p class="share-utility">
                                @if (item.user_upvoted)
                                {
                                    <a href="javascript://" onclick="ActionOnConversationMessage('UnLike','@item.post_id', this)" class="unlike-item">@Bridgeline.iAPPS.Resources.GUIStrings.Unlike</a>
                                }
                                else
                                {
                                    <a href="javascript://" onclick="ActionOnConversationMessage('Like','@item.post_id', this)" class="like-item">@Bridgeline.iAPPS.Resources.GUIStrings.Like</a>
                                }
                                @if (item.user_deletable)
                                {
                                    <a href="javascript://" onclick="ActionOnConversationMessage('DeleteMessage','@item.post_id', this)" class="delete-item">@Bridgeline.iAPPS.Resources.GUIStrings.Delete</a>
                                }
                            </p>
                            }
                            else if (Model.conversation.channel_id == "2")
                            {
                            <p class="share-utility">
                                <a href="javascript://" onclick="OpeniAppsSocialPopup('ReplyTwitterConversation','engagementId=' + @Model.SelectedEngagementId + '&postId='+ '@item.post_id')" class="reply-item">@Bridgeline.iAPPS.Resources.GUIStrings.Reply</a>
                                @if (item.user_shareable)
                                {
                                    if (item.user_shared) //Item is already Reweeted, no action required
                                    {
                                    <a href="javascript://" onclick="ActionOnConversationMessage('UnRetweet','@item.user_shared_broadcast_id')" class="retweeted-item">@Bridgeline.iAPPS.Resources.GUIStrings.Retweeted</a>
                                    }
                                    else
                                    {
                                    <a href="javascript://" onclick="ActionOnConversationMessage('Retweet','@item.post_id')" class="retweet-item">@Bridgeline.iAPPS.Resources.GUIStrings.Retweet</a>
                                    }
                                }

                                @if (item.user_upvoted)
                                {
                                    <a href="javascript://" onclick="ActionOnConversationMessage('UnFavorite','@item.post_id')" class="favorited-item">@Bridgeline.iAPPS.Resources.GUIStrings.Favorited</a>
                                }
                                else
                                {
                                    <a href="javascript://" onclick="ActionOnConversationMessage('Favorite','@item.post_id')" class="favorite-item">@Bridgeline.iAPPS.Resources.GUIStrings.Favorite</a>
                                }

                                @if (item.user_deletable)
                                {
                                    <a href="javascript://" onclick="ActionOnConversationMessage('DeleteMessage','@item.post_id')" class="delete-item">@Bridgeline.iAPPS.Resources.GUIStrings.Delete</a>
                                }
                            </p>
                            }
                        }
                    </div>
                    <div class="last-cell">
                        @item.publishtime
                    </div>
                </div>
            </div>
        }
    }
    if (Model.conversation.updatable != null && Model.conversation.updatable == true)
    {
        //reply 
        if (Model.conversation.channel_id == "1")
        {   
            <div class="comments-section">
                @Html.TextAreaFor(model => model.message, new { @style = "width: 856px;", @rows = "4", @maxlength = "700", @id = "txtFaceBook" })

                <div class="button-row">
                    <input type="submit" name="ReplyToFaceBook" class="primarybutton" value="Reply" />

                </div>

            </div>
        }
    }
            @Html.HiddenFor(model => model.conversation.subchannel_id, new { @id = "hdnSubChannelId" })
            @Html.HiddenFor(model => model.conversation.conversation_id, new { @id = "hdnConversationId" })
            @Html.HiddenFor(model => model.conversation.post_id, new { @id = "hdnPostId" })
        

        }

    </div>

}

<script type="text/javascript">

    function submitclicked() {
        $('form').trigger('submit');
        return false;
    }

    $(function () {
        $("form").submit(function (e) {
            if (ValidateConversationMessage()) {
                alert("@Bridgeline.iAPPS.Resources.GUIStrings.ItWillTakeAFewMinutesForYourReplyToTakeEffect");
                ShowiAppsLoadingPanel();
                $.post($(this).attr("action"),
                        $(this).serialize(),
                        function (data) {
                            if (typeof (data.success) != 'undefined' && !data.success) {
                                alert(data.message);
                                CloseiAppsLoadingPanel();
                            }
                            else {
                                alert(data);
                                $("#txtFaceBook").val("");
                                CloseiAppsLoadingPanel();
                            }
                        });
            }
            e.preventDefault();
        });
    });

    function ValidateConversationMessage() {
        var message = '';
        message = $("#txtFaceBook").val();
        if (message == '' || message == null) {
            alert("Please enter message.");
            return false;
        }

        return true;
    };

    function ActionOnConversationMessage(action, post_id, clickHandle) {

        if (action.toLowerCase() == 'deletemessage') {
            var postid = "post_id=" + post_id;
            OpeniAppsSocialPopup("DeleteConversationItem", postid);
        }
        else {
            if (action.toLowerCase() == 'like')
                alert("@Bridgeline.iAPPS.Resources.GUIStrings.ItWillTakeAFewMinutesAfterYouLikeAMessageForItToTakeEffect");
            if (action.toLowerCase() == 'unlike')
                alert("@Bridgeline.iAPPS.Resources.GUIStrings.ItWillTakeAFewMinutesAfterYouUnLikeAMessageForItToTakeEffect");
            if (action.toLowerCase() == 'retweet')
                alert("@Bridgeline.iAPPS.Resources.GUIStrings.ItWillTakeAFewMinutesAfterYouRewteetAMessageForItToTakeEffect");
            if (action.toLowerCase() == 'unretweet')
                alert("@Bridgeline.iAPPS.Resources.GUIStrings.ItWillTakeAFewMinutesAfterYouUnRewteetAMessageForItToTakeeffect");
            if (action.toLowerCase() == 'favorite')
                alert("@Bridgeline.iAPPS.Resources.GUIStrings.ItWillTakeAFewMinutesAfterYouFavoriteAMessageForItToTakeEffect");
            if (action.toLowerCase() == 'unfavorite')
                alert("@Bridgeline.iAPPS.Resources.GUIStrings.ItWillTakeAFewMinutesAfterYouUnFavoriteAMessageForItToTakeEffect");

            var url = '@Url.Action("ActionOnConversationMessage", "Conversation")';
            ShowiAppsLoadingPanel();
            $.ajax({
                url: url,
                type: "POST",
                data: $("form").serialize() + '&post_id=' + post_id + '&action=' + action,
                success: function (result) {
                    if (typeof (result.success) != 'undefined' && !result.success) {
                        alert(result.message);
                        CloseiAppsLoadingPanel();
                    }
                    else {
                        alert(result);
                        CloseiAppsLoadingPanel();
                    }
                }
            });
        }
    }

    function DeleteMessage(post_id) {
        ActionOnConversationMessage('delete', post_id);
    }
</script>
