﻿@{
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}

@section PopupHeading {
    @Bridgeline.iAPPS.Resources.GUIStrings.Warning
}

@section PopupFooter {
    <input type="button" name="btnClose" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Cancel" />
    <input type="button" name="ReplyToTwitter" class="primarybutton" onclick="DeleteMessage()" value="@Bridgeline.iAPPS.Resources.GUIStrings.Delete" />
}
<div class="warning">
    <p class="question"><strong>@Bridgeline.iAPPS.Resources.GUIStrings.AreYouSureYouWantToDeleteThisMessage</strong></p>
    <div class="instructions">
        <p><strong>@Bridgeline.iAPPS.Resources.GUIStrings.AfterDeletingYouMayStillSeeYourMessageDontWorry</strong></p>
        <p><em>@Bridgeline.iAPPS.Resources.GUIStrings.ItTakesAFewMinutesAfterYouDeleteAAessageForItToTakeEffect</em></p>
    </div>
</div>

<script type="text/javascript">
    function DeleteMessage() {
        var postid = getParameterByName("post_id");
        CanceliAppsAdminPopup(false);
        window.parent.DeleteMessage(postid);
    }

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

</script>