﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.ConversationSubchannelModel

@{
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}

@section PopupHeading {
    @Bridgeline.iAPPS.Resources.GUIStrings.Reply
}

@section PopupFooter {
    <input type="button" name="btnClose" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />
    <input type="button" name="ReplyToTwitter" class="primarybutton" value="@Bridgeline.iAPPS.Resources.GUIStrings.Reply" onclick="psotReplyToTwitter()" />
}

@using (Html.BeginForm("ReplyToTwitter", "Conversation"))
{
    <p>Twitter post from: @Model.conversationComment.author</p>
    <p>@Bridgeline.iAPPS.Resources.GUIStrings.Message: @Model.conversationComment.message</p>
    <div class="form-row">
        <div class="form-value">@Html.TextAreaFor(model => model.message, new { @style = "width: 400px;", @rows = "4", @maxlength = "140", @id = "txtTwitter" })</div>
    </div>
    @Html.HiddenFor(model => model.conversation.subchannel_id, new { @id = "hdnSubChannelId" })
    @Html.HiddenFor(model => model.conversation.conversation_id, new { @id = "hdnConversationId" })
    @Html.HiddenFor(model => model.conversationComment.post_id, new { @id = "hdnPostId" })
}
<script type="text/javascript">


    function psotReplyToTwitter() {
        var url = '@Url.Action("ReplyToTwitter", "Conversation")';
        ShowiAppsLoadingPanel();
        $.ajax({
            url: url,
            type: "POST",
            data: $("form").serialize(),
            success: function (result) {
                if (typeof (result.success) != 'undefined' && !result.success) {
                    alert(result.message);
                    CanceliAppsAdminPopup(false);
                    CloseiAppsLoadingPanel();
                }
                else {
                    alert(result);
                    CanceliAppsAdminPopup(false);
                    CloseiAppsLoadingPanel();
                }
            }
        });

    }
    function ValidateConversationMessage() {
        var message = '';
        message = $("#txtTwitter").val();
        if (message == '' || message == null) {
            alert("Please enter message.");
            return false;
        }

        return true;
    };

</script>
