﻿@{
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}

@section PopupHeading {
    @Bridgeline.iAPPS.Resources.GUIStrings.Message
}

@section PopupFooter {
    <input type="button" name="btnClose" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />
}

<div class="message-notifications">
    <p><strong>@Bridgeline.iAPPS.Resources.GUIStrings.NotificationsForUser: Username (user email id)</strong></p>
    <div class="comment-container">
        <p>1 new comment on your facebook conversation: 'Hi'</p>
        <div>
            <a href="javascript://">@Bridgeline.iAPPS.Resources.GUIStrings.View</a>
            <a href="javascript://">@Bridgeline.iAPPS.Resources.GUIStrings.Dismiss</a>
        </div>
    </div>
</div>