﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.ConversationSubchannelModel

@{
    ViewBag.Title = @Bridgeline.iAPPS.Resources.GUIStrings.Conversation;
}
@section Styles{
    @Styles.Render("~/content/kendo")
}
@if (ViewBag.UnAuthorized)
{
    <div class="no-token-message">
        You account is not setup with our social platform. Please contact site administrator to setup your account.
    </div>
}
else
{
    
    <div id="dvConversation" class="clear-fix conversations">
        <div class="grid-actions clear-fix">
            <div class="row top-row clear-fix">
                <div class="columns">
                    <h2>@Bridgeline.iAPPS.Resources.GUIStrings.Conversations</h2>
                </div>
            </div>
            <div class="row bottom-row clear-fix">
                <div class="columns">

                    @if (Model.broadcast.FaceBookSubChannelCount > 0)
                    {
                        <div class="count-container">
                            <img src="@Url.Content("~/App_Themes/General/images/icon-facebook-blue-24.png")" alt="" />
                            <div class="count">@Model.broadcast.FaceBookSubChannelCount</div>
                        </div>
                    }
                    @if (Model.broadcast.TwitterSubChannelCount > 0)
                    {
                        <div class="count-container">
                            <img src="@Url.Content("~/App_Themes/General/images/icon-twitter-blue-24.png")" alt="" />
                            <div class="count">@Model.broadcast.TwitterSubChannelCount</div>
                        </div>
                    }
                    @Html.DropDownListFor(model => model.SelectedEngagementId,
                        new SelectList(Model.successful_subchannel_statuses,
                            "engagement_Id", "subchannel_namewithchannel",
                            Model.successful_subchannel_statuses.First().engagement_id))

                    <div class="grid-button grid-button-refresh ">
                        <input type="button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Refresh" onclick="RefreshConversation(false)" class="grid-button grid-button-refresh" />
                    </div>
                </div>
                <div class="columns right-column">
                    @Html.ActionLink(Bridgeline.iAPPS.Resources.GUIStrings.ViewAllBroadcasts, "Index", "Activity", new { GetPublishedItems = true }, new { @class = "button" })
                </div>
            </div>
        </div>

        <div id="divConversation">
            @{ Html.RenderAction("GetConversationItems", "Conversation", new { engagementId = Model.SelectedEngagementId }); }

        </div>
    </div>
}

<script type="text/javascript">
    function SetSelectedEngagement() {
        var objDropdown = $("#SelectedEngagementId").data("kendoDropDownList");
        if (objDropdown.text().substring(0, 2) == "FB") {
            $('.k-dropdown-wrap > .k-input').html('<img src="/SocialAdmin/App_Themes/General/images/icon-facebook-blue-24.png" style="display: inline-block; margin-bottom: 4px;" />' + objDropdown.text().substring(4));
        }
        else {
            $('.k-dropdown-wrap > .k-input').html('<img src="/SocialAdmin/App_Themes/General/images/icon-twitter-blue-24.png" style="display: inline-block; margin-bottom: 4px;" />' + objDropdown.text().substring(4));
        }
        var objDropdown = $('.k-dropdown-wrap > .k-input');
    }

    $(document).ready(function () {

        $("#SelectedEngagementId").kendoDropDownList({
            //valueTemplate: '<span class="dropdown-selected-row"><img src=\"#:text.substring(0, 2) == "FB" ? "/SocialAdmin/App_Themes/General/images/icon-facebook-blue-24.png" : "/SocialAdmin/App_Themes/General/images/icon-twitter-blue-24.png"#\" /><span>#:text.substring(4)#</span></span>',
            template: '<span class="dropdown-row"><img src=\"#:text.substring(0, 2) == "FB" ? "/SocialAdmin/App_Themes/General/images/icon-facebook-blue-24.png" : "/SocialAdmin/App_Themes/General/images/icon-twitter-blue-24.png"#\" /><span>#:text.substring(4)#</span></span>'
        });
        SetSelectedEngagement();
        RefreshConversation(false);
        $("#SelectedEngagementId").change(function () {
            RefreshConversation(true);
        });


    });

    function RefreshConversation(updateDropDown) {
        ShowiAppsLoadingPanel();
        var engagementId = $("#SelectedEngagementId").val();
        $.get('@(Url.Action("GetConversationItems", "Conversation", null, Request.Url.Scheme))?engagementId=' + engagementId, function (data) {
            $("#divConversation").html(data);
            CloseiAppsLoadingPanel();
            if(updateDropDown)
                SetSelectedEngagement();
        });
    }


    
</script>
<style type="text/css">
    .k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input {
        height: 1.9em;
        line-height: 1.9em;
    }
</style>