﻿@font-face {
    font-family: 'newjunebookregular';
    src: url('fonts/newjune-book-webfont.eot');
    src: url('fonts/newjune-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/newjune-book-webfont.woff') format('woff'), url('fonts/newjune-book-webfont.ttf') format('truetype'), url('fonts/newjune-book-webfont.svg#newjunebookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newjuneregularregular';
    src: url('fonts/newjune-regular-webfont.eot');
    src: url('fonts/newjune-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/newjune-regular-webfont.woff') format('woff'), url('fonts/newjune-regular-webfont.ttf') format('truetype'), url('fonts/newjune-regular-webfont.svg#newjuneregularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newjuneboldregular';
    src: url('fonts/newjune-bold-webfont.eot');
    src: url('fonts/newjune-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/newjune-bold-webfont.woff') format('woff'), url('fonts/newjune-bold-webfont.ttf') format('truetype'), url('fonts/newjune-bold-webfont.svg#newjuneboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit; /*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font: normal 13px Arial;
    color: #65676a;
    background: #f9f9f9 url('images/body_bg.png') repeat left top;
}

html, body {
    height: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    /*border-collapse: collapse;*/
    border-spacing: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/* Global Anchor Styles **/
a, a:visited, a:hover, a:active {
    text-decoration: underline;
    color: #1c68b5;
}
/* Global form element styles */
input[type=text], select, textarea, input[type=password] {
    border: solid 1px #c7c8c9;
    padding: 3px;
    background-color: #fff;
    color: #35383A;
    font-size: 12px;
}

input[type=text], input[type=password] {
    padding: 4px;
}

input.defaultText {
    color: #777E82;
    font-style: italic;
}
/* Float clear style */
.clear-fix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix {
    display: inline-block;
}

html[xmlns] .clear-fix {
    display: block;
}

* html .clear-fix {
    height: 1%;
}

.primarybutton, a.primarybutton, a.button, .button {
    font-size: 13px;
    color: #54677d;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    padding: 5px 10px;
    display: inline-block;
    border-top: solid 1px #e7e7e7;
    border-right: solid 1px #d5d5d5;
    border-bottom: solid 1px #d5d5d5;
    border-left: solid 1px #dcdcdc;
    color: #616161;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -moz-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -ms-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -o-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: linear-gradient(top, #eeeeee, #e7e7e7);
    box-shadow: 0 1px 0 0 #fff inset;
    text-decoration: none;
    font-family: Arial;
    margin-top: 0;
    line-height: 18px;
}

    a.button:hover, .button:hover {
        background-color: #eeeeee;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#eeeeee));
        background-image: -webkit-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: -moz-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: -ms-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: -o-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: linear-gradient(top, #e7e7e7, #eeeeee);
        box-shadow: 0 -1px 0 0 #fff inset;
    }

.primarybutton, a.primarybutton {
    background-color: #f36500;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f89c1f), to(#f36500)) !important;
    background-image: -webkit-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -moz-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -ms-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -o-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: linear-gradient(top, #f89c1f, #f36500) !important;
    border-top: solid 1px #f68300;
    border-right: solid 1px #f57e00;
    border-bottom: solid 1px #f79540;
    border-left: solid 1px #f5810b;
    box-shadow: none;
    color: #fff;
}

    .primarybutton:hover, a.primarybutton:hover {
        background-color: #f36500;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f36500), to(#f89c1f)) !important;
        background-image: -webkit-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: -moz-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: -ms-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: -o-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: linear-gradient(top, #f36500, #f89c1f) !important;
        box-shadow: none;
    }

div.form-row, div.form-multi-row {
    padding-bottom: 10px;
    clear: both;
}

label.form-label {
    display: inline-block;
    text-align: left;
    padding-right: 10px;
    min-width: 100px;
    font-weight: bold;
    color: #000;
}

div.form-value {
    zoom: 1; /* hack for IE7 */
    display: inline;
    display: inline-block;
    text-align: left;
    clear: right;
}

div.container {
    position: relative;
    min-height: 100%;
}

div.top-wrapper {
    width: 100%;
    /*min-width: 1251px;*/
}

div.bottom-wrapper {
    width: 100%;
    background-color: #ebebeb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f9f9f9)) !important;
    background-image: -webkit-linear-gradient(top, #ebebeb, #f9f9f9 80%) !important;
    background-image: -moz-linear-gradient(top, #ebebeb, #f9f9f9 80%) !important;
    background-image: -ms-linear-gradient(top, #ebebeb, #f9f9f9 80%) !important;
    background-image: -o-linear-gradient(top, #ebebeb, #f9f9f9 80%) !important;
    background-image: linear-gradient(top, #ebebeb, #f9f9f9 80%) !important;
    margin-top: -65px;
    padding: 100px 0 150px 0;
}

div.footer-wrapper {
    clear: both;
    width: 100%;
    border-top: solid 1px #ccc;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding: 20px 0 35px 0;
}

    div.footer-wrapper div.footer, div.bottom-wrapper .bottom-section {
        max-width: 1086px;
        margin: 0 auto;
        overflow: hidden;
        padding: 0 5px;
    }

h2 {
    font-size: 25px;
    color: #35383a;
    margin-bottom: 25px;
}

div.footer span {
    float: left;
}

div.footer img {
    float: right;
}

div.iapps-modal {
    background-color: #ffffff;
    float: left;
    min-height: 200px;
    min-width: 350px;
}

div.modal-header {
    background-color: #333;
    padding: 10px 25px;
}

    div.modal-header h2 {
        width: 100%;
        font-size: 15px;
        float: none;
        margin: 0;
        padding: 0;
        color: #fff;
        font-weight: bold;
    }

    div.modal-header a, div.modal-header a:hover, div.modal-header a:active, div.modal-header a:visited {
        float: right;
        padding: 5px;
        height: 9px;
        width: 9px;
        background: transparent url('images/close.gif') no-repeat center center;
        text-indent: -9999px;
    }

        div.modal-header a:hover {
            background: #ddecf7 url('images/close-hover.gif') no-repeat center center;
            border: solid 1px #79b7e7;
            border-radius: 5px;
            -moz-border-radius: 5px;
            padding: 4px;
        }

div.modal-content {
    padding: 25px;
    min-height: 100px;
    background-color: #fff;
}

div.modal-footer {
    border-top: solid 1px #d2d2d2;
    padding: 15px 25px;
    text-align: right;
}

    div.modal-footer input[type=button], div.modal-footer input[type=submit], div.modal-footer a.button, div.modal-footer a.primarybutton {
        margin-left: 5px;
        display: inline-block;
    }

div.iAPPSPopupOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: #a8a8a8;
}

div.loadingSpinner {
    text-align: center;
    padding: 50px 110px;
    min-height: 0;
    min-width: 0;
}

div.messageContainer .error, div.messageContainer .success, div.messageContainer .warning {
    border: solid 1px #d99f9f;
    background: #fbedee url('images/icon-error.png') no-repeat 20px 10px;
    padding: 10px 20px 25px 70px;
    color: #434343;
    display: block;
    width: 1161px;
    font-size: 13px;
    margin: 0 auto;
}

div.messageContainer .success {
    border: solid 1px #8fd88f;
    background: #f1fbef url('images/icon-success.png') no-repeat 20px 10px;
}

div.messageContainer .warning {
    border: solid 1px #ecd576;
    background: #fbfaeb url('images/icon-warning.png') no-repeat 20px 10px;
}

div.licenseWarning {
    width: 450px;
}

    div.licenseWarning div.warningLeftColumn {
        float: left;
        width: 170px;
        padding-left: 10px;
    }

    div.licenseWarning div.warningRightColumn {
        width: 200px;
        float: left;
    }

        div.licenseWarning div.warningRightColumn p {
            margin-top: 0 !important;
            margin-bottom: 10px;
        }

div.top-section {
    width: 900px;
    margin: 0 auto;
    padding-top: 75px;
}

    div.top-section.product-registration {
        width: 542px;
    }

    div.top-section .left-section {
        float: left;
    }

    div.top-section .login-block.register {
        position: relative;
        z-index: 1;
    }

    div.top-section .login-block {
        border: solid 1px #dedede;
        border-radius: 5px;
        padding: 45px;
        background: #fff;
        box-shadow: 5px 25px 35px #C7C7C7;
        width: 450px;
    }

        div.top-section .login-block h2 {
            margin-bottom: 75px;
        }

    div.top-section .products input {
        background: url("images/cms.png") no-repeat left top;
        border: 0 none;
        cursor: pointer;
        float: left;
        margin-right: 5px;
        opacity: 0.4;
        outline: 0 none;
        padding: 94px 0 0;
        white-space: normal;
        width: 85px;
    }

    div.top-section .products .analyzer-button {
        background: url("images/analyzer.png") no-repeat left top;
    }

        div.top-section .products .analyzer-button:hover, div.top-section .products .analyzer-button:focus {
            opacity: 1;
        }

        div.top-section .products .analyzer-button.selected {
            background: url("images/analyzer-selected.png") no-repeat left top;
            opacity: 1;
        }

    div.top-section .products .marketier-button {
        background: url("images/marketier.png") no-repeat left top;
    }

        div.top-section .products .marketier-button:hover, div.top-section .products .marketier-button:focus {
            opacity: 1;
        }

        div.top-section .products .marketier-button.selected {
            background: url("images/marketier-selected.png") no-repeat left top;
            opacity: 1;
        }

    div.top-section .products .commerce-button {
        background: url("images/commerce.png") no-repeat left top;
    }

        div.top-section .products .commerce-button:hover, div.top-section .products .commerce-button:focus {
            opacity: 1;
        }

        div.top-section .products .commerce-button.selected {
            background: url("images/commerce-selected.png") no-repeat left top;
            opacity: 1;
        }

    div.top-section .products .social-button {
        background: url("images/social.png") no-repeat left top;
    }

        div.top-section .products .social-button:hover, div.top-section .products .social-button:focus {
            opacity: 1;
        }

        div.top-section .products .social-button.selected {
            background: url("images/social-selected.png") no-repeat left top;
            opacity: 1;
        }

    div.top-section .products .cms-button:hover, div.top-section .products .cms-button:focus {
        opacity: 1;
    }

    div.top-section .products .cms-button.selected {
        background: url("images/cms-selected.png") no-repeat left top;
        opacity: 1;
    }

    div.top-section .login-block .primarybutton {
        padding: 10px 25px;
        font-size: 18px;
        float: right;
    }

    div.top-section .right-section {
        float: right;
    }

        div.top-section .right-section .isg-help {
            background: #243e70 url('images/isg-bg.jpg') no-repeat right top;
            width: 271px;
            height: 191px;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 30px 20px 20px 20px;
            box-shadow: 0 1px 5px #0c3251;
            color: #fff;
        }

            div.top-section .right-section .isg-help h3 {
                font-family: newjuneboldregular, arial;
                font-size: 34px;
                margin: 0 10px 20px 0;
            }

            div.top-section .right-section .isg-help p {
                font-size: 16px;
                color: #fff;
                margin-bottom: 25px;
            }

            div.top-section .right-section .isg-help .primarybutton {
                border-radius: 5px;
                padding: 10px 25px;
                font-size: 18px;
                font-weight: bold;
                background-color: #e8b201;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#e8b201), to(#e38b0f)) !important;
                background-image: -webkit-linear-gradient(top, #e8b201, #e38b0f) !important;
                background-image: -moz-linear-gradient(top, #e8b201, #e38b0f) !important;
                background-image: -ms-linear-gradient(top, #e8b201, #e38b0f) !important;
                background-image: -o-linear-gradient(top, #e8b201, #e38b0f) !important;
                background-image: linear-gradient(top, #e8b201, #e38b0f) !important;
                border-color: transparent;
            }

            div.top-section .right-section .isg-help .primarybutton:hover {
                background-image: -webkit-gradient(linear, left top, left bottom, from(#e38b0f), to(#e8b201)) !important;
                background-image: -webkit-linear-gradient(top, #e38b0f, #e8b201) !important;
                background-image: -moz-linear-gradient(top, #e38b0f, #e8b201) !important;
                background-image: -ms-linear-gradient(top, #e38b0f, #e8b201) !important;
                background-image: -o-linear-gradient(top, #e38b0f, #e8b201) !important;
                background-image: linear-gradient(top, #e38b0f, #e8b201) !important;
                border-color: transparent;
            }

        div.top-section .right-section .notification {
            text-indent: 40px;
            width: 310px;
            height: 225px;
            overflow: auto;
            margin-top: 65px;
            line-height: 1.7;
            font-size: 14px;
            background: url('images/icon-warning-medium.png') no-repeat left top;
            display: none;
        }

div.bottom-wrapper .bottom-section .columns {
    float: left;
    margin-right: 2%;
    width: 18%;
}

    div.bottom-wrapper .bottom-section .columns > img {
        display: block;
        margin-bottom: 15px;
    }

    div.bottom-wrapper .bottom-section .columns p {
        border-top: solid 1px #d2d2d2;
        padding-top: 15px;
    }

@media (max-width: 990px) {
    div.top-section .left-section, div.top-section .right-section, div.bottom-wrapper .bottom-section .columns {
        float: none !important;
        margin: 0 20px 20px 20px;
    }

    div.bottom-wrapper .bottom-section .columns, div.top-section {
        width: auto !important;
    }
}
