<%@ Master Language="C#" AutoEventWireup="true" Inherits="Bridgeline.iAPPS.Admin.Common.Web.CommonMaster"
    CodeBehind="MasterPage.master.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register TagPrefix="UC" TagName="Error" Src="~/UserControls/ErrorMessageBox.ascx" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <link rel="shortcut icon" href="/admin/favicon.ico" />
    <script type="text/javascript">
        $(function () {
            $(".product-nav .global-navigation").iAppsMegaMenu({ useToken: true, delay: 500 });
            $(".site-utility .global-navigation").iAppsMegaMenu();
        });

        function OpenUsageGraphPopup() {
            OpeniAppsAdminPopup('CheckUsage', '', '');
        }
    </script>
    <asp:ContentPlaceHolder ID="cphHeader" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div style="position: relative; min-height: 100%;">
        <form id="frmMain" runat="server" enctype="multipart/form-data">
            <!-- Header Starts -->
            <div class="site-header-wrapper">
                <div class="site-header clear-fix">
                    <div class="left-header">
                        <div class="product-nav top-section clear-fix">
                            <iAppsControls:iAPPSMegaMenu ID="iAppsMenu" runat="server" ProviderName="iAPPSAdminSiteMapProvider"
                                CssClass="global-navigation iapps-navigation" CurrentProductId="ContentManager" CurrentProductName="cms"
                                ExpandCurrentnode="false" />
                        </div>
                        <div class="site-utility bottom-section clear-fix">
                            <iAppsControls:iAPPSMegaMenu ID="iAppsProductMenu" runat="server" ProviderName="iAPPSAdminSiteMapProvider"
                                CssClass="global-navigation" CurrentProductId="ContentManager" StartFromCurrentProduct="true" />
                        </div>
                    </div>
                    <div class="right-header">
                        <div class="top-section site-utility-search clear-fix">
                            <div class="clear-fix">
                                <div style="float: left;">
                                    <asp:Literal ID="ltSiteName" runat="server" />
                                </div>
                                <div class="signout" style="float: right;">
                                    <asp:LoginStatus ID="loginStatus" runat="server" OnLoggingOut="loginStatus_LoggingOut"
                                        LogoutText="<%$ Resources:GUIStrings, SignOut %>" />
                                </div>
                            </div>
                            <ul class="utility-nav">
                                <li class="site-search ui-front">
                                    <asp:TextBox ID="txtGlobalSearch" runat="server" CssClass="textBoxes" ClientIDMode="Static" CausesValidation="false"
                                        ToolTip="<%$ Resources:GUIStrings, SearchAndSwitchBetweenSites %>" />
                                </li>
                            </ul>
                        </div>
                        <div class="site-utility bottom-section clear-fix">
                            <div class="search-help clear-fix">
                                <ul>
                                    <li class="iapps-overage" id="liOverage" runat="server" visible="false">
                                        <asp:Image ID="imgOverage" runat="server" ImageUrl="~/App_Themes/General/images/icon-exclamation.png" AlternateText="" onclick="OpenUsageGraphPopup();" />
                                    </li>
                                    <li class="user-dropdown">
                                        <a>
                                            <asp:Literal ID="ltWelcome" runat="server" Text="<%$ Resources:GUIStrings, WelcomeNamePrefix %>" />
                                            <asp:LoginName ID="loginName" runat="server" />
                                        </a>
                                        <ul>
                                            <asp:PlaceHolder ID="phMyProfile" runat="server">
                                                <li>
                                                    <asp:HyperLink ID="hplMyProfile" runat="server" Text="<%$ Resources:GUIStrings, MyProfile %>" /></li>
                                            </asp:PlaceHolder>
                                            <li id="liResetCache" runat="server" visible="false"><a onclick="return OpenResetCachePopup();">
                                                <%= Bridgeline.iAPPS.Resources.GUIStrings.ResetCache %></a></li>
                                            <li><a onclick="OpeniAppsAdminPopup('ChangePassword');">
                                                <%= Bridgeline.iAPPS.Resources.GUIStrings.ChangePassword %></a></li>
                                            <li id="liCheckUpdates" runat="server" visible="false"><a onclick="OpenVersionCheckPopup();">
                                                <%= Bridgeline.iAPPS.Resources.GUIStrings.CheckForUpdates %></a></li>
                                            <li id="liCheckUsage" runat="server">
                                                <a onclick="OpenUsageGraphPopup();">
                                                    <%= Bridgeline.iAPPS.Resources.GUIStrings.CheckiAPPSUsage %>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="siteeditor-dropdown">
                                        <a><%= Bridgeline.iAPPS.Resources.GUIStrings.SiteEditor %></a>
                                        <ul>
                                            <li><a onclick="JumpToFrontPage();">
                                                <%= Bridgeline.iAPPS.Resources.GUIStrings.HomePage %></a></li>
                                            <li><a onclick="JumpToLastVisitedFrontPage();">
                                                <%= Bridgeline.iAPPS.Resources.GUIStrings.LastVisitedPage %></a></li>
                                        </ul>
                                    </li>
                                    <asp:PlaceHolder ID="phSearch" runat="server">
                                        <li class="search">
                                            <asp:HyperLink ID="hplSearch" runat="server" Text="<%$ Resources:GUIStrings, Search %>"
                                                onclick="return fn_ShowSearchBox(this);" />
                                            <ul>
                                                <li class="search-box">
                                                    <h2>
                                                        <%= Bridgeline.iAPPS.Resources.GUIStrings.iAPPSSearch %></h2>
                                                    <div class="form-row form-value">
                                                        <asp:TextBox ID="txtHeaderSearch" CssClass="header-search" runat="server" ToolTip="<%$ Resources:GUIStrings, Search %>" />
                                                        <asp:Button ID="btnHeaderSearch" Text="<%$ Resources:GUIStrings, Search %>" ToolTip="<%$ Resources:GUIStrings, Search %>" CausesValidation="false"
                                                            CssClass="small-button" runat="server" OnClick="btnSearch_Click" OnClientClick="return ValidateSearchInput();" />
                                                    </div>
                                                    <div class="link-row">
                                                        <asp:HyperLink ID="hplFindReplace" runat="server" Text="<%$ Resources:GUIStrings, FindAndReplace  %>"
                                                            NavigateUrl="~/General/FindAndReplace.aspx" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </asp:PlaceHolder>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Ends -->
            <div class="wrapper clear-fix" id="wrapper">
                <div class="breadcrumb clear-fix" style="display: none;">
                    <asp:PlaceHolder ID="phBreadcrumb" runat="server">
                        <iAppsControls:iAppsBreadCrumb runat="server" ProviderName="iAPPSAdminBreadcrumbProvider"
                            ID="iAppsCMSBreadCrumb" StartNodeId="ContentManager" PathSeparator="/" />
                    </asp:PlaceHolder>
                </div>
                <iAppsControls:ScriptManagerControl runat="server" ID="sManager" LoadingPanelDisplayAfter="1" />
                <!-- Content Section Starts -->
                <div class="contentSection clear-fix" runat="server" id="contentSection">
                    <!-- Message Information Starts -->
                    <div id="divPageTopContainer" class="messageContainer clear-fix" runat="server">
                        <div id="iapps-notification" style="display: none;">
                            <uc:error runat="server" id="error"></uc:error>
                        </div>
                    </div>
                    <!-- Message Information Ends -->
                    <asp:ContentPlaceHolder ID="cphHeaderButtons" runat="server" />
                    <asp:ContentPlaceHolder ID="cphContent" runat="server" />
                </div>
                <!-- Content Section Ends -->
            </div>
            <!-- Footer Starts -->
            <div class="footerWrapper" id="footerWrapper">
                <div class="footer" id="footer">
                    <div class="leftFooter">
                        <asp:Label ID="lblVersion" runat="server" Text=""></asp:Label>
                    </div>
                    <div class="rightFooter">
                        <asp:Image ImageUrl="~/App_Themes/General/images/bridgeline-logo.png" ID="companyLogo" runat="server"
                            ToolTip="Bridgeline Digital" AlternateText="Bridgeline Digital" />
                    </div>
                </div>
            </div>
            <!-- Footer Ends -->
            <div style="display: none" id="iApps_LoadingPanel">
                <div class="iapps-modal loadingSpinner">
                    <img src="/Admin/App_Themes/General/images/iapps-rotating-cube.gif" alt="Please wait..." />
                </div>
            </div>
            <asp:HiddenField ID="hdn_machinename" runat="server" />
        </form>
    </div>
    <div class="help-box" id="iapps_help"></div>
    <script type="text/javascript">
        window["formName"] = "<%=frmMain.ClientID%>";
    </script>
</body>
</html>
