﻿.calendar-button {
	cursor: pointer;
}

.confirm-column-center,
.confirm-column-left,
.confirm-column-right {
	width: 375px;
}

.confirm-column-left {
	text-align: center;
	vertical-align: middle !important;
	overflow: hidden;
}

.confirm-email {
	width: 1200px;
}

	.confirm-email .emailbuilder-form-field {
		margin-left: 40px;
	}

	.confirm-email .publishButton {
		background-color: #DD0000;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#DD0000), to(#BB0000)) !important;
		background-image: -webkit-linear-gradient(top, #DD0000, #BB0000) !important;
		background-image: -moz-linear-gradient(top, #DD0000, #BB0000) !important;
		background-image: -ms-linear-gradient(top, #DD0000, #BB0000) !important;
		background-image: -o-linear-gradient(top, #DD0000, #BB0000) !important;
		background-image: linear-gradient(top, #DD0000, #BB0000) !important;
		box-shadow: none;
		color: #fff;
		border-top: solid 1px #BB0000;
		border-right: solid 1px #BB0000;
		border-bottom: solid 1px #BB0000;
		border-left: solid 1px #BB0000;
	}

		.confirm-email .publishButton:hover {
			background-image: -webkit-gradient(linear, left top, left bottom, from(#BB0000), to(#DD0000)) !important;
			background-image: -webkit-linear-gradient(top, #BB0000, #DD0000) !important;
			background-image: -moz-linear-gradient(top, #BB0000, #DD0000) !important;
			background-image: -ms-linear-gradient(top, #BB0000, #DD0000) !important;
			background-image: -o-linear-gradient(top, #BB0000, #DD0000) !important;
			background-image: linear-gradient(top, #BB0000, #DD0000) !important;
		}

	.confirm-email .validation-error {
		font-size: 10pt;
		font-weight: bold;
	}

	.confirm-email div.messageContainer {
		position: relative !important;
	}

	.confirm-email select.aspNetDisabled {
		background-color: #f3f3f3;
	}

.confirm-email-preview {
	-ms-transform: scale(0.5);
	-ms-transform-origin: 0 0;
	-moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
	transform: scale(0.5);
	transform-origin: 0 0;
	width: 700px;
	height: 900px;
}

.confirm-email-preview-overlay {
	position: absolute;
	width: 343px;
	height: 450px;
	z-index: 1001;
}

.confirm-email-preview-wrapper {
	overflow: hidden;
	position: relative;
	max-width: 350px;
	max-height: 450px;
}

.container-main {
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	margin-left: 20px;
	overflow: hidden;
}

.dropdown-small {
	width: 50px;
}

.dropdown-normal {
	width: 250px;
}

.email-recipient-list {
	margin-left: 40px;
}

.email-recipient-list li {
	font-size: 8pt;
	font-weight: bold;
}

.emailbuilder-form-column {
	display: table-cell;
	vertical-align: top;
}

.emailbuilder-form-column:first-of-type {
	padding-right: 20px;
}

.emailbuilder-form-column-wrapper {
	display: table;
}

.emailbuilder-form-field {
	margin-bottom: 12px;
	margin-top: 12px;
}

	.emailbuilder-form-field label {
		color: #000000;
		font-size: 9pt;
		font-weight: bold;
	}

.emailbuilder-form-field-label {
	display: block;
	color: #000000;
	font-size: 8pt;
	font-weight: bold;
}

.emailbuilder-form-field .aspNetDisabled, .email-recipient-list .aspNetDisabled {
    text-decoration: none;
    color: #000;
    cursor: default;
    font-weight: normal;
}

.emailbuilder-form-header {
	border-bottom: 1px solid #B4BFC2;
	color: #00476D;
	display: block;
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-bottom: 10px;
	padding-top: 20px;
	width: 90%;
}

.has-bottom-divider {
	border-bottom: 1px solid #CDCDCD;
	padding-bottom: 5px; 
}

hr.divider {
	border-color: #CEDADD;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 90%;
}

input[type="checkbox"] {
	float: left;
	margin-top: 1px;
}

.is-hidden {
	display: none;
}

.is-visible {
	display: block;
}

.recurrence-options label {
	font-weight: normal;
}

.recurrence-options tr {
	float: left;
	margin-right: 10px;
}

.recurrence-options-weekly td {
	padding-right: 10px;
}

.schedule-column-left,
.schedule-column-right {
	width: 400px;
}

.schedule-email {
	width: 900px;
}

	.schedule-email .container-main {
		border: none;
	}

	.schedule-email .recurrence-options-container {
		border-top: 1px solid #CDCDCD;
		padding-top: 5px;
		margin-left: 40px;
	}

		.schedule-email .recurrence-options-container .emailbuilder-form-field {
			margin-left: 0px;
		}

		.schedule-email .recurrence-options-container label {
			font-weight: normal;
		}

		.schedule-email .recurrence-options-container .validation-errors {
			margin-left: 0px;
		}

	.schedule-email .validation-errors {
		color: red;
		font-size: 8pt;
		margin-left: 40px;	
	}

.textbox-date {
	width: 100px;
}

.textbox-number {
	width: 25px;
}

.textbox-normal {
	width: 250px;
}

.validation-error {
	color: #FF0000;
	font-weight: normal;
	font-size: 8pt;
}