﻿/** Styles for Overlays Start **/
html, body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

div.overlayPlaceHolder {
    line-height: 0px;
    font-size: 10px;
}

div.percent {
    position: absolute;
    font-size: 10px;
    padding: 1px 3px 1px 3px;
    line-height: 15px;
    border: solid 1px #000;
    background-repeat: repeat-x;
    background-color: #fdfdfd;
    color: #000;
    z-index: 8;
}

div.percentHover {
    position: absolute;
    font-size: 10px;
    padding: 1px 3px 1px 3px;
    line-height: 15px;
    background-color: #fff;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    z-index: 9;
}

div.overlayArrow, div.overlayArrowHover {
    background-image: url(../App_Themes/General/images/drop-menu-arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 10px;
    cursor: pointer;
}

div.overlayArrowHover {
    background-image: url(../App_Themes/General/images/black_down_arrow.png);
}

div.overlayInfo {
    background-color: #fff;
    border: solid 1px #000;
    padding: 10px 0;
    position: absolute;
    z-index: 8;
    width: 200px;
}

    div.overlayInfo table {
        font-size: 10px;
        line-height: 20px;
    }

    div.overlayInfo td {
        font-size: 10px;
    }

        div.overlayInfo td.underline {
            border-bottom: solid 1px #f1f1f1;
            padding: 0 10px;
        }

    div.overlayInfo div.topMargin {
        margin-top: 10px;
    }

.overlayLinks {
    padding: 0 10px;
    color: #0054ff;
    cursor: pointer;
}

    .overlayLinks:hover {
        color: #656668;
        cursor: pointer;
        /*background-image: url(../App_Themes/General/images/black_down_arrow.png);*/
        background-repeat: repeat-y;
    }

ul.productsLegend {
    margin: 10px 0 5px 5px;
    list-style: none;
}

    ul.productsLegend li {
        float: left;
        margin: 0 20px 0 0;
    }

        ul.productsLegend li.label {
            float: left;
            margin: 0 10px 0 0;
        }

            ul.productsLegend li.label span {
                float: left;
                font-weight: bold;
            }

        ul.productsLegend li img {
            float: left;
            margin: 5px 5px 0 0;
        }

        ul.productsLegend li span {
            float: left;
        }
/** Styles for Overlays End**/
