
BODY {
	FONT: x-small/1.3 Verdana
}
TABLE {
	FONT: x-small/1.3 Verdana
}
FORM {
	FONT: x-small/1.3 Verdana
}
SELECT {
	FONT: x-small/1.3 Verdana
}
OPTION {
	FONT: x-small/1.3 Verdana
}
text {
	FONT: x-small/1.3 Verdana
}
INPUT {
	FONT: x-small/1.3 Verdana
}
TEXTAREA {
	FONT: x-small/1.3 Verdana
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../../images/bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	FONT-SIZE: 1em; MARGIN-LEFT: 10px; VERTICAL-ALIGN: top
}
SELECT {
	FONT-SIZE: 1em; MARGIN-LEFT: 10px
}
TEXTAREA {
	FONT-SIZE: 1.2em; MARGIN-LEFT: 10px
}
LABEL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 150px; CURSOR: pointer; PADDING-TOP: 5px; TEXT-ALIGN: right
}
A {
	FONT-SIZE: 0.9em; TEXT-DECORATION: none
}
A:link {
	COLOR: #0072bc
}
A:visited {
	COLOR: #666666
}
A:hover {
	COLOR: #e77802; TEXT-DECORATION: none
}
.hide {
	DISPLAY: none
}
.show {
	DISPLAY: block
}
.clearFloat {
	CLEAR: both
}
.textLabel {
	DISPLAY: block; FLOAT: left; WIDTH: 100px; TEXT-ALIGN: right
}
.btnApply {
	FONT-SIZE: 0.9em; FLOAT: right; MARGIN-RIGHT: 5px
}
.btnSubmit {
	COLOR: #ffffff
}
.denotes {
	COLOR: #cc0000
}
.selected {
	COLOR: #e77802
}
.formFields {
	CLEAR: both; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.errorMessage {
	MARGIN-LEFT: 25px; COLOR: red
}
.requestDemo {
	CURSOR: pointer
}
DIV.entireContentArea {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px; FONT-SIZE: 1.1em; BACKGROUND: url(../../images/mp_bgOuterShadow.gif) no-repeat center top; MARGIN: 23px auto 0px; WIDTH: 900px
}
DIV.pageArea {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; DISPLAY: block; BACKGROUND: url(../../images/mp_rightShadow.gif) #ffffff no-repeat right top; BORDER-LEFT: #dddddd 1px solid; WIDTH: 100%; BORDER-BOTTOM: #dddddd 1px solid
}
DIV.mainContent {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: url(../../images/mp_mainBG.gif) repeat-y 50% bottom; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 100%
}
DIV.header {
	BACKGROUND: url(../../images/headerBG.gif) #e0e8ed repeat-y center top; MARGIN: 5px 5px 0px; HEIGHT: 77px;width:960px;
}
DIV.upperHeaderContent {
	FLOAT: right; WIDTH: 250px; HEIGHT: 20px
}
.menuHeader
{
	COLOR: #0072bc;
	PADDING-RIGHT: 0; 
	MARGIN-TOP: 12px; 
	PADDING-LEFT: 10px; 
	cursor:pointer;
}
.menuFooter
{
		PADDING-RIGHT: 10px; 
		PADDING-LEFT: 0px; 
		FLOAT: right; 
		PADDING-BOTTOM: 0px; 
		MARGIN: 0px; 
		PADDING-TOP: 0px; 
		color:#888888;
	cursor:pointer;
}
DIV.upperHeaderContent UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.upperHeaderContent LI {
	BORDER-RIGHT: #888888 1px solid; PADDING-RIGHT: 10px; MARGIN-TOP: 12px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0.9em; PADDING-TOP: 0px
}
DIV.upperHeaderContent LI A:visited {
	COLOR: #0072bc
}
DIV.upperHeaderContent LI A:hover {
	COLOR: #072244
}
DIV.upperHeaderContent .lastItem {
	BORDER-RIGHT-STYLE: none
}
DIV.lowerHeaderContent {
	CLEAR: both; BACKGROUND: url(../../images/headerBGLower.jpg) no-repeat 50% bottom; HEIGHT: 60px
}
DIV.headerBottomLine {
	BACKGROUND: url(../../images/mp_headerBottomLine.gif) #ffffff repeat-x left top; MARGIN: 0px 5px; LINE-HEIGHT: 8px
}
DIV.logo IMG {
	FLOAT: left; MARGIN-LEFT: 20px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.titleImage {
	MARGIN-TOP: 15px; FLOAT: left; MARGIN-LEFT: 25px
}
DIV.searchForm {
	PADDING-RIGHT: 0px; MARGIN-TOP: 15px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; VERTICAL-ALIGN: top; WIDTH: 250px; PADDING-TOP: 0px
}
DIV.searchForm .inputText {
	BORDER-RIGHT: #aeaeae 1px solid; BORDER-TOP: #aeaeae 1px solid; FONT-SIZE: 0.9em; BORDER-LEFT: #aeaeae 1px solid; WIDTH: 163px; BORDER-BOTTOM: #aeaeae 1px solid
}
DIV.searchForm .inputImage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.flashBanner {
	MARGIN-BOTTOM: -3px; HEIGHT: 177px; TEXT-ALIGN: center
}
DIV.leftContentPlaceHolder {
	FLOAT: left; WIDTH: 593px
}
DIV.rightContentPlaceHolder {
	FLOAT: right; WIDTH: 297px
}
DIV.banner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.bottomLineLeft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/mp_headerBottomLine.gif) repeat-x right top; PADDING-BOTTOM: 0px; MARGIN: 0px -1px 1px; LINE-HEIGHT: 7px; PADDING-TOP: 0px
}
DIV.menu {
	PADDING-RIGHT: 6px; BACKGROUND: url(../../images/mp_mainMenuBG_right.gif) no-repeat right top
}
DIV.leftContentPlaceHolderContent {
	DISPLAY: block; BACKGROUND: url(../../images/mp_leftContentBG.gif) #f0f0f0 repeat-x center top; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 586px; HEIGHT: 100%
}
DIV.leftContentPlaceHolderContent H2 INPUT {
	PADDING-RIGHT: 180px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px
}
DIV.productsContainer {
	BACKGROUND: url(../../images/mp_containersUpper_Shadow.gif) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 6px; MARGIN: 20px 0px 0px 5px; WIDTH: 283px
}
DIV.servicesContainer {
	BACKGROUND: url(../../images/mp_containersUpper_Shadow.gif) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 6px; MARGIN: 20px 0px 0px 5px; WIDTH: 283px
}
DIV.productsContainerContent {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BACKGROUND: url(../../images/mp_containersUpperBG.gif) #f3f4f4 repeat-x 50% top; PADDING-BOTTOM: 10px; MARGIN-LEFT: 4px; BORDER-LEFT: #dddddd 1px solid; WIDTH: 274px; HEIGHT: 100%
}
DIV.servicesContainerContent {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BACKGROUND: url(../../images/mp_containersUpperBG.gif) #f3f4f4 repeat-x 50% top; PADDING-BOTTOM: 10px; MARGIN-LEFT: 4px; BORDER-LEFT: #dddddd 1px solid; WIDTH: 274px; HEIGHT: 100%
}
DIV.productsContainerContent P {
	FONT-SIZE: 1em; BACKGROUND: url(../../images/dottedLine_gray.gif) repeat-x left top; MARGIN: 0px 10px; PADDING-TOP: 10px
}
DIV.servicesContainerContent P {
	FONT-SIZE: 1em; BACKGROUND: url(../../images/dottedLine_gray.gif) repeat-x left top; MARGIN: 0px 10px; PADDING-TOP: 10px
}
DIV.productsContainerContent H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 1.6em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left 5px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 5px 10px; COLOR: #666666; PADDING-TOP: 2px
}
DIV.servicesContainerContent H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 1.6em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left 5px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 5px 10px; COLOR: #666666; PADDING-TOP: 2px
}
DIV.productsContainer {
	MARGIN-RIGHT: 5px
}
DIV.spotlightContainer {
	BACKGROUND: url(../../images/mp_spotlightContainerBG.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 6px; MARGIN: 10px 10px 0px 5px; WIDTH: 283px; HEIGHT: 12.7em
}
DIV.spotlightContainer H2 INPUT {
	PADDING-RIGHT: 60px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px
}
DIV.spotlightContainerContent {
	MARGIN-LEFT: 4px; WIDTH: 274px; HEIGHT: 100%
}
DIV.spotlightContainerContentLower {
	MARGIN: 0px 10px; PADDING-TOP: 10px
}
DIV.spotlightText {
	
}
DIV.spotlightImage {
	HEIGHT: 45px; TEXT-ALIGN: center
}
DIV.spotlightImage IMG {
	MARGIN-TOP: 5px
}
DIV.spotlightContainerContent P {
	FONT-SIZE: 0.9em
}
DIV.foundationsContainer {
	BACKGROUND: url(../../images/mp_containersLower_Shadow.gif) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 6px; MARGIN: 10px 0px 0px; WIDTH: 283px; HEIGHT: 12.7em
}
DIV.foundationsContainer H2 INPUT {
	PADDING-RIGHT: 30px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px
}
DIV.foundationsContainerContent {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BACKGROUND: url(../../images/mp_containersLowerBG.gif) #f4f5f5 repeat-x 50% top; MARGIN-LEFT: 4px; BORDER-LEFT: #dddddd 1px solid; WIDTH: 274px; HEIGHT: 100%
}
DIV.foundationsContainerContentLower {
	BACKGROUND: url(../../images/dottedLine_gray.gif) repeat-x left top; MARGIN: 0px 10px
}
DIV.foundationsText {
	
}
DIV.foundationsImage {
	HEIGHT: 55px; TEXT-ALIGN: center
}
DIV.foundationsImage IMG {
	
}
DIV.foundationsContainerContent P {
	FONT-SIZE: 0.9em
}
DIV.rightMenu {
	PADDING-TOP: 1px; HEIGHT: 177px
}
DIV.rightMenu IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV.rightMenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.rightMenu UL LI {
	HEIGHT: 25px
}
DIV.rightMenu UL LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.bottomLineRight {
	PADDING-RIGHT: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/mp_BottomLineRight.gif) repeat-x left bottom; PADDING-BOTTOM: 0px; LINE-HEIGHT: 7px; PADDING-TOP: 0px
}
DIV.rightHeader {
	PADDING-LEFT: 20px; BACKGROUND: url(../../images/mp_rightHeaderBG.gif) #ffffff repeat-x
}
DIV.rightHeader H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.rightContentPlaceHolderContent {
	BACKGROUND: #ffffff; WIDTH: 100%
}
DIV.latestNews {
	
}
DIV.latestNews UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.latestNews UL LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BORDER-BOTTOM: #d6d8d9 1px solid
}
DIV.latestNews .leftArrow {
	PADDING-LEFT: 40px; BACKGROUND: url(../../images/icon_arrowDoubleRight1.gif) no-repeat left 14px
}
DIV.promoArea {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
DIV.promoArea IMG {
	MARGIN-BOTTOM: 5px
}
DIV.whitepaperENews {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../../images/dottedLine_gray.gif) #ffffff repeat-x 50% top; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 3px
}
DIV.whitepaper {
	FLOAT: left; WIDTH: 150px
}
DIV.whitepaper UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.whitepaper UL LI {
	BACKGROUND: url(../../images/dottedLine_gray.gif) repeat-x 50% bottom
}
DIV.whitepaper .whitePaperHeader {
	
}
DIV.whitepaper .whitePaperHeader IMG {
	PADDING-RIGHT: 2px; BACKGROUND: url(../../images/dottedLineVertical_gray.gif) repeat-y right top; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.whitepaper .whitePaperContent {
	BACKGROUND: url(../../images/dottedLineVertical_gray.gif) repeat-y right top; WIDTH: 100%; TEXT-ALIGN: center
}
DIV.eNews {
	FLOAT: left; WIDTH: 147px
}
DIV.eNews UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.eNews UL LI {
	BACKGROUND: url(../../images/dottedLine_gray.gif) repeat-x 50% bottom
}
DIV.eNews .eNewsHeader {
	
}
DIV.eNews .eNewsHeader IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.eNews .eNewsContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../../images/dottedLineVertical_gray.gif) repeat-y left top; PADDING-BOTTOM: 4px; MARGIN: 5px 0px 0px; WIDTH: 100%; PADDING-TOP: 5px; TEXT-ALIGN: center
}
DIV.footer {
	FONT-SIZE: 0.9em; BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; OVERFLOW: hidden; PADDING-TOP: 10px; HEIGHT: 100%;width:960px;
}
DIV.footer P {
	PADDING-LEFT: 5px; FLOAT: left; COLOR: #888888
}
DIV.footer UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.footer UL LI A:link {
	CURSOR: hand; COLOR: #888888
}
DIV.footer UL LI A:visited {
	CURSOR: hand; COLOR: #888888
}
DIV.footer UL LI A:hover {
	COLOR: #444444
}
DIV.footer UL LI {
	BORDER-RIGHT: #888888 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #888888; LINE-HEIGHT: 0.9em; PADDING-TOP: 0px
}
DIV.footer UL LI.footerLastItem {
	BORDER-RIGHT-STYLE: none
}
DIV.entireContentAreaIP {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 1.1em; BACKGROUND: url(../../images/IP_bgOuterShadow.gif) no-repeat center top; MARGIN: 23px auto 0px; WIDTH: 970px
}
DIV.pageAreaIP {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #dddddd 1px solid; WIDTH: 100%; BORDER-BOTTOM: #dddddd 1px solid
}
DIV.mainContentIP {
	BORDER-RIGHT: #dddddd 1px solid; BACKGROUND: url(../../images/ip_mainContentBG1.gif) #ffffff repeat-y left top;  MARGIN: 0px 5px; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 100%
}
.whitepaperNote {
	CLEAR: both; MARGIN-LEFT: 15px
}
.whitepaperNote SPAN {
	FLOAT: left
}
.clearFix
{
	clear:both;
	font-size:0;
}
.whitepaperNote P {
	FLOAT: left; WIDTH: 350px; PADDING-TOP: 35px
}
.whitepaperNote IMG {
	MARGIN: 10px; VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.menuIP {
	MARGIN: 0px 5px
}
DIV.topSpacer {
	BACKGROUND: #ffffff; LINE-HEIGHT: 5px
}
DIV.leftContentPlaceHolderIP {
	FLOAT: left; PADDING-BOTTOM: 600px; WIDTH: 206px
}
DIV.midContentPlaceHolderIP {
	FLOAT: left; PADDING-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 554px
}
DIV.rightContentPlaceHolderIP {
	FLOAT: left; WIDTH: 196px; HEIGHT: 100%
}
DIV.midContentPlaceHolderIP A {
	FONT-SIZE: 1em
}
DIV.leftContentIPHeader {
	BACKGROUND: url(../../images/ip_leftTopCurve.gif) #8eafc6 repeat-x left top
}
DIV.leftContentIPHeaderLeftBG {
	BACKGROUND: url(../../images/ip_leftTopCurveLeftBG.gif) no-repeat left top; HEIGHT: 30px
}
DIV.leftContentIPHeader H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0px; PADDING-TOP: 14px; BACKGROUND-COLOR: transparent
}
DIV.leftContentIPHeader H2 A:link {
	FONT-SIZE: 1em; COLOR: #ffffff
}
DIV.leftContentIPHeader H2 A:visited {
	FONT-SIZE: 1em; COLOR: #ffffff
}
DIV.leftContentIPHeader H2 A:hover {
	FONT-SIZE: 1em; COLOR: #ffffff
}
DIV.leftContentPlaceHolderIP UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.leftContentPlaceHolderIP UL LI {
	PADDING-RIGHT: 5px; BORDER-TOP: #d7d8d9 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 2px; COLOR: #777777; PADDING-TOP: 2px
}
DIV.leftContentPlaceHolderIP UL LI UL {
	MARGIN: 0px 0px 0px 15px
}
DIV.leftContentPlaceHolderIP UL LI UL LI {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; BORDER-TOP-STYLE: none
}
DIV.leftContentPlaceHolderIP .firstItem {
	BORDER-TOP-STYLE: none
}
DIV.leftContentPlaceHolderIP .lastItem {
	BORDER-BOTTOM: #d7d8d9 1px solid
}
DIV.leftContentPlaceHolderIP .arrowRight {
	MARGIN-RIGHT: 5px
}
DIV.leftContentPlaceHolderIP A {
	COLOR: #777777
}
DIV.midContentHeaderIP {
	BACKGROUND: url(../../images/ip_midContentHeaderBG.jpg) repeat-x left top
}
DIV.midContentHeaderIPleftBG {
	BACKGROUND: url(../../images/ip_midContentHeaderBGLeft.jpg) no-repeat left top; HEIGHT: 110px
}
DIV.midContentPlaceHolderIPContents {
	MARGIN: 25px 10px 0px 20px
}
DIV.midContentProducts P {
	FONT-SIZE: 1em; MARGIN-BOTTOM: 10px; COLOR: #000000
}
DIV.midContentProducts H2 {
	PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 1.8em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left 5px; COLOR: #666666
}
DIV.midContentProducts H3 {
	MARGIN-TOP: 20px; FONT-SIZE: 1.2em; COLOR: #e77802
}
DIV.midContentProducts H4 {
	MARGIN-TOP: 18px; FONT-WEIGHT: normal; FONT-SIZE: 1em; MARGIN-BOTTOM: 10px
}
DIV.midContentProducts H4 SPAN {
	COLOR: #000000
}
DIV.midContentProducts H5 {
	FONT-SIZE: 1.2em; MARGIN: 10px 0px; COLOR: #666666; LINE-HEIGHT: 0.9em
}
DIV.midContentProducts H6 {
	MARGIN-TOP: 10px; FONT-SIZE: 1em; MARGIN-BOTTOM: 2px; COLOR: #555555
}
DIV.midContentProducts TABLE {
	MARGIN: 5px 0px 0px; WIDTH: 100%
}
DIV.midContentProducts TD {
	COLOR: #777777
}
DIV.midContentProducts TD IMG {
	TEXT-ALIGN: right
}
DIV.midContentProducts TH {
	TEXT-ALIGN: left
}
DIV.midContentProducts UL {
	LIST-STYLE-TYPE: none
}
DIV.midContentProducts UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(../../images/icon_listBulletOrange.gif) no-repeat left 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
DIV.midContentProducts UL LI UL {
	LIST-STYLE-TYPE: none
}
DIV.midContentProducts UL LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../../images/icon_listBulletOrange.gif) no-repeat left 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
DIV.midContentProducts DIV.textThumbnail {
	
}
DIV.midContentProducts DIV.textThumbnail P {
	FLOAT: left; WIDTH: 310px
}
DIV.midContentProducts DIV.thumbnail {
	FLOAT: right; WIDTH: 180px
}
DIV.midContentProducts DIV.thumbnail IMG {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
DIV.midContentProducts DIV.thumbnailPlus IMG {
	MARGIN: 12px 0px 0px 50px; WIDTH: 109px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none
}
DIV.midContentServices P {
	FONT-SIZE: 1em; MARGIN-BOTTOM: 10px; COLOR: #000000
}
DIV.midContentServices H2 {
	PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 1.8em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left 5px; COLOR: #666666
}
DIV.midContentServices H3 {
	MARGIN-TOP: 20px; FONT-SIZE: 1.2em; COLOR: #e77802
}
DIV.midContentServices H4 {
	MARGIN-TOP: 10px; FONT-WEIGHT: normal; FONT-SIZE: 1em; MARGIN-BOTTOM: 10px
}
DIV.midContentServices H4 SPAN {
	COLOR: #000000
}
DIV.midContentServices H5 {
	FONT-SIZE: 1.2em; MARGIN: 0px 0px 10px; COLOR: #666666
}
DIV.midContentServices H6 {
	MARGIN-TOP: 10px; FONT-SIZE: 1em; MARGIN-BOTTOM: 2px; COLOR: #555555
}
DIV.midContentServices UL {
	LIST-STYLE-TYPE: none
}
DIV.midContentServices LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../../images/icon_listBulletOrange.gif) no-repeat left 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
DIV.midContentServices IMG {
	MARGIN-BOTTOM: 12px
}
DIV.midContentServices DIV.imgDiv {
	MARGIN-TOP: 15px; TEXT-ALIGN: center
}
DIV.midContentServices DIV.imgDiv IMG {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
DIV.midContentServices DIV.textThumbnail {
	MARGIN-TOP: 15px; FLOAT: left; WIDTH: 290px
}
DIV.midContentServices DIV.textThumbnail P {
	
}
DIV.midContentServices DIV.thumbnail {
	BACKGROUND: url(../../images/dottedLineVertical_gray.gif) repeat-y left top; FLOAT: right; PADDING-BOTTOM: 50px; MARGIN: 15px -5px 0px 0px; WIDTH: 215px; TEXT-ALIGN: center
}
DIV.midContentServices DIV.thumbnail IMG {
	PADDING-BOTTOM: 5px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.midContentServices DIV.thumbnail DIV.thumbnailPlus IMG {
	WIDTH: 109px; HEIGHT: 16px
}
DIV.midContentServices DIV.thumbnail DIV.thumbnailBG {
	BACKGROUND: url(../../images/ip_ProdThumbnailsBG.gif) no-repeat center bottom; MARGIN-RIGHT: -5px
}
DIV.midContentServices DIV.thumbnail DIV.navNumber {
	MARGIN-TOP: 5px; BACKGROUND: url(../../images/dottedLine_gray.gif) repeat-x left top; PADDING-TOP: 5px; TEXT-ALIGN: center
}
DIV.midContentServices DIV.thumbnail DIV.navNumber UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.midContentServices DIV.thumbnail DIV.navNumber UL LI {
	PADDING-LEFT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 5px
}
DIV.midContentServices DIV.thumbnail DIV.navNumber A:link {
	FONT: 1.7em/1.3 Tahoma; COLOR: #b9bbbd
}
DIV.midContentServices DIV.thumbnail DIV.navNumber A:visited {
	FONT: 1.7em/1.3 Tahoma; COLOR: #b9bbbd
}
DIV.midContentServices DIV.thumbnail DIV.navNumber IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 9px 0px 0px; PADDING-TOP: 0px
}
DIV.midContentServices DIV.thumbnail DIV.navLinks {
	CLEAR: both; MARGIN-TOP: 5px; PADDING-LEFT: 10px; BACKGROUND: url(../../images/dottedLine_gray.gif) repeat-x left top; TEXT-ALIGN: left
}
DIV.midContentServices DIV.thumbnail DIV.navLinks H5 {
	PADDING-TOP: 10px
}
DIV.midContentServices DIV.thumbnail DIV.navLinks UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.midContentServices DIV.thumbnail DIV.navLinks UL LI {
	PADDING-LEFT: 15px; BACKGROUND: url(../../images/icon_listBulletOrange.gif) no-repeat left 10px; PADDING-TOP: 5px
}
DIV.midContentServices DIV.thumbnail DIV.navLinks A {
	FONT-SIZE: 1em
}
DIV.midContentCompany P {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; COLOR: #000000; PADDING-TOP: 10px
}
DIV.midContentCompany H2 {
	PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 1.8em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left 5px; COLOR: #666666
}
DIV.midContentCompany H3 {
	MARGIN-TOP: 20px; FONT-SIZE: 1.2em; COLOR: #e77802
}
DIV.midContentCompany H4 {
	MARGIN-TOP: 18px; FONT-WEIGHT: normal; FONT-SIZE: 1em
}
DIV.midContentCompany H4 SPAN {
	COLOR: #000000
}
DIV.midContentCompany H5 {
	FONT-SIZE: 1.2em; MARGIN: 10px 0px; COLOR: #666666
}
DIV.midContentCompany H6 {
	MARGIN-TOP: 0px; FONT-SIZE: 1em; MARGIN-BOTTOM: 2px; COLOR: #555555
}
DIV.midContentCompany UL {
	MARGIN-TOP: -10px; LIST-STYLE-TYPE: none
}
DIV.midContentCompany LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../../images/icon_listBulletOrange.gif) no-repeat left 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
DIV.midContentCompany DIV.rightBoxText {
	MARGIN-TOP: 15px; FLOAT: left; WIDTH: 290px
}
DIV.midContentCompany DIV.rightBoxText DIV.onFocus IMG {
	BORDER-RIGHT: #cecccf 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cecccf 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; BORDER-LEFT: #cecccf 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cecccf 1px solid
}
DIV.midContentCompany DIV.rightBoxText DIV.onFocus P {
	PADDING-LEFT: 115px; COLOR: #0072bc
}
DIV.midContentCompany DIV.rightBoxText DIV.onFocus .highlight {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN-BOTTOM: -10px
}
DIV.midContentCompany DIV.rightBox {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(../../images/ip_AboutRightBoxBG.gif) no-repeat center bottom; FLOAT: right; WIDTH: 170px; MARGIN-RIGHT: -5px
}
DIV.midContentCompany DIV.rightBoxContent {
	MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 15px; WIDTH: 100%
}
DIV.midContentCompany DIV.rightBoxContent UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.midContentCompany DIV.rightBoxContent UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(../../images/icon_listBulletOrange.gif) no-repeat left 11px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 10px; PADDING-TOP: 5px
}
DIV.midContentCompany DIV.rightBoxContent A:link {
	PADDING-RIGHT: 10px
}
DIV.midContentCompany DIV.rightBoxContent A:visited {
	PADDING-RIGHT: 10px
}
DIV.midContentCompany DIV.rightBoxHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; BACKGROUND: #b6cfdb; PADDING-BOTTOM: 5px; COLOR: #475765; PADDING-TOP: 5px
}
DIV.midContentCompany DIV.rightBox DIV.leftDottedLine {
	BACKGROUND: url(../../images/dottedLineVertical_gray.gif) repeat-y left 50%
}
DIV.midContentCompany DIV.rightBox DIV.rightDottedLine {
	BACKGROUND: url(../../images/dottedLineVertical_gray.gif) repeat-y right 50%
}
DIV.midContentCompany DIV.midContentCompanyNews H2 {
	PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 1.8em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left 5px; COLOR: #666666
}
DIV.midContentCompany DIV.midContentCompanyNews H3 {
	FONT-SIZE: 1.2em; COLOR: #000000
}
DIV.midContentCompany DIV.midContentCompanyNews H4 {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.1em; BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV.midContentCompany DIV.midContentCompanyNews LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../../images/icon_listBulletOrange.gif) white no-repeat left 13px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.midContentCompany DIV.midContentCompanyNews DIV.newsContentList {
	CLEAR: both; PADDING-TOP: 20px
}
DIV.midContentCompany DIV.midContentCompanyNews DIV.newsList UL {
	LINE-HEIGHT: 1em; LIST-STYLE-TYPE: none
}
DIV.midContentCompany DIV.midContentCompanyNews DIV.newsList LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 0px
}
DIV.midContentCompany DIV.midContentCompanyNews DIV.newsList LI.rightBorderNav {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 0px
}
DIV.midContentCompany DIV.midContentCompanyNews A:link {
	FONT-SIZE: 1.2em
}
DIV.midContentCompany DIV.midContentCompanyNews A:visited {
	FONT-SIZE: 1.2em
}
DIV.midContentCompany DIV.midContentCompanyNews DIV.contactBox {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 40%; BORDER-BOTTOM: #cccccc 1px solid
}
DIV.midContentCompany DIV.midContentCompanyNews DIV.contactBox H5 {
	PADDING-RIGHT: 0px; MARGIN-TOP: -5px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 1.1em; BACKGROUND: #cccccc; PADDING-BOTTOM: 10px; COLOR: #444444; PADDING-TOP: 10px
}
DIV.midContentCompany DIV.midContentCompanyNews DIV.contactBox H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #444444; PADDING-TOP: 0px
}
DIV.midContentCompany DIV.midContentCompanyNews DIV.contactBox P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; PADDING-TOP: 0px
}
DIV.midContentCompany DIV.midContentCompanyNews DIV.contactBox A {
	TEXT-DECORATION: underline
}
DIV.midContentCompany DIV.midContentCompanyNews DIV.contactBox SPAN.whiteHighlight {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
DIV.midContentCompany DIV.midContentCompanyNews DIV.contactBox DIV.contactBoxContent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV.midContentCompany DIV.midContentCompanyCareers DIV.rowHeader {
	MARGIN-TOP: 10px; WIDTH: 100%
}
DIV.midContentCompany DIV.midContentCompanyCareers DIV.rowHeader H3 {
	MARGIN-TOP: 0px; FONT-SIZE: 1.4em; FLOAT: left
}
DIV.midContentCompany DIV.midContentCompanyCareers DIV.rowHeader SELECT {
	FONT-SIZE: 0.9em; FLOAT: right; MARGIN-RIGHT: 5px
}
DIV.midContentCompany DIV.midContentCompanyCareers UL {
	MARGIN-TOP: 3px
}
DIV.midContentCompany DIV.midContentCompanyContact DIV {
	DISPLAY: block; FLOAT: left; MARGIN: 10px 15px 0px 0px
}
DIV.midContentCompany DIV.midContentCompanyContact H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
DIV.midContentCompany DIV.midContentCompanyContact P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.midContentCompany DIV.midContentCompanyContact IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.midContentCustomers P {
	FONT-SIZE: 1em; COLOR: #000000
}
DIV.midContentCustomers H2 {
	PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 1.8em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left 5px; COLOR: #666666
}
DIV.midContentCustomers H3 {
	MARGIN-TOP: 20px; FONT-SIZE: 1.2em; COLOR: #e77802
}
DIV.midContentCustomers H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em
}
DIV.midContentCustomers H4 SPAN {
	COLOR: #000000
}
DIV.midContentCustomers H5 {
	FONT-SIZE: 1.2em; MARGIN: 10px 0px; COLOR: #666666
}
DIV.midContentCustomers LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(../images/icon_listBulletOrange.gif); PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.midContentCustomers TABLE {
	MARGIN: 5px; WIDTH: 100%
}
DIV.midContentCustomers TD {
	
}
DIV.midContentCustomers DIV.textThumbnail {
	MARGIN-TOP: 15px; FLOAT: left; WIDTH: 290px
}
DIV.midContentCustomers DIV.textThumbnail P {
	
}
DIV.midContentCustomers DIV.thumbnail {
	BACKGROUND: url(../../images/dottedLineVertical_gray.gif) repeat-y left top; FLOAT: right; PADDING-BOTTOM: 50px; MARGIN: 15px -5px 0px 0px; WIDTH: 215px; TEXT-ALIGN: center
}
DIV.midContentCustomers DIV.thumbnail IMG {
	PADDING-BOTTOM: 15px
}
DIV.midContentCustomers DIV.thumbnail DIV.thumbnailBG {
	BACKGROUND: url(../../images/ip_ProdThumbnailsBG.gif) no-repeat center bottom; MARGIN-RIGHT: -5px
}
DIV.midContentCustomers DIV.midContentCustomersCaseStudy P {
	PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
DIV.midContentCustomers DIV.midContentCustomersCaseStudy IMG {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV.midContentResourceCenter P {
	FONT-SIZE: 1em; COLOR: #000000
}
DIV.midContentResourceCenter H2 {
	PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 1.8em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left 5px; COLOR: #666666
}
DIV.midContentResourceCenter H3 {
	MARGIN-TOP: 20px; FONT-SIZE: 1.2em; COLOR: #e77802
}
DIV.midContentResourceCenter H4 {
	MARGIN-TOP: 18px; FONT-WEIGHT: normal; FONT-SIZE: 1em
}
DIV.midContentResourceCenter H4 SPAN {
	COLOR: #000000
}
DIV.midContentResourceCenter H4 A {
	FONT-SIZE: 1em
}
DIV.midContentResourceCenter H5 {
	FONT-SIZE: 1.2em; MARGIN: 10px 0px; COLOR: #666666
}
DIV.midContentResourceCenter UL {
	LIST-STYLE-TYPE: none
}
DIV.midContentResourceCenter LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../../images/icon_listBulletOrange.gif) no-repeat left center; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.midContentResourceCenter DIV.webinar {
	CLEAR: both
}
DIV.midContentResourceCenter DIV.webinarLeft {
	FLOAT: left; WIDTH: 120px; PADDING-TOP: 20px
}
DIV.midContentResourceCenter DIV.webinarRight {
	DISPLAY: block; FLOAT: right; OVERFLOW: hidden; WIDTH: 400px; PADDING-TOP: 20px
}
DIV.formPage {
	
}
DIV.formPage P {
	FONT-SIZE: 1em; MARGIN-BOTTOM: 10px; COLOR: #000000
}
DIV.formPage H2 {
	PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 1.8em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left 5px; COLOR: #666666
}
DIV.formPage H3 {
	MARGIN-TOP: 10px; FONT-SIZE: 1.2em; COLOR: #e77802
}
DIV.formPage H4 {
	MARGIN-TOP: 10px; FONT-WEIGHT: normal; FONT-SIZE: 1.1em
}
DIV.formPage H5 {
	FONT-SIZE: 1.2em; MARGIN: 10px 0px; COLOR: #666666
}
DIV.formPage H6 {
	MARGIN-TOP: 10px; FONT-SIZE: 1em; MARGIN-BOTTOM: 2px; COLOR: #555555
}
DIV.formButton {
	MARGIN-TOP: 20px; WIDTH: 375px; TEXT-ALIGN: right
}
DIV.formPage .textBox {
	WIDTH: 200px
}
DIV.rightContentPlaceHolderIP {
	
}
DIV.rightContentPlaceHolderIPContents {
	
}
DIV.rightContentHeaderIP {
	BACKGROUND: url(../../images/ip_rightTopCurve.gif) repeat-x right top
}
DIV.rightContentHeaderIPrightBG {
	BACKGROUND: url(../../images/ip_rightTopCurveRightBG.gif) no-repeat right top; HEIGHT: 10px
}
DIV.rightContentHeaderIPleftBG {
	BACKGROUND: url(../../images/ip_rightTopCurveLeftBG.gif) no-repeat left top; HEIGHT: 10px
}
DIV.rightContentPlaceHolderIPContents {
	MARGIN: 0px 5px 0px 15px
}
DIV.rightContentPlaceHolderIPContents P {
	MARGIN: 18px 0px 0px; FONT: 1em/1.3 Tahoma; COLOR: #7798bb
}
DIV.rightContentPlaceHolderIPContents P.author {
	MARGIN: 10px 0px 0px 5px
}
DIV.rightContentPlaceHolderIPContents H2 {
	PADDING-LEFT: 22px; BACKGROUND: url(../../images/icon_arrowHeader.gif) no-repeat left 5px; MARGIN: 50px 0px 10px; FONT: 1.8em/1.3 Tahoma; COLOR: #7798bb
}
DIV.relatedleftBG {
	BORDER-RIGHT: red 1px solid; BORDER-TOP: red 1px solid; BACKGROUND: url(../../images/relatedContentBG_left.gif) #fafafa no-repeat left 50%; FLOAT: left; BORDER-LEFT: red 1px solid; WIDTH: 12px; BORDER-BOTTOM: red 1px solid
}
DIV.rightContentPlaceHolderIP DIV.rightContentRelatedContents {
	MARGIN: 0px -5px 0px -9px
}
DIV.rightContentPlaceHolderIP DIV.rightContentRelatedContents UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../../images/ip_related_BG.gif) repeat-x left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #eff0f1 2px solid; LIST-STYLE-TYPE: none
}
DIV.rightContentPlaceHolderIP DIV.rightContentRelatedContents H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-SIZE: 0.9em; BACKGROUND: url(../../images/ip_related_dottedBlueLine.gif) repeat-x left top; PADDING-BOTTOM: 0px; COLOR: #e77802; PADDING-TOP: 3px
}
DIV.rightContentPlaceHolderIP DIV.rightContentRelatedContents UL LI A:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.rightContentPlaceHolderIP DIV.rightContentRelatedContents UL LI {
	PADDING-LEFT: 15px; BACKGROUND: url(../../images/icon_arrowRight.gif) no-repeat left top; MARGIN: 5px 5px 5px 0px; COLOR: #e77802
}
DIV.mainContentIPTwo {
	BORDER-RIGHT: #dddddd 1px solid; BACKGROUND: url(../../images/mainContentBGLeft.gif) #ffffff repeat-y left top; FLOAT: left; MARGIN: 0px 5px 5px; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 100%
}
DIV.bigRightContentPlaceHolderIP {
	BACKGROUND: url(../../images/ip_midcontentBG.gif) #ffffff repeat-y left top; FLOAT: left; PADDING-BOTTOM: 20px; WIDTH: 752px
}
DIV.portfolio {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 25px
}
DIV.portfolio H2 {
	PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 1.8em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left 5px; COLOR: #666666
}
DIV.portfolio H3 {
	MARGIN-TOP: 25px; FONT-SIZE: 1.2em; COLOR: #e77802
}
DIV.portfolio H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 1.1em; PADDING-BOTTOM: 25px; PADDING-TOP: 25px
}
DIV.portfolio TABLE {
	WIDTH: 100%
}
DIV.portfolio TD {
	PADDING-BOTTOM: 20px
}
DIV.portfolio IMG {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
DIV.searchPage {
	BACKGROUND: #ffffff; WIDTH: 100%; PADDING-TOP: 20px
}
DIV.searchPage H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px
}
DIV.searchPage H2 {
	PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 1.8em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left 5px; MARGIN-LEFT: 15px; COLOR: #666666
}
DIV.searchPage TABLE {
	MARGIN: 5px 15px 10px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.searchPage TD {
	PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV.searchLabel {
	PADDING-RIGHT: 20px; PADDING-LEFT: 15px; PADDING-BOTTOM: 20px; COLOR: #666666; PADDING-TOP: 20px
}
DIV.searchResultFooter {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0px; COLOR: #666666; PADDING-TOP: 20px
}
.marked {
	FONT-SIZE: 1.2em; BACKGROUND-COLOR: yellow
}
.headerStyle {
	DISPLAY: none
}
.resultLink {
	FONT-WEIGHT: bold; FONT-SIZE: 1.5em; COLOR: #e77802
}
DIV.popWindow {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #ffffff; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
DIV.popWindow P {
	FONT-SIZE: 1em; MARGIN-BOTTOM: 10px; COLOR: #000000
}
DIV.popWindow H2 {
	PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 1.8em; BACKGROUND: url(../../images/ip_titleArrow.gif) no-repeat left bottom; COLOR: #666666
}
DIV.popWindow H3 {
	MARGIN-TOP: 20px; FONT-SIZE: 1.2em; COLOR: #e77802
}
DIV.popWindow H4 {
	MARGIN-TOP: 18px; FONT-WEIGHT: normal; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 10px
}
DIV.popWindow H5 {
	MARGIN-TOP: 10px; FONT-SIZE: 1.1em; COLOR: #666666
}
DIV.popWindow H6 {
	MARGIN-TOP: 10px; FONT-SIZE: 1em; MARGIN-BOTTOM: 2px; COLOR: #555555
}
DIV.popWindow UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.popWindow OL LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(../../images/icon_listBulletOrange.gif) no-repeat left 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.popWindow OL LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV.popWindow OL OL {
	LIST-STYLE-TYPE: lower-alpha
}

.grdOne
{
    FONT: x-small/1.3 Verdana;
}
.dataOne
{

BACKGROUND: url(../../images/ip_related_BG.gif) repeat-x left 17px;
}

.headerOne
{
    PADDING-RIGHT: 0px; 
    PADDING-LEFT: 15px; 
    BACKGROUND: url(../../images/ip_related_dottedBlueLine.gif) repeat-x left top; 
    PADDING-BOTTOM: 0px; 
    COLOR: #e77802; 
    PADDING-TOP: 3px;
    font-weight:bolder;
}
.cellOne
{
	PADDING-LEFT: 30px; 
	BACKGROUND: url(../../images/icon_arrowRight.gif) no-repeat 15px top; 
	MARGIN: 5px 5px 5px 0px; 
	COLOR: #666666;

}
.homecellOne
{
	PADDING:10px 10px 10px 40px; 
	BACKGROUND: url(../../images/icon_arrowDoubleRight1.gif) no-repeat left 12px; 
	BORDER-BOTTOM: #d6d8d9 1px solid;
	MARGIN: 5px 5px 5px 0px; 
	COLOR: #666666;

}
.TvwNode
{
    
    background-repeat:no-repeat;
    background-position:10px 5px;
    BORDER-TOP: #d7d8d9 1px solid;
	PADDING-RIGHT: 5px; 
	PADDING-LEFT: 20px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 1.1em; 
	PADDING-BOTTOM: 6px; 
	COLOR: #777777; 
	PADDING-TOP: 4px;
	width:180px;
	cursor:pointer;
}
.tvwClass
{
padding:5px 0 0 0;
BORDER-BOTTOM: #d7d8d9 1px solid;
}
.ctl00_Mainmenu1_Menu1_0 {
	DISPLAY: none; 
	LEFT: 0px; 
	VISIBILITY: hidden; 
	POSITION: absolute; 
	TOP: 0px; 
	BACKGROUND-COLOR: white
}
.ctl00_Mainmenu1_Menu1_1 {
	TEXT-DECORATION: none
}
.ctl00_Mainmenu1_Menu1_2 {
	
}
.ctl00_ContentPlaceHolder1_LeftNav1_TreeView1_0 {
	TEXT-DECORATION: none
}
.searchContainer
{
	width: 100%;
}
.inputBorderStyle
{
	border-top-width: 0px;
	border-left-width: 0px; 
	border-bottom-width: 0px; 
	border-right-width: 0px
}




