
.AspNet-TreeView-Show {
	DISPLAY: block
}
.AspNet-TreeView-Hide {
	DISPLAY: none
}
.AspNet-TreeView {
	BORDER-BOTTOM: #d7d8d9 1px solid
}
.LeftnavTreeView DIV.AspNet-TreeView UL UL {
	MARGIN: 2px 0px 2px 10px
}
.LeftnavTreeView DIV.AspNet-TreeView UL LI IMG {
	MARGIN: 0px 2px 0px 0px; VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.LeftnavTreeView DIV.AspNet-TreeView LI A {
	TEXT-DECORATION: none
}
.LeftnavTreeView DIV.AspNet-TreeView UL LI.AspNet-TreeView-Leaf A {
	PADDING-LEFT: 15px; BACKGROUND: url(../../images/icon_arrowRight.gif) no-repeat left center; COLOR: #777777
}
.LeftnavTreeView DIV.AspNet-TreeView UL LI UL LI.AspNet-TreeView-Leaf A {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #444444
}
.LeftnavTreeView DIV.AspNet-TreeView UL LI UL LI.AspNet-TreeView-Leaf {
	PADDING-LEFT: 20px
}
.LeftnavTreeView DIV.AspNet-TreeView .AspNet-TreeView-ClickableNonlink {
	CURSOR: pointer
}
.LeftnavTreeView DIV.AspNet-TreeView .AspNet-TreeView-Collapse {
	BACKGROUND: url(../../images/icon_arrowDown.gif) no-repeat left top; FLOAT: left; WIDTH: 15px; CURSOR: pointer; HEIGHT: 17px
}
.LeftnavTreeView DIV.AspNet-TreeView .AspNet-TreeView-Expand {
	BACKGROUND: url(../../images/icon_arrowRight.gif) no-repeat left top; FLOAT: left; WIDTH: 15px; CURSOR: pointer; HEIGHT: 17px
}
.LeftnavTreeView .AspNet-TreeView-Selected {
	COLOR: #e77802! important
}
.LeftnavTreeView .AspNet-TreeView-Selected A {
	COLOR: #e77802! important
}
.LeftnavTreeView .AspNet-TreeView-ChildSelected {
	COLOR: #777777
}
.LeftnavTreeView .AspNet-TreeView-ChildSelected A {
	COLOR: #777777
}
.LeftnavTreeView .AspNet-TreeView-ParentSelected {
	COLOR: #444444! important
}
.LeftnavTreeView .AspNet-TreeView-ParentSelected A {
	COLOR: #444444! important
}
