﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SelectLanguageCulture.ascx.cs"
    Inherits="Bridgeline.iAPPS.Admin.CMS.Web.Controls.SelectLanguageCulture" %>
<asp:DropDownList runat="server" ID="ddlUICulture" Width="150" />
<asp:DropDownList runat="server" ID="ddlSpecificCulture" />
