﻿@font-face {
    font-family: 'newjunebookregular';
    src: url('fonts/newjune-book-webfont.eot');
    src: url('fonts/newjune-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/newjune-book-webfont.woff') format('woff'), url('fonts/newjune-book-webfont.ttf') format('truetype'), url('fonts/newjune-book-webfont.svg#newjunebookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newjuneregularregular';
    src: url('fonts/newjune-regular-webfont.eot');
    src: url('fonts/newjune-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/newjune-regular-webfont.woff') format('woff'), url('fonts/newjune-regular-webfont.ttf') format('truetype'), url('fonts/newjune-regular-webfont.svg#newjuneregularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newjuneboldregular';
    src: url('fonts/newjune-bold-webfont.eot');
    src: url('fonts/newjune-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/newjune-bold-webfont.woff') format('woff'), url('fonts/newjune-bold-webfont.ttf') format('truetype'), url('fonts/newjune-bold-webfont.svg#newjuneboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.5;
    font-family: Arial;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

html, body {
    height: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5 {
    color: #333333;
    line-height: 1;
}

h1 {
    font-family: newjuneregularregular, arial;
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
}

h4 {
    font-size: 13px;
    font-weight: bold;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

hr {
    border: 0;
    border-top: solid 1px #d2d2d2;
    height: 1px;
    margin: 15px 0 15px 0;
}

.clear-fix:after, div.form-row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.colon:after {
    content: ":";
    display: inline-block;
}

.clear-fix, div.form-row {
    display: inline-block;
}

html .clear-fix, html div.form-row {
    display: block;
}

* html .clear-fix, * html div.form-row {
    height: 1%;
}
/* Global Anchor Styles */
a, a:hover, a:visited, a:active {
    color: #1c68b5;
    text-decoration: none;
    cursor: pointer;
}

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
/* Global image styles */
img {
    border: 0;
    vertical-align: middle;
}
/* Global form fields styles */
input[type=text], input[type=textbox], input[type=password], input[type=date],
select, textarea, .formTextBox, .comboTextBox {
    border: solid 1px #c7c8c9;
    padding: 3px;
    background-color: #fff;
    color: #35383A;
    font-size: 12px;
    font-family: Arial !important;
}

    input[readonly], input[readonly='readonly'], textarea[readonly], textarea[readonly='readonly'] {
        background-color: #f1f1f1 !important;
        color: #a1a1a1 !important;
    }

input[type=text], input[type=date], input[type=password] {
    padding: 4px;
}

input[type=checkbox] {
    display: inline-block;
    margin: 0 5px 0 0;
}

input[type=radio] {
    display: inline-block;
    margin-left: 0;
}

input.defaultText, textarea.defaultText {
    color: #777E82;
    font-style: italic;
}

textarea {
    font-family: Arial;
    padding: 5px;
    resize: none;
}

.comboTextBox {
    border: none;
}

input.defaultText, textarea.defaultText {
    color: #777E82;
    font-style: italic;
}

select option {
    margin-bottom: 3px;
}

.float-element {
    float: left;
}
/* action column arrow styles */
.action-column img {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}
/* back to top styles */
.back-to-top {
    position: fixed;
    top: 48%;
    right: 2%;
    display: none;
    cursor: pointer;
}
/*hide extra div added by jquery calendar*/
#ui-datepicker-div {
    display: none;
}
/* radeditor border styles */
.RadEditor {
    border: solid 1px #d2d2d2;
    padding: 5px;
    border-radius: 5px;
}
/* Global button styles */
.hidden-button {
    display: none !important;
}

.iapps-alert-footer input, .button, .primarybutton, a.button, a.primarybutton, input.tree-button, .small-button, a.small-button, .button.red {
    font-size: 13px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    padding: 5px 10px;
    display: inline-block;
    border-top: solid 1px #e7e7e7;
    border-right: solid 1px #d5d5d5;
    border-bottom: solid 1px #d5d5d5;
    border-left: solid 1px #dcdcdc;
    color: #616161;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -moz-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -ms-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -o-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: linear-gradient(top, #eeeeee, #e7e7e7);
    text-decoration: none;
    box-shadow: 0 1px 0 0 #fff inset;
    margin-top: 0;
    line-height: 18px;
}

    .button.dark, .small-button.dark {
        border: solid 1px #c9cccd;
        background-color: #e3e5e6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e5e6), to(#c5c7c7));
        background-image: -webkit-linear-gradient(top, #e3e5e6, #c5c7c7);
        background-image: -moz-linear-gradient(top, #e3e5e6, #c5c7c7);
        background-image: -ms-linear-gradient(top, #e3e5e6, #c5c7c7);
        background-image: -o-linear-gradient(top, #e3e5e6, #c5c7c7);
        background-image: linear-gradient(top, #e3e5e6, #c5c7c7);
        box-shadow: none;
    }

.primarybutton, a.primarybutton {
    background-color: #f36500;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f89c1f), to(#f36500)) !important;
    background-image: -webkit-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -moz-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -ms-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -o-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: linear-gradient(top, #f89c1f, #f36500) !important;
    box-shadow: none;
    color: #fff;
    border-top: solid 1px #f68300;
    border-right: solid 1px #f57e00;
    border-bottom: solid 1px #f79540;
    border-left: solid 1px #f5810b;
}

.button.red {
    color: #fff;
    background-color: #DD0000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DD0000), to(#BB0000)) !important;
    background-image: -webkit-linear-gradient(top, #DD0000, #BB0000) !important;
    background-image: -moz-linear-gradient(top, #DD0000, #BB0000) !important;
    background-image: -ms-linear-gradient(top, #DD0000, #BB0000) !important;
    background-image: -o-linear-gradient(top, #DD0000, #BB0000) !important;
    background-image: linear-gradient(top, #DD0000, #BB0000) !important;
    border: solid 1px #BB0000;
    box-shadow: none;
}

.button:hover, a.button:hover, input.tree-button:hover, .small-button:hover, a.small-button:hover {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #e7e7e7, #eeeeee);
    background-image: -moz-linear-gradient(top, #e7e7e7, #eeeeee);
    background-image: -ms-linear-gradient(top, #e7e7e7, #eeeeee);
    background-image: -o-linear-gradient(top, #e7e7e7, #eeeeee);
    background-image: linear-gradient(top, #e7e7e7, #eeeeee);
    box-shadow: 0 -1px 0 0 #fff inset;
}

.button.dark:hover, .small-button.dark:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c5c7c7), to(#e3e5e6));
    background-image: -webkit-linear-gradient(top, #c5c7c7, #e3e5e6);
    background-image: -moz-linear-gradient(top, #c5c7c7, #e3e5e6);
    background-image: -ms-linear-gradient(top, #c5c7c7, #e3e5e6);
    background-image: -o-linear-gradient(top, #c5c7c7, #e3e5e6);
    background-image: linear-gradient(top, #c5c7c7, #e3e5e6);
    box-shadow: none;
}

.primarybutton:hover, a.primarybutton:hover {
    background-color: #f36500;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f36500), to(#f89c1f)) !important;
    background-image: -webkit-linear-gradient(top, #f36500, #f89c1f) !important;
    background-image: -moz-linear-gradient(top, #f36500, #f89c1f) !important;
    background-image: -ms-linear-gradient(top, #f36500, #f89c1f) !important;
    background-image: -o-linear-gradient(top, #f36500, #f89c1f) !important;
    background-image: linear-gradient(top, #f36500, #f89c1f) !important;
    box-shadow: none;
}

.button.red:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BB0000), to(#DD0000)) !important;
    background-image: -webkit-linear-gradient(top, #BB0000, #DD0000) !important;
    background-image: -moz-linear-gradient(top, #BB0000, #DD0000) !important;
    background-image: -ms-linear-gradient(top, #BB0000, #DD0000) !important;
    background-image: -o-linear-gradient(top, #BB0000, #DD0000) !important;
    background-image: linear-gradient(top, #BB0000, #DD0000) !important;
    box-shadow: none;
}

.primarybutton.disabled {
    background-image: url('images/grid-button-disabled.png') !important;
    color: #c3a085 !important;
    border: solid 1px #f8c79f !important;
}

.button.disabled {
    background-image: url('images/grid-item-button-disabled.png') !important;
    color: #b8c3cf !important;
    border: solid 1px #d9dbdc !important;
}

a.primarybutton, a.button {
    line-height: 20px;
}

    a.button.cut > span {
        background: url('images/icon-cut.png') no-repeat left top;
        width: 27px;
        height: 18px;
        text-indent: -9999px;
        display: inline-block;
        margin-right: 10px;
    }

.small-button {
    line-height: 12px !important;
    padding: 4px 10px !important;
    font-size: 10px !important;
    font-weight: normal !important;
}

div.grid-button, div.grid-bulk-button, div.grid-button-edit, ul.grid-button {
    float: left;
    margin-right: 10px;
    border-radius: 3px;
    background-color: #f36500;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f89c1f), to(#f36500)) !important;
    background-image: -webkit-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -moz-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -ms-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -o-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: linear-gradient(top, #f89c1f, #f36500) !important;
    border-top: solid 1px #f68300;
    border-right: solid 1px #f57e00;
    border-bottom: solid 1px #f79540;
    border-left: solid 1px #f5810b;
    cursor: pointer;
}

    div.grid-button:hover, div.grid-bulk-button:hover, div.grid-button-edit:hover, ul.grid-button:hover {
        background-color: #f36500;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f36500), to(#f89c1f)) !important;
        background-image: -webkit-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: -moz-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: -ms-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: -o-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: linear-gradient(top, #f36500, #f89c1f) !important;
    }

div.grid-select {
    margin-right: 10px;
}

    div.grid-select select {
        padding: 5px;
    }

div.grid-item-button {
    float: left;
    margin-right: 10px;
    border-radius: 3px;
    border-top: solid 1px #e7e7e7;
    border-right: solid 1px #d5d5d5;
    border-bottom: solid 1px #d5d5d5;
    border-left: solid 1px #dcdcdc;
    color: #616161;
    background-color: #eeeeee;
    background-image: -webkit-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -moz-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -ms-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -o-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: linear-gradient(top, #eeeeee, #e7e7e7);
    text-decoration: none;
    box-shadow: 0 1px 0 0 #fff inset;
}

    div.grid-item-button.dark {
        border: solid 1px #c9cccd;
        background-color: #e3e5e6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e5e6), to(#c5c7c7));
        background-image: -webkit-linear-gradient(top, #e3e5e6, #c5c7c7);
        background-image: -moz-linear-gradient(top, #e3e5e6, #c5c7c7);
        background-image: -ms-linear-gradient(top, #e3e5e6, #c5c7c7);
        background-image: -o-linear-gradient(top, #e3e5e6, #c5c7c7);
        background-image: linear-gradient(top, #e3e5e6, #c5c7c7);
        box-shadow: none;
    }

    div.grid-item-button:hover {
        background-color: #eeeeee;
        background-image: -webkit-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: -moz-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: -ms-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: -o-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: linear-gradient(top, #e7e7e7, #eeeeee);
        box-shadow: 0 -1px 0 0 #fff inset;
    }

    div.grid-item-button.dark:hover {
        border: solid 1px #c9cccd;
        background-color: #e3e5e6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#c5c7c7), to(#e3e5e6));
        background-image: -webkit-linear-gradient(top, #c5c7c7, #e3e5e6);
        background-image: -moz-linear-gradient(top, #c5c7c7, #e3e5e6);
        background-image: -ms-linear-gradient(top, #c5c7c7, #e3e5e6);
        background-image: -o-linear-gradient(top, #c5c7c7, #e3e5e6);
        background-image: linear-gradient(top, #c5c7c7, #e3e5e6);
        box-shadow: none;
    }

ul.grid-item-action, ul.drop-menu.with-bg {
    border-top: solid 1px #e7e7e7;
    border-right: solid 1px #cdcdcd;
    border-bottom: solid 1px #c9c9c9;
    border-left: solid 1px #e6e6e6;
    border-radius: 3px;
    background-color: #bbbbbb;
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    padding: 0;
    margin-right: 10px;
}

    ul.grid-item-action.drop-menu > li.hasSubMenu, ul.drop-menu.with-bg > li.hasSubMenu {
        background: url('images/arrow_down_white.png') no-repeat 95% center;
        padding: 0 20px 0 0;
        line-height: 1;
    }

    ul.grid-item-action.drop-menu > li > a, ul.drop-menu.with-bg > li > a {
        color: #616161;
        background-color: #eeeeee !important;
        background-image: none;
        background-image: -webkit-linear-gradient(top, #eeeeee, #e7e7e7) !important;
        background-image: -moz-linear-gradient(top, #eeeeee, #e7e7e7) !important;
        background-image: -ms-linear-gradient(top, #eeeeee, #e7e7e7) !important;
        background-image: -o-linear-gradient(top, #eeeeee, #e7e7e7) !important;
        background-image: linear-gradient(top, #eeeeee, #e7e7e7) !important;
        box-shadow: 0 1px 0 0 #fff inset;
        line-height: 31px;
        display: inline-block;
        padding: 0 18px;
        border-radius: 3px;
    }

    ul.grid-item-action.drop-menu > li:hover > a, ul.drop-menu.with-bg > li:hover > a {
        background-image: none;
        background-image: -webkit-linear-gradient(top, #e7e7e7, #eeeeee) !important;
        background-image: -moz-linear-gradient(top, #e7e7e7, #eeeeee) !important;
        background-image: -ms-linear-gradient(top, #e7e7e7, #eeeeee) !important;
        background-image: -o-linear-gradient(top, #e7e7e7, #eeeeee) !important;
        background-image: linear-gradient(top, #e7e7e7, #eeeeee) !important;
        box-shadow: 0 -1px 0 0 #fff inset;
    }

div.right-column div.grid-link {
    border-right: solid 1px #d2d2d2;
    padding-right: 10px;
    margin-top: 9px;
}

    div.right-column div.grid-link input.grid-link {
        margin-top: 0;
    }

div.grid-link {
    float: left;
    margin-right: 10px;
    border: 0;
    background: transparent;
}

    div.grid-link input[type=button], div.grid-link input[type=submit] {
        background: transparent;
        border: 0;
        color: #1c68b5;
        cursor: pointer;
        margin-top: 6px;
        padding-left: 15px;
        font-size: 13px;
    }

        div.grid-link input[type=button]:hover, div.grid-link input[type=submit]:hover {
            text-decoration: underline;
        }

    div.grid-link input.excel-item {
        background: url('images/icon-excel.png') no-repeat left center;
    }

    div.grid-link input.csv-item {
        background: url('images/icon-csv.png') no-repeat left center;
    }

div.grid-actions .right-column ul.drop-menu, div.grid-actions .middle-column ul.drop-menu {
    margin-right: 0;
}

div.grid-button input.grid-button, div.grid-item-button input.grid-item-button, div.grid-bulk-button input.grid-bulk-button,
div.grid-button-edit input.grid-button-edit {
    background-color: transparent;
    border: 0;
    font-size: 12px;
    padding: 5px 8px 7px 20px;
    cursor: pointer;
    height: 30px;
}

div.grid-button input.grid-button, div.grid-button input.grid-button-edit {
    color: #fff;
    background: url('images/icon-add-white.png') no-repeat 5px center;
}

div.tab-row div.grid-button input.grid-button, div.tab-row div.grid-item-button input.grid-item-button {
    padding-left: 8px;
    background: none;
}

div.grid-button input.no-icon {
    background-image: none;
    padding-left: 8px;
}

div.grid-button input.grid-button-refresh {
    background: url('images/icon-refresh-white.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-item-button input.grid-button-refresh {
    background: url('images/icon-refresh.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-button-edit input.grid-button-edit {
    color: #fff;
    background: url('images/icon-edit-white.png') no-repeat 5px center;
}

div.grid-bulk-button input.grid-bulk-button {
    padding-left: 8px;
    color: #fff;
}

div.grid-item-button input.grid-item-button {
    color: #54677d;
}

div.grid-item-button input.edit-page {
    background: url('images/icon-edit-page.png') no-repeat 5px center;
    padding-left: 24px;
}

div.grid-item-button input.view-item {
    background: url('images/icon-view.png') no-repeat 5px center;
    padding-left: 24px;
}

div.grid-item-button input.publish {
    background: url('images/icon-publish.png') no-repeat 5px center;
}

div.grid-item-button input.add-item {
    background: url('images/icon-add-blue.png') no-repeat 5px center;
}

div.grid-item-button input.edit-properties {
    background: url('images/icon-gear.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-item-button input.delete-item {
    background: url('images/icon-delete.png') no-repeat 5px center;
}

div.grid-item-button input.favorite-item {
    background: url('images/icon-favorite.png') no-repeat 5px center;
}

div.grid-item-button input.followup-item {
    background: url('images/icon-flag.png') no-repeat 5px center;
}

div.grid-item-button input.edit-item {
    background: url('images/icon-edit.png') no-repeat 5px center;
}

div.grid-item-button input.approve-item {
    background: url('images/icon-check.png') no-repeat 5px center;
}

div.grid-item-button input.unapprove-item {
    background: url('images/icon-delete-cross.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-item-button input.folder-item {
    background: url('images/icon-folder.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-item-button input.compare-item {
    background: url('images/icon-magnify.png') no-repeat 5px center;
}

div.grid-item-button input.publish-item {
    background: url('images/icon-publish.png') no-repeat 5px center;
}

div.grid-item-button input.reply-item {
    background: url('images/icon-reply.png') no-repeat 5px center;
}

div.grid-item-button input.rollback-item {
    background: url('images/icon-rollback.png') no-repeat 5px center;
}

div.grid-item-button input.download {
    background: url('images/icon-download.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-item-button input.activate {
    background: url('images/icon-activate.png') no-repeat 5px center;
}

div.grid-item-button input.deactivate {
    background: url('images/icon-deactivate.png') no-repeat 5px center;
}

div.grid-item-button input.connect {
    background: url('images/icon-check.png') no-repeat 5px center;
}

div.grid-item-button input.disconnect {
    background: url('images/icon-deactivate.png') no-repeat 5px center;
}

div.grid-item-button input.archive-item {
    background: url('images/icon-archive.png') no-repeat 5px center;
}

div.grid-item-button input.assign-item {
    background: url('images/icon-assign.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-button input.assign-item-white {
    background: url('images/icon-assign-white.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-button input.view-item-white {
    background: url('images/icon-view-white.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-button input.translate-item-white {
    background: url('images/icon-globe-white.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-item-button input.translate-item {
    background: url('images/icon-translate.png') no-repeat 5px center;
}

div.grid-item-button input.submit-item {
    background: url('images/icon-globe.png') no-repeat 5px center;
}

div.grid-item-button input.replace-item {
    background: url('images/icon-replace.png') no-repeat 5px center;
}

div.grid-item-button input.import-item {
    background: url('images/icon-import.png') no-repeat 5px center;
    padding-left: 22px;
}

div.grid-item-button input.copy-item {
    background: url('images/icon-copy.png') no-repeat 5px center;
}

div.grid-item-button input.permission-item {
    background: url('images/icon-permissions.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-item-button input.email-item {
    background: url('images/icon-email.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-item-button input.duplicate-item {
    background: url('images/icon-duplicate.png') no-repeat 5px center;
    padding-left: 30px;
}

div.grid-item-button input.cancel-item {
    background: url('images/icon-delete-cross.png') no-repeat 5px center;
    padding-left: 25px;
}

div.grid-item-button input.overlay-item {
    background: url('images/icon-overlay.png') no-repeat 5px center;
    padding-left: 22px;
}

div.grid-item-button input.visitor-item {
    background: url('images/icon-visitor.png') no-repeat 5px center;
    padding-left: 22px;
}

div.toggle-links a, div.toggle-links a.selected {
    float: left;
    border-top: solid 1px #e7e9e9;
    border-right: solid 1px #b4b5b6;
    border-bottom: solid 1px #b4b5b6;
    border-left: solid 1px #d5d7d8;
    padding: 6px 8px;
    color: #54677d;
    background: url('images/toggle-links.png') repeat-x left top;
    text-decoration: none;
    font-size: 12px;
}

    div.toggle-links a.selected, div.toggle-links a:hover {
        border-top: solid 1px #99999a;
        border-right: solid 1px #d5d7d8;
        border-bottom: solid 1px #c7c7c7;
        border-left: solid 1px #99999a;
        color: #838d98;
        background: url('images/toggle-links-selected.png') repeat-x left top;
    }

ul.drop-menu > li {
    font-weight: normal;
    cursor: pointer;
    margin-right: 5px;
}

ul.drop-menu > li {
    color: #333333;
    line-height: 24px;
}

.grid-actions .right-column ul.drop-menu > li, .grid-actions .middle-column ul.drop-menu > li {
    background-color: transparent;
    line-height: 17px;
}

.grid-actions .right-column ul.drop-menu, .grid-actions .middle-column ul.drop-menu {
    margin-top: 9px;
}

input.gray-medium-button[type=button], input.gray-medium-button[type=button]:hover, input.gray-medium-button[type=submit], input.gray-medium-button[type=submit]:hover, a.gray-medium-button, a.gray-medium-button:hover, a.gray-medium-button:active, a.gray-medium-button:visited {
    border-radius: 3px;
    font-weight: bold !important;
    font-size: 13px !important;
    padding: 0 13px;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
    background-color: #e6e6e6;
    color: #5e5e5e !important;
    box-shadow: none;
    line-height: 28px;
    height: 28px;
}

input.gray-small-button[type=button], input.gray-small-button[type=button]:hover, input.gray-small-button[type=submit], input.gray-small-button[type=submit]:hover, a.gray-small-button, a.gray-small-button:hover, a.gray-small-button:active, a.gray-small-button:visited {
    border-radius: 3px;
    font-weight: bold !important;
    font-size: 12px !important;
    padding: 0 13px;
    border: 0;
    cursor: pointer;
    background-color: #e6e6e6;
    color: #5e5e5e;
    box-shadow: none;
    line-height: 21px;
    height: 21px;
}

    a.gray-medium-button, a.gray-medium-button:hover, a.gray-medium-button:active, a.gray-medium-button:visited, a.gray-small-button, a.gray-small-button:hover, a.gray-small-button:active, a.gray-small-button:visited {
        display: inline-block;
        text-decoration: none;
    }

input.gray-right-arrow-button[type=button], input.gray-right-arrow-button[type=submit], input.medium-button[type=button]:hover, input.medium-button[type=submit]:hover, a.gray-right-arrow-button, a.gray-right-arrow-button:hover, a.gray-right-arrow-button:active, a.gray-right-arrow-button:visited, input.gray-left-arrow-button[type=button], input.gray-left-arrow-button[type=submit], input.medium-button[type=button]:hover, input.medium-button[type=submit]:hover, a.gray-left-arrow-button, a.gray-left-arrow-button:hover, a.gray-left-arrow-button:active, a.gray-left-arrow-button:visited {
    border-radius: 3px;
    font-weight: bold !important;
    font-size: 11px !important;
    padding: 0 20px;
    line-height: 22px;
    height: 22px;
    border: 0;
    cursor: pointer;
    background-color: #e6e6e6;
    color: #5e5e5e;
    box-shadow: none;
    background-image: url(images/gray-right-arrow.png);
    background-repeat: no-repeat;
    background-position: 80% 60%;
}

    input.gray-left-arrow-button[type=button], input.gray-left-arrow-button[type=submit], input.medium-button[type=button]:hover, input.medium-button[type=submit]:hover, a.gray-left-arrow-button, a.gray-left-arrow-button:hover, a.gray-left-arrow-button:active, a.gray-left-arrow-button:visited {
        background-image: url(images/gray-left-arrow.png);
        background-repeat: no-repeat;
        background-position: 10% 60%;
    }

.grid-loading, .tree-loading {
    text-align: center;
    vertical-align: middle;
    background-color: #E2E2E2;
}

    .grid-loading .loading-spinner {
        padding: 40px 60px;
        position: absolute;
        top: 50px;
        left: 40%;
    }

.checkbox-list, .checkboxlist {
    border: solid 1px #d2d2d2;
    padding: 10px;
    margin-top: 5px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
}

.radiobutton-list td {
    padding-right: 10px;
}


p.help-text {
    font-size: 11px;
    font-style: italic;
    margin-bottom: 10px;
}

div.modal-content p.help-text {
    margin-top: -15px;
}
/* Global form structure styles */
div.form-row, div.form-multi-row, div.form-button-row, div.top-button-row {
    margin-bottom: 10px;
    clear: both;
}

label.form-label {
    display: inline-block;
    text-align: left;
    padding: 3px 10px 0 0;
    min-width: 100px;
    float: left;
}

    label.form-label .form-help {
        display: inline-block;
        margin: 3px 0 0 5px;
        vertical-align: top;
        cursor: pointer;
    }

div.form-value {
    zoom: 1;
    display: inline-block;
    text-align: left;
    clear: right;
    float: left;
}

    div.form-value a {
        display: block;
        padding-top: 5px;
    }

div.form-row .check-box span {
    padding-top: 0;
}

div.form-row.check-box > input[type=checkbox] {
    margin: 3px 5px 0 0;
    float: left;
    width: 13px;
}

div.form-row.check-box > label {
    clear: right;
    float: left;
    width: 95%;
    font-weight: bold;
}

div.form-footer {
    margin: 10px 0px;
    text-align: right;
}

div.text-value {
    padding-top: 3px;
}

div.checkbox-value input[type=checkbox] {
}

div.button-row {
    text-align: right;
    padding: 8px 0;
}

div.top-button-row {
    margin-bottom: 20px;
    text-align: right;
}

    div.button-row input, div.top-button-row input {
        margin-left: 10px;
    }

label.form-label .req, .form-label .req, .req {
    color: #c96600;
}

.form-edit-row label.form-label {
    width: 100%;
    padding-bottom: 5px;
}

    .form-edit-row label.form-label .small-button {
        float: right;
    }

.form-header {
    margin-bottom: 15px;
}

    .form-header h2 {
        float: left;
    }

    .form-header a, .form-header input {
        float: right;
        margin-right: 5px;
    }

.form-row .multi-column > * {
    float: left;
    margin-right: 10px;
    padding-top: 0px !important;
}

.form-row .form-value.dropdowns select {
    float: left;
    margin-left: 10px;
}

    .form-row .form-value.dropdowns select:first-child {
        margin-left: 0;
    }

.form-row .form-value.radio-buttons li {
    float: left;
    margin-left: 10px;
}

    .form-row .form-value.radio-buttons li:first-child {
        margin-left: 0;
    }

    .form-row .form-value.radio-buttons li > input {
        float: left;
        margin: 3px 0 0 0;
    }

    .form-row .form-value.radio-buttons li > label {
        float: left;
        margin-left: 5px;
    }

.form-row .form-value.mixed-controls > * {
    float: left;
    margin-left: 5px;
}

    .form-row .form-value.mixed-controls > *:first-child {
        margin-left: 0;
    }

.form-row .form-value.mixed-controls > input[type=radio] {
    margin-top: 5px;
    margin-right: 0;
}

.form-row .form-value.mixed-controls > label {
    margin-top: 2px;
}

.form-row .form-value.check-boxes input[type=checkbox] {
    float: left;
    margin: 3px 5px 0 0;
}

.form-row .form-value.check-boxes label {
    margin-right: 10px;
    float: left;
}
/* Global calendar image and textbox style */
div.calendar-value {
    border: solid 1px #c7c8c9;
    background-color: #fff;
    padding: 3px;
}

    div.calendar-value .textbox, div.calendar-value .textBoxes, div.calendar-value input[type=text] {
        border: 0;
        padding: 0;
        background-color: #fff;
        color: #35383A;
        font-size: 13px;
        float: left;
    }

    div.calendar-value span {
        padding-top: 1px;
        float: left;
    }

        div.calendar-value span img, div.calendar-value img {
            float: left;
            padding: 1px 0 2px 0;
            cursor: pointer;
        }
/* Navigation Links */
div.navigation-bar {
    border-bottom: solid 1px #d2d2d2;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

div.navigation-links {
    float: left;
}

    div.navigation-links a, div.navigation-links a:active, div.navigation-links a:hover, div.navigation-links a:visited {
        color: #9AA2A8;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin-right: 20px;
        padding-bottom: 10px;
        text-decoration: none;
    }

        div.navigation-links a.active, div.navigation-links a:hover {
            color: #000000 !important;
            background: url('images/active-step.png') no-repeat center bottom;
        }

div.sub-navigation-bar {
    margin-bottom: 20px;
}

    div.sub-navigation-bar a, div.sub-navigation-bar a:active, div.sub-navigation-bar a:hover, div.sub-navigation-bar a:visited {
        color: #9AA2A8;
        text-decoration: none;
        display: inline-block;
        margin-right: 20px;
        font-weight: bold;
    }

        div.sub-navigation-bar a.selected, div.sub-navigation-bar a:hover {
            color: #000;
        }
/* Page layout styles */
div.container {
    position: relative;
    min-height: 100%;
}

div.wrapper {
    width: 100%;
    min-width: 1260px;
    min-height: 350px;
    overflow: hidden;
    padding-bottom: 150px;
    border-top: solid 3px #275b9f;
}

div.header-wrapper {
    width: 100%;
    min-width: 1260px;
    background-color: #000;
}

div.site-header-wrapper {
    width: 100%;
    min-width: 1260px;
    background: #000000 url('images/header-bg.png') repeat-x left top;
}

    div.site-header-wrapper div.site-header {
        margin: 0 auto;
        padding: 0 8px;
        width: 1244px;
    }

div.site-header .left-header {
    float: left;
    width: 860px;
    border-right: solid 1px #282829;
}

    div.site-header .left-header .bottom-section .global-navigation {
        margin-top: 1px;
    }

div.site-header .right-header {
    float: right;
    width: 362px;
    padding-left: 20px;
    border-left: solid 1px #5a5a5a;
}

    div.site-header .right-header .top-section {
        margin: 10px 0;
        min-height: 44px;
    }

div.product-nav ul.global-navigation.iapps-navigation .level-0 > a {
    font-family: newjunebookregular, arial;
    text-transform: uppercase;
    font-size: 13px;
}

div.product-nav .left-header {
    float: left;
    border-right: solid 1px #282828;
    width: 882px;
}

div.product-nav ul.global-navigation {
    float: left;
    padding-top: 25px;
}

    div.product-nav ul.global-navigation > li > a {
        color: #c7c7c7;
        text-decoration: none;
        font-size: 13px;
        font-weight: bold;
        display: block;
        padding: 11px 15px 11px 35px;
    }

    div.product-nav ul.global-navigation > li a.iapps-logo {
        padding: 0 30px 0 0;
    }

        div.product-nav ul.global-navigation > li a.iapps-logo img {
            display: block;
            margin-top: -4px;
        }

    div.product-nav ul.global-navigation > li {
        font-size: 15px;
    }

div.product-nav ul.iapps-navigation > li.selected {
    background-color: #333333;
    background-image: -webkit-linear-gradient(#333333, #232324, #000000);
    background-image: -moz-linear-gradient(#333333, #232324, #000000);
    background-image: -ms-linear-gradient(#333333, #232324, #000000);
    background-image: -o-linear-gradient(#333333, #232324, #000000);
    background-image: linear-gradient(#333333, #232324, #000000);
    position: relative;
    top: 1px;
}

    div.product-nav ul.iapps-navigation > li.selected a {
        color: #fff !important;
    }

ul.iapps-navigation > li.cms li.level-1 > a {
    color: #005d9b !important;
}

div.product-nav ul.iapps-navigation li:first-child {
    background: none;
}

div.product-nav ul.iapps-navigation > li.cms > a, div.product-nav ul.iapps-navigation > li.cms > a:hover {
    background: url('images/blue-square-bullet.png') no-repeat 15px center;
}

div.product-nav ul.iapps-navigation > li.commerce > a {
    background: url('images/green-square-bullet.png') no-repeat 15px center;
}

ul.iapps-navigation > li.commerce li.level-1 > a {
    color: #85c551 !important;
}

div.product-nav ul.iapps-navigation > li.marketier > a {
    background: url('images/orange-square-bullet.png') no-repeat 15px center;
}

ul.iapps-navigation > li.marketier li.level-1 > a {
    color: #f59447 !important;
}

div.product-nav ul.iapps-navigation > li.analyzer > a {
    background: url('images/purple-square-bullet.png') no-repeat 15px center;
}

div.product-nav ul.iapps-navigation > li.social > a {
    background: url('images/turquoise-square-bullet.png') no-repeat 15px center;
}

div.product-nav ul.iapps-navigation > li:first-child > a, div.product-nav ul.iapps-navigation > li:first-child > a:hover {
    background: none !important;
}

ul.iapps-navigation > li.analyzer li.level-1 > a {
    color: #864b9e !important;
}

ul.iapps-navigation > li.social li.level-1.no-children > a {
    color: #1f1f1f !important;
    white-space: nowrap;
}

ul.iapps-navigation > li.cms li.level-1 > a, ul.iapps-navigation > li.commerce li.level-1 > a, ul.iapps-navigation > li.marketier li.level-1 > a, ul.iapps-navigation > li.analyzer li.level-1 > a {
    text-decoration: none;
    cursor: text;
    font-size: 15px !important;
    margin-bottom: 10px;
}

div.product-nav ul.global-navigation li.level-2.hasChildren {
    float: left;
}

li.user-dropdown, li.siteeditor-dropdown, div.search-help li.search {
    position: relative;
}

    li.user-dropdown > a, li.siteeditor-dropdown > a {
        cursor: pointer;
        background: url('images/gray_down_arrow.png') no-repeat right center;
        padding-right: 13px !important;
        display: block;
    }

    li.user-dropdown > a {
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    li.user-dropdown:hover > a, li.siteeditor-dropdown:hover > a {
        text-decoration: none;
        color: #fff !important;
        background: url('images/arrow_down_white.png') no-repeat right center;
    }

    li.user-dropdown > ul, li.siteeditor-dropdown > ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        border: solid 1px #d2d2d2;
        z-index: 99;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    li.user-dropdown:hover > ul, li.siteeditor-dropdown:hover > ul {
        display: block;
    }

    li.user-dropdown > ul li, li.siteeditor-dropdown > ul li {
        float: none !important;
        padding: 5px 10px;
        white-space: nowrap;
    }

        li.user-dropdown > ul li a, li.siteeditor-dropdown > ul li a {
            display: block;
        }

        li.user-dropdown > ul li:hover, li.siteeditor-dropdown > ul li:hover {
            background-color: #c7c7c7;
        }

        li.user-dropdown > ul li a, li.siteeditor-dropdown > ul li a {
            color: #333 !important;
            text-decoration: none !important;
        }

    li.user-dropdown .iapps-usage {
        background: url('images/icon-exclamation.png') no-repeat 5px center;
        padding-left: 25px;
        font-weight: bold;
    }

div.site-header .right-header .site-utility-search > .clear-fix {
    color: #c9c9c9;
}

div.site-header .right-header .site-utility-search a {
    color: #999;
}

div.site-header .right-header .site-utility-search ul.utility-nav > li.site-search {
}

li.site-search.ui-front {
    position: relative;
}

div.search-help li.site-search.ui-front {
    float: left;
    margin-right: 100px;
}

li.site-search input {
    border: solid 1px #d2d2d2;
    height: 15px;
    width: 335px;
    padding-right: 20px;
    background: #fff url('images/icon-dropdown.png') no-repeat right center;
}

    li.site-search input.disabled {
        background: none;
    }

li.site-search.ui-front .ui-autocomplete {
    background: #fff;
    border: solid 5px #1F1F1F;
    position: absolute;
    color: #666;
    width: 400px;
    z-index: 9999;
    box-shadow: 0 5px 5px #B8B8B8;
    max-height: 600px;
    overflow-y: auto;
}

li.site-search.ui-front .ui-helper-hidden-accessible {
    display: none;
}

li.site-search.ui-front .ui-autocomplete > li {
    padding: 10px;
}

    li.site-search.ui-front .ui-autocomplete > li:hover {
        background: #f4f4f4;
    }

        li.site-search.ui-front .ui-autocomplete > li:hover a {
            text-decoration: none;
        }

    li.site-search.ui-front .ui-autocomplete > li.category-section {
        background: #f4f4f4 url('images/type-ahead-bg.png') repeat left top;
    }

        li.site-search.ui-front .ui-autocomplete > li.category-section > a {
            text-decoration: underline;
            display: inline-block;
        }

            li.site-search.ui-front .ui-autocomplete > li.category-section > a.category-show-all {
                float: right;
            }

    li.site-search.ui-front .ui-autocomplete > li span {
        padding: 0 10px;
        width: 110px;
        display: inline-block;
    }

    li.site-search.ui-front .ui-autocomplete > li a {
        color: #000 !important;
    }

div.header-wrapper div.site-utility-wrapper {
    border-top: solid 1px #404040;
    margin-top: -1px;
}


    div.header-wrapper div.site-utility-wrapper div.site-utility {
        margin: 0 auto;
        padding: 0 8px;
        width: 1244px;
    }

ul.global-navigation {
    float: left;
    position: relative;
    z-index: 500;
}

    ul.global-navigation h2, ul.iapps-navigation li.heading > a {
        font-size: 14px;
        padding-bottom: 5px;
        font-weight: bold;
        white-space: nowrap;
    }

    ul.global-navigation li.level-1 {
        padding-left: 20px;
    }

        ul.global-navigation li.level-1:first-child, ul.global-navigation .mn-site-activity li.level-1 {
            padding-left: 0;
        }

    ul.global-navigation li.level-2 h2, ul.iapps-navigation li.heading > a {
        font-size: 13px;
        font-weight: bold;
    }

    ul.global-navigation li.level-2, ul.global-navigation li.level-3 {
        padding: 0 0 5px 10px;
    }

        ul.global-navigation li.level-3:last-child {
            padding-bottom: 0;
        }

ul.iapps-navigation li.level-2, ul.iapps-navigation li.level-3 {
    padding: 0;
}

ul.global-navigation li.level-3, ul.iapps-navigation li.level-3 {
    padding-left: 10px;
}

ul.global-navigation li.level-2 {
    padding-left: 0;
}

ul.global-navigation > li {
    float: left;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
}

    ul.global-navigation > li:first-child {
        border-left: solid 1px #000;
    }

ul.global-navigation.iapps-navigation > li {
    border: 0;
}

ul.global-navigation > li > a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 7px 20px;
}

ul.global-navigation > li:first-child > a {
    padding-left: 0;
}

ul.global-navigation > li.hasChildren > a {
    padding-right: 25px;
    background: transparent url('images/gray_down_arrow.png') no-repeat 92% center;
}

ul.global-navigation > li.hasChildren:hover {
    border-top: solid 1px #858383;
    border-left: solid 1px #858383;
    border-right: solid 1px #858383;
}

ul.iapps-navigation > li.hasChildren, ul.iapps-navigation > li.hasChildren:hover {
    border: 0;
}

ul.global-navigation > li.hasChildren:hover > a {
    background: #fff url('images/gray_dark_down_arrow.png') no-repeat 92% center;
    color: #575656;
}

ul.global-navigation > li > ul {
    visibility: hidden;
    position: absolute;
    z-index: 501;
    background: #e3e4e5 url('images/mega_menu_bg.png') repeat-x left top;
    border: solid 1px #858383;
    border-top: 0;
    box-shadow: 3px 3px 3px #a8a8a8;
    padding: 20px;
    display: table;
    left: 0;
}

ul.iapps-navigation {
    z-index: 502 !important;
}

    ul.iapps-navigation > li > ul {
        z-index: 503 !important;
        background-color: #e6e6e6;
        background-image: none;
        border: solid 1px #898989;
        border-top: 0;
        box-shadow: 3px 3px 3px #a4a3a3;
        display: table;
    }

    ul.iapps-navigation > li.hasChildren:hover, ul.iapps-navigation > li.no-access:hover {
        background-color: #e6e6e6;
    }

    ul.iapps-navigation > li:hover a {
        color: #333 !important;
    }

ul.global-navigation > li > ul li a {
    display: block;
    color: #1f1f1f;
}

    ul.global-navigation > li > ul li a:hover {
        color: #1c68b5;
    }

ul.global-navigation > li > ul > li {
    display: table-cell;
    padding: 0 10px;
}

ul.global-navigation .mn-site-editor ul {
    width: 150px;
}

ul.global-navigation .mn-site-assets ul li {
    width: 150px;
}

ul.global-navigation .mn-site-activity ul li {
    width: 150px;
}

ul.global-navigation .mn-administration ul li {
    width: 180px;
    margin-right: 20px;
}

ul.iapps-navigation .mn-administration ul li {
    margin-right: 0;
}

ul.global-navigation .level-1 {
    border-left: solid 1px #e7e8e9;
}

ul.iapps-navigation .level-1 {
    border-left: solid 1px #b6b3b3;
}

ul.global-navigation .mn-site-activity .level-1 {
    border-left: 0;
}

ul.global-navigation .level-1:first-child {
    border-left: 0;
}

ul.iapps-navigation .level-1 h2, ul.iapps-navigation .level-2 h2, ul.iapps-navigation .level-3 h2, ul.iapps-navigation .level-1 a {
    font-size: 12px !important;
}

ul.iapps-navigation .level-1 > h2 {
    margin-bottom: 10px;
}

div.product-nav ul.iapps-navigation .level-1 > h2 {
    font-size: 14px !important;
}

ul.iapps-navigation .level-2 {
    margin-left: 10px;
}

    ul.iapps-navigation .mn-reports .level-2, ul.iapps-navigation .level-2:first-child, ul.iapps-navigation .mn-emails .level-2, ul.iapps-navigation .mn-autoresponders .level-2, ul.iapps-navigation .mn-contacts .level-2, ul.iapps-navigation .analyzer .level-2, ul.iapps-navigation .social .level-2 {
        margin-left: 0;
    }

div.site-utility ul.global-navigation .level-2:first-child {
    padding-top: 5px;
}

ul.iapps-navigation .level-3 {
    padding-left: 0 !important;
}

ul.iapps-navigation .level-4, ul.iapps-navigation .analyzer .level-3 {
    padding-left: 10px;
}

ul.iapps-navigation .cms .level-2 {
    width: 125px !important;
}

ul.iapps-navigation .cms .level-2, ul.iapps-navigation .commerce .level-2, ul.iapps-navigation .marketier .level-2, ul.iapps-navigation .analyzer .level-2 {
    width: 130px;
}

    ul.iapps-navigation .marketier .level-2.mn-autoresponders {
        width: 150px;
    }

    ul.iapps-navigation .marketier .level-2.mn-emails {
        width: 140px;
    }

ul.iapps-navigation .commerce .mn-administration .level-2 {
    width: 160px !important;
}

ul.iapps-navigation .social .level-1, ul.iapps-navigation .social .level-2 {
    width: 92px;
}

ul.iapps-navigation .cms .mn-administration .level-2, ul.iapps-navigation .marketier .mn-administration .level-2, ul.iapps-navigation .analyzer .mn-administration .level-2 {
    width: 145px !important;
}

ul.iapps-navigation .marketier .mn-autoresponders .level-2 {
    width: 140px;
}

ul.iapps-navigation .analyzer .mn-reporting .level-2 {
    width: 125px !important;
    margin-right: 10px;
}

ul.iapps-navigation .analyzer .mn-administration .level-2 {
    margin-right: 10px;
}

ul.iapps-navigation .level-2 li {
    width: 100% !important;
}

ul.iapps-navigation .level-3 {
    padding-top: 0 !important;
}

div.search-help > ul > li {
    float: left;
    line-height: 1;
    margin-left: 20px;
    padding: 14px 0 9px 0;
}

    div.search-help > ul > li:first-child {
        margin-left: 0;
    }

li.iapps-overage {
    padding: 8px 0 7px 0 !important;
}

    li.iapps-overage img {
        cursor: pointer;
        display: inline-block;
    }

li.user-dropdown > a, div.search-help li.search > a, div.search-help li.siteeditor-dropdown > a, div.search-help li.help > a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
}

div.search-help li.search {
    position: relative;
    margin-left: 15px;
    padding-left: 5px;
}

    div.search-help li.search.selected {
        background-color: #fff;
    }

    div.search-help li.search > a {
        background: url('images/icon-search.png') no-repeat left center;
        padding: 1px 0 0 15px;
        display: inline-block;
    }

div.search-help .search-box {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 3px 3px 3px #666;
    padding: 20px;
    right: 0;
    top: 28px;
    z-index: 999;
    width: 512px;
}

.search-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.search-box .form-value * {
    float: left;
}

.search-box .form-value input[type=text] {
    margin-right: 20px;
    width: 410px;
}

div.site-utility .link-row {
    text-align: right;
    margin-right: 92px;
}

.search-box .link-row a {
    color: #005d9b;
    text-transform: none;
}

.search-box .link-row span, .search-box .link-row a {
    display: inline-block;
    padding-left: 5px;
}

@media (min-width: 1410px) {
    div.site-header-wrapper div.site-header {
        width: 1404px;
    }

        div.site-header-wrapper div.site-header .left-header {
            width: 1020px;
        }

            div.site-header-wrapper div.site-header .left-header .bottom-section {
                margin-left: 75px;
            }
}

div.breadcrumb {
    width: 1244px;
    margin: 0 auto;
    padding: 10px 8px;
}

    div.breadcrumb span, div.breadcrumb a[href~='javascript'] {
        display: inline-block;
        padding-right: 5px;
        font-size: 12px;
        font-weight: bold;
    }

    div.breadcrumb a {
        text-decoration: none;
        color: #666666;
        font-size: 11px;
        font-weight: normal;
        cursor: default;
    }

        div.breadcrumb a[href] {
            color: #1c68b5 !important;
            cursor: pointer;
        }

            div.breadcrumb a[href]:hover {
                text-decoration: underline;
            }

div.contentSection {
    clear: both;
    display: block;
    padding: 30px 8px 10px 8px;
    width: 1244px;
    margin: 0 auto;
}

div.footerWrapper {
    clear: both;
    width: 100%;
    min-width: 1244px;
    border-top: solid 1px #ccc;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding: 20px 0 35px 0;
}

div.footer {
    width: 1220px;
    border-top: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
}

    div.footer div.leftFooter {
        float: left;
        margin-top: 9px;
    }

    div.footer div.rightFooter {
        float: right;
        margin-top: 8px;
    }

div.fixed-action-bg {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
    box-shadow: 0 3px 4px #000;
}

    div.fixed-action-bg > .row {
        background-color: #fff;
        height: 40px;
        width: 100%;
    }

    div.fixed-action-bg > .top-row {
        background-color: #f8f8f8;
        border-bottom: solid 1px #d2d2d2;
        height: 50px;
        width: 100%;
    }

    div.fixed-action-bg > .tab-row {
        height: 42px;
    }

    div.fixed-action-bg > .bottom-row {
        background-color: #f8f8f8;
        border-bottom: solid 1px #d2d2d2;
        height: 50px;
        width: 100%;
        text-align: right;
    }

        div.fixed-action-bg > .bottom-row a {
            background: transparent url("images/action-up-arrow.gif") no-repeat scroll right center;
            display: inline-block;
            padding: 14px 30px 10px 10px;
        }

/* Page Message Container Styles */
div.wrapper div.messageContainer {
    display: block;
    width: 1244px;
    margin: 0 auto;
}

body.popupBody div.messageContainer {
    position: absolute;
}

div.messageContainer .errorMessage, div.messageContainer .successMessage, div.messageContainer .warningMessage {
    border: solid 1px #d99f9f;
    background: #fbedee url('images/icon-error.png') no-repeat 20px 10px;
    padding: 15px 20px 20px 70px;
    color: #434343;
    display: block;
    font-size: 13px;
    margin: -20px 0 10px 0;
    position: relative;
}

body.popupBody div.messageContainer .errorMessage, body.popupBody div.messageContainer .successMessage,
body.popupBody div.messageContainer .warningMessage {
    margin-top: 0;
}

div.messageContainer .successMessage {
    border: solid 1px #8fd88f;
    background: #f1fbef url('images/icon-success.png') no-repeat 20px 10px;
}

div.messageContainer .warningMessage {
    border: solid 1px #ecd576;
    background: #fbfaeb url('images/icon-warning.png') no-repeat 20px 10px;
}

    div.messageContainer .errorMessage .msg-close-handle, div.messageContainer .successMessage .msg-close-handle, div.messageContainer .warningMessage .msg-close-handle {
        position: absolute;
        right: -8px;
        top: -8px;
        background: url('images/icon-close-error.png') left top no-repeat;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

div.messageContainer .successMessage .msg-close-handle {
    background: url('images/icon-close-success.png') left top no-repeat;
}

div.messageContainer .warningMessage .msg-close-handle {
    background: url('images/icon-close-warning.png') left top no-repeat;
}
/* iAPPS tooltip styles */
.iapps-tooltip {
    position: absolute;
    z-index: 9999;
    color: #727578;
    font-size: 12px;
    min-width: 200px;
    max-width: 400px;
    background-color: #fffde8;
    border: solid 1px #e3e3e3;
    padding: 10px;
}

.orange-help {
    background: url('images/icon-lightbulb-orange.png') no-repeat left center;
    padding: 2px 0 2px 25px;
}
/* iAPPS popup styles */
body.popup {
    background-color: transparent;
    padding: 0;
}

iframe.iapps-popup {
    border-radius: 5px;
}

div.iapps-modal {
    background-color: #ffffff;
    float: left;
    min-height: 200px;
    min-width: 350px;
    border-radius: 5px;
}

div.modal-header {
    background-color: #333;
    padding: 10px 25px;
    border-radius: 5px 5px 0 0;
}

    div.modal-header h2 {
        font-size: 15px;
        font-family: NewJuneBold, Arial;
        float: left;
        margin: 0;
        padding: 5px 0px 0px !important;
        color: #fff !important;
        font-weight: bold;
        border: 0 !important;
        background: #333 !important;
    }

    div.modal-header .right-column {
        float: right !important;
        margin: 0 0 0 20px !important;
        width: auto !important;
        height: auto !important;
        padding: 0 !important;
        border: 0 !important;
    }

    div.modal-header a, div.modal-header a:hover {
        color: #fff;
    }

div.modal-content {
    padding: 25px;
    min-height: 100px;
    background-color: #fff;
}

div.modal-footer {
    border-top: solid 1px #d2d2d2;
    padding: 15px 25px;
    text-align: right;
    border-radius: 0 0 5px 5px;
}

    div.modal-footer input[type=button], div.modal-footer input[type=submit] {
        margin-left: 5px;
    }

div.modal-breadcrumb {
    padding: 10px 25px;
    background-color: #f5f5f5;
    border-bottom: solid 1px #d2d2d2;
}

div.iapps-modal.grey-bg-popup {
    background-color: #e8e8e9;
}

    div.iapps-modal.grey-bg-popup > .modal-content {
        background-color: transparent;
    }

    div.iapps-modal.grey-bg-popup > .modal-footer {
        border-top: 0;
    }

.modal-content .grid-section {
    height: 366px;
    border: solid 1px #d2d2d2;
}

div.iAPPSPopupOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background: #a8a8a8;
}

div.loadingSpinner {
    text-align: center;
    padding: 20px 20px;
    min-height: 0;
    min-width: 0;
    border-radius: 5px;
}

.grid-section {
    overflow-x: hidden;
    overflow-y: hidden;
}

/*.select-image-library .modal-content .grid-section {
    height: 411px;
}*/

.display-order .modal-content .grid-section {
    height: auto;
}


/* WYSIWYG custom toolbar styles */
.reTool[title="Image Manager"] {
    visibility: hidden;
}

.reToolbar.Default .InsertImagefromLibrary {
    background-image: url(images/ImageManager.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .LinktoLibrary {
    background-image: url(images/LibraryLink.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .UnsubscribeLink {
    background-image: url(images/unsubscribe-icon.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .ManageLink {
    background-image: url(images/LibraryLink.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .EditImage {
    background-image: url(images/EditImage.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .InsertFlashFromLibrary {
    background-image: url(images/FlashManager.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .InsertProductImage {
    background-image: url(images/InsertProductImage.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .LinktoProduct {
    background-image: url(images/LinktoProduct.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .SnippetManager {
    background-image: url(images/SnippetManager.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .CustomInsertSnippet {
    background-image: url('images/InsertSnippet.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .SaveSelectionAsSnippet {
    background-image: url(images/SaveSelectionAsSnippet.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .InsertImagefromSPLibrary {
    background-image: url(images/ImageManager.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .LinktoSPLibrary {
    background-image: url(images/LibrarySPLink.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .CSSClass {
    background-image: url(images/MultiCssClass.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .sharepoint-text {
    width: 50px !important;
    font-size: 10px;
    font-weight: bold;
    padding: 7px 5px 0 5px;
    display: inline-block;
}

.Default.RadEditor input.primarybutton, .Default.RadEditor input.primarybutton:hover, .Default.RadEditor input.button, .Default.RadEditor input.button:hover {
    font-weight: bold !important;
    font-size: 11px !important;
    color: #102a5c !important;
    cursor: pointer;
    height: 23px;
}

span.iapps-toolbar-text {
    float: left;
    font-weight: bold;
    font-size: 12px;
    padding: 3px;
}

.cke_editor_ckEditor {
    background-color: #ffffff;
}
/* Page header styles */
div.page-header {
    border-bottom: solid 1px #d2d2d2;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

    div.page-header h1 {
        float: left;
    }

    div.page-header a, div.page-header a:hover, div.page-header a:visited, div.page-header input {
        float: right;
        margin: 0 0 0 10px;
        text-decoration: none;
    }

        div.page-header a.hyperlink {
            margin-top: 14px;
        }

            div.page-header a.hyperlink:hover {
                text-decoration: underline;
            }

    div.page-header .text-links {
        margin-top: 12px;
    }

    div.page-header .help-text, div.page-header .help-text:hover {
        float: left;
        background: url('images/icon-orange-question-mark.png') no-repeat left center;
        margin: 2px 0 0 50px;
        padding: 3px 0 3px 30px;
    }

div.contentSection > h1, div.page-header-section {
    background: #686060 url('images/icon-header-general.png') no-repeat 15px center;
    padding: 15px;
    padding-left: 65px;
    border: solid 1px #d2d2d2;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
}

    div.contentSection > h1, div.page-header-section h1 {
        font-family: newjunebookregular, arial;
        color: #fff;
    }

    div.page-header-section h1 {
        float: left;
    }

    div.page-header-section a, div.page-header-section a:hover, div.page-header-section a:visited, div.page-header-section input {
        float: right;
        margin: 0 0 0 10px;
        text-decoration: none;
    }

.grid-actions .row.dark-row h2 {
    font-family: newjunebookregular, arial;
    font-size: 24px;
    padding: 15px 60px;
    background: url('images/icon-header-general.png') no-repeat 15px center;
}

div.contentSection.manage-attributes .page-header-section, div.contentSection.attribute-categories .page-header-section {
    background-image: url('images/icon-attributes.png');
    padding-left: 75px;
}

div.contentSection.image-library.data-library h1 {
    background-image: url('images/icon-image-library.png');
}

div.contentSection.manage-pages h1 {
    background-image: url('images/icon-menus-pages.png');
}

div.contentSection.manage-content-library h1 {
    background-image: url('images/icon-content-items.png');
}

div.contentSection.data-library h1 {
    background-image: url('images/icon-files-media.png');
}

div.contentSection.manage-blogs h1 {
    background-image: url('images/icon-blog.png');
}

div.contentSection.form-library h1 {
    background-image: url('images/icon-forms.png');
}

div.contentSection.manage-genric-comments h1 {
    background-image: url('images/icon-site-comments.png');
}

div.contentSection.manage-page-templates h1 {
    background-image: url('images/icon-page-templates.png');
}

div.page-header {
    border: 0;
    margin-bottom: 0px;
}

div.page-content-section {
    padding: 20px 40px 40px 40px;
    border: solid 1px #d2d2d2;
    border-top: 0;
}

div.dark-section-header {
    border-radius: 5px 5px 0 0;
    border-top: 4px solid #676060;
    margin: 0 0 30px 0;
}

    div.dark-section-header h2 {
        background: none repeat scroll 0 0 #5e5858;
        border-radius: 0 0 5px 5px;
        color: #fff;
        float: left;
        font-family: newjuneboldregular,arial;
        font-size: 16px;
        margin: 0 0 0 20px;
        padding: 10px 25px;
    }

.group-container .group-list {
}

    .group-container .group-list .group-item {
        padding: 10px 30px;
        cursor: pointer;
    }

        .group-container .group-list .group-item.selected {
            background-color: #e3e3e3;
        }

div.container-box {
    background-color: #ebebeb;
    border-radius: 5px;
    border: solid 1px #d6d8d9;
    border-top: 5px solid #676060;
    /*box-shadow: 0 -1px 0 0 #ffffff inset;*/
    min-height: 100px;
    padding: 0 20px 20px;
}

    div.container-box h2 {
        background-color: #5e5858;
        border-radius: 0 0 5px 5px;
        color: #fff;
        float: left;
        font-size: 16px;
        font-weight: normal;
        padding: 10px 20px;
        margin-bottom: 10px;
    }

        div.container-box h2.profile-image {
            background: url("images/icon-profile.png") no-repeat scroll 12px center #5e5858;
            padding: 10px 20px 10px 40px;
        }

    div.container-box.orange {
        border-top-color: #f78c14;
    }

/* change password styles */
div.change-password .form-label {
    width: 140px;
}

div.change-password .error-message {
    color: Red;
    padding: 5px 0px;
}

div.change-password .success-message {
    padding: 10px 0px;
}

div.change-password .modal-content {
    padding: 0;
}

div.change-password .form-section {
    padding: 10px 25px;
    min-height: 200px;
    width: 460px;
}

div.help-box {
    border-top: solid 1px #b6cadf;
    border-left: solid 1px #b6cadf;
    border-radius: 3px 0 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

    div.help-box a {
        display: block;
        background: #edf4fd url('images/icon-page-help.png') no-repeat 10px center;
        padding: 10px 15px 10px 35px;
        color: #3970a8;
        font-size: 13px;
        font-family: Arial;
        font-size: 13px;
    }

div.scroll-box {
    overflow-x: hidden;
    overflow-y: auto;
}
