﻿.validation-summary-errors {
    position: absolute;
    border: solid 1px #ff0000;
    background: #fbedee;
    padding: 20px;
    padding-right: 50px;
    color: #434343;
    display: block;
    font-size: 13px;
    z-index: 9999;
}

    .validation-summary-errors > .validation-summary-close {
        position: absolute;
        right: -8px;
        top: -8px;
        background: url('images/icon-close-error.png') left top no-repeat;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    .validation-summary-errors > span {
        font-weight: bold;
        display: block;
        padding-bottom: 6px;
    }

    .validation-summary-errors > ul li {
        background: #fbedee url('images/red-square-bullet.png') no-repeat left 4px;
        padding-left: 15px;
    }

.validation-summary-valid {
    display: none;
}

div.product-nav-wrapper div.product-nav ul.iapps-navigation > li.cms {
    background: none;
}

    div.product-nav-wrapper div.product-nav ul.iapps-navigation > li.cms:hover {
        background-color: #e6e6e6;
    }

    div.product-nav-wrapper div.product-nav ul.iapps-navigation > li.cms a {
        color: #c7c7c7 !important;
    }

    div.product-nav-wrapper div.product-nav ul.iapps-navigation > li.cms:hover a {
        color: #333 !important;
    }

div.product-nav-wrapper div.product-nav ul.iapps-navigation > li.social {
    background: #000 url('images/current-product.png') repeat-x left top;
}

    div.product-nav-wrapper div.product-nav ul.iapps-navigation > li.social > a {
        color: #fff !important;
    }

div.product-nav-wrapper div.product-nav ul.iapps-navigation > li:first-child, div.product-nav-wrapper div.product-nav ul.iapps-navigation > li:first-child a {
    background: none !important;
}

div.product-nav-wrapper div.product-nav ul.site-dropdown > li.site-search {
    margin: 8px 0;
}

ul.global-navigation .mn-reports .level-1 {
    border-left: 0 none;
    display: block;
    float: none;
    padding-bottom: 5px;
    padding-left: 0;
    min-width: 180px;
}

div.contentSection > h1.reports {
    background-image: url('images/icon-reports.png');
    padding-left: 75px;
}

div.item-preview iframe {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.item-preview .header-wrapper {
    padding: 12px 10px;
    width: auto;
}

    div.item-preview .header-wrapper h1 {
        font-size: 13px;
        font-weight: bold;
    }

    div.item-preview .header-wrapper a {
        color: #999999;
    }

    div.item-preview .header-wrapper ul.left-column {
        display: block;
        float: left;
    }

    div.item-preview .header-wrapper ul.right-column {
        display: block;
        float: right;
    }

    div.item-preview .header-wrapper ul li {
        display: inline-block;
        padding: 4px;
    }

div.form-row label.form-label {
    text-align: right;
}

    div.form-row label.form-label::after {
        content: ":";
    }

    div.form-row label.form-label.no-text:after {
        content: "";
    }

    div.form-row label.form-label:first-letter {
        text-transform: capitalize;
    }

.grid-section {
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: solid 1px #d2d2d2;
}

li.user-dropdown > a, li.siteeditor-dropdown > a, li.site-dropdown > ul > li {
    display: inline-block;
}

div.search-help > ul > li.notifications {
    padding-top: 12px;
    padding-bottom: 2px;
}

.notifications a, .notifications a:hover, .notifications a:visited {
    display: inline-block;
    background: url('images/icon-notification.png') no-repeat left bottom;
    position: relative;
    width: 25px;
    height: 21px;
    text-decoration: none;
}

    .notifications a > span {
        position: absolute;
        top: -3px;
        right: 0px;
        padding: 3px 5px;
        color: #fff;
        background-color: #d9792c;
        font-size: 10px;
        border-radius: 20px 20px 20px 20px;
    }

.treeview {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .treeview .node > div {
        padding: 3px 3px 3px 20px;
    }

    .treeview .node .node > div {
        padding-left: 40px;
    }

    .treeview .node .node .node > div {
        padding-left: 60px;
    }

    .treeview .node > div.selected {
        background-color: #ebebeb;
    }

    .treeview .node .k-top .k-icon, .treeview .node .k-mid .k-icon, .treeview .node .k-bot .k-icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: -15px;
    }

        .treeview .node .k-top .k-icon.k-plus, .treeview .node .k-mid .k-icon.k-plus, .treeview .node .k-bot .k-icon.k-plus {
            background: url('images/dashplus.gif') no-repeat left top;
        }

        .treeview .node .k-top .k-icon.k-minus, .treeview .node .k-mid .k-icon.k-minus, .treeview .node .k-bot .k-icon.k-minus {
            background: url('images/dashminus.gif') no-repeat left top;
        }

    .treeview .node .k-top .k-in, .treeview .node .k-mid .k-in, .treeview .node .k-bot .k-in {
        display: inline-block;
        padding: 2px;
        cursor: pointer;
    }

        .treeview .node .k-top .k-in.k-state-hover, .treeview .node .k-mid .k-in.k-state-hover, .treeview .node .k-bot .k-in.k-state-hover {
            padding: 0px;
            border: solid 2px #1d69b5;
        }

        .treeview .node .k-top .k-in.k-state-selected, .treeview .node .k-mid .k-in.k-state-selected, .treeview .node .k-bot .k-in.k-state-selected {
            background-color: #ebebeb;
        }

ul.drop-menu ul li.child {
    padding-left: 20px;
}

div.view-engagements {
    width: 600px;
}

    div.view-engagements .modal-content {
        min-height: 450px;
    }

    div.view-engagements td:first-child {
        width: 75px;
        text-align: center;
        border-right: 0;
    }

    div.view-engagements td:last-child {
        width: 200px;
    }

    div.view-engagements td.msg-to {
        width: 275px;
        text-align: left;
    }

    div.view-engagements td.msg-status {
        width: 100px;
    }

    div.view-engagements .grid-section {
        overflow-x: hidden;
        overflow-y: auto;
        height: auto;
        max-height: 350px;
    }

    div.view-engagements table.grid {
        border: 0;
    }

    div.view-engagements div.form-row label.form-label {
        text-align: left;
        font-weight: bold;
        min-width: 0;
    }

.social-users {
    border: solid 1px #d2d2d2;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
}

.iapps-grid .iapps-heading-row div.iapps-heading-cell {
    float: left;
    font-weight: bold;
    border-right: 0;
}

.iapps-grid .iapps-row div.iapps-data-cell {
    float: left;
}

div.add-edit-item {
    width: 500px;
    min-height: 200px;
}

    div.add-edit-item .form-label {
        width: 75px;
        min-width: 72px;
    }

    div.add-edit-item input[type=text] {
        width: 400px;
    }

.collection-row h4 a, .collection-row h4 a:hover {
    color: #333333;
    text-decoration: none;
}

    .collection-row h4 a:hover {
        text-decoration: underline;
    }

.collection-row h4.item-read a, .collection-row h4.item-read a:hover {
    color: #808080;
}

.engage {
    min-height: 250px;
}

    .engage p {
        margin-bottom: 10px;
    }

    .engage .form-label {
        width: 108px;
    }

    .engage .form-value span {
        display: inline-block;
    }

#my_activity .middle-cell.deleted h4 {
    text-decoration: line-through;
}

#my_activity .read-more {
    cursor: pointer;
}

#my_activity .broadcast-items .first-cell {
    width: 9%;
    padding-left: 10px;
}

#my_activity .broadcast-items div.count-container, div.conversations div.count-container {
    margin-bottom: 5px;
}

    #my_activity .broadcast-items div.count-container > img, div.conversations div.count-container > img {
        float: left;
    }

    #my_activity .broadcast-items div.count-container > .count, div.conversations div.count-container > .count {
        float: left;
        padding: 3px 5px;
        color: #fff;
        background-color: #bebebe;
        line-height: 1;
        margin-top: 3px;
        padding: 3px 5px;
        border-radius: 0 3px 3px 0;
    }

#my_activity .broadcast-items .middle-cell {
    width: 49%;
}

.send-item {
    width: 900px;
}

    .send-item .modal-content {
        min-height: 430px;
    }

.modal-footer .schedule-date {
    display: inline-block;
    margin-right: 6px;
}

    .modal-footer .schedule-date .disable-state {
        border: solid 1px #C7C8C9;
        background: url('images/calendar-button.png') no-repeat;
        background-position: 10px 5px;
        padding: 4px 16px;
        padding-left: 30px;
        cursor: pointer;
        border-radius: 3px;
    }

div.share-message {
    width: 1020px;
}

.share-message .modal-content {
    height: 600px;
    overflow-y: auto;
}

div.share-message .preview {
    border: solid 1px #d2d2d2;
    padding: 10px 5px 0 5px;
    border-radius: 5px;
    position: relative;
}

    div.share-message .preview > p {
        display: inline-block;
        position: absolute;
        top: -11px;
        background-color: #fff;
        padding: 0 10px;
    }

    div.share-message .preview .form-value a {
        display: inline;
    }

    div.share-message .preview .form-label {
        width: 100px;
    }

    div.share-message .preview .form-value {
        width: 825px;
    }

div.share-message .form-value.message {
    width: 856px;
}

div.share-message .form-value.thumbnail > * {
    float: left;
}

div.share-message .left-column {
    float: left;
    width: 50%;
}

div.share-message .right-column {
    float: left;
    width: 50%;
}

div.share-message .form-value.thumbnail > img {
    display: inline-block;
    margin-right: 10px;
    max-height: 75px;
}

div.share-message .form-value.thumbnail .browse, div.share-message .form-value.thumbnail .remove {
    background: #ebeced url('images/icon-folder.png') no-repeat 6px center;
    padding-left: 30px;
    color: #54677d !important;
}

div.share-message .form-value.thumbnail .remove {
    background-image: url('images/icon-delete-cross.png');
    margin-top: 5px;
}

.social-networks {
    text-align: center;
}

    .social-networks .boxes {
        display: inline-block;
        border: solid 1px #D6D8D9;
        border-radius: 5px 5px 5px 5px;
        color: #54677D;
        font-size: 16px;
        font-weight: bold;
        height: 60px;
        margin: 0 4px;
        padding: 60px 20px 10px 20px;
        text-align: center;
        width: 115px;
    }

        .social-networks .boxes.facebook {
            background: url("images/icon-facebook-48.png") no-repeat scroll center 10px #E4E6E7;
        }

        .social-networks .boxes.twitter {
            background: url("images/icon-twitter-48.png") no-repeat scroll center 10px #E4E6E7;
        }

        .social-networks .boxes.linkedin {
            background: url("images/icon-linkedin-48.png") no-repeat scroll center 10px #E4E6E7;
        }

.sub-channels .facebook {
    background: url('images/icon-facebook.png') no-repeat left center;
}

.sub-channels .facebook-page {
    background: url('images/icon-facebook-page.png') no-repeat left center;
}

.sub-channels .twitter {
    background: url('images/icon-twitter.png') no-repeat left center;
}

.sub-channels .linkedIn {
    background: url('images/icon-linkedIn.png') no-repeat left center;
}

.sub-channels .column1 {
    width: 38%;
    padding-left: 37px !important;
    background-position: 5px center;
}

.sub-channels .column2 {
    width: 28%;
    text-align: center;
}

.sub-channels .column3 {
    width: 29%;
    text-align: center;
}

.sub-channels .column3 {
    width: 29%;
    text-align: center;
}

.right-control .middle-cell .item-url {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 477px;
}

.right-control.iapps-expand-section .middle-cell .item-url {
    width: 625px;
}

.retweet {
    width: 400px;
}

    .retweet .retweet-row, .tweet-reply .tweet-reply-row {
        margin-bottom: 10px;
    }

        .retweet .retweet-row .left-column, .tweet-reply .tweet-reply-row .left-column {
            float: left;
        }

        .retweet .retweet-row .right-column, .tweet-reply .tweet-reply-row .right-column {
            float: right;
        }

.tweet-reply {
    width: 600px;
}

    .tweet-reply textarea {
        width: 478px;
        height: 100px;
    }

div.no-token-message {
    margin-top: 20px;
}

div.view-user-details {
    min-width: 600px;
}

.view-user-details .modal-content {
    min-height: 300px;
}

#socialHelpMessage socialNeedAttentionHelpMessage socialNeedAttentionNoSubChannelHelpMessage .modal-content ul {
    padding-left: 20px;
    width: 800px;
}

#socialNeedAttentionHelpMessage .modal-content ul {
    padding-left: 20px;
    width: 800px;
}

#socialHelpMessage .modal-content ul li {
    list-style-type: disc;
    padding-bottom: 8px;
}

#socialNeedAttentionHelpMessage .modal-content ul li {
    list-style-type: disc;
    padding-bottom: 8px;
}

div.chart-wrapper {
    padding: 20px 40px;
    border: solid 1px #d2d2d2;
    border-top: 0;
}

    div.chart-wrapper div.report-header {
        margin-bottom: 10px;
    }

    div.chart-wrapper .chart-header {
        margin-bottom: 30px;
    }

    div.chart-wrapper div.left-section {
        float: left;
    }

        div.chart-wrapper div.left-section div.form-row label.form-label {
            text-align: left;
            min-width: 0;
        }

    div.chart-wrapper div.right-section {
        float: right;
    }

.tabs-facebook, ul.iapps-tabs li.selected-tab.tabs-facebook {
    background-color: #EDEFF4;
}

.preview-user-info {
    padding-bottom: 4px;
}

    .preview-user-info > * {
        display: block;
        float: left;
    }

    .preview-user-info h3, .preview-link-content h4 {
        color: #3B5998;
    }

    .preview-user-info h3 {
        width: 500px;
        padding-top: 6px;
    }

    .preview-user-info img {
        margin-right: 12px;
    }

    .preview-user-info h3 span {
        color: #999999;
        font-size: 80%;
        font-weight: normal;
        line-height: 18px;
    }

.tabs-twitter .preview-user-info .preview-value {
}

.preview-section .preview-header {
    margin: 6px;
    height: 30px;
}

    .preview-section .preview-header > h3 {
        display: block;
        float: left;
        padding-top: 8px;
    }

    .preview-section .preview-header > div {
        display: block;
        float: right;
        position: relative;
        top: 25px;
    }

.preview-tab-content {
    background-color: #ffffff;
    padding: 12px;
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
}

.compose-message .preview-tab-content {
    max-height: 180px;
}

.preview-tab-details {
    margin-top: 12px;
    border: solid 1px #cccccc;
}

.preview-link {
    background-color: #F7F7F7;
}

.preview-link-image {
    display: block;
    float: left;
    width: 156px;
    height: 156px;
}

.preview-tab-details .preview-link-image {
    border-right: solid 1px #cccccc;
    text-align: center;
}

.preview-link-content {
    display: block;
    float: left;
    padding: 12px 20px;
    width: 650px;
}

    .preview-link-content h6 {
        font-size: 9px;
    }

    .preview-link-content p {
        padding-top: 10px;
    }

ul.preview-social-actions {
    margin-top: 8px;
}

    ul.preview-social-actions li {
        color: #6D84B4;
        list-style: disc;
        list-style-position: inside;
        float: left;
    }

.tabs-facebook ul.preview-social-actions li {
    font-size: 11px;
}

ul.preview-social-actions li span {
    position: relative;
    left: -6px;
}

ul.preview-social-actions li:first-child {
    list-style: none;
    padding-right: 5px;
}

    ul.preview-social-actions li:first-child span {
        left: 0;
    }

ul.preview-social-actions li:last-child {
    color: #999999;
}

div.preview-image {
    float: left;
    padding: 10px;
    margin: 5px 0px;
    border: solid 1px #cccccc;
}

.tabs-twitter, ul.iapps-tabs li.selected-tab.tabs-twitter {
    background-color: #C0DEED;
}

    .tabs-twitter .preview-user-info {
        color: #333333;
    }

    .tabs-twitter ul.preview-social-actions {
        float: right;
    }

    .tabs-twitter .preview-tab-content {
        font-size: 120%;
    }

    .tabs-twitter ul.preview-social-actions {
        margin-top: 12px;
    }

.preview-section .tabs-twitter .preview-header > h3 {
    font-size: 16px;
}

.preview-image-upload {
    margin-top: 20px;
}

    .preview-image-upload .preview-link-image {
        float: left;
        margin-right: 20px;
    }

        .preview-image-upload .preview-link-image img {
            max-height: 156px;
            max-width: 156px;
            border-radius: 5px;
        }

    .preview-image-upload .preview-image-actions {
        float: left;
    }

        .preview-image-upload .preview-image-actions a {
            display: block;
            margin-bottom: 10px;
            padding-left: 25px;
        }

            .preview-image-upload .preview-image-actions a.upload-image {
                background: url('images/icon-import.png') no-repeat left center;
            }

            .preview-image-upload .preview-image-actions a.remove-image {
                background: url('images/icon-delete-cross.png') no-repeat left center;
            }


.message-section .message-header {
    padding: 6px;
}

    .message-section .message-header h3 {
        float: left;
    }

    .message-section .message-header > div {
        float: right;
        position: relative;
        top: 25px;
    }

.message-section .message-content .iapps-tab-content {
    padding: 5px;
    border-radius: 0px 5px 5px 5px;
    margin-top: -1px;
}

.message-section .message-content textarea {
    width: 99%;
    border: 0;
}

.audience-section h3 {
    padding-bottom: 8px;
}

.audience-section label.form-label {
    min-width: 30px;
}

div.message-notifications {
    width: 600px;
    max-height: 400px;
    overflow: auto;
}

    div.message-notifications > p {
        margin-bottom: 10px;
    }

    div.message-notifications .comment-container {
        border-top: solid 1px #efefef;
        border-bottom: solid 1px #efefef;
        background-color: #f9f9f9;
        padding: 5px 10px;
        color: #5b5c65;
    }

        div.message-notifications .comment-container a {
            display: inline-block;
            margin-right: 10px;
        }

div.conversations {
    border: solid 1px #d2d2d2;
}

    div.conversations .collection-row .middle-cell h4 {
        font-size: 14px;
    }

    div.conversations div.count-container {
        float: left;
        margin: 5px 0 0 20px;
    }

    div.conversations .grid-actions .columns select {
        float: left;
        margin: 5px 0 0 20px;
    }

    div.conversations .grid-actions .columns .button, div.conversations .grid-actions .columns div.grid-button {
        float: left;
        margin-left: 20px;
    }

    div.conversations .parent {
        padding: 10px 10px 10px 60px;
        background-color: #f3f3f3;
        border-bottom: solid 1px #d2d2d2;
    }

        div.conversations .parent .last-cell, div.conversations .children .last-cell {
            color: #a9a9a9;
        }

    div.conversations .children {
        margin-left: 100px;
        background-color: #fff;
    }

        div.conversations .children.row .collection-row, div.conversations .children.alternate-row .collection-row, div.conversations .children.selected .collection-row, div.conversations .children.hover-row .collection-row {
            padding: 15px 5px 10px 0;
        }

        div.conversations .children .share-utility {
            margin-top: 10px;
        }

    div.conversations .comments-section {
        margin: 20px 20px 20px 100px;
        width: 70%;
    }

    div.conversations .like-item, div.conversations .delete-item, div.conversations .unlike-item,
    div.conversations .favorite-item, div.conversations .favorited-item,
    div.conversations .reply-item, div.conversations .replied-item,
    div.conversations .retweet-item, div.conversations .retweeted-item {
        display: inline-block;
        padding-left: 20px;
        background: url('images/icon-like-16.png') no-repeat left center;
        margin-right: 10px;
    }

    div.conversations .favorite-item, div.conversations .favorited-item,
    div.conversations .reply-item, div.conversations .replied-item,
    div.conversations .retweet-item, div.conversations .retweeted-item {
        padding: 3px 0 3px 30px;
    }

    div.conversations .delete-item {
        background-image: url('images/icon-delete-cross.png');
    }

    div.conversations .favorite-item {
        background-image: url('images/icon-favorite-24.png');
    }

    div.conversations .favorited-item {
        background-image: url('images/icon-favorited-24.png');
    }

    div.conversations .reply-item {
        background-image: url('images/icon-reply-24.png');
    }

    div.conversations .replied-item {
        background-image: url('images/icon-replied-24.png');
    }

    div.conversations .retweet-item {
        background-image: url('images/icon-retweet.png');
    }

    div.conversations .retweeted-item {
        background-image: url('images/icon-retweeted.png');
    }

    div.conversations .unlike-item {
        background-image: url('images/icon-unlike-16.png');
    }

div.warning {
    width: 425px;
}

    div.warning p.question {
        margin-left: 25px;
        font-size: 16px;
    }

    div.warning div.instructions {
        margin-top: 45px;
        font-size: 12px;
        background: url('images/icon-exclamation.png') no-repeat left top;
        padding-left: 25px;
    }
