<%@ Control Language="C#"  %>

<%@ Register TagPrefix="CP" TagName="CreatePage" Src="~/ContextMenuUserControls/CreateNewPage.ascx" %>

<CP:CreatePage runat="server" ID="createPage" ShowConnectToMenu="false" ConnectToMenu="true" />