﻿@model Exception
@{
    ViewBag.Title = "Index";
}

<div class="list-header clearfix">
    <span>Error</span>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        An unexpected error has occurred. Please contact the system administrator.</div>
    
    @if (Model != null )
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Message<br />
                 <b>Request:</b> @Request.RawUrl<br /> 
@*                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName*@
            </p>
            <div style="overflow:scroll">
                <pre>
@Model.StackTrace
                </pre>
            </div>
        </div>
    }
</div>

