﻿@model Exception
@{
    ViewBag.Title = @Bridgeline.iAPPS.Resources.GUIStrings.Error;
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}
@section PopupHeading {
    @Bridgeline.iAPPS.Resources.GUIStrings.Error
}
<div class="list-sfs-holder">
    <div class="alert alert-error">
        An unexpected error has occurred. Please contact the system administrator.
    </div>

    @if (Model != null)
    {
        <p>
            <strong>@Bridgeline.iAPPS.Resources.GUIStrings.Exception:</strong> @Model.Message<br />
            <strong>@Bridgeline.iAPPS.Resources.GUIStrings.Request:</strong> @Request.RawUrl<br />
        </p>
    }
</div>
@section PopupFooter {
    <input type="button" id="btnCancel" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />s
}