﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.CreateItemModel
@{
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}
@section PopupHeading {
    @Bridgeline.iAPPS.Resources.GUIStrings.CreateItem
}
@section Styles{
    @Styles.Render("~/content/kendo")
}

@section Scripts{
    @Scripts.Render("~/scripts/jqueryval")

}
@section PopupFooter {
    <input type="button" name="btnCancel" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Cancel" />
    <input type="submit" name="CreateItem" class="primarybutton" value="@Bridgeline.iAPPS.Resources.GUIStrings.CreateItem" />
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Please correct the following errors and try again.") 
    <div class="add-edit-item">
        <div class="form-row">
            <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.Title</label>
            <div class="from-value">
                @Html.TextBoxFor(m => m.itemTitle)
            </div>
        </div>
        <div class="form-row">
            <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.URL</label>
            <div class="from-value">
                @Html.TextBoxFor(m => m.itemUrl)
            </div>
        </div>
        @if (Bridgeline.FW.Global.GlobalManager.IsEngagementSpecialist())
        {
            <div class="form-row">
                <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.Topic</label>
                <div class="form-value">
                    @Html.Kendo().ComboBoxFor(m => m.selectedTopic).HtmlAttributes(
                    new
                    {
                        @style = "width:400px;"
                    }).DataTextField("Name").DataValueField("Id").BindTo(Model.topics).Height(140)
                </div>
            </div>
        }
    </div>
}

<script type="text/javascript">
    $(function () {
        var combobox = $("#selectedTopic").data("kendoComboBox");
        if (combobox != null)
            combobox.select(0);

        $("form").submit(function (e) {

            if ($(this).valid()) {
                ShowiAppsLoadingPanel();
                $.post($(this).attr("action"),
                        $(this).serialize(),
                        function (data) {
                            debugger;
                            if (typeof (data.success) != 'undefined' && !data.success) {
                                alert(data.message);
                                CanceliAppsAdminPopup(false);
                                CloseiAppsLoadingPanel();
                                parent.onShareMessageClose();
                            }
                            else {
                                alert(data);
                                CanceliAppsAdminPopup(false);
                                CloseiAppsLoadingPanel();
                                parent.onShareMessageClose();
                            }
                        });
            }

            e.preventDefault();
        });
    });


</script>
