﻿@model IEnumerable<Bridgeline.FW.Social.Model.Broadcast>
<div class="broadcast-items">
    <div class="grid-actions clear-fix">
        @Html.Action("RenderGridActions", "General", new { gridName = "vActivityItems", pageName = "MyActivity" })
    </div>
    <div class="grid-section clear-fix">
        @if (Model.Count() == 0)
        {
            <div class="empty-grid-cell">@Bridgeline.iAPPS.Resources.GUIStrings.NoRecordsFound</div>
        }
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            i++;
            <div class="@(i % 2 == 0 ? "alternate-row" : "row")">
                <div class="collection-row grid-item clear-fix" objectId="@item.id">
                    <div class="first-cell">
                        @if (item.FaceBookSubChannelCount > 0)
                        {    
                            <div class="count-container clear-fix">
                                <img src="@Url.Content("~/App_Themes/General/images/icon-facebook-blue-24.png")" alt="" />
                                <div class="count">@item.FaceBookSubChannelCount</div>
                            </div>
                        }
                        @if (item.TwitterSubChannelCount > 0)
                        {
                            <div class="count-container clear-fix">
                                <img src="@Url.Content("~/App_Themes/General/images/icon-twitter-blue-24.png")" alt="" />
                                <div class="count">@item.TwitterSubChannelCount</div>
                            </div>
                        }
                        @if (item.LinkedInSubChannelCount > 0)
                        {
                            <div class="count-container clear-fix">
                                <img src="@Url.Content("~/App_Themes/General/images/icon-linkedin-blue-24.png")" alt="" />
                                <div class="count">@item.LinkedInSubChannelCount</div>
                            </div>
                        }
                        @if (item.TwitterSubChannelCount == 0 && item.FaceBookSubChannelCount == 0 && item.LinkedInSubChannelCount == 0)
                        {
                            <span>&nbsp;</span>
                        }
                    </div>
                    <div class="middle-cell">
                        <h4>
                           @* @if (item.FaceBookSubChannelCount > 0)
                            {    
                                @Html.Raw(String.Format("{0} ({1})", Bridgeline.iAPPS.Resources.GUIStrings.Facebook, item.FaceBookSubChannelCount));
                            }
                            @if (item.TwitterSubChannelCount > 0)
                            {
                                @Html.Raw(String.Format("{0}({1})", Bridgeline.iAPPS.Resources.GUIStrings.Twitter, item.TwitterSubChannelCount));
                            }
                            @if (item.LinkedInSubChannelCount > 0)
                            {
                                @Html.Raw(String.Format("{0}({1})", Bridgeline.iAPPS.Resources.GUIStrings.LinkedIn, item.LinkedInSubChannelCount));
                            }
                            @if (item.GooglePlusSubChannelCount > 0)
                            {
                                @Html.Raw(String.Format("{0}({1})", Bridgeline.iAPPS.Resources.GUIStrings.Twitter, item.GooglePlusSubChannelCount));
                            }*@
                            @if (item.group_ids != null && item.group_ids.Count > 0)
                            {
                                @Html.Raw(String.Format("{0}({1})", Bridgeline.iAPPS.Resources.GUIStrings.Group, item.group_ids.Count));
                            }
                        </h4>
                        @*                        @string.Format("{0}({1}), {2}({3}), {4}({5}), {6}({7})", Bridgeline.iAPPS.Resources.GUIStrings.Facebook, "1", 
                        Bridgeline.iAPPS.Resources.GUIStrings.Twitter, "13", Bridgeline.iAPPS.Resources.GUIStrings.GooglePlus, "31",
                        Bridgeline.iAPPS.Resources.GUIStrings.LinkedIn, "40")</h4>*@
                        <p>@item.message</p>
                    </div>
                    <div class="last-cell">
                        <div class="child-row">
                            @if (item.state == 0) //scheduled
                            {
                                @Html.Raw(String.Format("{0}: {1}", Bridgeline.iAPPS.Resources.GUIStrings.Scheduled, item.start_time));
                            }
                            else if (item.state == 3) //published
                            {
                                @Html.Raw(String.Format("{0}: {1}", Bridgeline.iAPPS.Resources.GUIStrings.Published, item.start_time));

                            }
                        </div>
                        <div class="child-row">
                            @Bridgeline.iAPPS.Resources.GUIStrings.PublishedBy: @item.creator_name
                        </div>
                        <div class="child-row">
                            @if (item.state == 3) //published
                            {
                                <a href="javascript: //" onclick="OpeniAppsSocialPopup('ViewEngagements','broadCastId='+@item.id)">@Bridgeline.iAPPS.Resources.GUIStrings.Engagements</a>
                           
                                if (item.successful_subchannel_statuses_count > 0 && (item.successful_subchannel_statuses_count != item.LinkedInSubChannelCount))
                                {
                                    @Html.ActionLink(Bridgeline.iAPPS.Resources.GUIStrings.Conversation, "Index", "Conversation", new { broadcastId = @item.id }, null);
                                }

                            }

                            @if (item.state == 0) //scheduled
                            {
                                if(item.preview_info != null && !String.IsNullOrEmpty(item.preview_info.picture))
                                {
                                   <a href="javascript: //" onclick="EditBroadCast(@item.id, true)">@Bridgeline.iAPPS.Resources.GUIStrings.Edit</a>
                                }
                                else
                                {
                                    <a href="javascript: //" onclick="EditBroadCast(@item.id, false)">@Bridgeline.iAPPS.Resources.GUIStrings.Edit</a>
                                }
                                <a href="javascript: //" onclick="DeleteBroadCast(@item.id)">@Bridgeline.iAPPS.Resources.GUIStrings.Cancel</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function EditBroadCast(broadCastId, previewExist) {
        var shareqs = '';
        if(previewExist)
            shareqs = "&itemId=0&shareMessage=true&broadCastItemId=" + broadCastId;
        else
            shareqs = "&itemId=0&shareMessage=false&broadCastItemId=" + broadCastId;

        OpeniAppsSocialPopup('ShareMessage', "ChannelName=''" + shareqs);
    }
    function DeleteBroadCast(broadCastId) {
        var url = '@Url.Action("DeleteBroadCast", "Activity")?broadCastId=' + broadCastId;
        ShowiAppsLoadingPanel();
        $.ajax({
            url: url,
            type: "get",
            success: function (result) {
                if (typeof (result.success) != 'undefined' && !result.success) {
                    alert(result.message);

                    CloseiAppsLoadingPanel();
                }
                else {

                    alert(result);
                    onShareMessageClose();
                    CloseiAppsLoadingPanel();
                }
            }
        });
    }
</script>
