﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.EngagementModel

@{
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}
@section PopupHeading {
    @Bridgeline.iAPPS.Resources.GUIStrings.Engage
}


@section Styles{
    @Styles.Render("~/content/kendo")
}

@section Scripts{
    @Scripts.Render("~/scripts/jqueryval")

}

@section PopupFooter {
    <input type="button" id="btnCancel" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Cancel" />
    <input type="submit" id="btnEngage" class="primarybutton" value="@Bridgeline.iAPPS.Resources.GUIStrings.Engage" />
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Please correct the following errors and try again.") 
    <div class="engage clear-fix">
        <p><strong>@Model.item.title</strong></p>
        @Html.HiddenFor(model => model.engagement.item_id, new { @id = "hdnItemId" })
        <div class="form-row">
            <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.EngagementType</label>
            <div class="form-value">
                @Html.Kendo().ComboBoxFor(m => m.SelectedEngagementType).HtmlAttributes(
                new
                {
                    @style = "width: 177px;"
                }).DataTextField("name").DataValueField("id").BindTo(Model.EngagementTypes)
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        var combobox = $("#SelectedEngagementType").data("kendoComboBox");
        combobox.select(0);
        $("form").submit(function (e) {
            //if (isEngageValid()) {
            if ($(this).valid()) {
                ShowiAppsLoadingPanel();
                $.post($(this).attr("action"),
                        $(this).serialize(),
                        function (data) {
                            if (typeof (data.success) != 'undefined' && !data.success) {
                                alert(data.message);
                                CanceliAppsAdminPopup(false);
                                CloseiAppsLoadingPanel();
                                if (typeof parent.onShareMessageClose == 'function') {
                                    parent.onShareMessageClose();
                                }
                            }
                            else {
                                alert(data);
                                CanceliAppsAdminPopup(false);
                                CloseiAppsLoadingPanel();
                                if (typeof parent.onShareMessageClose == 'function') {
                                    parent.onShareMessageClose();
                                }
                            }
                        });
            }
            // }
            e.preventDefault();
        });
    });

    function isEngageValid() {
        var bIsEngageValid = true;
        var selectedEngagementTypeComboBox = $("#SelectedEngagementType").data("kendoComboBox");
        var value = selectedEngagementTypeComboBox.value()
        if (value == '') {
            alert("Please select a engagement type");
            bIsEngageValid = false;
        }

        return bIsEngageValid;
    }
</script>
