﻿@model IEnumerable<Bridgeline.FW.Social.Model.Item>
<div class="grid-actions clear-fix">
    @Html.Action("RenderGridActions", "General", new { gridName = "vActivityItems", pageName = "MyActivity" })
</div>
<div class="grid-section clear-fix">
    @if (Model == null)
    {
    }
    else
    {
        if (Model.Count() == 0)
        {
        <div class="empty-grid-cell">@Bridgeline.iAPPS.Resources.GUIStrings.NoRecordsFound</div>
        }
        int i = 0;
        foreach (var item in Model)
        {
            i++;
        <div class="@(i % 2 == 0 ? "alternate-row" : "row")">
            <div class="collection-row grid-item clear-fix" objectId="@item.id">
                <div class="first-cell">
                    <input type="checkbox" class="item-selector" value="@item.id"/>
                </div>
                <div class="middle-cell @(item.item_state.ToLower())">
                    <h4 class="@(item.item_state == @Bridgeline.FW.Social.Model.ItemState.Read.ToString() ? "item-read" : "item-unread")">
                        @if (item.item_type == Bridgeline.FW.Social.Model.Itemtype.Facebook)
                        {
                            <img src="@Url.Content("~/App_Themes/General/images/icon-facebook-24.png")" alt="" />
                        }
                        else if (item.item_type == Bridgeline.FW.Social.Model.Itemtype.Twitter)
                        {
                            <img src="@Url.Content("~/App_Themes/General/images/icon-twitter-24.png")" alt="" />
                        }
                        else if (item.item_type == Bridgeline.FW.Social.Model.Itemtype.LinkedIn)
                        {
                            <img src="@Url.Content("~/App_Themes/General/images/icon-linkedin-24.png")" alt="" />
                        }

                        @if (!string.IsNullOrEmpty(item.title))
                        {
                            @Html.ActionLink(item.title, "Items", new { id = item.id },
                            new { @class = "item-title", target = "_blank" })
                        }
                        @if (!String.IsNullOrEmpty(item.summary) || !String.IsNullOrEmpty(item.content))
                        {
                            <img onclick="OpenDetail(@item.id)" src="@Url.Content("~/App_Themes/General/images/read-more.png")" alt="@Bridgeline.iAPPS.Resources.GUIStrings.ReadMore" class="read-more" />
                        }
                    </h4>
                    <p>@item.publishtime</p>
                    <p class="item-url">@item.url</p>
                    <input type="hidden" value="@item.short_url" datafield="shortUrl" />
                    <input type="hidden" value="@item.title" datafield="ItemTitle" />
                    <input type="hidden" value="@item.item_state" datafield="ItemState" />

                    @if (item.isValidTwitterItemForReply)
                    {
                        <input type="hidden" value="true" datafield="IsValidTwitterItemForReply" />
                    }
                    else
                    {
                        <input type="hidden" value="false" datafield="IsValidTwitterItemForReply" />
                    }

                    @if (item.isValidFacebookItemForComment)
                    {
                        <input type="hidden" value="true" datafield="IsValidFacebookItemForComment" />
                    }
                    else
                    {
                        <input type="hidden" value="false" datafield="IsValidFacebookItemForComment" />
                    }
                </div>
                <div class="last-cell">
                    @if (!string.IsNullOrEmpty(item.author) && item.author.ToLower() != "unknown" && item.author.ToLower() != "(author unknown)")
                    {
                        <div class="child-row">
                            @Bridgeline.iAPPS.Resources.GUIStrings.Author: @item.author
                        </div>
                    }
@*             <div class="child-row">
                        @Bridgeline.iAPPS.Resources.GUIStrings.Published: @item.published.ToString("MM/dd/yyyy")
                    </div>*@
                    <div class="child-row">
                        @Bridgeline.iAPPS.Resources.GUIStrings.Status: @item.item_state
                    </div>
                </div>
            </div>
        </div>
        }
    }
</div>
@Html.Action("RenderShareByEmail")

