﻿@model Bridgeline.FW.Social.Model.Item

@{
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}
@section PopupHeading {
    @Model.title
}

@section PopupFooter {
    <input type="button" name="btnClose" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />
}
<div class="view-engagements">
    @if (!String.IsNullOrEmpty(Model.summary))
    {
        @Html.Raw(HttpUtility.HtmlDecode(Model.summary));
    }
    else
    {
        @Html.Raw(HttpUtility.HtmlDecode(Model.content));
    }
</div>
<script>
    $(function () {
        $("a").on("click", function (e) {
            e.preventDefault();
        });
    });
</script>