﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.ReTweetMessageModel

@{
    if (Model.isTweet)
    {
        ViewBag.Title = Bridgeline.iAPPS.Resources.GUIStrings.Retweet;
    }
    else
    {
        ViewBag.Title = Bridgeline.iAPPS.Resources.GUIStrings.Like;
    }
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}
@section PopupHeading {
    @if (Model.isTweet)
    {
        @Bridgeline.iAPPS.Resources.GUIStrings.Retweet
    }
    else
    {
        @Bridgeline.iAPPS.Resources.GUIStrings.Like
    }

}

@section PopupFooter {
    <input type="button" name="btnCancel" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Cancel" />
    @if (Model.isTweet)
    {
        <input type="submit" name="btnSend" class="primarybutton" value="@Bridgeline.iAPPS.Resources.GUIStrings.Retweet" />
    }
    else
    {
        <input type="submit" name="btnSend" class="primarybutton" value="@Bridgeline.iAPPS.Resources.GUIStrings.Like" />
    }
}

<div class="retweet">
    <div class="retweet-row clear-fix">
        <div class="left-column">
            <div class="form-row">
                <label class="form-label" style="min-width: 20px;">@Bridgeline.iAPPS.Resources.GUIStrings.From</label>
                <div class="form-value text-value">
                    @Model.AuthorName
                </div>
            </div>
        </div>
        <div class="right-column">
            <div class="form-row">
                <label class="form-label" style="min-width: 20px;">@Bridgeline.iAPPS.Resources.GUIStrings.Date</label>
                <div class="form-value text-value">
                    @Model.publishedDate
                </div>
            </div>
        </div>
    </div>
    <p>@Model.Message</p>
    <div class="form-row">
        <label class="form-label" style="min-width: 20px;">@Bridgeline.iAPPS.Resources.GUIStrings.URL</label>
        <div class="form-value text-value">
            <a href="@Model.url" target="_blank" style="padding: 0;">@Model.url</a>
        </div>
    </div>

    @Html.HiddenFor(model => model.broadCast.item_id, new { @id = "hdnItemId" })
    @Html.HiddenFor(model => model.broadCast.id, new { @id = "hdnbroadCastId" })
    @Html.HiddenFor(model => model.SelectedSubChannelId, new { @id = "hdnSelectedSubChannelId" })
</div>

<script type="text/javascript">

    $(function () {
        $("form").submit(function (e) {

            ShowiAppsLoadingPanel();
            $.post($(this).attr("action"),
                    $(this).serialize(),
                    function (data) {
                        if (typeof (data.success) != 'undefined' && !data.success) {

                            alert(data.message);
                            CanceliAppsAdminPopup(false);
                            CloseiAppsLoadingPanel();
                        }
                        else {

                            alert(data);
                            CanceliAppsAdminPopup(false);
                            CloseiAppsLoadingPanel();
                        }
                    });

            e.preventDefault();
        });

    });
</script>
