﻿<div id="shareByEmail" class="iapps-modal share-email" style="display: none;">
    <div class="modal-header clear-fix">
        <h2>
            @Bridgeline.iAPPS.Resources.GUIStrings.ShareByEmail
        </h2>
    </div>
    <div class="modal-content">
        <p>
            @Bridgeline.iAPPS.Resources.GUIStrings.ShareByEmailMessage
        </p>
    </div>
    <div class="modal-footer">
        <input type="button" name="btnCancel" class="button" onclick="CloseShareByEmail();" 
            value="@Bridgeline.iAPPS.Resources.GUIStrings.Cancel" />
        <a href="#" class="primarybutton" id="btnShareByEmail">
            @Bridgeline.iAPPS.Resources.GUIStrings.Continue</a>

    </div>
</div>
<script>
    function OpenShareByEmail(title, url) {
        $("#btnShareByEmail").attr("href", stringformat("mailto:?body={0} {1}", title, url));
        $("#shareByEmail").iAppsDialog("open");

        return false;
    }

    function CloseShareByEmail() {
        $("#shareByEmail").iAppsDialog("close");
    }
    $(function () {
        $("#btnShareByEmail").on('click', function () {
            setTimeout('CloseShareByEmail();', 500);
        });
    });
</script>
