﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.ShareMessageModel

@{
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}

@section Styles{
    @Styles.Render("~/content/kendo")
}

@*@section Scripts{
    @Scripts.Render("~/scripts/jqueryval")
}*@
<script>
    @Html.Action("RenderScripts", "Activity")
</script>
@section PopupHeading {
    @if (Model.IsOnShareMessage)
    {
        @Bridgeline.iAPPS.Resources.GUIStrings.ShareItem
    }
    else
    {
        @Bridgeline.iAPPS.Resources.GUIStrings.ComposeMessage
    }
}

@section PopupFooter {
    <div class="schedule-date">
        <div class="disable-state">
            @Bridgeline.iAPPS.Resources.GUIStrings.Schedule
        </div>
        <div class="enable-state">
            @(Html.Kendo().DateTimePicker()
            .Name("start_time")
            .Value(Model.start_time)
            .Interval(15)
            .Format(System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern + " " + System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortTimePattern)
            )
            <img src="@Url.Content("~/App_Themes/General/images/icon-delete-cross.png")" class="cleardate" alt="" />
        </div>
    </div>
    <input type="button" name="btnCancel" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Cancel" />
    <input type="submit" name="ShareItem" class="primarybutton" value="@Bridgeline.iAPPS.Resources.GUIStrings.Share" onclick="return submitclicked()"/>
}

<div class="audience-section">
    <h3>Audience</h3>
    <div class="clear-fix">
        <div class="left-column">
            <div class="form-row">
                <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.To </label>
                <div class="form-value" id="user_subchannels">
                    @Html.ListBoxFor(m => m.SelectedSubChannelId,
                        new MultiSelectList(Model.SubChannel, "id", "nameWithChannel"),
                        new
                        {
                            @style = "width: 373px;",
                            @size = "5",
                            @id = "SelectedSubChannelId"
                        })
                </div>
            </div>
        </div>
        <div class="right-column">
            @if (Model.groups != null && Model.groups.Count() > 0)
            {
                <div class="form-row">
                    <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.Group</label>
                    <div class="form-value" id="user_groups">
                        @Html.ListBoxFor(m => m.SelectedGroupIds,
                            new MultiSelectList(Model.groups, "id", "name"),
                            new
                            {
                                @style = "width: 373px;",
                                @size = "5",
                                @id = "SelectedGroupIds"
                            })
                    </div>
                </div>
                <div class="form-row">
                    <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.GroupChannel</label>
                    <div class="form-value text-value" id="group_channel">
                        @for (int i = 0; i < Model.SelectedChannel.Count; i++)
                        {
                            <span style="text-transform: capitalize;">
                                @Html.CheckBoxFor(m => m.SelectedChannel[i].IsChecked,
                                    new { id = "SelectedChannel_" + i })
                                @Html.HiddenFor(m => m.SelectedChannel[i].ChannelName, new { @class = "channel-name" })
                                @Html.HiddenFor(m => m.SelectedChannel[i].ChannelId)
                                @Html.DisplayFor(m => m.SelectedChannel[i].ChannelName)
                            </span>
                        }
                    </div>
                </div>
            }

            @Html.HiddenFor(model => model.broadCast.item_id, new { @id = "hdnItemId" })
            @Html.HiddenFor(model => model.broadCast.id, new { @id = "hdnbroadCastId" })
            @Html.HiddenFor(model => model.GridAction, new { @id = "hdnGridAction" })
        </div>
    </div>
</div>

<div id="compose_message" style="display: none;">
    <div class="message-section">
        <div class="message-header clear-fix">
            <h3>@Bridgeline.iAPPS.Resources.GUIStrings.Message</h3>
            <div>
                <a href="#" onclick="fn_InsertPageLink();">@Bridgeline.iAPPS.Resources.GUIStrings.InsertPageLink</a>
                <p style="display: none;"><a href="javascript: //" onclick="fn_ShowContentLibrary()" style="display: inline;">Click here</a> to copy text from an existing content from content library.</p>
            </div>
        </div>
        <div class="message-content">
            <ul>
                <li id="message_facebook"><span>@Bridgeline.iAPPS.Resources.GUIStrings.Facebook</span></li>
                <li id="message_twitter"><span>@Bridgeline.iAPPS.Resources.GUIStrings.Twitter</span></li>
                <li id="message_linkedin"><span>@Bridgeline.iAPPS.Resources.GUIStrings.LinkedIn</span></li>
            </ul>
            <div>
                @Html.TextAreaFor(model => model.Message, new { @rows = "2", @maxlength = "700", @id = "txtFaceBook" })
            </div>
            <div>
                @Html.TextAreaFor(model => model.Message_Twitter, new { @rows = "2", @id = "txtTwitter" })
            </div>
            <div>
                @Html.TextAreaFor(model => model.Message_LinkedIn, new { @rows = "2", @maxlength = "600", @id = "txtLinkedIn" })
            </div>
        </div>
    </div>

    <div class="preview-section">
        <div class="preview-header clear-fix">
            <h3>@Bridgeline.iAPPS.Resources.GUIStrings.Preview</h3>
            <div>
                <a href="#" onclick="UploadMessageImage()" class="button upload-image">@Bridgeline.iAPPS.Resources.GUIStrings.UploadImage</a>
                <a href="#" onclick="RefreshLinkContent()" class="button refresh">@Bridgeline.iAPPS.Resources.GUIStrings.Refresh</a>
            </div>
            @Html.HiddenFor(model => model.MessageLink, new { @id = "hdnMessageLink" })
            @Html.HiddenFor(model => model.MessageLinkTitle, new { @id = "hdnMessageLinkTitle" })
            @Html.HiddenFor(model => model.MessageLinkDescription, new { @id = "hdnMessageLinkDesc" })
            @Html.HiddenFor(model => model.MessageLinkImage, new { @id = "hdnMessageLinkImage" })
        </div>
        <div>
            <div class="preview clear-fix">
                @foreach (var channel in Model.Channels)
                {
                    <div class="@string.Format("form-row preview-{0}", channel.name)">
                        <label class="form-label">
                            <img src="@Url.Content(string.Format("~/App_Themes/General/images/icon-{0}-24.png", channel.name))" alt="" />
                            &nbsp;(<span class="@string.Format("label-{0}", channel.name)">@Bridgeline.iAPPS.Resources.GUIStrings._140</span>)
                        </label>
                        <div class="@string.Format("form-value text-value value-{0}", channel.name)"></div>
                    </div>
                }
            </div>
            <div class="form-row preview-image-upload clear-fix">
                <div class="preview-link-image">
                    <img src="@(String.IsNullOrEmpty(Model.MessageLinkImage) ? Url.Content("~/App_Themes/General/images/social-place-holder.png") : Model.MessageLinkImage)" id="imgSelectedImage" />
                </div>
                <div class="preview-image-actions">
                    <a href="#" onclick="UploadMessageImage()" class="upload-image">@Bridgeline.iAPPS.Resources.GUIStrings.UploadImage</a>
                    <a href="#" onclick="fn_RemoveImage()" class="remove-image">@Bridgeline.iAPPS.Resources.GUIStrings.RemoveImage</a>
                </div>
            </div>
        </div>
        <div class="preview-tabs" style="display: none;">
            <ul>
                @foreach (var channel in Model.Channels)
                {
                    <li class="@string.Format("tabs-{0}", channel.name)">@channel.title</li>
                }
            </ul>
            @foreach (var channel in Model.Channels)
            {
                <div class="@string.Format("tabs-{0}", channel.name)">
                    <div class="preview-tab-content">
                        <div class="preview-user-info clear-fix">
                            <img src="@Url.Content("~/App_Themes/General/images/facebook-profile.jpg")" />
                            <h3>@Html.DisplayFor(model => model.MessageUserName)<span> shared a link via iAPPS Social
                            <br />
                                10 seconds ago</span></h3>
                        </div>
                        <div class="@string.Format("preview-value value-{0}", channel.name)"></div>
                        <div class="preview-image-holder clear-fix">
                            <div class="preview-image"></div>
                        </div>
                        @if (channel.name == "facebook")
                        {
                            <div class="preview-tab-details">
                                <img class="progress-bar" src="@Url.Content("~/App_Themes/General/images/progress-bar.gif")" />
                                <div class="preview-link clear-fix">
                                    <div class="preview-link-image">
                                        <img src="@Url.Content("~/App_Themes/General/images/social-place-holder.png")" />
                                    </div>
                                    <div class="preview-link-content">
                                        <h4></h4>
                                        <h6></h6>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <ul class="preview-social-actions clear-fix">
                                <li><span>Like</span></li>
                                <li><span>Comment</span></li>
                                <li><span>Share</span></li>
                            </ul>
                        }
                        else if (channel.name == "twitter")
                        {
                            <ul class="preview-social-actions clear-fix">
                                <li><span>Reply</span></li>
                                <li><span>Delete</span></li>
                                <li><span>Favorite</span></li>
                                <li><span>More</span></li>
                            </ul>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var twitterMsgLength = 140;
    var facebookMsgLength = 400;
    var linkedInMsgLength = 600;
    var isImageAttached = false;
    var twitterImageLength = 23;
    var twitterLinkLength = 22;
    var twitterMessageUpdated = false;
    //var linkedInMessageUpdated = false;
    var isShareMessage = "@Model.IsOnShareMessage.ToString().ToLower()" == "true";

    function fn_GetTwitterPlaceholder() {
        var pHolder = "<a>";
        for (var i = 0; i < twitterLinkLength - 7; i++) {
            pHolder += "#"
        }

        return pHolder + "</a>";
    }

    function fn_FormatTwitterMessage(shortenText) {
        var $this = $(".preview .value-twitter");
        var $thisFacebook = $(".preview .value-facebook");
        var $thisLinkedIn = $('.preview .value-linkedin');
        var msg = $('#txtTwitter').val();
        var fbmsg = $('#txtFaceBook').val();
        var linMsg = $('#txtLinkedIn').val();
        $this.text(msg).linkify().find("a").removeAttributes();

        var bitlyUrlCreated = false;

        var links = [];
        $this.find("a").each(function (index) {
            var OrgLink = $(this).text();
            var link = OrgLink;
            if (OrgLink.length > twitterLinkLength) {
                link = CreateBitlyUrl(OrgLink);
                bitlyUrlCreated = true;
                updateUrlObject(OrgLink, link);
            }
            links.push(link);
            msg = msg.replace($(this).text(), fn_GetTwitterPlaceholder());
            fbmsg = fbmsg.replace($(this).text(), fn_GetTwitterPlaceholder());
            linMsg = linMsg.replace($(this).text(), fn_GetTwitterPlaceholder());
        });

        $this.html(msg);
        $thisFacebook.html(fbmsg);
        $thisFacebook.find("a").each(function (index) {
            $(this).text(links[index]);
        });
        $thisLinkedIn.html(linMsg);
        $thisLinkedIn.find("a").each(function (index) {
            $(this).text(links[index]);
        });

        if (shortenText)
            $this.shortenText(isImageAttached ? twitterMsgLength - twitterImageLength : twitterMsgLength);

        var msgLength = $this.html().length;
        var msgImageLength = isImageAttached ? (msgLength + twitterImageLength) : msgLength;
        //$(".label-twitter").html(twitterMsgLength - msgImageLength >= 0 ? twitterMsgLength - msgImageLength : 0);
        var twLength = twitterMsgLength - msgImageLength;
        $(".label-twitter").html(twLength);

        if (twLength < 0)
            $(".label-twitter").css("color", "red");
        else
            $(".label-twitter").css("color", "#333");

        var liLength = $thisLinkedIn.html().length;
        $(".label-linkedin").html(linkedInMsgLength - liLength);

        $this.find("a").each(function (index) {
            $(this).text(links[index]);
        });

        $('#txtTwitter').val($this.text());
        $('#txtFaceBook').val($thisFacebook.text());
        $('#txtLinkedIn').val($thisLinkedIn.text());
    }

    function updateUrlObject(url, bitlyUrl) {

        if (urlItemAssets != null && !jQuery.isEmptyObject(urlItemAssets)) {
            var urlObj = getUrlObject(urlItemAssets, url);
            if (urlObj != null && !jQuery.isEmptyObject(urlObj)) {
                if ($("#hdnMessageLink").val().toLowerCase() == url.toLowerCase() && url.toLowerCase() != bitlyUrl.toLowerCase()) { //Updating the hidden url field
                    pushToUrlAssets(bitlyUrl, urlObj.title, urlObj.description, urlObj.picture);
                    urlObj = getUrlObject(urlItemAssets, bitlyUrl);
                    updateLinkAssetFields(urlObj);
                }
            }
        }
    }
    function fn_SetSocialMessage(refreshLinkContent) {
        var msg = $('#txtFaceBook').val();
        var msgLength = msg.length;
        $(".label-facebook").html(facebookMsgLength - msgLength >= 0 ? facebookMsgLength - msgLength : 0);
        $(".value-facebook").html(msg.substring(0, facebookMsgLength));
        $(".value-linkedin").html(msg.substring(0, linkedInMsgLength));

        $('.value-facebook').linkify();

        fn_FormatTwitterMessage(false);

        $(".preview-tab-content").children().hide();
        $(".preview-value").show();
        if (msgLength > 0)
            $(".preview-tab-content").children().show();

        $(".preview-tab-details").hide();
        $(".preview-header a").hide();
        //$(".preview-image").hide();
        //$(".preview-section .preview-image-upload").hide();
        $(".preview-user-info span, .preview-user-info img").hide();

        var firstUrl = $(".value-facebook a").first().text();
        if (typeof firstUrl == "undefined" || firstUrl == "")
            firstUrl = $(".value-twitter a").first().text();

        if (typeof firstUrl != "undefined" && firstUrl != "") {
            if ($("div.tabs-facebook").is(":visible"))
                $(".preview-header .refresh").show();

            var urlObj = getUrlObject(urlItemAssets, firstUrl);
            var isUrlSame = $("#hdnMessageLink").val().toLowerCase() == firstUrl.toLowerCase();

            if (refreshLinkContent == true && !isUrlSame) {
                $(".preview-tab-details").show();
                $(".preview-tab-details .progress-bar").show();
                $(".preview-tab-details .preview-link").hide();

                clearLinkAssetFields();
                if (urlObj == null || jQuery.isEmptyObject(urlObj)) { //get it from endpoint
                    ShowiAppsLoadingPanel();
                    $.get("@Url.Content("~/activity/GetItemAssetLink")", { url: firstUrl }, function (result) {
                        CloseiAppsLoadingPanel();
                        if (result != null && result.picture != '') {
                            var urlObjAsset = pushToUrlAssets(firstUrl, result.title, result.description, result.picture);

                            updateLinkAssetFields(urlObjAsset);

                            $(".preview-link-content h4").text(result.Title);
                            $(".preview-link-content h6").text(firstUrl);
                            $(".preview-link-content p").text(result.Description);

                            $(".preview-tab-details .preview-link").show();
                            if ($("div.tabs-facebook").is(":visible")) {
                                $(".preview-user-info span, .preview-user-info img").show();
                                $(".preview-header a").show();
                            }
                        }
                        else {
                            $(".preview-tab-details").hide();
                        }
                    }).always(function () {
                        $(".preview-tab-details .progress-bar").hide();
                    });
                }
                else { //use the same from client side JSON object array 
                    var isUrlSame = $("#hdnMessageLink").val().toLowerCase() == urlObj.url.toLowerCase();
                    if (urlObj != null && !jQuery.isEmptyObject(urlObj) && !isUrlSame) {

                        updateLinkAssetFields(urlObj);
                    }
                }
            }
        }
        else {
            if ($("#hdnMessageLinkImage").val() != '')
                clearLinkAssetFields();
        }
        // This will be never executed, we may have to visit this when preview tab functionality is enabled.
        /*else { 
            var imageUrl = $("#hdnMessageImage").val();
            if (typeof imageUrl != "undefined" && imageUrl != "") {
                $(".preview-image").html("").show();

                imageUrl = imageUrl.replace("thumbs/thumb_", "previews/preview_");
                $(".preview-image").append($("<img />").prop("src", imageUrl));
            }
            else {
                $(".preview-image").html("").hide();
            }
        }*/
    }

    function updateLinkAssetFields(urlObj) {
        if (urlObj != null && typeof urlObj.picture != "undefined" && urlObj.picture != '') {
            $("#hdnMessageLink").val(urlObj.url);
            $("#hdnMessageLinkTitle").val(urlObj.title);
            $("#hdnMessageDescription").val(urlObj.description);
            $("#imgSelectedImage").prop("src", urlObj.picture);
            $("#hdnMessageLinkImage").val(urlObj.picture);

            isImageAttached = true;

            fn_FormatTwitterMessage(false);
        }
    }

    function clearLinkAssetFields() {

        if ($("#hdnMessageLinkImage").val() != '' && $("#hdnMessageLink").val() != '') {
            $("#hdnMessageLink").val("");
            $("#hdnMessageLinkTitle").val("");
            $("#hdnMessageDescription").val("");
            $("#imgSelectedImage").prop("src", "@Url.Content("~/App_Themes/General/images/social-place-holder.png")");
            $("#hdnMessageLinkImage").val("");
            isImageAttached = false;
            fn_FormatTwitterMessage(true);
        }
    }

    function getUrlObject(urlItemAssets, value) {
        value = value.trim();
        var obj;
        var selectedObj;
        for (var i = 0; i < urlItemAssets.length; i++) {
            obj = urlItemAssets[i];
            if (obj.url == value) {
                selectedObj = obj;
                break;
            }
        }
        return selectedObj;
    }

    function pushToUrlAssets(url, title, description, imageUrl) {
        var urlObj = { url: url, title: title, description: description, picture: imageUrl };
        urlItemAssets.push(urlObj);

        return urlObj;
    }

    function fn_ToggleFields() {
        if ($('#chkSchedule').is(':checked')) {
            var datetimepicker = $("#start_time").data("kendoDateTimePicker");
            datetimepicker.enable();
        }
        else {
            var datetimepicker = $("#start_time").data("kendoDateTimePicker");
            datetimepicker.enable(false);
            datetimepicker.value('');
        }
    }

    function AttachImage() {
        OpeniAppsAdminPopup("SelectImageLibraryPopup", "ForceEnableSelection=true", "SelectImage");
        return false;
    }

    function UploadMessageImage() {
        OpeniAppsAdminPopup("SelectImageLibraryPopup", "ForceEnableSelection=true", "SelectMessageImage");
        return false;
    }

    function fn_RemoveImage() {
        $("#imgSelectedImage").prop("src", "@Url.Content("~/App_Themes/General/images/social-place-holder.png")");
        $("#hdnMessageLinkImage").val("");
        isImageAttached = false;
        fn_SetSocialMessage(true);
    }

    function fn_InsertPageLink() {
        OpeniAppsAdminPopup("SelectPageLibraryPopup", "ForceEnableSelection=true", "fn_SelectPage");
    }

    function fn_SelectPage() {
        var selectedPageUrl = CreateBitlyUrl(jPublicSiteUrl + popupActionsJson.CustomAttributes["SelectedUrl"]);

        $('#txtFaceBook').val(stringformat("{0} {1}", $('#txtFaceBook').val(), selectedPageUrl));
        $('#txtTwitter').val(stringformat("{0} {1}", $('#txtTwitter').val(), selectedPageUrl));
        $('#txtLinkedIn').val(stringformat("{0} {1}", $('#txtLinkedIn').val(), selectedPageUrl));

        fn_SetSocialMessage();
    }

    function SelectMessageImage() {
        var messageLinkTitle = $("#hdnMessageLinkTitle").val();
        if (typeof messageLinkTitle != "undefined" && messageLinkTitle != "") {
            $.post("@Url.Content("~/activity/CreatePreviewImage")", { path: popupActionsJson.CustomAttributes.PhysicalPath }, function (result) {
            var imageUrl = popupActionsJson.CustomAttributes.ThumbUrl;

            if (result.Path != "")
                imageUrl = imageUrl.replace("thumbs/thumb_", "social/social_");
            else
                imageUrl = imageUrl.replace("thumbs/thumb_", "");

            $(".preview-link-image img").prop("src", imageUrl);
            $("#hdnMessageLinkImage").val(imageUrl);

            $(".preview-tab-details .preview-link-image img").load(function () {
                var marginTop = ($(this).parent().height() - $(this).height()) / 2;
                if (marginTop > 0 && $(this).height() > 0)
                    $(".preview-link-image img").css("margin-top", marginTop);
            });

            isImageAttached = true;
            fn_SetSocialMessage(true);
        });
    }
    else {
        SelectImage();
    }
}

function SelectImage() {
    var imageUrl = popupActionsJson.CustomAttributes.ImageUrl;
    var imageFileName = popupActionsJson.CustomAttributes.ImageFileName;
    var imgSize = parseInt(popupActionsJson.CustomAttributes.ImageSize);

    var imageId = popupActionsJson.SelectedItems[0];
    var thumbimageUrl = imageUrl.replace(new RegExp(imageFileName, "gi"), "thumbs/thumb_" + imageFileName);

    if (!isMasterSite) {
        if (popupActionsJson.CustomAttributes.ImageSiteId.toLowerCase() == jAppId.toLowerCase())
            imageUrl = imageUrl + "?micro_site_id=" + jAppId;
    }
    if (imgSize <= 3072) {
        $("#imgSelectedImage").prop("src", imageUrl);
        $("#hdnMessageLinkImage").val(imageUrl);
        isImageAttached = true;
        fn_SetSocialMessage(true);
    }
    else {
        alert("Please use a different image, the size is greater than the limit size of 3MB");
    }
}

function RefreshLinkContent() {
    fn_SetSocialMessage(true);
}

function subChannelSelected(e) {
    var listItems = $("#SelectedSubChannelId_taglist li");
    listItems.each(function () {
        var channel = $(this).children().first().text().substring(0, 2);
        var subChannelText = $(this).children().first().text().substring(4);
        if (channel != '') {
            $(this).children().first().text(subChannelText);
            if (channel == 'FB') {
                $(this).prepend('<img class="facebook" src="/SocialAdmin/App_Themes/General/images/icon-facebook-24.png" alt="" />');
            }
            if (channel == 'FP') {
                $(this).prepend('<img class="facebook" src="/SocialAdmin/App_Themes/General/images/icon-facebook-page-24.png" alt="" />');
            }
            else if (channel == 'LI') {
                $(this).prepend('<img class="linkedin" src="/SocialAdmin/App_Themes/General/images/icon-linkedin-24.png" alt="" />');
            }
            else if (channel == 'TW') {
                $(this).prepend('<img class="twitter" src="/SocialAdmin/App_Themes/General/images/icon-twitter-24.png" alt="" />');
            }
        }
    });
}

function fn_ShowContentLibrary() {
    OpeniAppsAdminPopup("SelectContentLibraryPopup", "ForceEnableSelection=true");
}

function submitclicked() {
    $('form').trigger('submit');
    return false;
}

function ToggleComposeMessage() {
    var channels = GetSelectedChannels();

    if (channels.length > 0)
        $("#compose_message").show();
    else
        $("#compose_message").hide();

    var fbTab = $(".message-section .message-content").iAppsTabs("getTabById", "message_facebook");
    var twTab = $(".message-section .message-content").iAppsTabs("getTabById", "message_twitter");
    var linTab = $(".message-section .message-content").iAppsTabs("getTabById", "message_linkedin");

    var selectedTab = 1;

    if (channels.exists("linkedin")) {
        linTab.Tab.show();
        $(".preview-linkedin").show();
        selectedTab = linTab.Index;
    }
    else {
        linTab.Tab.hide();
        $(".preview-linkedin").hide();
    }

    if (channels.exists("twitter")) {
        twTab.Tab.show();
        $(".preview-twitter").show();
        selectedTab = twTab.Index;
    }
    else {
        twTab.Tab.hide();
        $(".preview-twitter").hide();
    }

    if (channels.exists("facebook")) {
        fbTab.Tab.show();
        $(".preview-facebook").show();
        selectedTab = fbTab.Index;
    }
    else {
        fbTab.Tab.hide();
        $(".preview-facebook").hide();
    }

    $(".message-section .message-content").iAppsTabs("selectTab", selectedTab);

    if ($("#txtFaceBook").val() == "" && $("#txtTwitter").val() != "")
        $("#txtFaceBook").val($("#txtTwitter").val());

    if ($("#txtTwitter").val() == "" && $("#txtFaceBook").val() != "")
        $("#txtTwitter").val($("#txtFaceBook").val());
}

function GetSelectedChannels() {
    var channels = [];
    if ($("#user_subchannels li img.facebook").length > 0)
        channels.push("facebook");
    if ($("#user_subchannels li img.linkedin").length > 0)
        channels.push("linkedin");
    if ($("#user_subchannels li img.twitter").length > 0)
        channels.push("twitter");

    if ($("#user_groups ul li").length > 0) {
        $("#group_channel input:checked").each(function () {
            var channelName = $(this).siblings(".channel-name").val().toLowerCase();
            channels.push(channelName);
        });
    }

    return channels;
}

$(function () {
    $(".message-section .message-content").iAppsTabs();
    $("form").submit(function (e) {
        if (ValidateShareMessage()) {
            ShowiAppsLoadingPanel();
            $.post($(this).attr("action"),
                    $(this).serialize(),
                    function (data) {
                        if (typeof (data.success) != 'undefined' && !data.success) {
                            alert(data.message);
                            CanceliAppsAdminPopup(false);
                            CloseiAppsLoadingPanel();
                            parent.onShareMessageClose();
                        }
                        else {
                            alert(data);
                            CanceliAppsAdminPopup(false);
                            CloseiAppsLoadingPanel();
                            parent.onShareMessageClose();
                        }
                    });
        }
        e.preventDefault();
    });

    $(".preview-tabs").iAppsTabs({
        onTabSelect: function (e) {
            fn_SetSocialMessage(true);
        }
    });

    //$("form").validate().settings.ignore = [];
    $(".enable-state").hide();
    $(".disable-state").bind("click", function () {
        $(".disable-state").hide();
        $(".enable-state").show();
        var datetimepicker = $("#start_time").data("kendoDateTimePicker");
        datetimepicker.enable(true);
    });

    $(".enable-state img").bind("click", function () {
        $(".enable-state").hide();
        $(".disable-state").show();
        var datetimepicker = $("#start_time").data("kendoDateTimePicker");
        datetimepicker.enable(false);
    });

    setTimeout(function () {
        $("#SelectedSubChannelId").kendoMultiSelect({
            height: 500,
            width: 450,
            change: function (e) {
                subChannelSelected(e);
                ToggleComposeMessage();
            }
        });
        $("#SelectedGroupIds").kendoMultiSelect({
            height: 500,
            width: 450,
            filter: "contains",
            change: function (e) {
                ToggleComposeMessage();
            }
        });

        var datetimepicker = $("#start_time").data("kendoDateTimePicker");
        if ('@Model.start_time' != "") {
            $(".disable-state").hide();
            $(".enable-state").show();
            datetimepicker.enable(true);
        }

        fn_SetSocialMessage(false);
    }, 500);

    $(".cleardate").bind("click", function () {
        var datetimepicker = $("#start_time").data("kendoDateTimePicker");
        datetimepicker.enable(false);
        datetimepicker.value('');
    });

    setTimeout(function () {
        var listItems = $("#user_subchannels li");
        listItems.each(function () {
            var $this = $(this).find("span").first();
            var channel = $this.text().substring(0, 2);
            var subChannelText = $this.text().substring(4);
            $this.text(subChannelText);
            if (channel == 'FB') {
                $(this).prepend("<img class='facebook' src='/SocialAdmin/App_Themes/General/images/icon-facebook-24.png' />");
            }
            else if (channel == 'FP') {
                $(this).prepend("<img class='facebook' src='/SocialAdmin/App_Themes/General/images/icon-facebook-page-24.png' />");
            }
            else if (channel == 'LI') {
                $(this).prepend("<img class='linkedin' src='/SocialAdmin/App_Themes/General/images/icon-linkedin-24.png' />");
            }
            else if (channel == 'TW') {
                $(this).prepend("<img class='twitter' src='/SocialAdmin/App_Themes/General/images/icon-twitter-24.png' />");
            }
        });

        ToggleComposeMessage();
    }, 600);

    setTimeout(function () {
        subChannelSelected();

        ToggleComposeMessage();
    }, 200);

    $('#txtFaceBook').on('input propertychange', function () {
        if (!twitterMessageUpdated)
            $("#txtTwitter").val($(this).val());
        //if (!linkedInMessageUpdated)
        $("#txtLinkedIn").val($(this).val());
        fn_SetSocialMessage(true);
    });

    $('#txtTwitter').on('input propertychange', function () {
        twitterMessageUpdated = true;
        fn_SetSocialMessage(true);
    });

    $('#txtLinkedIn').on('input propertychange', function () {
        //linkedInMessageUpdated = true;
        if (!twitterMessageUpdated)
            $("#txtTwitter").val($(this).val());
        $("#txtFaceBook").val($(this).val());
        fn_SetSocialMessage(true);
    });

    $("#group_channel").on("change", "input[type=checkbox]", function () {
        ToggleComposeMessage();
    });
});

function ValidateShareMessage() {
    fn_SetSocialMessage(true);

    var message = '';
    var channels = GetSelectedChannels();
    if (channels.exists("facebook")) {
        message = $("#txtFaceBook").val();
        if (message == '' || message == null) {
            alert("Please enter facebook message.");
            return false;
        }

        if (!AdminCallback.ValidateByType("Description", message)) {
            alert("Please enter facebook message as plain text.");
            return false;
        }
    }

    if (channels.exists("twitter")) {
        message = $("#txtTwitter").val();
        if (message == '' || message == null) {
            alert("Please enter twitter message.");
            return false;
        }

        if (!AdminCallback.ValidateByType("Description", message)) {
            alert("Please enter twitter message as plain text.");
            return false;
        }

        if ($("#txtFaceBook").val() == "") {
            $("#txtFaceBook").val(message);
        }

        var twitterCount = parseInt($(".label-twitter").text());
        if (twitterCount < 0) {
            if (window.confirm("Twitter message exceeded allowed length. \nClick 'OK' to auto format the message.\nClick 'Cancel' to update the message."))
                fn_FormatTwitterMessage(true);

            return false;
        }
    }

    //Validtate Date
    var broadcastDate = ''
    var datepicker = $("#start_time").data("kendoDateTimePicker");

    var broadcastDate = datepicker.value();
    if (broadcastDate != null && broadcastDate != '') {
        var selectedDateTime = new Date(broadcastDate);
        var selectedDateTimeinUTC = new Date(selectedDateTime.toUTCString());
        var currentDate = new Date();
        var currentDateinUTC = new Date(currentDate.toUTCString());
        if (selectedDateTimeinUTC <= currentDateinUTC) {
            alert("Broadcast date should be greater than today");
            return false;
        }
    }

    ValidateAudience();

    /*if ($("#hdnMessageLinkTitle").val() != "" && $("#hdnMessageLinkImage").val() == "") {
        alert("Please upload an image for the link.");
        return false;
    }

    if ($("#hdnMessageLinkTitle").val() == "") {
        alert("There is an error in sharing this post. Please contact support for more details.");
        return false;
    }*/

    return true;
}

function ValidateAudience() {
    //Validate Subchannel and Group
    var selectedGroup = '';
    var selectedSubChannel = '';
    var groupMultiselect = $("#SelectedGroupIds").data("kendoMultiSelect");
    var subChannelMultiselect = $("#SelectedSubChannelId").data("kendoMultiSelect");

    // get the value of the group multiselect.
    if (groupMultiselect != null)
        selectedGroup = groupMultiselect.value();

    // get the value of the subchannel multiselect.
    selectedSubChannel = subChannelMultiselect.value();

    if ((selectedSubChannel == '' || selectedSubChannel == null) && (selectedGroup == null || selectedGroup == '')) {
        alert("Please select a subchannel or a group");
        return false;
    }

    //Validate channel - if group is selected
    if (selectedGroup != '' && selectedGroup != null) {
        var selectedGroups = $("#group_channel input[type=checkbox]:checked").length;
        if (selectedGroups == 0) {
            alert("Please select one of the channel");
            return false;
        }
    }

    return true;
}
</script>

<script type="text/javascript">
    @Html.Action("RenderItemAssetLink", "Activity", new { @Model.MessageLink })
</script>
