﻿@model List<Bridgeline.FW.Social.Model.TopicTreeViewItemModel>

@foreach (var t in Model)
{
    <li class="node @(t.HasChildren ? "hasChildren" : "leaf")" data-id="@t.Id" data-group="@t.HtmlAttributes["Group"]" data-topicid="@t.TopicId" data-customtopic="@t.CustomTopic" data-enabled="@t.Enabled">@t.Text
        @if (t.HasChildren)
        {
            <ul>
                @Html.Partial("_topics", t.Items)
            </ul>
        }
    </li>
}

