﻿@model System.Collections.Generic.List<Bridgeline.FW.Social.Model.SubchannelStatus>

<div class="grid-section">
    <table class="grid" border="0">
        <tbody>
            @{ int i = 0; }

            @foreach (var subchannel_status in Model)
            {
                i++;
                <tr class="@(i % 2 == 0 ? "alternate-row" : "row")">
                    <td>
                        @if (subchannel_status.channel_id == (int)Bridgeline.FW.Social.Model.ChannelType.Facebook)
                        {
                            <img src="@Url.Content("~/App_Themes/General/images/icon-facebook-24.png")" alt="facebook" />
                        }
                        @if (subchannel_status.channel_id == (int)Bridgeline.FW.Social.Model.ChannelType.Twitter)
                        {
                            <img src="@Url.Content("~/App_Themes/General/images/icon-twitter-24.png")" alt="Twitter" />
                        }
                        @if (subchannel_status.channel_id == (int)Bridgeline.FW.Social.Model.ChannelType.LinekdIn)
                        {
                            <img src="@Url.Content("~/App_Themes/General/images/icon-linkedin-24.png")" alt="LinkedIn" />
                        }
                    </td>
                    <td class="msg-to">@subchannel_status.subchannel_name</td>
                    <td class="msg-status">
                        @if (subchannel_status.status.status_code == 0)
                        {
                            <span>Success</span>
                        }
                        else
                        {
                            <span>Faliure</span>
                        }
                    </td>
                    <td>
                        <span>@ViewBag.BroadCastType</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
