﻿@{
    ViewBag.Title = @Bridgeline.iAPPS.Resources.GUIStrings.MyActivity;
}

@if (ViewBag.UnAuthorized)
{
    <div class="no-token-message">
        You account is not setup with our social platform. Please contact site administrator to setup your account.
    </div>
}
else
{
    <h1>@Bridgeline.iAPPS.Resources.GUIStrings.MyActivity</h1>
    <div id="my_activity" class="clear-fix">
        <div class="left-control">
            <div class="tree-container">
                <div class="tree-header clear-fix">
                    <div class="tree-actions">
                        @Html.Action("RenderTreeActions", "General", new { treeName = "TopicsTree", pageName = "MyActivity" })
                    </div>
                </div>
                <ul id="treeview" class="treeview">
                    @Html.Action("TopicsTree")
                </ul>
            </div>
        </div>
        <div class="right-control">
            <div id="divItems">
                 @Html.Action("GetItems")
            </div>
        </div>
    </div>
    <div id="regenerateToken" class="iapps-modal regenerate-token" style="display: none;">
        <div class="modal-header clear-fix">
            <h2>Reconnect Your Account
            </h2>
        </div>
        <div class="modal-content">
            <div class="form-row" id="regenerate_message">
            </div>
            <div class="form-row">
                @Html.ActionLink("Connect to Facebook", "ReconnectSocial", new { providerName = "facebook" })
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" name="btnCancel" class="button" onclick="CloseRegenerateToken();" 
            value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />
        </div>
    </div>
    <script>
        $(function () {
            $("#regenerateToken").hide();

            $("#treeview").kendoTreeView({
                select: function (e) {
                    $(".tree-container").treeActions("selectNode", $(e.node));
                }
            });

            $(".tree-container").treeActions({ treeSelector: $("#treeview"), kendoTree: true });
            $("#my_activity").gridActions({ objList: $("#divItems"), type: "list" });

            var firstNode = $(".tree-container").treeActions("getSelectNode");
            $(".tree-container").treeActions("selectNode", firstNode);
        });

        function ValidateFacebookToken() {
            $.get("@Url.Content("~/activity/GetFacebookTokenData")", function (result) {
                if (result != null && result != "") {
                    var futureDayLimit = parseInt("@Bridgeline.FW.Global.ConfigHelper.FWAppSettings.GetIntValue("Social.FBTokenFutureExpiryDays", 7)");
                    var showPrompt = false;
                    var second = 1000, minute = second * 60, hour = minute * 60, day = hour * 24, week = day * 7;
                    var expDate = new Date(result.expires_at * 1000);

                    var elapsedDays = Math.floor((expDate - new Date()) / day);

                    if (!result.is_valid || (result.expires_at > 0 && result.is_expired)) {
                        showPrompt = true;
                        $("#regenerate_message").html("@Html.Raw(Bridgeline.FW.Global.ConfigHelper.FWAppSettings.GetStringValue("Social.FBTokenExpiredMessage", "FB Token Expired"))");
                    }
                    else if (result.expires_at > 0 && elapsedDays < futureDayLimit) {
                        showPrompt = true;
                        $("#regenerate_message").html(stringformat("@Html.Raw(Bridgeline.FW.Global.ConfigHelper.FWAppSettings.GetStringValue("Social.FBTokenFutureExpiryMessage", "FB Token will expire in {0} days."))", elapsedDays));
                    }
                    else if (result.scopes.indexOf("read_insights") == -1) {
                        showPrompt = true;
                        $("#regenerate_message").html("@Html.Raw(Bridgeline.FW.Global.ConfigHelper.FWAppSettings.GetStringValue("Social.FBNoInsightPermission", "Insight Permission missing"))");
                    }

            if (showPrompt)
                $("#regenerateToken").iAppsDialog("open");
        }
            });
}

function CloseRegenerateToken() {
    $("#regenerateToken").iAppsDialog("close");
}

        function Tree_Callback(sender, eventArgs) {
            if (eventArgs.Action == "Refresh")
                $("#my_activity").gridActions("callback");
        }

        function Tree_ItemSelect(sender, selectedNode) {
            var nodeId = selectedNode.data("id");
            var group = selectedNode.data("group");
            var topicId = selectedNode.data("topicid");
            var customTopic = selectedNode.data("customtopic");
            var enabled = selectedNode.data("enabled");
            if (enabled == 'False') {
                return;
            }

            if (treeActionsJson.CustomAttributes == null)
                treeActionsJson.CustomAttributes = {};

            if (group == 'Topic') {
                treeActionsJson.CustomAttributes["TopicId"] = nodeId;
                treeActionsJson.CustomAttributes["FeedId"] = '';
                treeActionsJson.CustomAttributes["FilterId"] = '';
            }

            if (group == 'Feed') {
                treeActionsJson.CustomAttributes["FeedId"] = nodeId;
                treeActionsJson.CustomAttributes["FilterId"] = '';
                treeActionsJson.CustomAttributes["TopicId"] = topicId;
            }

            if (group == 'Filter') {
                treeActionsJson.CustomAttributes["FilterId"] = nodeId;
                treeActionsJson.CustomAttributes["FeedId"] = '';
                treeActionsJson.CustomAttributes["TopicId"] = topicId;
            }

            if (customTopic != '') {
                treeActionsJson.CustomAttributes["CustomTopic"] = customTopic;
            }
            else {
                treeActionsJson.CustomAttributes["CustomTopic"] = '';
            }

            $("#my_activity").gridActions("selectNode", treeActionsJson.FolderId);
        }

        function Grid_ItemSelect(sender, eventArgs) {
            sender.getItemByCommand("Twitter").hide();
            sender.getItemByCommand("Facebook").hide();
            sender.getItemByCommand("LinkedIn").hide();

            if (gridActionsJson.CustomFilter == "Outbox" || gridActionsJson.CustomFilter == "Scheduled" || gridActionsJson.CustomFilter == "Finished") {
                sender.getItemByCommand("Engage").hideButton();
                sender.getItemByCommand("Reply").hide();
                sender.getItemByCommand("Retweet").hide();
                sender.getItemByCommand("Comment").hide();
                sender.getItemByCommand("Like").hide();
                sender.getItemByCommand("Email").hide();

                sender.getItemByCommand("SendItem").hide();
                sender.getItemByCommand("Archive").hide();
                sender.getItemByCommand("Export").hide();
                sender.getItemByCommand("Read").hide();

                sender.getItemByCommand("Unread").hide();
                sender.getItemByCommand("Deleted").hide();
                sender.getItemByCommand("FollowUp").hide();
                sender.getItemByCommand("MarkAs").hide();
                sender.getItemByCommand("More").hideButton();
            }
            else {
                var isValidTwitterItemForReply = eventArgs.selectedItem.getValue("IsValidTwitterItemForReply");
                if (isValidTwitterItemForReply == 'false') {
                    sender.getItemByCommand("Reply").hide();
                    sender.getItemByCommand("Retweet").hide();
                }
                else {
                    sender.getItemByCommand("Reply").show();
                    sender.getItemByCommand("Retweet").show();
                }

                var isValidFacebookItemForComment = eventArgs.selectedItem.getValue("IsValidFacebookItemForComment");
                if (isValidFacebookItemForComment == 'false') {
                    sender.getItemByCommand("Comment").hide();
                    sender.getItemByCommand("Like").hide();
                }
                else {
                    sender.getItemByCommand("Comment").show();
                    sender.getItemByCommand("Like").show();
                }

                $.get("/socialadmin/api/channel/get", function (result) {
                    $.each(result, function () {
                        sender.getItemByCommand(this.title).show();
                    });
                });

            }

            if ("@Bridgeline.FW.Global.GlobalManager.IsEngagementSpecialist().ToString().ToLower()" != "true")
                sender.getItemByCommand("SendItem").hide();
        }

        function Grid_Callback(sender, eventArgs) {
            var doCallback = false;
            var selectedItemId = gridActionsJson.SelectedIds.first();
            switch (gridActionsJson.Action) {
                case "Engage":
                    OpeniAppsSocialPopup('Engage', 'itemId=' + selectedItemId);
                    break;
                case "Add":
                    OpeniAppsSocialPopup('ManageItems');
                    break;
                case "SentItem":
                    OpeniAppsSocialPopup('SendItem', "itemId=" + selectedItemId);
                    break;
                case "Retweet":
                    OpeniAppsSocialPopup('Retweet', stringformat("itemId={0}&isTweet={1}", selectedItemId, "true"));
                    break;
                case "Like":
                    OpeniAppsSocialPopup('Retweet', stringformat("itemId={0}&isTweet={1}", selectedItemId, "false"));
                    break;
                case "Reply":
                    OpeniAppsSocialPopup('Reply', stringformat("itemId={0}&isTweet={1}", selectedItemId, "true"));
                    break;
                case "Comment":
                    OpeniAppsSocialPopup('Reply', stringformat("itemId={0}&isTweet={1}", selectedItemId, "false"));
                    break;
                case "Compose":
                    OpeniAppsSocialPopup("ShareMessage", "redirect=true");
                    break;
                case "Email":
                    OpenShareByEmail(eventArgs.selectedItem.getValue("ItemTitle"), eventArgs.selectedItem.getValue("shortUrl"));
                    break;
                case "MarkAs":
                    break;
                case "Facebook":
                case "Twitter":
                case "LinkedIn":
                    OpeniAppsSocialPopup('ShareMessage', stringformat("ChannelName={0}&itemId={1}&shareMessage=true&redirect=true", gridActionsJson.Action, selectedItemId), "onShareMessageClose");
                    break;
                case "Read":
                case "Unread":
                case "Deleted":
                case "Followup":
                    if (eventArgs.selectedItem.getValue("ItemState") == "Engaged")
                        alert("Engaged items cannot change state");
                    else
                        doCallback = true;
                    break;
                default:
                    doCallback = true;
                    break;
            }

            if (doCallback) {
                gridActionsJson.CustomAttributes["FilterId"] = treeActionsJson.CustomAttributes["FilterId"];
                gridActionsJson.CustomAttributes["FeedId"] = treeActionsJson.CustomAttributes["FeedId"];
                gridActionsJson.CustomAttributes["TopicId"] = treeActionsJson.CustomAttributes["TopicId"];
                gridActionsJson.CustomAttributes["CustomTopic"] = treeActionsJson.CustomAttributes["CustomTopic"];
                var getPublishedItems = 'false';
                getPublishedItems = getParameterByName('GetPublishedItems');
                if (getPublishedItems != null && getPublishedItems == 'True' && (gridActionsJson.CustomFilter == null || gridActionsJson.CustomFilter == '')) {
                    gridActionsJson.CustomFilter = "Finished";
                }
                var url = '@Url.Action("Items_Callback", "Activity")';//?GetPublishedItems=' + getPublishedItems;
                $("#my_activity").gridActions("mvcCallback", url, "#divItems", {
                    complete: function () {
                        if (gridActionsJson.ResponseCode == 100)
                            CanceliAppsAdminPopup(true);
                        //This is commented to have a workaround for FB Validation 
                        //ValidateFacebookToken();
                    }
                });
            }
        }
        
        function OpenDetail(itemId) {
            var qs = "itemId=" + itemId;
            OpeniAppsSocialPopup('ReadMore', qs);
        }

        function onShareMessageClose() {
            $("#my_activity").gridActions("callback");
        }

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    </script>
}