﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.ViewItemModel

@{
    ViewBag.Title = "Items";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Bridgeline.iAPPS.Resources.GUIStrings.iAPPSSocial: @Model.Item.title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script>
        @Html.Action("RenderScripts", "Activity")
    </script>
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/scripts/iapps")
    @Styles.Render("~/App_Themes/General/iapps")
</head>
<body>
    <script>
        $(function () {
            $("iframe").height($(window).height() - $(".header-wrapper").height() - 20);
            $("body").css("overflow", "hidden");
        });

        function OpenItemActionPopup(action) {
            var popupName = "ShareMessage";
            var qString = "ItemId=@Model.Item.id&";
            switch (action) {
                case "facebook":
                    qString += "ChannelName=Facebook&ShareMessage=true";
                    break;
                case "twitter":
                    qString += "ChannelName=Twitter&ShareMessage=true";
                    break;
                case "linkedin":
                    qString += "ChannelName=LinkedIn&ShareMessage=true";
                    break;
                case "senditem":
                    popupName = "SendItem"
                    break;
            }

            OpeniAppsSocialPopup(popupName, qString);

            return false;
        }

        function UpdateItemStatus(status) {
            ShowiAppsLoadingPanel();
            var proceed = true;
            if (status == 1)
                proceed = window.confirm("Are you sure you want to delete this item?");

            if (proceed) {
                $.post("@Url.Action("UpdateItemStatus", "Activity")", { itemId: "@Model.Item.id", markAs: status }, function (data) {
                if (typeof (data.success) != 'undefined' && !data.success) {
                    alert(data.message);
                    //CloseiAppsLoadingPanel();
                }
                else {
                    alert(data);
                }
                if (status == 1)
                    window.close();
            });
        }

        CloseiAppsLoadingPanel();
        return false;
    }

    function Engage() {
        return OpeniAppsSocialPopup('Engage', 'itemId=' + "@Model.Item.id");
    }
    </script>
    <div class="item-preview">
        <div class="header-wrapper clear-fix">
            <ul class="left-column">
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/App_Themes/General/images/iapps.png")" alt="@Bridgeline.iAPPS.Resources.GUIStrings.iAPPS" />
                    </a>
                </li>
                <li>
                    <h1>
                        <a href="@Model.Item.url" title="@Model.Item.title">
                            @(Model.Item.title.Length > 100 ? string.Format("{0}...", Model.Item.title.Substring(0, 100)) : Model.Item.title)
                        </a>
                    </h1>
                </li>
                @foreach (var channel in Model.Channels)
                {
                    <li>
                        <a href="#" onclick="return OpenItemActionPopup('@channel.name');">
                            <img src="@Url.Content(string.Format("~/App_Themes/General/images/icon-{0}-24.png", channel.name))" alt="@channel.title" />
                        </a>
                    </li>
                }
                <li>
                    <a href="#" onclick="return OpenShareByEmail('@Model.Item.title', '@Model.Item.short_url');">
                        <img src="@Url.Content("~/App_Themes/General/images/icon-email-24.png")" alt="@Bridgeline.iAPPS.Resources.GUIStrings.Email" />
                    </a>
                </li>
            </ul>
            <ul class="right-column">
                @if (Bridgeline.FW.Global.GlobalManager.IsEngagementSpecialist())
                {
                    <li>
                        <a href="#" onclick="return OpenItemActionPopup('senditem');">
                            <img src="@Url.Content("~/App_Themes/General/images/send-item-button.png")" alt="@Bridgeline.iAPPS.Resources.GUIStrings.SendItem" />
                        </a>
                    </li>
                }
                <li>
                    <a href="#" onclick="return Engage();">
                        <img src="@Url.Content("~/App_Themes/General/images/engage-button.png")" alt="@Bridgeline.iAPPS.Resources.GUIStrings.Engage" />
                    </a>
                </li>
                <li>
                    <a href="#" onclick="return UpdateItemStatus(3);">
                        <img src="@Url.Content("~/App_Themes/General/images/follow-up-button.png")" alt="@Bridgeline.iAPPS.Resources.GUIStrings.FollowUp" />
                    </a>
                </li>
                <li>
                    <a href="#" onclick="return UpdateItemStatus(1);">
                        <img src="@Url.Content("~/App_Themes/General/images/delete-button.png")" alt="@Bridgeline.iAPPS.Resources.GUIStrings.Delete" />
                    </a>
                </li>
            </ul>
        </div>
        <iframe src="@Model.Item.url"></iframe>
    </div>
    @Html.Action("RenderShareByEmail")
    <script type="text/javascript">
        @Html.Action("RenderPopupDTO", "General")
    </script>
</body>
</html>
