﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.SendItemModel

@{
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}
@section PopupHeading {
    @Bridgeline.iAPPS.Resources.GUIStrings.SendItem
}

@section PopupFooter {
    <input type="button" name="btnCancel" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Cancel" />
    <input type="submit" name="ShareItem" class="primarybutton" value="@Bridgeline.iAPPS.Resources.GUIStrings.Send" />
}

@section Styles{
    @Styles.Render("~/content/kendo")
}

@section Scripts{
    @Scripts.Render("~/scripts/jqueryval")
    @Scripts.Render("/iAPPS_Editor/ckeditor.js")
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Please correct the following errors and try again.") 
    
    <div class="form-row">
        <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.User</label>
        <div class="form-value">
            @Html.Kendo().ComboBoxFor(m => m.SelectedUserId).HtmlAttributes(
                new
                {
                    @style = "width:400px;"
                }).DataTextField("email").DataValueField("id").BindTo(Model.Users).Suggest(true)
        </div>
    </div>
    <div class="form-row">
        <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.Or</label>
        <div class="form-value">
            &nbsp;
        </div>
    </div>
    <div class="form-row">
        <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.Group</label>
        <div class="form-value">
            @Html.Kendo().ComboBoxFor(m => m.SelectedGroupId).HtmlAttributes(
                new
                {
                    @style = "width:400px;"
                }).DataTextField("name").DataValueField("id").BindTo(Model.Groups).Suggest(true)
        </div>
    </div>
    <div class="form-row" style="width: 850px; display: none;">
        @Html.TextAreaFor(m => m.Message, new { @class = "ckeditor1" })
    </div>
}
<script>
    $(function () {
        $("form").validate().settings.ignore = [];
        $(".ckeditor1").text("Message");

        $("input[type=submit]").bind("click", function () {
            for (instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();
        });

        $("form").submit(function (e) {
            if ($(this).valid()) {
                ShowiAppsLoadingPanel();
                $.post($(this).attr("action"), $(this).serialize(),
                        function (data) {
                            alert(data);
                            SelectiAppsAdminPopup();
                        });
            }
            e.preventDefault();
        });
    });
</script>
