﻿@model Bridgeline.FW.Social.Model.Broadcast

@{
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}
@section PopupHeading {
    @Bridgeline.iAPPS.Resources.GUIStrings.ViewEngagements
}

@section PopupFooter {
    <input type="button" name="btnClose" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />
}
@if (Model.groups != null && Model.groups.Count > 0)
{
    <div class="form-row">
        <label class="form-label">Group(s)</label>
        <div class="form-value text-value">
            @string.Join(", ", Model.groups.Select(g => g.name))
        </div>
    </div>
}
<div class="tab-section">
    <ul>
        @if (Model.successful_subchannel_statuses_count > 0)
        {
            <li>Success (@Model.successful_subchannel_statuses_count)</li>
        }
        @if (Model.failed_subchannel_statuses_count > 0)
        {
            <li>Failed (@Model.failed_subchannel_statuses_count)</li>
        }
    </ul>
    @if (Model.successful_subchannel_statuses_count > 0)
    {
        <div>
            @Html.Partial("_ViewEngagements", Model.successful_subchannel_statuses)
        </div>
    }
    @if (Model.failed_subchannel_statuses_count > 0)
    {
        <div>
            @Html.Partial("_ViewEngagements", Model.failed_subchannel_statuses)
        </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        $(".view-engagements .tab-section").iAppsTabs();
    });
</script>
