﻿@model List<Bridgeline.iAPPS.Admin.Common.Web.WidgetLink>

<div class="manage-widgets" type="links">
    <a class="edit-widget">@Bridgeline.iAPPS.Resources.GUIStrings.AddRemove</a>
    <div class="widget-list" style="display: none;">
        <div class="iapps-menu-close">
            <img alt="close" src="/Admin/App_Themes/General/images/menu-close.png" />
        </div>
        <h4>@Bridgeline.iAPPS.Resources.GUIStrings.DashboardLinksHelp</h4>
        @foreach (var link in Model)
        {
            <input type="checkbox" name="links" value="@link.Key" checked="@link.Selected" /> @link.Text
        }
    </div>
</div>

@foreach (var p in Model.FindAll(l => l.Selected).OrderBy(l => l.DisplayOrder))
{
    <a href="@p.Url" linkUrl="@p.Key">
        <div class="image">
            <img src="@p.Image" alt="@p.Text" />
        </div>
        <div class="text">@p.Text</div>
    </a>
}
<script>
    BindScripts();
</script>