﻿@model List<Bridgeline.iAPPS.Admin.Common.Web.WidgetControl>

<div class="section-header clear-fix">
    <h2>@Bridgeline.iAPPS.Resources.GUIStrings.SiteActivity</h2>
</div>
<div class="manage-widgets" type="widgets">
    <a class="edit-widget">@Bridgeline.iAPPS.Resources.GUIStrings.AddRemove</a>
    <div class="widget-list" style="display: none;">
        <div class="iapps-menu-close">
            <img alt="close" src="/Admin/App_Themes/General/images/menu-close.png" />
        </div>
        <h4>@Bridgeline.iAPPS.Resources.GUIStrings.DashboardWidgetsHelp</h4>
        @foreach (var widget in Model)
        {
            <input type="checkbox" name="widgets" value="@widget.Key" checked="@widget.Selected" /> @widget.Text
        }
    </div>
</div>
@foreach (var p in Model.FindAll(l => l.Selected))
{
    <div class="boxes" widgetUrl="@p.Key">
        <h3>@p.Text</h3>
        @Html.Action(p.ActionName, p.ControllerName)
    </div>
}
<script>
    BindScripts();
</script>
