﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.DashboardModel

@{
    ViewBag.Title = Bridgeline.iAPPS.Resources.GUIStrings.Dashboard;
}

<script>
    function BindScripts() {
        $(".manage-widgets").each(function () {
            var $this = $(this);
            $this.find(".edit-widget").off("click");
            $this.find(".edit-widget").on("click", function () {
                if ($(this).hasClass("expanded")) {
                    $(".widget-list").hide();
                    $(".edit-widget").removeClass("expanded");
                }
                else {
                    $(".widget-list").hide();
                    $(".edit-widget").removeClass("expanded");
                    $this.find(".widget-list").show();
                    $(this).addClass("expanded");
                }
            });
            $this.find("input[type='checkbox']").off("click");
            $this.find("input[type='checkbox']").on("click", function (e) {
                var selCount = $this.find("input[type='checkbox']:checked").length;
                var maxLength = $this.attr("type") == "links" ? 8 : 4;
                if (selCount == 0) {
                    alert("You should have atleast one item selected.");
                    $(this).prop("checked", true);
                }
                else if (selCount > maxLength) {
                    alert("You cannot have more than " + maxLength + " items selected.");
                    $(this).prop("checked", false);
                }
                else {
                    if ($this.attr("type") == "links") {
                        $.post("@Url.Action("_Links", "Home")", $("form").serialize(), function (v) {
                            $(".cc-buttons").html(v);
                        });
                    }
                    else {
                        $.post("@Url.Action("_Widgets", "Home")", $("form").serialize(), function (v) {
                            $(".site-activity").html(v);
                        });
                    }
                }
            });

            $this.find(".iapps-menu-close").off("click");
            $this.find(".iapps-menu-close").on("click", function () {
                $(this).parent().hide();
                $(".edit-widget").removeClass("expanded");
            });
        });

    if ($(".manage-widgets").length > 0) {
        $(".cc-buttons, .site-activity").sortable({
            forcePlaceHolderSize: true,
            revert: true
        });

        $(document).click(function (e) {
            if (!$(e.target).closest(".manage-widgets").length) {
                $(".widget-list").hide();
            }
        });
    }
}

    function SaveData() {
        var links = [];
        var widgets = [];

        $(".cc-buttons > a").each(function () {
            links.push($(this).attr("linkUrl"));
        });
        $(".site-activity > .boxes").each(function () {
            widgets.push($(this).attr("widgetUrl"));
        });
        
        $.post("@Url.Action("Index", "Home")", { links: JSON.stringify(links), widgets: JSON.stringify(widgets) }, 
            function () {
                window.location = "@Url.Action("Index", "Home")";
            });
    }
</script>

@using (Html.BeginForm())
{
    <div class="@ViewBag.CssClass">
        <div class="page-header clear-fix">
            <h1>@ViewBag.PageTitle</h1>
            @if (Model.IsEditMode)
            {
                <input type="button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Save" class="primarybutton" onclick="SaveData();" />
                @Html.ActionLink(Bridgeline.iAPPS.Resources.GUIStrings.Cancel, "Index", "Home", null,
                new { @class = "button" });
            }
            else
            {
                @Html.ActionLink(Bridgeline.iAPPS.Resources.GUIStrings.Customize, "Index", "Home",
                new { customize = true }, new { @class = "button" });
            }
        </div>

        <div class="cc-buttons clear-fix">
            @Html.Partial("_Links", Model.Links)
        </div>
        <div class="site-activity clear-fix">
            @Html.Partial("_Widgets", Model.Widgets)
        </div>
    </div>
}