﻿@{
    ViewBag.Title = Bridgeline.iAPPS.Resources.GUIStrings.Reporting;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/scripts/kendoDataViz")
@section Styles{
    @Styles.Render("~/content/kendoDataViz")
}
<h1 class="reports">@Bridgeline.iAPPS.Resources.GUIStrings.Reports</h1>
<div class="chart-wrapper">
    <h2 class="chart-header">&nbsp;</h2>
    <div class="report-header clear-fix">
        <div class="left-section">
            <div class="form-row">
                @Html.Label("Date Interval", new { @class = "form-label" })
                <div class="form-value">
                    @Html.DropDownList("date-range",
                new SelectList((ViewBag.DateRanges as Dictionary<string, string>).Select(x => new { Value = x.Key, Text = x.Value }),
                "Value", "Text"), new
                {
                    @onchange = "CreateReportChart()"
                })
                </div>
            </div>
        </div>
        <div class="right-section">
            @using (Html.BeginForm("ExportReport", "Report", FormMethod.Post, new { id = "frmExport" }))
            {
                @Html.DropDownList("export-format",
                new SelectList((ViewBag.ExportFormats as Dictionary<string, string>).Select(x => new { Value = x.Key, Text = x.Value }),
                "Value", "Text"))
                <input type="hidden" id="hdnExportString" name="svg" />
                <input type="hidden" id="hdnExportFormat" name="format" />
                <input type="button" class="primarybutton" value="Export" onclick="ExportReportChart();" style="margin-left: 5px;" />
            }
        </div>
    </div>
    <div id="chart" />
</div>
<script>
    $(function () {
        CreateReportChart();
    });

    function ExportReportChart() {
        var chart = $("#chart").data("kendoChart");
        var svgString = escape(chart.svg());

        $("#hdnExportString").val(svgString);
        $("#hdnExportFormat").val($("#export-format").val());
        $("#frmExport").submit();

        return false;
    }

    function CreateReportChart() {
        ShowiAppsLoadingPanel();
        $.get(stringformat("/socialadmin/api/report/get?reportName={0}&period={1}&noOfPeriods={2}", "@ViewBag.EndPoint", $("#date-range").val(), "@ViewBag.NoOfPeriods"), function (data) {
            $.post("/socialadmin/report/getreport",
            { reportName: "@ViewBag.ReportName", reportData: JSON.stringify(data) }, function (result) {
                $("#chart").html("");
                $(".chart-header").text(result.Title);

                if (result.Type == "chart") {
                    $(".report-header").show();
                    $("#chart").kendoChart({
                        seriesColors: ["blue", "red", "green", "orange", "purple"],
                        title: {
                            text: result.Title,
                            position: "bottom"
                        },
                        dataSource: new kendo.data.DataSource({
                            data: result.Data,
                            schema: {
                                model: {
                                    fields: result.Fields
                                }
                            }
                        }),
                        series: result.Series,
                        categoryAxis: {
                            field: result.AxisFieldName
                        },
                        chartArea: {
                            background: "transparent"
                        },
                        tooltip: {
                            visible: true,
                            template: "#= series.name #: #= value #"
                        },
                        legend: {
                            position: "top"
                        }
                    });
                }
                else {
                    $(".report-header").hide();
                    var tblHead = "";
                    $.each(result.Data[0], function (key, val) {
                        if (key == "1") {
                            var tblRow = "";
                            $.each(val, function (k, v) {
                                tblRow += "<th class='heading-cell'>" + k + "</th>";
                            })
                            tblHead += "<tr class='heading-row'>" + tblRow + "</tr>";
                        }
                    });

                    var tblBody = "";
                    $.each(result.Data[0], function (key, val) {
                        var tblRow = "";
                        $.each(val, function (k, v) {
                            tblRow += "<td>" + v + "</td>";
                        })
                        tblBody += "<tr>" + tblRow + "</tr>";
                    });

                    $("#chart").html("<table class='grid' width='100%'>" + tblHead + tblBody + "</table>");
                }
            }).fail(function (message) {
                $("#chart").html("An unexpected error occured.");
            }).always(function () {
                CloseiAppsLoadingPanel();
            });
        }).fail(function (message) {
            $("#chart").html("An unexpected error occured.");
        }).always(function () {
            CloseiAppsLoadingPanel();
        });
        }
</script>
