﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProductLevelAttributes.ascx.cs" Inherits="Bridgeline.iAPPS.Admin.Commerce.Web.UserControls.StoreManager.Products.ProductLevelAttributes" %>
<asp:Panel ID="PnlProductAttributes" runat="server" CssClass="greyBorderBox ScrollingBox">
</asp:Panel>