﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProductSKUImage.ascx.cs" Inherits="Bridgeline.iAPPS.Admin.Commerce.Web.UserControls.StoreManager.Products.ProductSKUImage" %>
<img id="prImage" runat="server" />