﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SKUAttributes.ascx.cs" Inherits="Bridgeline.iAPPS.Admin.Commerce.Web.UserControls.StoreManager.Products.SKUAttributes" %>
<asp:Panel ID="PnlSKUAttributes" runat="server">
</asp:Panel>
