﻿<%@ Page Language="C#"  ContentType="text/javascript" %>
<%@ Import Namespace="Bridgeline.iAPPS.Resources" %>
var pageof = "<%= JSMessages.Page0of1 %>";
var itemof = "<%= JSMessages.Item0of1 %>";
var Page0of12items = "<%= JSMessages.Page0of12items %>";
var Page0Of12items = "<%= JSMessages.Page0of12items %>";
var _datanotload = "<%= GUIStrings.DataNotLoaded %>";

var Page0Of1 = "<%= JSMessages.Page0of1 %>";
var Item0Of1 = "<%= JSMessages.Item0of1 %>";
var Page0Of1Items = "<%= JSMessages.Page0Of1Items %>";        
var EnterValue2Search = "<%= JSMessages.PleaseEnterValueToSearch %>";
var InValidSearchTerm = "<%= GUIStrings.PleaseUseOnlyAlphanumericCharactersInTheSearchTerm%>";

var emptyGuid = "<%= Guid.Empty %>"; 

var __JSMessages = {
    "Tags" : "<%= JSMessages.Tags %>",
    "CollapseAll": "<%= JSMessages.CollpaseAll %>",
    "ExpandAll": "<%= JSMessages.ExpandAll %>",
    "InvalidCharacter" : "<%= JSMessages.InvalidCharacter %>",
    "DHTMLWindow" : "<%= JSMessages.DHTMLWindow %>",
    "Minimize" : "<%= JSMessages.Minimize %>",
    "Close" : "<%= JSMessages.Close %>",
    "Restore" : "<%= JSMessages.Restore %>",
    "FindAndReplace" : "<%= JSMessages.FindAndReplace %>",
    "PerformingAReplaceOperationInAttributeValues" : "<%= JSMessages.PerformingAReplaceOperationInAttributeValues %>",
    "PleasePreviewTheMatchesInHTMLView" : "<%= JSMessages.PleasePreviewTheMatchesInHTMLView%>",
    "PleaseSelectAtLeastOneItemTypeToLookIn" : "<%= JSMessages.PleaseSelectAtLeastOneItemTypeToLookIn %>",
    "AnErrorHasOccuredSomwhereInsideYourOncloseEventHandler" : "<%= JSMessages.AnErrorHasOccuredSomwhereInsideYourOncloseEventHandler %>",
    "PleaseEnterASearchTerm" : "<%= JSMessages.PleaseEnterASearchTerm %>",
    "PleaseEnterASearchTermSearchTermsCannotContainTheSpecialCharactersLtOrGt" : "<%= JSMessages.PleaseEnterASearchTermSearchTermsCannotContainTheSpecialCharactersLtOrGt %>",
    "TextContent" : "<%= JSMessages.TextContent %>",
    "ContentDefinition" : "<%= JSMessages.ContentDefinition %>",
    "PageName" : "<%= JSMessages.PageName %>",
    "PageProperties" : "<%= JSMessages.PageProperties %>",
    "ImageProperties" : "<%= JSMessages.ImageProperties %>",
    "FileProperties" : "<%= JSMessages.FileProperties %>",
    "Preview" : "<%= JSMessages.Preview %>",
    "JumpToFolderInLibrary" : "<%= JSMessages.JumpToFolderInLibrary %>",
    "JumpToPageInEditor" : "<%= JSMessages.JumpToPageInEditor %>",
    "PleaseSelectAtLeastOneItem" : "<%= JSMessages.PleaseSelectAtLeastOneItem %>",
    "PleaseEnterAReplaceTermReplaceTermsCannotContainTheSpecialCharactersLtOrGt" : "<%= JSMessages.PleaseEnterAReplaceTermReplaceTermsCannotContainTheSpecialCharactersLtOrGt %>",
    "AreYouSureYouWantToReplaceAllInstancesOf0With1InThe2SelectedItems" : "<%= JSMessages.AreYouSureYouWantToReplaceAllInstancesOf0With1InThe2SelectedItems %>",
    "HideBar" : "<%= JSMessages.HideBar %>",
    "PageTree" : "<%= JSMessages.PageTree %>",
    "CollapseTree" : "<%= JSMessages.CollapseTree %>",
    "ExpandTree" : "<%= JSMessages.ExpandTree %>",
    "TypeHereToFilterResults" : "<%= JSMessages.TypeHereToFilterResults %>",
    "Search" : "<%= JSMessages.Search %>",
    "PleaseSelectASite" : "<%= JSMessages.PleaseSelectASite %>",
    "PleaseSelectAGroup" : "<%= JSMessages.PleaseSelectAGroup %>",
    "InsertRecord" : "<%= JSMessages.InsertRecord %>",
    "UpdateRecord" : "<%= JSMessages.UpdateRecord %>",
    "DeleteRecord" : "<%= JSMessages.DeleteRecord %>",
    "AreYouSureYouWantToSubmit" : "<%= JSMessages.AreYouSureYouWantToSubmit %>",
    "InInlineScript" : "<%= JSMessages.InInlineScript %>",
    "VALUEIsNotAValidDateUseTheFormatDDMONYEAR" : "<%= JSMessages.VALUEIsNotAValidDateUseTheFormatDDMONYEAR %>",
    "VALUEIsInvalidAcceptableValues" : "<%= JSMessages.VALUEIsInvalidAcceptableValues %>",
    "VALUEIsNotAValidEmailAddress" : "<%= JSMessages.VALUEIsNotAValidEmailAddress %>",
    "VALUEIsNotAValidNumber" : "<%= JSMessages.VALUEIsNotAValidNumber %>",
    "VALUEIsNotAValidPositiveNumberOrZero" : "<%= JSMessages.VALUEIsNotAValidPositiveNumberOrZero %>",
    "VALUEIsNotAValidWholeNumber" : "<%= JSMessages.VALUEIsNotAValidWholeNumber %>",
    "VALUEIsNotAValidPositiveWholeNumberOrZero" : "<%= JSMessages.VALUEIsNotAValidPositiveWholeNumberOrZero %>",
    "VALUEMustBeAWholeNumberBetween0And100" : "<%= JSMessages.VALUEMustBeAWholeNumberBetween0And100 %>",
    "AnyFilesItemsInThisDirectoryWillBeMovedToTheUnassignedDirectoryAndThisDirectoryWillBeDeleted" : "<%= JSMessages.AnyFilesItemsInThisDirectoryWillBeMovedToTheUnassignedDirectoryAndThisDirectoryWillBeDeleted %>",
    "DeletingFailedPleaseTryAgain" : "<%= JSMessages.DeletingFailedPleaseTryAgain %>",
    "UploadImage" : "<%= JSMessages.UploadImage %>",
    "AddingNewNodeFailedPleaseTryAgain" : "<%= JSMessages.AddingNewNodeFailedPleaseTryAgain %>",
    "RenameFailedPleaseTryAgain" : "<%= JSMessages.RenameFailedPleaseTryAgain %>",
    "InvalidEmailAddress" : "<%= JSMessages.InvalidEmailAddress %>",
    "PleaseEnter0" : "<%= JSMessages.PleaseEnter0 %>",
    "PleaseSelect0" : "<%= JSMessages.PleaseSelect0 %>",
    "PleaseSpecify0" : "<%= JSMessages.PleaseSpecify0 %>",
    "MustBeInTheFormatOfmmddyyyy" : "<%= JSMessages.MustBeInTheFormatOfmmddyyyy %>",
    "AreYouSureYouWantToDeleteThisChannel" : "<%= JSMessages.AreYouSureYouWantToDeleteThisChannel %>",
    "ContentLib" : "<%= JSMessages.ContentLib %>",
    "ChannelAlreadyExists" : "<%= JSMessages.ChannelAlreadyExists %>",
    "PleaseSelectAChannelFromAvailableChannels" : "<%= JSMessages.PleaseSelectAChannelFromAvailableChannels %>",
    "InvalidInputCharacters" : "<%= JSMessages.InvalidInputCharacters %>",
    "AreYouSureYouWantToDeleteThisFeed" : "<%= JSMessages.AreYouSureYouWantToDeleteThisFeed %>",
    "Groups" : "<%= JSMessages.Groups %>",
    "Users" : "<%= JSMessages.Users %>",
    "_0HasExceededMaximumLevelCount" : "<%= JSMessages._0HasExceededMaximumLevelCount %>",
    "ActivateGroup" : "<%= JSMessages.ActivateGroup %>",
    "DeactivateGroup" : "<%= JSMessages.DeactivateGroup %>",
    "DeactivateUser" : "<%= JSMessages.DeactivateUser %>",
    "MenuItemNotAdded" : "<%= JSMessages.MenuItemNotAdded %>",
    "TheMainGroupAlreadyContainsTheMaximumNumber0OfSubGroupLevels" : "<%= JSMessages.TheMainGroupAlreadyContainsTheMaximumNumber0OfSubGroupLevels %>",
    "PermissionsForDeactivatedUsersCannotBeAddedOrDeleted" : "<%= JSMessages.PermissionsForDeactivatedUsersCannotBeAddedOrDeleted %>",
    "CustomPermission" : "<%= JSMessages.CustomPermission %>",
    "ActivateUser" : "<%= JSMessages.ActivateUser %>",
    "CheckTheId" : "<%= JSMessages.CheckTheId %>",
    "UpdatePermissionPopup" : "<%= JSMessages.UpdatePermissionPopup %>",
    "Editor" : "<%= JSMessages.Editor %>",
    "JumpToHome" : "<%= JSMessages.JumpToHome %>",
    "JumpToLastVisitedPage" : "<%= JSMessages.JumpToLastVisitedPage %>",
    "ResetCache" : "<%= JSMessages.ResetCache %>",
    "NewNode" : "<%= JSMessages.NewNode %>",
    "SiteMapHome" : "<%= JSMessages.Home%>",
    "PoweredByBing" : "<%= JSMessages.PoweredByBing %>",
    "PleaseInsertAContentItem" : "<%= JSMessages.PleaseInsertAContentItem %>",
    "PleaseSelectTheImageYouWantToEdit" : "<%= JSMessages.PleaseSelectTheImageYouWantToEdit %>",
    "CanNotEditProductImage" : "<%= JSMessages.CanNotEditProductImage %>",
    "ThisImageIsLoadedFromSharePointLibrary" : "<%= JSMessages.ThisImageIsLoadedFromSharePointLibrary %>",
    "ThisVersionOfTheImageCanNotBeEdited" : "<%= JSMessages.ThisVersionOfTheImageCanNotBeEdited %>",
    "PleaseSelectTheTextYouWantToConvertToALink" : "<%= JSMessages.PleaseSelectTheTextYouWantToConvertToALink %>",
    "PleaseUseTheLinksAndBookmarksToOpenThisLink" : "<%= JSMessages.PleaseUseTheLinksAndBookmarksToOpenThisLink %>",
    "PleaseEnterANameForTheSnippet" : "<%= JSMessages.PleaseEnterANameForTheSnippet %>",
    "YouMustEnterANameForTheSnippet" : "<%= JSMessages.YouMustEnterANameForTheSnippet %>",
    "YouMustAddContentToTheEditor" : "<%= JSMessages.YouMustAddContentToTheEditor %>",
    "RequestIsTooLarge" : "<%= JSMessages.RequestIsTooLarge %>",
    "LinkToLibrary" : "<%= JSMessages.LinkToLibrary %>",
    "LinkToSharePointLibrary" : "<%= JSMessages.LinkToSharePointLibrary %>",
    "ImageDialog" : "<%= JSMessages.ImageDialog %>",
    "ProductImageDialog" : "<%= JSMessages.ProductImageDialog %>",
    "LinkToProductDialog" : "<%= JSMessages.LinkToProductDialog %>",
    "FlashDialog" : "<%= JSMessages.FlashDialog %>",
    "ImageEditor" : "<%= JSMessages.ImageEditor %>",
    "ManageLink" : "<%= JSMessages.ManageLink %>",
    "iAPPS" : "<%= JSMessages.Home%>",
    "SnippetManager" : "<%= JSMessages.SnippetManager%>",
    "AssetWatchAlreadyAssociated": "<%= JSMessages.AssetWatchAlreadyAssociated %>",
    "SaveFormBeforeEditProperties": "<%= JSMessages.SaveFormBeforeEditProperties %>",
    "ActiveStatus" : "<%= JSMessages.Active%>",
    "InActiveStatus" : "<%= JSMessages.InActive%>",
    "PleaseSelectAtLeastOnePermissionForThisUser" :  "<%= JSMessages.PleaseSelectAtLeastOnePermissionForThisUser%>",
    "TheWidthAndHeightOfTheVideoPlayerMustBeNumericValues" : "<%= JSMessages.TheWidthAndHeightOfTheVideoPlayerMustBeNumericValues %>",
    "NoTagsAttached" : "<%= JSMessages.NoTagsAttached %>",
    "YouDoNotHavePermissionToEditThisImage": "<%= JSMessages.YouDoNotHavePermissionToEditThisImage%>",

    "InvalidCharacter" : "<%= JSMessages.InvalidCharacter %>",
    "DHTMLWindow" : "<%= JSMessages.DHTMLWindow %>",
    "Minimize" : "<%= JSMessages.Minimize %>",
    "Close" : "<%= JSMessages.Close %>",
    "Restore" : "<%= JSMessages.Restore %>",
    "Anerrorhasoccuredsomwhereinsideyouroncloseeventhandler" : "<%= JSMessages.AnErrorHasOccuredSomwhereInsideYourOncloseEventHandler %>",
    "Search" : "<%= JSMessages.Search %>",
    "Typeheretofilterresults" : "<%= JSMessages.TypeHereToFilterResults%>",
    "invaliddate" : "<%= JSMessages.InvalidDate %>",
    "Theexpirationdatecannotbebeforetomorrowsdate" : "<%= JSMessages.TheexpirationdatecannotbebeforetomorrowsdateanddateformatshouldbeMMddyyyyPleasechooseadifferentdate %>",
    "LicenseWarning" : "<%= JSMessages.LicenseWarning %>",
    "Editor" : "<%= JSMessages.Editor %>",
    "JumptoHome" : "<%= JSMessages.JumpToHome %>",
    "JumptoLastVisitedPage" : "<%= JSMessages.JumpToLastVisitedPage %>",
    "Insertrecord" : "<%= JSMessages.InsertRecord %>",
    "Updaterecord" : "<%= JSMessages.UpdateRecord %>",
    "Deleterecord" : "<%= JSMessages.DeleteRecord %>",
    "ViewContacts" : "<%= JSMessages.ViewContacts %>",
    "AssignContactstoDistributionList" : "<%= JSMessages.AssignContactstoDistributionList %>",
    "iAPPSMarketierContact" : "<%= JSMessages.iAPPSMarketierContact %>",
    "iAPPSCommerceCustomer" : "<%= JSMessages.iAPPSCommerceCustomer %>",
    "iAPPSCMUser" : "<%= JSMessages.iAPPSCMUser %>",
    "NewNode" : "<%= JSMessages.NewNode %>",
    "Anyfilesitemsinthisdirectorywillbemoved" : "<%= JSMessages.AnyfilesitemsinthisdirectorywillbemovedtotheUnassigneddirectoryandthisdirectorywillbedeletedAreyousureyouwanttodothis %>",
    "DeletingFailedPleasetryagain" : "<%= JSMessages.DeletingFailedPleaseTryAgain %>",
    "UploadImage" : "<%= JSMessages.UploadImage %>",
    "AddingnewnodefailedPleasetryagain" : "<%= JSMessages.AddingNewNodeFailedPleaseTryAgain %>",
    "RenameFailedPleasetryagain" : "<%= JSMessages.RenameFailedPleaseTryAgain %>",
    "CollapseTree" : "<%= JSMessages.CollapseTree %>",
    "ExpandTree" : "<%= JSMessages.ExpandTree %>",
    "Thedateformatshouldbemmddyyyy" : "<%= JSMessages.TheDateFormatShouldBeMmddyyyy %>",
    "Pleaseenteravalidmonth" : "<%= JSMessages.PleaseEnterAValidMonth %>",
    "Pleaseenteravalidday" : "<%= JSMessages.PleaseEnterAValidDay %>",
    "Pleaseenteravalid4digityearbetween0and1" : "<%= JSMessages.PleaseEnterAValid4DigitYearBetween0And1 %>",
    "Pleaseenteravaliddate" : "<%= JSMessages.PleaseEnterAValidDate %>",
    "InvalidEmailAddress" : "<%= JSMessages.InvalidEmailAddress %>",
    "Pleaseselect0" : "<%= JSMessages.PleaseSelect0 %>",
    "Pleasespecify0" : "<%= JSMessages.PleaseSpecify0 %>",
    "Pleaseenter0" : "<%= JSMessages.PleaseEnter0 %>",
    "_MustBeInTheFormatOfmmddyyyy" : "<%= JSMessages.MustBeInTheFormatOfmmddyyyy %>",
    "Pleaseentervalid0" : "<%= JSMessages.PleaseEnterValid0 %>",
    "Users" : "<%= JSMessages.Users %>",
    "hasexceededmaximumlevelcount" : "<%= JSMessages.hasexceededmaximumlevelcount %>",
    "ActivateGroup" : "<%= JSMessages.ActivateGroup %>",
    "DeactivateGroup" : "<%= JSMessages.DeactivateGroup %>",
    "DeleteUser" : "<%= JSMessages.DeleteUser %>",
    "DeactivateUser" : "<%= JSMessages.DeactivateUser %>",
    "MenuItemnotadded" : "<%= JSMessages.MenuItemNotAdded %>",
    "Themaingroupalreadycontainsthemaximumnumber" : "<%= JSMessages.Themaingroupalreadycontainsthemaximumnumber0ofsubgrouplevelsThismember1cannotbeadded %>",
    "Permissionsfordeactivateduserscannotbeaddedordeleted" : "<%= JSMessages.PermissionsForDeactivatedUsersCannotBeAddedOrDeleted %>",
    "CustomPermission" : "<%= JSMessages.CustomPermission %>",
    "ActivateUser" : "<%= JSMessages.ActivateUser %>",
    "ChecktheId" : "<%= JSMessages.CheckTheId %>",
    "UpdatePermissionPopup" : "<%= JSMessages.UpdatePermissionPopup %>",
    "SiteMapHome" : "<%= GUIStrings.iAPPS %>",
    "PleaseEnterANameForTheSnippet": "<%= JSMessages.PleaseEnterANameForTheSnippet%>",
    "YouMustEnterANameForTheSnippet": "<%= JSMessages.YouMustEnterANameForTheSnippet%>",
    "YouMustAddContentToTheEditor": "<%= JSMessages.YouMustAddContentToTheEditor%>",
    "PleaseSelectTheTextYouWantToConvertToALink": "<%= JSMessages.PleaseSelectTheTextYouWantToConvertToALink%>",
    "PleaseUseTheLinksAndBookmarksToOpenThisLink":"<%= JSMessages.PleaseUseTheLinksAndBookmarksToOpenThisLink%>",
    "RequestIsTooLarge": "<%= JSMessages.RequestIsTooLargePleaseSelectLessThan0Characters%>",
    "ViewThisEmailInBrowser": "<%= JSMessages.ViewThisEmailInBrowser%>",
    "Unsubscribe": "<%= JSMessages.Unsubscribe%>",
    "ActiveStatus" : "<%= JSMessages.Active%>",
    "InActiveStatus" : "<%= JSMessages.InActive%>",
    "PleaseSelectAtLeastOnePermissionForThisUser" :  "<%= JSMessages.PleaseSelectAtLeastOnePermissionForThisUser%>",

    "InvalidCharacter" : "<%=JSMessages.InvalidCharacter %>",
    "Close" : "<%=JSMessages.Close %>",
    "DHTMLWindow" : "<%=JSMessages.DHTMLWindow %>",
    "Minimize" : "<%=JSMessages.Minimize %>",
    "Restore" : "<%=JSMessages.Restore %>",
    "AnErrorHasOccuredSomwhereInsideYourOncloseEventHandler" : "<%=JSMessages.AnErrorHasOccuredSomwhereInsideYourOncloseEventHandler %>",
    "HideBar" : "<%=JSMessages.HideBar %>",
    "PageTree" : "<%=JSMessages.PageTree %>",
    "SiteStructure" : "<%=JSMessages.SiteStructure %>",
    "CollapseTree" : "<%=JSMessages.CollapseTree %>",
    "ExpandTree" : "<%=JSMessages.ExpandTree %>",
    "Typeheretofilterresults" : "<%=JSMessages.TypeHereToFilterResults %>",
    "Search" : "<%=JSMessages.Search %>",
    "Pleaseselectasite" : "<%=JSMessages.PleaseSelectASite %>",
    "Pleaseselectagroup" : "<%=JSMessages.PleaseSelectAGroup %>",
    "Insertrecord" : "<%=JSMessages.InsertRecord %>",
    "Updaterecord" : "<%=JSMessages.UpdateRecord %>",
    "Deleterecord" : "<%=JSMessages.DeleteRecord %>",
    "NowindowIdprovided" : "<%=JSMessages.NowindowIdprovided %>",
    "intheException" : "<%=JSMessages.intheException%>",
    "NewNode" : "<%=JSMessages.NewNode%>",
    "Anyfilesitemsinthisdirectory" : "<%=JSMessages.AnyfilesitemsinthisdirectorywillbemovedtotheUnassigneddirectoryandthisdirectorywillbedeletedAreyousureyouwanttodothis %>",
    "DeletingFailedPleasetryagain" : "<%=JSMessages.DeletingFailedPleaseTryAgain %>",
    "UploadImage" : "<%=JSMessages.UploadImage %>",
    "AddingnewnodefailedPleasetryagain" : "<%=JSMessages.AddingNewNodeFailedPleaseTryAgain %>",
    "RenameFailedPleasetryagain" : "<%=JSMessages.RenameFailedPleaseTryAgain %>",
    "iAPPSVersionCheck" : "<%=JSMessages.iAPPSVersionCheck %>",
    "LicenseWarning" : "<%=JSMessages.LicenseWarning %>",
    "invaliddate" : "<%=JSMessages.InvalidDate %>",
    "VALUEIsNotAValidDate" : "<%=JSMessages.VALUEIsNotAValidDate %>",
    "VALUEIsInvalid" : "<%=JSMessages.VALUEIsInvalid %>",
    "VALUEIsInvalid1" : "<%=JSMessages.VALUEIsInvalid1 %>",
    "VALUEIsNotAValidEmailAddress" : "<%=JSMessages.VALUEIsNotAValidEmailAddress %>",
    "VALUEIsNotAValidNumber" : "<%=JSMessages.VALUEIsNotAValidNumber %>",
    "IsNotAValidPositiveNumber" : "<%=JSMessages.IsNotAValidPositiveNumber %>",
    "VALUEIsNotAValidWholeNumber" : "<%=JSMessages.VALUEIsNotAValidWholeNumber %>",
    "VALUEIsNotAValidPositiveWholeNumberOrZero" : "<%=JSMessages.VALUEIsNotAValidPositiveWholeNumberOrZero %>",
    "VALUEMustBeAWholeNumberBetween0Amd100" : "<%=JSMessages.VALUEMustBeAWholeNumberBetween0Amd100 %>",
    "TheDateFormatShouldBemmddyyyy" : "<%=JSMessages.TheDateFormatShouldBeMmddyyyy %>",
    "PleaseEnterAValidMonth" : "<%=JSMessages.PleaseEnterAValidMonth %>",
    "PleaseEnterAValid4DigitYearBetween0And1" : "<%=JSMessages.PleaseEnterAValid4DigitYearBetween0And1 %>",
    "PleaseEnterAValidDate" : "<%=JSMessages.PleaseEnterAValidDate %>",
    "IsTheUnicodeCombinationForANewLineCharacterItIsNotAllowedIn0" : "<%=JSMessages.IsTheUnicodeCombinationForANewLineCharacterItIsNotAllowedIn0 %>",
    "Editor" : "<%=JSMessages.Editor %>",
    "JumpToHome" : "<%=JSMessages.JumpToHome %>",
    "JumpToLastVisitedPage" : "<%=JSMessages.JumpToLastVisitedPage %>",
    "Home" : "<%=JSMessages.Home %>",
    "IAPPS" : "<%=JSMessages.IAPPS %>",
    "PermissionsForDeactivatedUsersCannotBeAddedOrDeleted" : "<%=JSMessages.PermissionsForDeactivatedUsersCannotBeAddedOrDeleted %>",
    "CheckTheId" : "<%=JSMessages.CheckTheId %>",
    "DeactivateUser" : "<%=JSMessages.DeactivateUser %>",
    "ActivateUser" : "<%=JSMessages.ActivateUser %>",
    "PleaseWaitWhileYourSessionIsBeingReset" : "<%= JSMessages.PleaseWaitWhileYourSessionIsBeingReset %>",
    "snViews" : "<%= JSMessages.snViews %>",
    "snDrop" : "<%= JSMessages.snDrop %>",
    "snPrevStep" : "<%= JSMessages.snPrevStep%>",
    "MenuItemNotAdded" : "<%=JSMessages.MenuItemNotAdded %>",
    "ActiveStatus" : "<%= JSMessages.Active%>",
    "InActiveStatus" : "<%= JSMessages.InActive%>",
    "PleaseSelectAtLeastOnePermissionForThisUser" :  "<%= JSMessages.PleaseSelectAtLeastOnePermissionForThisUser%>",
    "Count" :  "<%= JSMessages.Count%>",
    "PleaseSelectAFileToUpload" : "<%= JSMessages.Pleaseselectafiletoupload %>",
    "TheUploadedFileMustBeACSVFile" : "<%= JSMessages.TheUploadedFileMustBeACSVFile %>",

    "DHTMLWindow" : "<%= JSMessages.DHTMLWindow %>",
    "Minimize" : "<%= JSMessages.Minimize %>",
    "Close" : "<%= JSMessages.Close %>",
    "Restore" : "<%= JSMessages.Restore %>",
    "AnErrorHasOccuredSomwhere" : "<%= JSMessages.AnErrorHasOccuredSomwhere %>",
    "Search" : "<%= JSMessages.Search %>",
    "TypeHereToFilterResults" : "<%= JSMessages.TypeHereToFilterResults %>",
    "InvalidDate" : "<%= JSMessages.InvalidDate %>",
    "TheExpirationDateCannotBeBeforeTomorrowsDate" : "<%= JSMessages.TheExpirationDateCannotBeBeforeTomorrowsDate %>",
    "LicenseWarning" : "<%= JSMessages.LicenseWarning %>",
    "JumpToHome" : "<%= JSMessages.JumpToHome %>",
    "JumpToLastVisitedPage" : "<%= JSMessages.JumpToLastVisitedPage %>",
    "Editor" : "<%= JSMessages.Editor%>",
    "Home" : "<%= JSMessages.Home %>",
    "AreYouSureYouWantToDeleteTheSelectedItem" : "<%= JSMessages.AreYouSureYouWantToDeleteTheSelectedItem %>",
    "RecordDeletedSuccessfully" : "<%= JSMessages.RecordDeletedSuccessfully %>",
    "ThisItemCannotBeDeleted" : "<%= JSMessages.ThisItemCannotBeDeleted %>",
    "ThisItemDeletedSuccessfully" : "<%= JSMessages.ThisItemDeletedSuccessfully %>",
    "DeleteActionFailed" : "<%= JSMessages.DeleteActionFailed %>",
    "CanHaveOnlyAlphanumericCharacters" : "<%= JSMessages.CanHaveOnlyAlphanumericCharacters %>",
    "IsUnicodeCombinationOfNewLineCharacter" : "<%= JSMessages.IsUnicodeCombinationOfNewLineCharacter %>",
    "NewNode" : "<%= JSMessages.NewNode %>",
    "AreYouSureYouWantToDoThis" : "<%= JSMessages.AreYouSureYouWantToDoThis %>",
    "FirstDeleteTheChildNodesBeforeDeletingThis" : "<%= JSMessages.FirstDeleteTheChildNodesBeforeDeletingThis %>",
    "DeletingFailedPleaseTryAgain" : "<%= JSMessages.DeletingFailedPleaseTryAgain %>",
    "NodeNameShouldNotBeEmpty" : "<%= JSMessages.NodeNameShouldNotBeEmpty %>",
    "ThisNodeItemNameAlreadyExistsInThisLevel" : "<%= JSMessages.ThisNodeItemNameAlreadyExistsInThisLevel %>",
    "AddingNewNodeFailedPleaseTryAgain" : "<%= JSMessages.AddingNewNodeFailedPleaseTryAgain %>",
    "RenameFailedPleaseTryAgain" : "<%= JSMessages.RenameFailedPleaseTryAgain %>",
    "AreYouSureYouWantToDeleteThisNodeItem" : "<%= JSMessages.AreYouSureYouWantToDeleteThisNodeItem %>",
    "SuccessfullyDeleted" : "<%= JSMessages.SuccessfullyDeleted %>",
    "ErrorDeleteNodeActionFailed" : "<%= JSMessages.ErrorDeleteNodeActionFailed %>",
    "NodeNameCanHaveOnlyAlphanumericCharacters" : "<%= JSMessages.NodeNameCanHaveOnlyAlphanumericCharacters %>",
    "IsUnicodeCombinationOfNewLineCharacterItIsNotAllowed" : "<%= JSMessages.IsUnicodeCombinationOfNewLineCharacterItIsNotAllowed %>",
    "ErrorNodeCreationFailed" : "<%= JSMessages.ErrorNodeCreationFailed %>",
    "ErrorRenameNodeItemActionFailed" : "<%= JSMessages.ErrorRenameNodeItemActionFailed %>",
    "DuplicateNameInThisLevel" : "<%= JSMessages.DuplicateNameInThisLevel %>",
    "TreeNodeNameCanHaveOnlyAlphanumericCharacters" : "<%= JSMessages.TreeNodeNameCanHaveOnlyAlphanumericCharacters %>",
    "TheDateFormatShouldBeMmddyyyy" : "<%= JSMessages.TheDateFormatShouldBeMmddyyyy %>",
    "PleaseEnterAValidMonth" : "<%= JSMessages.PleaseEnterAValidMonth %>",
    "PleaseEnterAValidDay" : "<%= JSMessages.PleaseEnterAValidDay %>",
    "PleaseEnterAValid4DigitYearBetween0And1" : "<%= JSMessages.PleaseEnterAValid4DigitYearBetween0And1 %>",
    "PleaseEnterAValidDate" : "<%= JSMessages.PleaseEnterAValidDate %>",
    "PleaseEnter0" : "<%= JSMessages.PleaseEnter0 %>",
    "InvalidEmailAddress" : "<%= JSMessages.InvalidEmailAddress %>",
    "PleaseSelect0" : "<%= JSMessages.PleaseSelect0 %>",
    "PleaseSpecify0" : "<%= JSMessages.PleaseSpecify0 %>",
    "MustBeInTheFormatOfmdyyyy" : "<%= JSMessages.MustBeInTheFormatOfmdyyyy %>",
    "PleaseEnterValid0" : "<%= JSMessages.PleaseEnterValid0 %>",
    "PleaseSelectAtLeastOnePermissionForThisUser" : "<%= JSMessages.PleaseSelectAtLeastOnePermissionForThisUser %>",
    "ErrorYouCannotRemoveAllThePermissionsForTheUser" : "<%= JSMessages.ErrorYouCannotRemoveAllThePermissionsForTheUser %>",
    "PermissionsForDeactivatedUsersCannotBeAddedOrDeleted" : "<%= JSMessages.PermissionsForDeactivatedUsersCannotBeAddedOrDeleted %>",
    "PleaseSelectAtLeastOneRecordToPerformThisAction" : "<%= JSMessages.PleaseSelectAtLeastOneRecordToPerformThisAction %>",
    "CustomPermission" : "<%= JSMessages.CustomPermission %>",
    "CustomPermissionsCannotBeSetForExpiredUsers" : "<%= JSMessages.CustomPermissionsCannotBeSetForExpiredUsers %>",
    "DeactivateUser" : "<%= JSMessages.DeactivateUser %>",
    "ActivateUser" : "<%= JSMessages.ActivateUser %>",
    "YouCantDeleteCurrentLoggedinUser" : "<%= JSMessages.YouCantDeleteCurrentLoggedinUser %>",
    "AreYouSureYouWantToDeleteTheSelectedRecord" : "<%= JSMessages.AreYouSureYouWantToDeleteTheSelectedRecord %>",
    "YouDoNotHavePermissionToDeleteThisUserFromTheFollowingSites" : "<%= JSMessages.YouDoNotHavePermissionToDeleteThisUserFromTheFollowingSites %>",
    "ErrorDeleteFailed" : "<%= JSMessages.ErrorDeleteFailed %>",
    "YouDoNotHavePermissionToDeleteDeactivate" : "<%= JSMessages.YouDoNotHavePermissionToDeleteDeactivate %>",
    "AreYouSureYouWantToActivateTheSelectedUserGroup" : "<%= JSMessages.AreYouSureYouWantToActivateTheSelectedUserGroup %>",
    "AreYouSureYouWantToDactivateTheSelectedUserGroup" : "<%= JSMessages.AreYouSureYouWantToDactivateTheSelectedUserGroup %>",
    "YouDoNotHavePermissionToDeactivateThisUserFromTheFollowing" : "<%= JSMessages.YouDoNotHavePermissionToDeactivateThisUserFromTheFollowingSites%>",
    "ErrorDeactivationFailed" : "<%= JSMessages.ErrorDeactivationFailed %>",
    "MenuItemNotAdded" : "<%= JSMessages.MenuItemNotAdded %>",
    "PleaseSelectARecordToEdit" : "<%= JSMessages.PleaseSelectARecordToEdit %>",
    "AreYouSureYouWantToClearTheForm" : "<%= JSMessages.PleaseSelectARecordToEdit %>",
    "Users" : "<%= JSMessages.Users %>",
    "ActivateGroup" : "<%= JSMessages.ActivateGroup %>",
    "DeactivateGroup" : "<%= JSMessages.DeactivateGroup %>",
    "AreYouSureYouWantToDeactivateTheSelectedGroup" : "<%= JSMessages.AreYouSureYouWantToDeactivateTheSelectedGroup %>",
    "AreYouSureYouWantToActivateTheSelectedGroup" : "<%= JSMessages.AreYouSureYouWantToActivateTheSelectedGroup %>",
    "SiteMapHome" : "<%= GUIStrings.Dashboard %>",
    "RecordInActiveSuccessfully" : "<%= JSMessages.RecordInActiveSuccessfully %>",
    "RecordActiveSuccessfully" : "<%= JSMessages.RecordActiveSuccessfully %>",
    "ActiveStatus" : "<%= GUIStrings.Active%>",
    "InActiveStatus" : "<%= GUIStrings.InActive%>",
    "Title" : "<%= GUIStrings.Title %>",
    "Label" : "<%= GUIStrings.Label %>",
    "Placeholder" : "<%= GUIStrings.Placeholder %>",
    "Required" : "<%= GUIStrings.Required %>",
    "InvalidTagsInContent": "<%= JSMessages.InvalidTagsInContent%>",
    "Clicks": "<%= JSMessages.Clicks%>",
    "ClickPercent": "<%= JSMessages.ClickPercent%>",
    "Watch": "<%= JSMessages.Watch%>"
}