﻿.comboBox {
    border: 1px solid #A6A7AA;
    background-color: white;
    color: #666;
}
.comboBoxHover {
    border: 1px solid #555555;
    background-color: white;
}
.comboDropDown {
    border: 1px solid #868686;
    background-color: white;
    padding: 1px;
    padding-right: 0px;
    cursor: default;
}
.comboTextBox {
    border: 0px;
    padding-left: 2px;
    padding-right: 2px;
    color: #666;
}
.comboItem {
    font-family: Verdana;
    font-size: 11px;
    padding: 0;
}
.comboItemHover {
    background-color: #F0F0F0;
    background-image: url(/iapps_images/comboItemBg.gif);
    font-family: Verdana;
    font-size: 11px;
    padding: 0;
}
div.templatePreview {
    padding: 10px;
    border-bottom: solid 1px #CCCCCC;
    line-height: 75px;
    vertical-align: middle;
}
div.templatePreview.noImage {
    line-height: normal;
}
div.templatePreview img {
    width: 75px;
    height: 75px;
    margin: 0 10px 0 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}
