﻿/* Copyright Bridgeline Digital, Inc. An unpublished work created in 2009. All rights reserved. This software contains the confidential and trade secret information of Bridgeline Digital, Inc. ("Bridgeline").  Copying, distribution or disclosure without Bridgeline's express written permission is prohibited */
.ContextMenuGroup {
    border: solid 1px #d2d2d2;
    cursor: default;
    z-index: 200;
    font-size: 13px;
    font-family: Arial;
    font-size: 13px;
}
.ContextMenuItem {
    background-color: #fff;
    color: #707274;
    font-family: Arial;
    font-size: 13px;
    cursor: default;
}
.ContextMenuItemHover {
    background-color: #e4ecf8;
    cursor: pointer;
    font-size: 13px;
    font-family: Arial;
    font-size: 13px;
}
.ContextMenuItem td, .ContextMenuItemHover td {
    padding: 5px !important;
    font-size: 13px;
    font-family: Arial;
    font-size: 13px;
}
.ContextMenuBreak {
    width: 100%;
    height: 1px !important;
    line-height: 1px !important;
    font-size: 1px !important;
    background-color: #e4e4e4;
}
.ContextMenuImageFileItem {
    background-color: #F7F7F7;
    font-size: 13px;
    cursor: default;
}
.ContextMenuListBoxItem {
    background-color: #F7F7F7;
    font-size: 13px;
    cursor: default;
    background-image: none;
}
.ContextMenuW {
    width: 300px;
}
.GrayedTreeNode {
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    color: #cccccc;
    cursor: default;
}
.SelectedGrayedTreeNode {
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    color: #cccccc;
    padding: 0 2px 0 2px;
    cursor: default;
    border: solid 1px #dbdbdb;
}
div.contentTemplatesType {
    width: 240px;
    float: left;
}
div.contextMenuType {
    width: 228px;
    float: left;
}
span.formLabelsType {
    padding-left: 11px;
    padding-bottom: 7px;
}
.contentListBox {
    float: left;
}
