﻿@font-face {
    font-family: 'newjunebookregular';
    src: url('fonts/newjune-book-webfont.eot');
    src: url('fonts/newjune-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/newjune-book-webfont.woff') format('woff'), url('fonts/newjune-book-webfont.ttf') format('truetype'), url('fonts/newjune-book-webfont.svg#newjunebookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newjuneregularregular';
    src: url('fonts/newjune-regular-webfont.eot');
    src: url('fonts/newjune-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/newjune-regular-webfont.woff') format('woff'), url('fonts/newjune-regular-webfont.ttf') format('truetype'), url('fonts/newjune-regular-webfont.svg#newjuneregularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newjuneboldregular';
    src: url('fonts/newjune-bold-webfont.eot');
    src: url('fonts/newjune-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/newjune-bold-webfont.woff') format('woff'), url('fonts/newjune-bold-webfont.ttf') format('truetype'), url('fonts/newjune-bold-webfont.svg#newjuneboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
}

.EditRequiredCSSClass .iapps-control-action, .EditOptionalCSSClass .iapps-control-action, .EditOptionalCSSClass ul.editMode li .iapps-control-action {
    z-index: 19995 !important;
}

.iapps-email-builder-toolbar-wrapper {
    background: #333333;
    line-height: 1;
    max-width: 100%;
    min-width: 1008px;
    margin-bottom: 60px;
    border-bottom: solid 3px #f68100;
}

    .iapps-email-builder-toolbar-wrapper .iapps-email-builder-toolbar {
        margin: 0 auto;
        padding: 0 10px;
        max-width: 1244px;
        min-width: 1008px;
    }

.iapps-email-builder-toolbar .iapps-dropdown, .iapps-email-builder-toolbar .iapps-dropdown ul, .iapps-email-builder-toolbar .iapps-dropdown li, .iapps-email-builder-toolbar .iapps-email-check, .iapps-email-builder-toolbar .iapps-email-check ul, .iapps-email-builder-toolbar .iapps-email-check li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.iapps-email-builder-toolbar .iapps-dropdown {
    float: left;
    position: relative;
    z-index: 2;
    margin: 10px 0;
}

    .iapps-email-builder-toolbar .iapps-dropdown > li {
        float: left;
        padding: 10px 15px;
        font-size: 15px;
        color: #fff;
        font-family: newjunebookregular, arial;
    }

        .iapps-email-builder-toolbar .iapps-dropdown > li:first-child {
            padding-left: 0;
            border-right: solid 1px #fff;
        }

            .iapps-email-builder-toolbar .iapps-dropdown > li:first-child > a {
                background: url('/iapps_images/iapps-drop-arrow.png') no-repeat right center;
                padding-right: 25px;
                display: inline-block;
            }

        .iapps-email-builder-toolbar .iapps-dropdown > li:last-child {
            padding-top: 13px;
            color: #838383;
        }

    .iapps-email-builder-toolbar .iapps-dropdown ul, .iapps-email-builder-toolbar .iapps-email-check ul {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        padding: 0;
        background: url("/iapps_images/mega_menu_bg.png") repeat-x left top #E3E4E5;
        border: solid 1px #1F1F1F;
    }

    .iapps-email-builder-toolbar .iapps-dropdown > li:hover ul, .iapps-email-builder-toolbar .iapps-email-check > li:hover ul {
        display: block;
    }

    .iapps-email-builder-toolbar .iapps-dropdown ul li {
        padding: 5px 10px;
    }

        .iapps-email-builder-toolbar .iapps-dropdown ul li:hover {
            background-color: #afacac;
        }

        .iapps-email-builder-toolbar .iapps-dropdown ul li a {
            font-size: 15px;
            color: #333;
            text-decoration: none;
            font-weight: normal;
        }

.iapps-email-builder-toolbar .iapps-email-builder-steps {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    list-style: none;
}

    .iapps-email-builder-toolbar .iapps-email-builder-steps .confirm-email-overlay {
        position: absolute;
        height: 45px;
        width: 160px;
        background-color: #333;
        margin-top: -15px;
        opacity: 0.6;
    }

    .iapps-email-builder-toolbar .iapps-email-builder-steps li {
        float: left;
        border-left: solid 1px #2c2c2c;
        border-right: solid 1px #555555;
        list-style: none;
        padding: 10px 20px 20px 20px;
        margin: 19px 0 0 0;
    }

        .iapps-email-builder-toolbar .iapps-email-builder-steps li:first-child {
            border-left: 0;
        }

        .iapps-email-builder-toolbar .iapps-email-builder-steps li:last-child {
            border-right: 0;
        }

        .iapps-email-builder-toolbar .iapps-email-builder-steps li a, .iapps-email-builder-toolbar .iapps-email-builder-steps li a:visited {
            color: #fff;
            font-family: newjuneboldregular, arial;
            font-size: 15px;
            padding: 10px 0 10px 40px;
            text-decoration: none;
            font-weight: normal;
        }

            .iapps-email-builder-toolbar .iapps-email-builder-steps li a:hover {
                color: #ef7c0e;
            }

            .iapps-email-builder-toolbar .iapps-email-builder-steps li a.choose-recipients {
                background: url('/iapps_images/icon-choose-recipients-orange.png') no-repeat left center;
            }

            .iapps-email-builder-toolbar .iapps-email-builder-steps li a.schedule-email {
                background: url('/iapps_images/icon-schedule-email-orange.png') no-repeat left center;
            }

            .iapps-email-builder-toolbar .iapps-email-builder-steps li a.confirm-email {
                background: url('/iapps_images/icon-review-send-orange.png') no-repeat left center;
            }

                .iapps-email-builder-toolbar .iapps-email-builder-steps li a.choose-recipients.completed, .iapps-email-builder-toolbar .iapps-email-builder-steps li a.schedule-email.completed, .iapps-email-builder-toolbar .iapps-email-builder-steps li a.confirm-email.completed {
                    background: url('/iapps_images/icon-confirm-send-white.png') no-repeat left center;
                }

.iapps-email-builder-toolbar .iapps-email-builder-actions {
    float: right;
    margin: 17px 0;
    padding: 0;
}

    .iapps-email-builder-toolbar .iapps-email-builder-actions input {
        margin: 0 0 0 10px;
    }

.iapps-email-builder .iapps-email-details .iapps-email-details-header label, .iapps-email-builder .iapps-email-details .iapps-email-details-header .iapps-form-value,
.iapps-email-builder .iapps-email-details .iapps-email-detail-msg .iapps-form-value, .iapps-email-builder .iapps-email-details .iapps-email-detail-msg label {
    font-family: Arial;
    font-size: 14px;
    color: #000;
}

.iapps-email-builder .iapps-email-details .iapps-email-details-header .iapps-form-value, .iapps-email-builder .iapps-email-details .iapps-email-detail-msg .iapps-form-value {
    margin-top: 2px;
    width: 165px;
}

.iapps-email-builder .iapps-email-details .iapps-email-details-header label, .iapps-email-builder .iapps-email-details .iapps-email-detail-msg label {
    font-weight: bold;
    width: 115px;
}

.iapps-email-builder .iapps-email-details .iapps-button-row:first-of-type {
    padding-top: 0;
    padding-right: 10px;
    background-color: #c1c1c1;
}

.iapps-email-builder .iapps-email-details .iapps-button-row a {
    font-family: Arial;
    font-size: 11px;
    color: #306582;
    text-decoration: none;
}

.iapps-email-builder .iapps-email-details .iapps-email-actions {
    list-style: none;
    margin: 0;
    padding: 0;
}

.iapps-email-builder .iapps-email-details .createdDate {
    font-size: 12px;
    font-style: italic;
}

.iapps-email-builder .iapps-email-details .iapps-email-actions li {
    padding: 0 0 0 15px;
    margin: 0;
    border-top: solid 1px #a1a1a1;
    border-bottom: solid 1px #eaeaea;
    background: #ebebeb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#9f9f9f));
    background-image: -webkit-linear-gradient(top, #ebebeb, #9f9f9f);
    background-image: -moz-linear-gradient(top, #ebebeb, #9f9f9f);
    background-image: -ms-linear-gradient(top, #ebebeb, #9f9f9f);
    background-image: -o-linear-gradient(top, #ebebeb, #9f9f9f);
    background-image: linear-gradient(top, #ebebeb, #9f9f9f);
}

    .iapps-email-builder .iapps-email-details .iapps-email-actions li:hover {
        background: #9f9f9f;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#9f9f9f), to(#ebebeb));
        background-image: -webkit-linear-gradient(top, #9f9f9f, #ebebeb);
        background-image: -moz-linear-gradient(top, #9f9f9f, #ebebeb);
        background-image: -ms-linear-gradient(top, #9f9f9f, #ebebeb);
        background-image: -o-linear-gradient(top, #9f9f9f, #ebebeb);
        background-image: linear-gradient(top, #9f9f9f, #ebebeb);
    }

    .iapps-email-builder .iapps-email-details .iapps-email-actions li a, .iapps-email-builder .iapps-email-details .iapps-email-actions li a:visited {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: #256080;
        padding: 10px 15px 10px 25px;
        display: block;
    }

        .iapps-email-builder .iapps-email-details .iapps-email-actions li a.iapps-test-email {
            background: url('/iapps_images/icon-email-dark-blue.png') no-repeat left center;
        }

        .iapps-email-builder .iapps-email-details .iapps-email-actions li a.iapps-preview-email {
            background: url('/iapps_images/icon-preview-dark-blue.png') no-repeat left center;
        }

        .iapps-email-builder .iapps-email-details .iapps-email-actions li a.iapps-spam-check-email {
            background: url('/iapps_images/icon-gear-dark-blue.png') no-repeat left center;
        }

        .iapps-email-builder .iapps-email-details .iapps-email-actions li a.iapps-text-only-email {
            background: url('/iapps_images/icon-text-dark-blue.png') no-repeat left center;
        }

.iapps-email-builder .iapps-email-details .iapps-email-properties {
    padding: 10px 10px 5px 10px;
}

    .iapps-email-builder .iapps-email-details .iapps-email-properties h3 {
        font-family: NewJuneBold, Arial;
        font-size: 22px;
        color: #333333;
        line-height: 1;
        margin: 5px 0 10px 0;
        padding: 0;
        font-weight: normal;
        float: left;
    }

    .iapps-email-builder .iapps-email-details .iapps-email-properties .blue-bulb {
        float: right;
        color: #1c4670;
        font-weight: bold;
        font-size: 11px;
        background: url('/iapps_images/icon-lightbulb-blue.png') no-repeat left center;
        padding-left: 20px;
        width: 85px;
    }

    .iapps-email-builder .iapps-email-details .iapps-email-properties a {
        font-family: Arial;
        font-size: 13px;
        font-weight: normal;
        color: #00476d;
        text-decoration: none;
    }

        .iapps-email-builder .iapps-email-details .iapps-email-properties a:hover {
            text-decoration: underline;
        }

        .iapps-email-builder .iapps-email-details .iapps-email-properties a.iapps-template-link {
            float: left;
            margin-left: 10px;
            cursor: pointer;
        }

    .iapps-email-builder .iapps-email-details .iapps-email-properties .iapps-form-row > label {
        display: block;
        float: none;
        color: #000;
        font-weight: bold;
        font-size: 14px;
        font-family: Arial;
        margin-bottom: 5px;
    }

        .iapps-email-builder .iapps-email-details .iapps-email-properties .iapps-form-row > label.iapps-floated {
            float: left;
            min-width: 50px;
            max-width: 95px;
        }

    .iapps-email-builder .iapps-email-details .iapps-email-properties .iapps-form-row .iapps-form-value.iapps-text-value {
        font-family: Arial;
        font-size: 14px;
        margin-top: 3px;
        color: #000;
        max-width: 190px;
    }

    .iapps-email-builder .iapps-email-details .iapps-email-properties .iapps-form-row input[type=text] {
        border: 0;
        border-radius: 3px;
        padding: 3px 5px;
        width: 283px;
    }

    .iapps-email-builder .iapps-email-details .iapps-email-properties .iapps-form-row.link-row {
        margin-bottom: 0;
    }

        .iapps-email-builder .iapps-email-details .iapps-email-properties .iapps-form-row.link-row a {
            background: url('/iapps_images/right-arrow-blue.png') no-repeat right center;
            padding-right: 15px;
        }

    .iapps-email-builder .iapps-email-details .iapps-email-properties h4 a {
        color: #00476d;
        font-family: Arial;
        font-size: 13px;
        font-weight: normal;
        padding: 0;
        margin: 0;
    }

.iapps-email-builder .iapps-email-preview {
    position: absolute;
    top: 74px;
    right: 60px;
}

    .iapps-email-builder .iapps-email-preview .iapps-button {
        height: auto;
        background-image: url('/iapps_images/cm-icon-delete.png');
        background-repeat: no-repeat;
        background-position: 6px 9px;
        padding: 8px 12px 8px 28px;
        margin-top: 5px;
    }

.iapps-email-builder .iapps-email-details {
    border: solid 1px #c4c4c4;
    border-top: 0;
    border-radius: 0 0 10px 10px;
    background: #bcc8cf;
    position: absolute;
    top: 74px;
    left: 20px;
    z-index: 1;
    display: none;
}

    .iapps-email-builder .iapps-email-details .iapps-email-detail-msg .iapps-email-msg {
        background: #f68100;
        text-align: center;
        color: #fff;
        font-family: Arial;
        font-size: 12px;
        font-style: italic;
        padding: 5px 0;
        border-radius: 0 0 10px 10px;
        width: 313px;
    }

    .iapps-email-builder .iapps-email-details .iapps-email-detail-handle {
        position: absolute;
        top: 100%;
        left: 38%;
    }

        .iapps-email-builder .iapps-email-details .iapps-email-detail-handle img {
            cursor: pointer;
        }

    .iapps-email-builder .iapps-email-details .iapps-email-details-header, .iapps-email-builder .iapps-email-details .iapps-email-detail-msg .iapps-email-title {
        padding: 10px 10px 0 10px;
        background: #b8b8b8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#b8b8b8), to(#c1c1c1));
        background-image: -webkit-linear-gradient(top, #b8b8b8, #c1c1c1);
        background-image: -moz-linear-gradient(top, #b8b8b8, #c1c1c1);
        background-image: -ms-linear-gradient(top, #b8b8b8, #c1c1c1);
        background-image: -o-linear-gradient(top, #b8b8b8, #c1c1c1);
        background-image: linear-gradient(top, #b8b8b8, #c1c1c1);
    }

    .iapps-email-builder .iapps-email-details .iapps-email-detail-msg p {
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 1;
    }

    .iapps-email-builder .iapps-email-details .iapps-email-detail-msg .iapps-form-row {
        margin: 10px;
    }

.insert-contact-property {
    z-index: 19999 !important;
}

    .insert-contact-property select {
        padding: 3px;
    }
