﻿.iapps-debug-info
{
	position:absolute;
	z-index:99999;
	top: 50px;
	left: 50px;
	border: solid 1px #d2d2d2;
	background: #ffffff;
	box-shadow: 1px 4px 5px #000000;
}
.iapps-debug-info .iapps-debug-header {
    background-color: #333;
    padding: 10px 25px;
}
.iapps-debug-info .iapps-debug-header:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.iapps-debug-info .iapps-debug-header h2
{
	display: block;
	float:left;
	color: #ffffff;
	margin:0;
	font-weight: normal;
}
.iapps-debug-info .iapps-debug-header img
{
	display: block;
	float:right;
	margin-top: 6px;
}
.iapps-debug-info .iapps-debug-content
{
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 20px;
}
.iapps-debug-info tr > td
{
	vertical-align:top;
	padding:3px 5px;
	text-align: left;
}
.iapps-debug-info tr > td:first-child
{
	width: 200px;
}
.iapps-debug-info tr > td:last-child
{
	width: 400px;
	line-height: 24px;
}