﻿/* Copyright Bridgeline Digital, Inc. An unpublished work created in 2009. All rights reserved. This software contains the confidential and trade secret information of Bridgeline Digital, Inc. ("Bridgeline").  Copying, distribution or disclosure without Bridgeline's express written permission is prohibited */
/** Styles for Overlays Start **/
div.overlayPlaceHolder {
    line-height: 0px;
    font-size: 10px;
}
div.percent {
    position: absolute;
    font-size: 10px;
    font-family: verdana;
    padding: 1px 3px 1px 3px;
    line-height: 15px;
    border: solid 1px #000;
    background-image: url(/iapps_images/overlay-collapse.gif);
    background-repeat: repeat-x;
    background-color: #fdfdfd;
    color: #000;
    z-index: 99998;
}
div.percentHover {
    position: absolute;
    font-size: 10px;
    font-family: verdana;
    padding: 1px 3px 1px 3px;
    line-height: 15px;
    background-color: #fff;
    border-top: solid 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    z-index: 99999;
}
div.overlayArrow {
    background-image: url(/iapps_images/overlay-collapsed-arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 10px;
}
div.overlayArrowHover {
    background-image: url(/iapps_images/overlay-hover-arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 10px;
}
div.overlayInfo {
    background-color: #fff;
    border: solid 1px #000;
    padding: 10px;
    position: absolute;
    z-index: 99998;
    width: 120px;
}
div.overlayInfo table {
    font-size: 10px;
    line-height: 26px;
}
div.overlayInfo td {
    height: 26px;
    padding-right: 5px;
    font-size: 10px;
}
/** Styles for Overlays End**/