﻿/* Float clear style */
.iapps-clear-fix:after, div.iapps-form-row:after, div.iapps-button-row:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.iapps-clear-fix, div.iapps-form-row, div.iapps-button-row {
    display: inline-block;
}

html[xmlns] .iapps-clear-fix, html .iapps-clear-fix, html div.iapps-form-row, html div.iapps-button-row {
    display: block;
}

* html .iapps-clear-fix, * html div.iapps-form-row, * html div.iapps-button-row {
    height: 1%;
}

div#iAPPS_SharedPage, div#iAPPS_SharedPageCollapsed {
    position: absolute;
    width: 272px;
    display: none;
    z-index: 19997;
}

div.iAPPS_SharedPageCollapsed {
    height: 29px !important;
}

div#iAPPS_SharedPage div.iAPPS_SharedPageHeader {
}

    div#iAPPS_SharedPage div.iAPPS_SharedPageHeader h2 {
        float: left;
        width: 260px;
        cursor: move;
        font-size: 13px;
        font-family: Arial;
        font-size: 13px;
    }

a#iAPPS_ToggleDialogPin {
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    margin: 8px 4px 0 0;
    text-indent: -9999px;
    background: url(/iapps_images/pageNote-pin.png) no-repeat;
    outline: none;
}

div#iAPPS_SharedPage.pinned a#iAPPS_ToggleDialogPin {
    background-position: 0 -25px;
}

a#iAPPS_ExpandCollapseDialog, a#iAPPS_ExpandCollapseDialog:hover {
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    margin: 8px 0 0 15px;
    text-indent: -9999px;
    background: url(/iapps_images/pageNote-minmax.png) no-repeat;
    outline: none;
    padding: 0;
}

div#iAPPS_SharedPage.iAPPS_SharedPageCollapsed a#iAPPS_ExpandCollapseDialog {
    background-position: 0 -25px;
}

div#iAPPS_SharedPageContent {
    padding: 0 8px 8px 8px;
    font-size: 13px;
    display: block;
}

    div#iAPPS_SharedPageContent p {
        margin: 10px 0;
        padding: 0;
        font-size: 13px;
        font-family: Arial;
        font-size: 13px;
    }

div.iAPPS_SharedPageCollapsed div#iAPPS_SharedPageContent {
    display: none;
}

div#iAPPS_SharedPageContent div#iAPPS_SharedPageList {
    height: 185px;
    margin: 0 0 2px 0;
    border: solid 1px #A1A1A1;
    background: #FFF;
    overflow-x: hidden;
    overflow-y: auto;
}

    div#iAPPS_SharedPageContent div#iAPPS_SharedPageList ul {
        margin: 0;
        padding: 0;
        background: #FFF;
    }

        div#iAPPS_SharedPageContent div#iAPPS_SharedPageList ul li {
            margin: 0;
            padding: 8px;
            border-bottom: solid 1px #CCC;
            background-image: none !important;
            font-size: 13px;
            font-family: Arial;
            font-size: 13px;
        }

div#iAPPS_SharedPage div.footerContent {
    padding: 5px;
    text-align: right;
    width: 252px;
}

p.qTipTitle {
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: #585858;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0 0 10px 0;
}

p.qTipText {
    color: #585858;
    margin: 0;
    padding: 0 15px 10px 0;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
}

ul.qTipSharedPages, ul.qTipLibraryLoc {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial;
    list-style-type: disc !important;
    color: #585858;
}

    ul.qTipSharedPages li, ul.qTipLibraryLoc li {
        list-style-type: disc !important;
        color: #585858;
        margin: 0 20px 0 30px;
    }

        ul.qTipSharedPages li.qTipSiteName {
            list-style-type: none !important;
            margin: 10px 0 0 0 !important;
            padding: 0 !important;
            font-weight: bold;
        }

div.iapps-warning-msg {
    position: absolute;
    background-color: #fff87d;
    color: #323232;
    padding: 18px 16px 20px 60px;
    width: 284px;
    height: 10px;
    background-image: url('/iapps_images/warning-info.png');
    background-repeat: no-repeat;
    background-position: 17px center;
    display: none;
    z-index: 9999;
}

    div.iapps-warning-msg p {
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-family: 'Arial';
    }

.RadWindow .rwControlButtons li {
    background-image: none;
    margin: 0;
}

div#iAPPSToolbar {
    width: 750px;
    position: absolute;
    z-index: 999;
    visibility: hidden;
}

    div#iAPPSToolbar p {
        padding: 5px;
        margin: 0;
        border: solid 1px #d3d3d3;
        border-radius: 5px;
        border-bottom: 0;
        background-color: #ffffff;
    }

span.iapps-toolbar-text {
    float: left;
    font-weight: bold;
    font-size: 12px;
    padding: 3px;
}

.cke_editor_ckEditor {
    background-color: #ffffff !important;
}

.cke_combopanel {
    z-index: 19997 !important;
}

#editorContainer {
    display: none;
    position: absolute;
}
/* iAPPS popup styles */
iframe.iapps-popup {
    border-radius: 5px;
}

body.popup {
    background-color: transparent;
    padding: 0;
}

div.iapps-modal {
    background-color: #ffffff;
    float: left;
    min-height: 200px;
    min-width: 350px;
    border-radius: 5px;
}

div.modal-header {
    background-color: #333;
    padding: 10px 25px;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

    div.modal-header h2 {
        font-size: 15px;
        float: left;
        font-family: NewJuneBold, Arial;
        margin: 0;
        padding: 5px 0px 0px !important;
        color: #fff;
        font-weight: bold;
        border: 0 !important;
        background: #333 !important;
    }

    div.modal-header a, div.modal-header .multi-site {
        float: right;
        margin-left: 20px;
    }

        div.modal-header a, div.modal-header a:hover {
            color: #fff;
        }

div.modal-content {
    padding: 25px;
    min-height: 100px;
    background-color: #fff;
}

div.modal-footer {
    border-top: solid 1px #d2d2d2;
    padding: 15px 25px;
    text-align: right;
}

    div.modal-footer input[type=button], div.modal-footer input[type=submit] {
        margin-left: 5px;
    }

div.modal-breadcrumb {
    padding: 10px 25px;
    background-color: #f5f5f5;
    border-bottom: solid 1px #d2d2d2;
}

.modal-content .grid-section {
    overflow-x: hidden;
    overflow-y: auto;
    height: 380px;
}

div.iAPPSPopupOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20000;
    background: #a8a8a8;
}

div.loadingSpinner {
    text-align: center;
    padding: 20px 20px;
    min-height: 0;
    min-width: 0;
    border-radius: 5px;
}

.campaignLinks {
    width: 770px;
}
/** New Popup Styles ENDS **/
/* Help box styles STARTS */
div.help-box {
    border-top: solid 1px #b6cadf;
    border-left: solid 1px #b6cadf;
    border-radius: 3px 0 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

    div.help-box a {
        display: block;
        background: #edf4fd url('/iapps_images/icon-help.png') no-repeat 10px center;
        padding: 10px 15px 10px 35px;
        color: #3970a8;
        font-size: 13px;
        font-family: Arial;
        font-size: 13px;
    }

body.popupBody div.help-box {
    border: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
}

    body.popupBody div.help-box a {
        display: block;
        background: #edf4fd url('/iapps_images/icon-help.png') no-repeat 10px center;
        padding: 10px 15px 10px 25px;
        border-left: solid 1px #b6cadf;
        border-bottom: solid 1px #b6cadf;
        border-radius: 0 0 0 3px;
        text-indent: -99999px;
    }
/* Help box styles ENDS */
/* Preview bar styles */
div.iapps-preview-wrapper {
    width: 100%;
    min-width: 1006px;
    font-size: 12px;
}

div.iapps-preview {
    padding: 10px;
    width: 986px;
    margin: 0 auto;
    background: #fff url('/iapps_images/iapps-preview-bg.png') repeat-x left bottom;
    border-radius: 0 0 5px 5px;
}

    div.iapps-preview .iapps-left-column {
        float: left;
        padding: 20px 0 0 0;
    }

        div.iapps-preview .iapps-left-column img {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        div.iapps-preview .iapps-left-column a {
            display: inline-block;
            margin-left: 5px;
        }

    div.iapps-preview .iapps-right-column {
        float: right;
    }

        div.iapps-preview .iapps-right-column img {
            cursor: pointer;
        }

    div.iapps-preview .iapps-page-details {
        margin-bottom: 10px;
    }

    div.iapps-preview .iapps-version-details .iapps-left-section {
        float: left;
    }

        div.iapps-preview .iapps-version-details .iapps-left-section p {
            margin: 0;
            padding: 0 0 10px 0;
        }

    div.iapps-preview .iapps-version-details .iapps-right-section {
        float: right;
    }

#iapps-tool-box {
    width: 200px;
}

.iapps-float-box {
    position: absolute;
    border: solid 1px #d2d2d2;
    background-color: #fff;
    width: 200px;
    min-height: 300px;
    z-index: 9999;
}

#iapps-tool-box .iapps-float-box {
    top: 50px;
    left: 20px;
    box-shadow: 3px 3px 3px #333333;
}

.iapps-float-box-header {
    background-color: #333333;
    padding: 8px;
    float: none;
    margin: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: move;
}

    .iapps-float-box-header .iapps-float-box-close {
        float: right;
        margin-top: 3px;
        margin-right: 5px;
        cursor: pointer;
    }

#iapps-control-properties {
    top: 50px;
    right: 20px;
    width: 250px;
}

#recycle-bin {
    right: 20px;
    bottom: 50px;
    min-height: 130px;
    height: 130px;
    background-color: transparent;
    border: 0;
}

    #recycle-bin img {
        display: none !important;
        visibility: hidden;
    }

.recycle-bin {
    background: url('/iapps_images/recycle-bin.png') no-repeat;
}

.recycle-bin-full {
    background: url('/iapps_images/recycle-bin-full.png') no-repeat;
}

.iapps-float-box .iapps-form-row {
    padding: 4px 0px;
}

.iapps-float-box .iapps-form-label {
    float: left;
    width: 80px;
    padding-top: 4px;
}

.iapps-float-box .iapps-form-value {
    float: left;
}

    .iapps-float-box .iapps-form-value * {
        width: 160px;
    }

.iapps-float-box .iapps-float-box-content {
    min-height: 240px;
    padding: 5px;
}

.iapps-float-box-footer {
    text-align: right;
    background-color: #F9F9F9;
    border-top: 1px solid #E6E6E6;
    padding: 4px;
}

.iapps-tool-box-item {
    border: 1px solid #d2d2d2;
    color: #54677d;
    cursor: move;
    padding: 4px;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    margin: 4px 2px;
    background-color: #ececed;
    border-radius: 3px;
}

h4.iapps-page-drop-zone-header {
    border: 1px dotted #008000;
    border-bottom: 0;
    padding: 5px 10px;
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
}

.iapps-drop-zone, .iapps-page-drop-zone {
    min-height: 30px !important;
    min-width: 100px !important;
    border: dotted 1px Green;
    padding: 10px;
    margin-bottom: 10px;
}

    .iapps-drop-zone img, .iapps-page-drop-zone .iapps-zone-item {
        display: block !important;
        margin-bottom: 10px;
        padding: 5px;
        cursor: move;
    }

    .iapps-page-drop-zone div.iapps-zone-item {
        background-color: #ECECED;
        border: 1px solid #D2D2D2;
    }

    .iapps-drop-zone img.selected, .iapps-page-drop-zone .iapps-zone-item.selected {
        border: dashed 1px #999;
    }

.variant-content-warning .modal-content {
    width: 600px;
    min-height: 400px !important;
}

.template-error .recycle-bin, .template-error .iapps-float-box {
    display: none;
}

.template-error .error-message {
    margin: 100px;
    border: solid 1px #d99f9f;
    background: #fbedee url('/iapps_images/icon-error.png') no-repeat 20px 10px;
    padding: 15px 20px 20px 70px;
    color: #434343;
    display: block;
    font-size: 13px;
}

div.iapps-form-row {
    margin-bottom: 10px;
    clear: both;
}

    div.iapps-form-row > label {
        display: inline-block;
        text-align: left;
        padding: 3px 10px 0 0;
        margin: 0;
        font-family: Arial;
        font-size: 13px;
        min-width: 100px;
        float: left;
    }

    div.iapps-form-row > .iapps-form-value {
        zoom: 1;
        display: inline-block;
        text-align: left;
        clear: right;
        float: left;
    }

div.iapps-button-row {
    padding: 10px 0;
    text-align: right;
}
