﻿/* Copyright Bridgeline Digital, Inc. An unpublished work created in 2009. All rights reserved. This software contains the confidential and trade secret information of Bridgeline Digital, Inc. ("Bridgeline").  Copying, distribution or disclosure without Bridgeline's express written permission is prohibited */
div#bar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 19997 !important;
    width: 100%;
}

    div#bar div.bottomBorder {
        width: 100%;
        background-color: #333;
        border-bottom: solid 1px #1f1f1f;
        box-shadow: 0 5px 9px #676767;
    }

    div#bar .site-editor-toolbar {
        background-color: #333;
        width: 1000px;
        margin: 0 auto;
    }

div#autohide {
    clear: both;
    margin-left: 49%;
    line-height: 14px !important;
}

    div#autohide img {
        cursor: pointer;
        box-shadow: 0 5px 9px #676767;
    }

.ToolbarTopGroup {
    cursor: default;
    font-size: 12px;
}

    .ToolbarTopGroup img {
        cursor: pointer;
    }

    .ToolbarTopGroup td {
        vertical-align: middle;
    }

    .ToolbarTopGroup > tbody > tr > td {
        padding: 0 10px;
        border-left: solid 1px #1F1F1F;
        color: #999 !important;
        font-weight: bold !important;
        font-family: Arial !important;
        font-size: 13px !important;
    }

.ToolbarTopMenuItem, .ToolbarTopMenuItemHover, .ToolbarTopMenuItem td, .ToolbarTopMenuItemHover td {
    cursor: pointer !important;
    font-weight: bold !important;
    color: #999 !important;
    font-family: Arial !important;
    font-size: 13px !important;
}

    .ToolbarTopMenuItem td {
        vertical-align: middle !important;
    }

.ToolbarMenuGroup, .ToolbarSubGroup {
    background: url("/iapps_images/mega_menu_bg.png") repeat-x left top #E3E4E5;
    border: solid 1px #1F1F1F;
    border-top: 0;
    font-family: Arial !important;
    font-size: 13px !important;
}

.ToolbarSubGroup {
    border-top: solid 1px #1f1f1f;
}

.ToolbarMenuGroup > tbody > tr > td {
    padding: 5px 10px;
}

.ToolbarSubGroup .ToolbarMenuItem td:first-child, .ToolbarSubGroup .ToolbarMenuItemHover td:first-child {
    padding-left: 10px;
}

.ToolbarMenuItem, .ToolbarMenuItemHover, .ToolbarMenuItem td, .ToolbarMenuItemHover td {
    color: #1F1F1F !important;
    cursor: pointer !important;
    padding: 5px 10px !important;
    font-size: 13px !important;
}

    .ToolbarMenuItemHover, .ToolbarMenuItemHover td {
        background-color: #afacac !important;
    }

        .ToolbarMenuItem nobr, .ToolbarMenuItemHover nobr {
            white-space: nowrap !important;
        }

.ToolbarMenuBreak, .ToolbarMenuBreak nobr {
    width: 100%;
    height: 1px !important;
    background-color: #1F1F1F;
    line-height: 1px !important;
    font-size: 1px !important;
    padding: 0px !important;
}

.ToolbarVerticalMenuBreak {
    width: 20px;
    height: 21px;
}

.StartSpace {
    width: 10px;
    height: 21px;
}

.BigGap {
    width: 75px;
    height: 21px;
}

.scroll-up-item, .scroll-up-item-hover, .scroll-down-item, .scroll-down-item-hover {
    background: #666 url('/iapps_images/scroll_up.png') no-repeat center center;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 15px;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-indent: -99999px;
}

.scroll-down-item, .scroll-down-item-hover {
    background: #666 url('/iapps_images/scroll_down.png') no-repeat center center;
}

.SiteEditorText {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #666;
}
/* Global button styles */
.iapps-button, .iapps-primary-button, a.iapps-button, a.iapps-primary-button, input.tree-button, .iapps-small-button, a.iapps-small-button, .iapps-small-primarybutton, a.iapps-small-primarybutton, .iapps-device-edit-toolbar .iapps-button, .iapps-device-edit-toolbar .iapps-primary-button,
.cke_button__cancel .cke_button__cancel_label {
    font-size: 13px !important;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    padding: 5px 10px;
    display: inline-block;
    border-top: solid 1px #e7e7e7;
    border-right: solid 1px #d5d5d5;
    border-bottom: solid 1px #d5d5d5;
    border-left: solid 1px #dcdcdc;
    color: #616161 !important;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -moz-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -ms-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: -o-linear-gradient(top, #eeeeee, #e7e7e7);
    background-image: linear-gradient(top, #eeeeee, #e7e7e7);
    text-decoration: none;
    box-shadow: 0 1px 0 0 #fff inset;
    font-family: Arial !important;
    margin-top: 0;
    line-height: 18px;
    height: 31px;
    font-weight: normal;
}

    .iapps-button:hover, a.iapps-button:hover, .cke_button__cancel:hover .cke_button__cancel_label {
        background-color: #eeeeee;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#eeeeee));
        background-image: -webkit-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: -moz-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: -ms-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: -o-linear-gradient(top, #e7e7e7, #eeeeee);
        background-image: linear-gradient(top, #e7e7e7, #eeeeee);
        box-shadow: 0 -1px 0 0 #fff inset;
    }

.iapps-primary-button, a.iapps-primary-button, .iapps-small-primarybutton, a.iapps-small-primarybutton, .iapps-device-edit-toolbar .iapps-primary-button,
.cke_button__savetext .cke_button__savetext_label,
.cke_button__saveastext .cke_button__saveastext_label {
    background-color: #f36500 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f89c1f), to(#f36500)) !important;
    background-image: -webkit-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -moz-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -ms-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: -o-linear-gradient(top, #f89c1f, #f36500) !important;
    background-image: linear-gradient(top, #f89c1f, #f36500) !important;
    box-shadow: none !important;
    border-top: solid 1px #f68300 !important;
    border-right: solid 1px #f57e00 !important;
    border-bottom: solid 1px #f79540 !important;
    border-left: solid 1px #f5810b !important;
    color: #fff !important;
}

    .iapps-primary-button:hover, a.iapps-primary-button:hover,
    .cke_button__savetext:hover .cke_button__savetext_label,
    .cke_button__saveastext:hover .cke_button__saveastext_label {
        background-color: #f36500;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f36500), to(#f89c1f)) !important;
        background-image: -webkit-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: -moz-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: -ms-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: -o-linear-gradient(top, #f36500, #f89c1f) !important;
        background-image: linear-gradient(top, #f36500, #f89c1f) !important;
        box-shadow: none;
    }

.cke_button__cancel, .cke_button__cancel:hover, .cke_button__savetext, .cke_button__savetext:hover, .cke_button__saveastext, .cke_button__saveastext:hover {
    padding: 0 !important;
    background: none !important;
    opacity: 1 !important;
}

    .cke_button__cancel .cke_button__cancel_label, .cke_button__cancel:hover .cke_button__cancel_label,
    .cke_button__savetext .cke_button__savetext_label, .cke_button__savetext:hover .cke_button__savetext_label,
    .cke_button__saveastext .cke_button__saveastext_label, .cke_button__saveastext:hover .cke_button__saveastext_label {
        margin: 2px 0 0 10px !important;
        padding: 0 10px !important;
        height: 17px !important;
        font-size: 12px !important;
        border-radius: 3px !important;
        box-shadow: none !important;
        line-height: 16px !important;
        cursor: pointer !important;
    }

.iapps-toolbar-button.telerik-toolbar {
    margin: 2px 5px 0 5px !important;
    padding: 0 10px !important;
    height: 22px !important;
    font-size: 12px !important;
}

a.iapps-primary-button, a.iapps-button {
    line-height: 18px;
}

a.iapps-small-button, .iapps-small-button, .iapps-small-primarybutton, a.iapps-small-primarybutton {
    line-height: 12px !important;
    padding: 4px 10px !important;
    font-size: 10px !important;
    font-weight: normal !important;
    height: 30px !important;
}

input.textBoxes, select, textarea {
    font-family: Arial;
    font-size: 12px;
    color: #666;
    background-color: #fff;
    border: solid 1px #d2d2d2;
}

.CustomRenderedTool {
    border: solid 1px #ccc;
    background-color: #efefef;
    padding-right: 10px;
}

.ImageFileLabel {
    text-align: right;
    font-family: Arial;
    font-size: 9px;
    padding: 3px 0 0 17px;
    vertical-align: top;
    font-weight: bold;
    color: #707274;
}

.ImageFileControl {
    padding: 3px 15px 0 2px;
}

.ImageFileTextArea {
    border: solid 1px #CCCCCC;
    width: 150px;
    height: 40px;
}

.ImageFileText {
    border: solid 1px #CCCCCC;
    width: 150px;
}

.ImageFileButton {
    padding: 5px 0px 15px 0px;
}

.ImageFileCancelButton {
    padding-right: 5px;
}

.ImageFileTable {
    padding-top: 5px;
}

span.required {
    color: #ff0000;
}


/** Begin Styles for Type of Content Context Menu User Control for FWXML Container **/

div.contextMenuContainer {
    background-color: #fff;
    padding: 3px;
    width: 497px;
}

div.contentTemplates {
    width: 385px;
}

    div.contentTemplates div.contextMenuContent label.labels span.formLabels {
        width: 155px;
        font-weight: bold;
        color: #5f7296;
    }

div.contextMenuContainer div.contextMenuContent label.labels {
    display: block;
    clear: both;
    padding: 2px 0 2px 0;
}

div.contextMenuContainer div.contextMenuContent label.lastRow {
    padding: 10px 10px 5px 0;
    margin-left: 40px;
}

div.contextMenuContainer div.contextMenuContent label.labels input.textBoxes {
    width: 195px;
}

div.contextMenuContainer div.contextMenuContent label.labels .radioButtonWrapper {
    display: block;
    float: left;
}

div.contextMenuContainer div.contextMenuContent label.labels textArea {
    width: 345px;
}

div.contextMenuContainer div.contextMenuContent label.labels select {
    width: 200px;
}

div.contextMenuContainer div.contextMenuContent label.labels span.formLabels span {
    font-weight: normal;
}

div.contextMenuContainer div.contextMenuContent label.lastRow input.iapps-button, div.contextMenuContainer div.contextMenuContent label.lastRow input.buttonHover {
    margin-left: 10px;
}

div.contentTemplatesType {
    width: 240px;
    float: left;
    padding: 5px;
}

div.contextMenuType {
    width: 230px;
    padding: 5px;
    float: left;
    background-color: #ffffff;
}

span.formLabelsType {
    padding-left: 10px;
    padding-bottom: 7px;
    font-weight: bold;
    color: #5f7296;
}

.contentListBox {
    float: left;
    margin-left: 9px;
}
/** Footer Styles Start **/
div.iappsCMfooterWrapper {
    clear: both;
    width: 100%;
    min-width: 1003px;
    margin-top: 20px;
    border-top: solid 1px #ccc;
    display: block;
    visibility: hidden;
}

div.iappsCMfooter {
    width: 1003px;
    border-top: 0;
    margin-left: auto;
    margin-right: auto;
}

div.iappsCMfooterImages {
    float: right;
}

span.logo2 {
    padding: 7px 14px 0 14px;
}

span.logo1 {
    padding: 10px 0 0 14px;
    height: 35px;
    display: block;
    float: right;
}

div.iappsCMcontentSection, div.iappsCMheader, div.iappsCMheaderUserInformation {
    width: 1003px;
    margin-left: auto;
    margin-right: auto;
}

div.iappsCMWrapper {
    padding-top: 20px;
    width: 100%;
    min-width: 1003px;
}

div.iappsCMheaderWrapper {
    width: 100%;
    min-width: 1003px;
    background-image: url(../App_Themes/General/images/header-bg-new.gif);
    background-repeat: repeat-x;
}

div.iappsCMheader {
    font-size: 12px;
    height: 4.2em;
}

div.iappsCMuserInformationWrapper {
    background-image: url(../App_Themes/General/images/userinfo-bg-new.gif);
    background-position: left top;
    background-repeat: repeat-x;
    width: 100%;
    min-width: 1003px;
    padding-bottom: 2px;
}

div.iappsCMheaderUserInformation {
    padding-top: 1px;
    clear: both;
    display: table;
    line-height: 2.3em;
}

/** Styles for Page Notes STARTS **/

div#pageNote, div#iAPPS_SharedPage {
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 7px 3px #676767;
    font-size: 13px;
    font-family: Arial;
    font-size: 13px;
    z-index: 19997;
    -moz-box-sizing: initial;
}

    div#pageNote * {
        -moz-box-sizing: initial;
        box-sizing: content-box !important;
        -webkit-box-sizing: initial;
    }

    div#pageNote.collapsed {
        height: 50px;
        min-height: 50px;
        min-width: 300px;
    }

        div#pageNote.collapsed div#pageNoteContent {
            display: none;
        }

    div#pageNote div.pageNoteHeader {
        display: block;
        height: 30px;
        font-size: 12px;
    }

        div#pageNote div.pageNoteHeader h2 {
            float: left;
            width: 275px;
            cursor: move;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            line-height: 1;
        }

a#pageNoteTogglePin {
    display: block;
    float: left;
    width: 17px;
    height: 16px;
    margin: 8px 4px 0 0;
    text-indent: -9999px;
    outline: none;
}

div#pageNote.pinned a#pageNoteTogglePin {
    background-position: 0 -16px;
}

a#pageNoteExpandCollapse {
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    margin: 4px 0 0 0;
    text-indent: -9999px;
    background: url('/iapps_images/pageNote-minmax.png') no-repeat;
    outline: none;
}

div#pageNote.collapsed a#pageNoteExpandCollapse {
    background-position: 0 -25px;
}

div#pageNoteContent {
    font-size: 11px;
}

    div#pageNoteContent div#pageNoteList {
        height: 148px;
        margin: 0 0 2px 0;
        border: solid 1px #A1A1A1;
        background: #FFF;
        overflow-x: hidden;
        overflow-y: auto;
        width: 298px;
    }

        div#pageNoteContent div#pageNoteList ul {
            margin: 0;
            padding: 0;
            background: #FFF;
        }

            div#pageNoteContent div#pageNoteList ul li {
                margin: 0;
                padding: 8px;
                border-bottom: solid 1px #CCC;
            }

                div#pageNoteContent div#pageNoteList ul li.highPriority {
                    color: #FF0000;
                }

                div#pageNoteContent div#pageNoteList ul li p {
                    margin: 0 0 10px 0;
                    padding: 0;
                }

                div#pageNoteContent div#pageNoteList ul li span.pageNoteCommentInfo {
                    display: block;
                    float: right;
                    clear: both;
                    font-size: 9px;
                    font-style: italic;
                    text-align: right;
                }

                div#pageNoteContent div#pageNoteList ul li span.pageNoteText {
                    display: block;
                    clear: both;
                }

                div#pageNoteContent div#pageNoteList ul li span.pageNoteCommentInfo span.pageNoteAuthor {
                    font-weight: bold;
                }

    div#pageNoteContent textarea.pageNoteTextbox {
        height: 42px;
        width: 282px;
        margin: 0 0 13px 0;
        padding: 8px;
        border: solid 1px #A1A1A1;
        overflow: auto;
        resize: none;
    }

    div#pageNoteContent .modal-content {
        min-width: 200px;
    }

    div#pageNoteContent span#pageNoteInstructions {
        display: block;
        margin: -66px auto 24px auto;
        width: 250px;
        height: 42px;
        overflow: hidden;
        cursor: text;
        font-style: italic;
    }

    div#pageNoteContent div.clearFix {
        clear: both;
        font-size: 0;
        height: 0;
        line-height: 0;
    }

    div#pageNoteContent input#chkPageNoteHighPriority {
        float: left;
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        vertical-align: middle;
    }

    div#pageNoteContent label {
        float: left;
        margin: 0 0 0 5px;
    }

    div#pageNoteContent button#btnPageNoteSave {
        float: right;
        padding: 1px 10px;
    }

.RadWindow.RadWindow_Default.rwNormalWindow.rwTransparentWindow, .cke_dialog {
    z-index: 19998 !important;
}

.RadWindow.RadWindow_Default.rwNormalWindow.rwInactiveWindow {
    z-index: 19997 !important;
}

.RadWindow.RadWindow_Default.rwNormalWindow.rwTransparentWindow.reToolbarWindow, .cke_skin_kama {
    z-index: 19997 !important;
}

.cke_dialog_background_cover {
    z-index: 19996 !important;
}

.reToolbar .iapps-small-button {
    padding: 2px 10px 6px 10px !important;
    margin: 2px 5px;
    height: 22px !important;
    line-height: 18px !important;
}

.reToolbar.Default .InsertImagefromLibrary {
    background-image: url('/iapps_images/ImageManager.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .EditImage {
    background-image: url('/iapps_images/EditImage.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .LinktoLibrary {
    background-image: url('/iapps_images/LibraryLink.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .UnsubscribeLink {
    background-image: url('/iapps_images/unsubscribe-icon.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .ManageLink {
    background-image: url('/iapps_images/LibraryLink.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .InsertFlashFromLibrary {
    background-image: url('/iapps_images/FlashManager.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .InsertProductImage {
    background-image: url('/iapps_images/InsertProductImage.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .LinktoProduct {
    background-image: url('/iapps_images/LinktoProduct.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .SnippetManager {
    background-image: url('/iapps_images/SnippetManager.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .CustomInsertSnippet {
    background-image: url('/iapps_images/InsertSnippet.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .SaveSelectionAsSnippet {
    background-image: url('/iapps_images/SaveSelectionAsSnippet.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .InsertImagefromSPLibrary {
    background-image: url('/iapps_images/ImageManager.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .LinktoSPLibrary {
    background-image: url('/iapps_images/LibrarySPLink.gif') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .CSSClass {
    background-image: url('/iapps_images/MultiCssClass.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .InsertViewInBrowserLink {
    background-image: url('/iapps_images/viewinbrowser.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .SaveAsContent {
    background-image: url('/iapps_images/SaveAs.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .SaveContent {
    background-image: url('/iapps_images/Save.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .CancelContent {
    background-image: url('/iapps_images/Cancel.png') !important;
    background-repeat: no-repeat;
    background-position: center;
}

.reToolbar.Default .sharepoint-text {
    width: 50px !important;
    font-size: 9px;
    font-weight: bold;
    padding: 7px 5px 0 5px !important;
    margin: 0 !important;
    font-family: Arial;
    display: inline-block;
}

.Default.reWrapper {
    border: 0 !important;
}

.Default.RadEditor {
    background-color: Transparent !important;
}

.reEditorModes a {
    width: 26px !important;
    overflow: hidden;
    border: solid 1px #ececec;
}

    .reEditorModes a span {
        text-indent: -9999px;
    }

a.reMode_selected {
    border: solid 1px #828282;
    background: none #cecece !important;
}

.reToolbarWindow table {
    font-size: 12px !important;
    margin: auto !important;
}
/** Styles for Telerik ENDS **/
div.iapps_generic_device .iphone-speaker, div.iapps_desktop .iapps-device-rotate, div.ipad.landscape .bottom-row, div.ipad.portrait .center-right, div.iapps_generic_device .bottom-row, div.iapps_generic_device .center-right {
    display: none !important;
}

div.ipad.landscape .iapps-device-rotate, div.ipad.portrait .iapps-device-rotate, div.iphone.landscape .iapps-device-rotate, div.iphone.portrait .iapps-device-rotate {
    display: block !important;
    float: right;
}

div.iapps_generic_device, div.iapps_desktop {
    border: solid 2px #fff;
    border-radius: 10px;
    padding: 30px;
    background-color: #000;
}

div.ipad.landscape, div.ipad.portrait, div.iphone.landscape, div.iphone.portrait {
    border-radius: 40px;
    padding: 80px;
}

div.iphone.landscape {
    padding: 10px 80px;
}

div.iphone.portrait {
    padding: 80px 10px;
}

div.ipad.landscape .center-left {
    display: none !important;
}

div.ipad.landscape .center-row {
    position: relative;
}

div.ipad.landscape .center-right {
    display: block !important;
    position: absolute;
    left: 101%;
    top: 49%;
}

div.ipad.portrait .bottom-row {
    display: block !important;
    position: absolute;
    left: 49%;
    top: 95%;
}

div.iphone.portrait .top-row, div.iphone.landscape .center-row {
    position: relative;
}

    div.iphone.portrait .top-row .iphone-speaker {
        display: block !important;
        position: absolute;
        top: -37px;
        left: 36%;
    }

    div.iphone.landscape .center-row .iphone-speaker {
        display: block !important;
        position: absolute;
        left: -37px;
        top: 30%;
    }

div.iphone.landscape .bottom-row {
    display: block !important;
    position: absolute;
    top: 49%;
    left: 90%;
}

div.iphone.portrait .bottom-row {
    display: block !important;
    position: absolute;
    left: 44%;
    top: 90.5%;
}

div.iapps_desktop {
    border: 0;
    background-color: #fff;
    padding: 0;
    border-radius: 0;
}

    div.iapps_desktop .top-row {
        background-color: #333;
        padding: 10px 25px;
    }

    div.iapps_desktop .iapps-device-info, div.iapps_generic_device .iapps-device-info {
        float: left;
        font-size: 15px;
        font-weight: bold;
        padding-top: 5px;
    }

div.iapps_generic_device .iapps-device-info {
    width: 100%;
}

div.iapps_desktop .iapps-device-info {
    width: auto;
}

div.iapps_desktop .iapps-device-toolbar, div.iapps_generic_device .iapps-device-toolbar {
    background-color: transparent;
    padding: 0 0 5px 0;
    width: auto;
}

div.iapps_desktop .data {
    padding: 10px;
}

div.iapps_generic_device iframe {
    border: 0;
    background-color: #fff;
}

div.iapps_generic_device .top-row p, div.iapps_generic_device .center-row p {
    float: left;
    margin: 0;
    color: #fff;
    margin-bottom: 5px;
}

div.iphone .top-row p {
    font-size: 12px;
    font-weight: normal;
}

div.iapps_generic_device .top-row img, div.iapps_generic_device .center-row .iapps-device-rotate {
    float: right;
    cursor: pointer;
    margin-bottom: 5px;
}

div.iapps_generic_device .top-row .iphone-speaker {
    display: none;
}

div.iapps-device-edit-mode > iframe {
    box-shadow: 3px 5px 3px #333333;
}

div.iapps-device-toolbar {
    background-color: #000;
    padding: 10px 0;
    width: 100%;
    text-align: right;
}

    div.iapps-device-toolbar input[type=button], div.iapps-device-toolbar input[type=submit] {
        margin-left: 10px;
    }

.iapps-device-toolbar-holder, .iapps-page-editor-toolbar-holder {
    background-color: #333333;
    border-bottom: 1px solid #1F1F1F;
    box-shadow: 0 5px 9px #676767;
    padding: 10px;
    color: #999999;
    position: absolute;
    /*width: 100%;*/
    z-index: 99999;
}

.iapps-page-editor-toolbar-holder {
    position: relative;
    z-index: 99;
}

.iapps-device-edit-toolbar, .iapps-page-editor-toolbar {
    width: 1000px;
    margin: 0 auto;
}

    .iapps-device-edit-toolbar h2, div.iapps-page-editor-toolbar h2 {
        float: left;
        padding: 0;
        margin: 0;
        margin-top: 4px;
        font-size: 20px;
        color: #ffffff;
    }

    .iapps-device-edit-toolbar div, div.iapps-page-editor-toolbar div {
        float: right;
    }

        .iapps-device-edit-toolbar div input, div.iapps-page-editor-toolbar div input {
            margin-left: 10px;
        }

.iapps-device-edit-content {
    padding-top: 50px; /*overflow-y: auto;     overflow-x: hidden;*/
}

.iapps-page-editor-toolbox #iapps-tool-box {
    position: absolute;
    right: 80px;
}

    .iapps-page-editor-toolbox #iapps-tool-box .iapps-float-box-close {
        display: none;
    }
