﻿@model List<Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.SocialAccount>

@if (Model != null && Model.Count > 0)
{
    <div class="dark-section-header clear-fix">
        <h2>
            @Bridgeline.iAPPS.Resources.GUIStrings.SocialNetworks
        </h2>
    </div>
    <p class=" clear-fix" style="margin-bottom: 10px;">@Bridgeline.iAPPS.Resources.GUIStrings.SocialNetworkLinkInstructions</p>
    <ul class="social-networks">
        @foreach (Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.SocialAccount p in Model)
        {
            <li class="boxes @p.Provider">
                @Html.ActionLink(p.DisplayText, "SocialLogin", p)
            </li>
        }
    </ul>
}
