﻿@model List<Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.SubChannelModel>

@if (Model != null && Model.Count > 0)
{
    <div class="dark-section-header clear-fix">
        <h2>
            @Bridgeline.iAPPS.Resources.GUIStrings.SocialProfiles
        </h2>
    </div>
    <div class="sub-channels iapps-grid clear-fix">
        <div class="iapps-heading-row">
            <div class="iapps-heading-cell column1">
                @Bridgeline.iAPPS.Resources.GUIStrings.Name
            </div>
            <div class="iapps-heading-cell column2">
                @Bridgeline.iAPPS.Resources.GUIStrings.AuthorizeForIAPPSSocial
                <img src="@Url.Content("~/App_Themes/General/images/icon-help.gif")" alt="" rel="tooltip" title="@Bridgeline.iAPPS.Resources.GUIStrings.AuthorizeForIAPPSSocialTooltip" />
            </div>
            <div class="iapps-heading-cell column3">
                @Bridgeline.iAPPS.Resources.GUIStrings.AllowAdminToPublishThrough
                <img src="@Url.Content("~/App_Themes/General/images/icon-help.gif")" alt="" rel="tooltip" title="@Bridgeline.iAPPS.Resources.GUIStrings.AllowAdminToPublishThroughTooltip" />
            </div>
        </div>
        @foreach (var p in Model)
        {
            <div class="iapps-row">
                <div class="iapps-data-cell column1 @p.ClassName">@p.Name</div>
                <div class="iapps-data-cell column2">
                    @Html.CheckBoxFor(model => p.Authorized, new { @subChannelId = p.Id, @onchange = "UpdateSubchannels(this, 1);" })
                </div>
                <div class="iapps-data-cell column3">
                    @Html.CheckBoxFor(model => p.AllowPublish, new { @subChannelId = p.Id, @onchange = "UpdateSubchannels(this, 2);" })
                </div>
            </div>
        }
    </div>
    <script type="text/javascript">
        function UpdateSubchannels(checkBoxObj, type) {
            ShowiAppsLoadingPanel();
            $.post("@Url.Action("UpdateSubchannels", "User")",
                {
                    type: type, subChannelId: checkBoxObj.getAttribute("subChannelId"), selected: checkBoxObj.checked,
                    userId: "@ViewBag.UserId", token: "@ViewBag.Token"
                },
                function () {
                    alert("Social profile updated successfully.");
                }).fail(function () {
                    alert("The operation failed. Please contact your system administrator.");
                }).always(function () {
                    var reloadUrl = "@Html.Raw(Url.Action("RenderSubChannels", new { userId = @ViewBag.UserId, token = @ViewBag.Token }))";
                    $("#sub_channels").load(reloadUrl, function () {
                        CloseiAppsLoadingPanel();
                    });
                });
        }

        $(function () {
            setTimeout(function () {
                iAPPS_Tooltip.Initialize('rel', 'title', 'top');
            }, 1000);
        });
    </script>
}
