﻿@model IEnumerable<Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.UserModel>

<div class="grid-actions">
    @Html.Action("RenderGridActions", "General", new { gridName = "grdAdminUser", pageName = "ManageUsers" })
</div>
<div class="grid-section">
    @if (Model != null)
    {
        int i = 0;
        foreach (var item in Model)
        {
            i++;
        <div class="@(i % 2 == 0 ? "row" : "alternate-row")">
            <div class="collection-row grid-item clear-fix" objectid="@item.UserId">
                <div class="first-cell">
                    @i
                </div>
                <div class="middle-cell">
                    <h4>@item.FirstName @item.LastName</h4>
                    <p>@item.UserName</p>
                </div>
                <div class="last-cell">
                    <div class="child-row">
                        <label datafield="email">@item.Email</label>
                    </div>
                    <div class="child-row">
                        @foreach (var sCredentials in item.SocialCredentials)
                        {
                            if (sCredentials.channel_name.Equals("facebook", StringComparison.OrdinalIgnoreCase))
                            {
                                <img src="@Url.Content("~/App_Themes/General/images/icon-facebook-24.png")" alt="" />
                            }
                            else if (sCredentials.channel_name.Equals("twitter", StringComparison.OrdinalIgnoreCase))
                            {
                                <img src="@Url.Content("~/App_Themes/General/images/icon-twitter-24.png")" alt="" />
                            }
                            else if (sCredentials.channel_name.Equals("linkedin", StringComparison.OrdinalIgnoreCase))
                            {
                                <img src="@Url.Content("~/App_Themes/General/images/icon-linkedin-24.png")" alt="" />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        }
    }
</div>
