﻿@{
    ViewBag.Title = "ManageUsers";
}

<div id="divUsers" class="social-users">
    @Html.Action("GetUsers")
</div>

<div id="connectToken" class="iapps-modal connect-token" style="display: none;">
    <div class="modal-header clear-fix">
        <h2>
            @Bridgeline.iAPPS.Resources.GUIStrings.ConnectToSMCC
        </h2>
    </div>
    <div class="modal-content">
        <div class="form-row">
            <label class="form-label">
                @Bridgeline.iAPPS.Resources.GUIStrings.Email
            </label>
            <div class="form-value" id="ltEmail">
                &nbsp;
            </div>
        </div>
        <div class="form-row">
            <label class="form-label">
                @Bridgeline.iAPPS.Resources.GUIStrings.SMCCToken
            </label>
            <div class="form-value">
                @Html.TextBox("txtToken", null, new { @style = "width:200px;" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" id="hdnUserId" />
        <input type="button" name="btnCancel" class="button" onclick="CloseConnectToken();" 
            value="@Bridgeline.iAPPS.Resources.GUIStrings.Cancel" />
        <input type="submit" name="btnConnect" class="primarybutton" onclick="ConnectUserByToken();"
            value="@Bridgeline.iAPPS.Resources.GUIStrings.Connect" />
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#divUsers").gridActions({ objList: $("#divUsers"), type: "list" });

        $("#divUsers").gridActions("callback");
    });

    function Grid_Callback(sender, eventArgs) {
        var doCallback = true;
        var selectedItemId = gridActionsJson.SelectedItems.first();

        switch (gridActionsJson.Action) {
            case "Edit":
                doCallback = false;
                EditAdminUserDetails(selectedItemId);
                break;
            case "Add":
                doCallback = false;
                EditAdminUserDetails(null);
                break;
            case "Delete":
                doCallback = false;
                DeleteAdminUser(selectedItemId);
                break;
            case "ViewDetails":
                doCallback = false;
                OpeniAppsSocialPopup("ViewUserDetails", "userId=" + selectedItemId);
                break;
            case "Disconnect":
                doCallback = false;
                DisconnectUser(selectedItemId);
                break;
            case "Connect":
                doCallback = false;
                if ("@ViewBag.Token" != "") {
                    ConnectUser(selectedItemId);
                }
                else {
                    $("#hdnUserId").val(selectedItemId);
                    $("#ltEmail").text(eventArgs.selectedItem.getValue("email"));
                    $("#connectToken").iAppsDialog("open");
                }
                break;
        }

        if (doCallback) {
            $("#divUsers").gridActions("mvcCallback", "@Url.Action("Users_Callback", "User")", "#divUsers", {
                complete: function () {
                }
            });
        }
    }

    function EditAdminUserDetails(userId) {
        RedirectToAdminPage("ManageAdminUserDetails", userId != null ? "UserId=" + userId : "addNewUser=true");
    }

    function DisconnectUser(userId) {
        if (window.confirm("Are you sure you want to disconnect this user from Lumentus Social?")) {
            ShowiAppsLoadingPanel();
            $.post("/socialadmin/user/DisconnectUser?UserId=" + userId, function (result) {
                alert(result);
                $("#divUsers").gridActions("callback");
            });
        }
    }

    function DeleteAdminUser(userId) {
        if (window.confirm("Are you sure you want to delete this user?")) {
            ShowiAppsLoadingPanel();
            $.post("/socialadmin/user/DeleteUser?UserId=" + userId, function () {
                $("#divUsers").gridActions("callback");
            });
        }
    }

    function CloseConnectToken() {
        $("#connectToken").iAppsDialog("close");
    }

    function ConnectUserByToken() {
        ConnectUser($("#hdnUserId").val(), $("#txtToken").val());
    }

    function ConnectUser(userId, token) {
        ShowiAppsLoadingPanel();
        if (typeof token == "undefined")
            token = "";

        var url = stringformat("/socialadmin/user/ConnectUser?UserId={0}&UserToken={1}", userId, token);
        $.post(url, function (result) {
            alert(result);
            $("#divUsers").gridActions("callback");
        });
    }

    function Grid_ItemSelect(sender, eventArgs) {
        var userId = gridActionsJson.SelectedItems.first();

        sender.getItemByCommand("Connect").hideButton();
        sender.getItemByCommand("Disconnect").hideButton();
        sender.getItemByCommand("ViewDetails").hideButton();

        if ("@Bridgeline.FW.Global.ConfigHelper.FWAppSettings.GetStringValue("IAppsUser").ToLower()" == userId.toLowerCase()) {
            sender.getItemByCommand("Edit").hideButton();
            sender.getItemByCommand("Delete").hideButton();
        }
        else {
            $.get("/socialadmin/api/user/GetExternalUserId?UserId=" + userId, function (result) {
                if (result == "") { // Not connected
                    sender.getItemByCommand("Connect").showButton();
                    sender.getItemByCommand("Disconnect").hideButton();
                }
                else {
                    sender.getItemByCommand("Connect").hideButton();
                    sender.getItemByCommand("Disconnect").showButton();

                    sender.getItemByCommand("ViewDetails").showButton();
                }
            });
        }
    }
</script>
