﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.UserModel

@{
    ViewBag.Title = "ManageUserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/scripts/jqueryval")
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Please correct the following errors and try again.") 
    
    <div class="page-header clear-fix">
        <h1>@ViewBag.PageTitle</h1>
        <input type="submit" value="@Bridgeline.iAPPS.Resources.GUIStrings.Save" class="primarybutton" />
        @if (Bridgeline.FW.Global.GlobalManager.IsEngagementSpecialist())
        {
            <a href="@Url.Action("ManageUsers")" class="button">@Bridgeline.iAPPS.Resources.GUIStrings.Cancel</a>
        }
        @Html.HiddenFor(model => model.UserId)
    </div>
    <div class="dark-section-header clear-fix">
        <h2>@Bridgeline.iAPPS.Resources.GUIStrings.USERDETAILS</h2>
    </div>
    <div class="add-cms-users">
        <div class="clear-fix profile-properties">
            @*<div class="profile-picture picture-column">
                <div class="form-row">
                    <img src="@Url.Content(Model.ProfileImageUrl)" alt="@Model.UserName" id="imgPhoto" />
                </div>
                <div class="form-row">
                    <a href="#" class="edit-image" onclick="return ShowImagePopup();">@Bridgeline.iAPPS.Resources.GUIStrings.EditProfilePicture</a>
                    <a href="#" class="remove-image" onclick="return ClearImageUrlValue();">@Bridgeline.iAPPS.Resources.GUIStrings.Remove</a>
                    @Html.HiddenFor(model => model.ProfileImageId, new { @id = "hdnPhotoId" })
                </div>
            </div>*@
            <div class="user-details">
                <div class="columns">
                    <div class="form-row">
                        <label class="form-label"><span class="req">*&nbsp;</span>@Html.DisplayNameFor(model => model.FirstName)</label>
                        <div class="form-value">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "textBoxes", @style = "width:275px;" })
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="form-label"><span class="req">*&nbsp;</span>@Html.DisplayNameFor(model => model.LastName)</label>
                        <div class="form-value">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "textBoxes", @style = "width:275px;" })
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="form-label"><span class="req">*&nbsp;</span>@Html.DisplayNameFor(model => model.Email)</label>
                        <div class="form-value">
                            @if (@Model.UserId != Guid.Empty && @Model.CentralizedSocialCredentials)
                            {
                                @Html.TextBoxFor(model => model.Email, new { @class = "textBoxes", @style = "width:275px;", @readonly = "true" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.Email, new { @class = "textBoxes", @style = "width:275px;" })
                            }
                        </div>
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(model => model.EmailNotification, new { @class = "form-label" })
                        <div class="form-value text-value">
                            @Html.EditorFor(model => model.EmailNotification)
                        </div>
                    </div>
                </div>
                <div class="columns right-column">
                    <div class="form-row">
                        <label class="form-label"><span class="req">*&nbsp;</span>@Html.DisplayNameFor(model => model.UserName)</label>
                        <div class="form-value">
                            @if (@Model.UserId != Guid.Empty && @Model.CentralizedSocialCredentials)
                            {
                                @Html.TextBoxFor(model => model.UserName,
                                new { @class = "textBoxes", @style = "width:275px;", @readonly = "true" })

                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.UserName,
                                new { @class = "textBoxes", @style = "width:275px;" })

                            }
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="form-label"><span class="req">*&nbsp;</span>@Html.DisplayNameFor(model => model.Password)</label>
                        <div class="form-value">
                            @Html.PasswordFor(model => model.Password,
                                new { @class = "textBoxes", @style = "width:275px;" })
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="form-label"><span class="req">*&nbsp;</span>@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
                        <div class="form-value">
                            @Html.PasswordFor(model => model.ConfirmPassword,
                                new { @class = "textBoxes", @style = "width:275px;" })
                        </div>
                    </div>
                    @if (Bridgeline.FW.Global.GlobalManager.IsEngagementSpecialist())
                    {
                        <div class="form-row">
                            @Html.LabelFor(model => model.ExpiryDate, new { @class = "form-label" })
                            <div class="form-value calendar-value">
                                @if (@Model.UserId != Guid.Empty && @Model.CentralizedSocialCredentials)
                                {
                                    @Html.TextBoxFor(model => model.ExpiryDate,
                                new
                                {
                                    @Value = Model.ExpiryDate.ToString("d"),
                                    @class = "textBoxes date",
                                    @style = "width:263px;",
                                    @readonly = "true"
                                })   
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.ExpiryDate,
                                new
                                {
                                    @Value = Model.ExpiryDate.ToString("d"),
                                    @class = "textBoxes date",
                                    @style = "width:263px;"
                                })
                                }

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (Bridgeline.FW.Global.GlobalManager.IsEngagementSpecialist())
        {
            <div class="bottom-section clear-fix">
                <div class="dark-section-header clear-fix">
                    <h2>
                        @Bridgeline.iAPPS.Resources.GUIStrings.UserSiteAccessHr
                    </h2>
                </div>
                <div class="columns">
                    @Html.Label(Bridgeline.iAPPS.Resources.GUIStrings.SitesBr, new { @class = "form-label" })
                    <div class="form-value">
                        @Html.DropDownList("user-sites",
                        new SelectList(Model.UserSites, "Id", "Title", Model.SelectedSite.Id),
                        new
                        {
                            @style = "width:373px;",
                            @size = "5",
                            @class = "filter-list",
                            @data_filter_url = Url.Content("~/User/GetUserGroupBySite/"),
                            @data_update_id = "user-groups",
                            @data_bind_function = "BindGroupsList"
                        })
                    </div>
                </div>
                <div class="action-column">
                    <img src="@Url.Content("~/App_Themes/General/images/icon-plus.gif")" alt="Plus" title="Plus" />
                </div>
                <div class="columns center-column form-edit-row">
                    @Html.Label(Bridgeline.iAPPS.Resources.GUIStrings.GroupsBr, new { @class = "form-label" })
                    <div class="form-value">
                        @Html.ListBox("user-groups",
                        new MultiSelectList(Model.UserGroups, "Id", "Title"),
                        new
                        {
                            @style = "width:373px;",
                            @size = "5"
                        })
                    </div>
                </div>
                <div class="action-column">
                    <img src="@Url.Content("~/App_Themes/General/images/action-right-arrow.gif")" id="add-permission"
                    alt="@Bridgeline.iAPPS.Resources.GUIStrings.AddPermission" class="arrowImage actionImage" /><br />
                    <img src="@Url.Content("~/App_Themes/General/images/action-left-arrow.gif")" id="remove-permission"
                    alt="@Bridgeline.iAPPS.Resources.GUIStrings.DeletePermission" class="actionImage" />
                </div>
                <div class="columns">
                    <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.CurrentSitesAccess<span class="req">*&nbsp;</span></label>
                    <div class="form-value">
                        @Html.HiddenFor(model => model.ExistingUserPermissions)
                        @Html.ListBoxFor(model => model.SelectedUserPermissions,
                        new MultiSelectList(Model.UserPermissions, "Key", "Value"),
                        new
                        {
                            @style = "width:373px;",
                            @size = "5",
                            @id = "user-permissions"
                        })
                    </div>
                </div>
            </div>
        }
        @if (@Model.IsConnected && @Model.DisableSocialCredentials == false)
        {
            <div class="bottom-section clear-fix">
                @Html.Action("RenderSocialAccounts", new { userId = @Model.UserId, token = @Model.AuthToken })
            </div>
        }

        @if (@Model.IsConnected)
        {
            <div class="bottom-section clear-fix" id="sub_channels">
                @Html.Action("RenderSubChannels", new { userId = @Model.UserId, token = @Model.AuthToken })
            </div>
        }
    </div>
}

<div id="socialHelpMessage" class="iapps-modal help-message" style="display: none;">
    <div class="modal-header clear-fix">
        <h2>
            @Bridgeline.iAPPS.Resources.GUIStrings.Attention
        </h2>
    </div>
    <div class="modal-content">
        @if (string.IsNullOrEmpty(Bridgeline.FW.Global.ConfigHelper.FWAppSettings.GetStringValue("Social.ConnectInstructions")))
        {
            <ul>
                <li>Make sure you are logged in to the correct social accounts before proceeding. Click the links “Connect to Facebook” and/or “Connect to Twitter” account.</li>
                <li>Facebook will provide 3 pop-ups requiring you to select "Okay", and Twitter will provide one.  (Note – the language is mandated by Facebook and Twitter and is not customizable by iAPPS Social for an easier user experience.)</li>
                <li>After you connect, you will see all of your Facebook profiles and pages listed.  Uncheck the "Allow Admin to Publish Through" box for your personal Facebook profile and non-UPS Store affiliated Facebook pages and then uncheck "Authorize for iAPPS Social".</li>
                <li>Click on "My Activity" in the upper left hand corner and find a great article to share!</li>
            </ul>
        }
        else
        {
            @Html.Raw(Bridgeline.FW.Global.ConfigHelper.FWAppSettings.GetStringValue("Social.ConnectInstructions"))
        }
    </div>
    <div class="modal-footer">
        <input type="button" name="btnClose" class="button" onclick="CloseSocialHelpPopup('socialHelp');"
            value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />
    </div>
</div>


<div id="socialNeedAttentionHelpMessage" class="iapps-modal help-message" style="display: none;">
    <div class="modal-header clear-fix">
        <h2>
            @Bridgeline.iAPPS.Resources.GUIStrings.Attention
        </h2>
    </div>
    <div class="modal-content">
        @if (string.IsNullOrEmpty(Bridgeline.FW.Global.ConfigHelper.FWAppSettings.GetStringValue("Social.CentralizedSocialCredentialsConnectInstruction")))
        {
            
            <ul>
                <li>Your Facebook page and Twitter account have already been connected to your iAPPS Social user. 
                    If you would like to allow the Sport Clips Marketing Team to be able to publish-through to your social accounts when they choose to do so, please check the box under the column “Allow Admin to Publish-Through”.
            <ul>
                <li>Publish Through allows the Sport Clips Marketing team to publish to your social media profiles on your behalf.</li>
                <li>You can still publish to your own social accounts when the Publish-Through feature enabled.</li>

            </ul>
                </li>
                <li>Once you are done configuring your settings, click My Activity in the top left hand corner to return to the iAPPS Social content stream.</li>
            </ul>
            
        }
        else
        {
            @Html.Raw(Bridgeline.FW.Global.ConfigHelper.FWAppSettings.GetStringValue("Social.CentralizedSocialCredentialsConnectInstruction"))
        }
    </div>
    <div class="modal-footer">
        <input type="button" name="btnClose" class="button" onclick="CloseSocialHelpPopup('NeedAttention');"
            value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />
    </div>
</div>


<div id="socialNeedAttentionNoSubChannelHelpMessage" class="iapps-modal help-message" style="display: none;">
    <div class="modal-header clear-fix">
        <h2>
            @Bridgeline.iAPPS.Resources.GUIStrings.Attention
        </h2>
    </div>
    <div class="modal-content">
        <ul>
            <li>Please connect to one of the Subchannel</li>
        </ul>
    </div>
    <div class="modal-footer">
        <input type="button" name="btnClose" class="button" onclick="CloseSocialHelpPopup('NeedAttentionNoSubChannel');"
            value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />
    </div>
</div>

<div id="socialErrorMessage" class="iapps-modal error-message" style="display: none; width: 650px;">
    <div class="modal-header clear-fix">
        <h2>
            @Bridgeline.iAPPS.Resources.GUIStrings.Error
        </h2>
    </div>
    <div class="modal-content">
        @Html.Raw(@ViewBag.ErrorMessage)
    </div>
    <div class="modal-footer">
        <input type="button" name="btnClose" class="button" onclick="CloseSocialErrorPopup();"
            value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var isDisconnect = "@ViewBag.Disconnect.ToString().ToLower()" == "true";
        var isMyProfile = "@Model.IsMyProfile.ToString().ToLower()" == "true";
        var isNeedUserAttention = "@Model.NeedUserAttention.ToString().ToLower()" == "true";
        var isNeedUserAttentionNoSubChannel = "@Model.NeedUserAttentionNoSubChannel.ToString().ToLower()" == "true";

        if (isNeedUserAttentionNoSubChannel)
            $("#socialNeedAttentionNoSubChannelHelpMessage").iAppsDialog("open");
        else if (isNeedUserAttention)
            $("#socialNeedAttentionHelpMessage").iAppsDialog("open");
        else if (!isDisconnect && isMyProfile && $("ul.social-networks").is(":visible") && !$("div.sub-channels").is(":visible"))
            $("#socialHelpMessage").iAppsDialog("open");

        if ("@ViewBag.ErrorMessage" != "")
            $("#socialErrorMessage").iAppsDialog("open");

        $(".date").datepicker({
            dateFormat: "@Bridgeline.iAppsCMS.Library.Display.DisplayUtility.ConvertToJqueryDateFormat(System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)",
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            showOn: "button",
            buttonImage: "@Url.Content("~/App_Themes/General/images/calendar-button.png")",
            buttonImageOnly: true,
            beforeShow: function () { $('#ui-datepicker-div').wrap("<div class='iapps-jqueryui' />"); }
        });

        $(".filter-list").on("change", function (e) {
            // Grab the id of new dropdown
            var dataUpdateId = $(this).attr('data-update-id');

            var targetElement = $('#' + dataUpdateId);
            targetElement.empty();

            // Retrieve the filter url from the data-filter-url attribute
            var filterUrl = $(this).attr('data-filter-url');
            var completeUrl = filterUrl + "?selectedValue=" + $(this).val();

            var bindFunction = $(this).attr('data-bind-function');
            $.get(completeUrl, function (result) {
                eval(bindFunction)(targetElement, result);
            });
        });

        $("form").submit(function (e) {
            if ($("#user-permissions").length > 0) {
                if ($(this).valid() && $("#user-permissions option").length == 0) {
                    alert("Please select atleast one permission for the user.");
                    return false;
                }

                $("#user-permissions option").attr("selected", "selected");
            }
        });

        $("#add-permission").on("click", function () {
            var selectedSite = $("#user-sites option:selected");

            $('#user-groups option:selected').each(function (i, selectedGroup) {
                var value = selectedSite.val() + ":" + selectedGroup.value;
                if ($("#user-permissions > option[value='" + value + "']").length == 0) {
                    $("#user-permissions").append($("<option />", {
                        value: value,
                        text: selectedSite.text() + " : " + selectedGroup.text,
                        selected: true
                    }));
                }
            });

        });

        $("#remove-permission").on("click", function () {
            if ($("#user-permissions option:selected").length == 0)
                alert("@Bridgeline.iAPPS.Resources.JSMessages.PleaseSelectAtLeastOnePermissionForThisUser");
            else
                $('#user-permissions option:selected').remove();
        });
    });

    function CloseSocialHelpPopup(iappsDialog) {
        if (iappsDialog.toLowerCase() == 'socialhelp')
            $("#socialHelpMessage").iAppsDialog("close");
        else if (iappsDialog.toLowerCase() == 'needattention')
            $("#socialNeedAttentionHelpMessage").iAppsDialog("close");
        else if (iappsDialog.toLowerCase() == 'needattentionnosubchannel')
            $("#socialNeedAttentionNoSubChannelHelpMessage").iAppsDialog("close");
    }

    function CloseSocialErrorPopup() {
        $("#socialErrorMessage").iAppsDialog("close");
    }

    function BindGroupsList(element, value) {
        $.each(value, function () {
            element.append($("<option/>", {
                value: this.Id,
                text: this.Title
            }));
        });
    }

    function ShowImagePopup() {
        OpeniAppsAdminPopup("SelectImageLibraryPopup", "ForceEnableSelection=true", "SelectImage");
    }

    function SelectImage() {
        var imageUrl = popupActionsJson.CustomAttributes.ImageUrl.replace(new RegExp(jPublicSiteUrl, "gi"), "");
        var imageFileName = popupActionsJson.CustomAttributes.ImageFileName;
        imageUrl = imageUrl.replace(new RegExp(imageFileName, "gi"), "thumbs/thumb_" + imageFileName);

        $("#imgPhoto").prop("src", imageUrl);
        $("#hdnPhotoId").val(popupActionsJson.SelectedItems.first());
    }

    function ClearImageUrlValue() {
        $("#imgPhoto").prop("src", "@Url.Content("~/App_Themes/General/images/no_photo.jpg")");
        $("#hdnPhotoId").val("");
    }
</script>
