﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.ViewUserModel

@{
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}
@section PopupHeading {
    @Bridgeline.iAPPS.Resources.GUIStrings.LumentusUserDetails
}

@section PopupFooter {
    <input type="button" name="btnCancel" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />
}

<div class="form-row">
    <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.Id</label>
    <div class="form-value text-value">
        @Html.DisplayFor(m => m.Id)
    </div>
</div>
<div class="form-row">
    <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.SMCCToken</label>
    <div class="form-value text-value">
        @Html.DisplayFor(m => m.Token)
    </div>
</div>
<div class="form-row">
    <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.FirstName</label>
    <div class="form-value text-value">
        @Html.DisplayFor(m => m.FirstName)
    </div>
</div>
<div class="form-row">
    <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.LastName</label>
    <div class="form-value text-value">
        @Html.DisplayFor(m => m.LastName)
    </div>
</div>
<div class="form-row">
    <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.Email</label>
    <div class="form-value text-value">
        @Html.DisplayFor(m => m.Email)
    </div>
</div>
<div class="form-row">
    <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.Role</label>
    <div class="form-value text-value">
        @Html.DisplayFor(m => m.Roles)
    </div>
</div>
<div class="form-row">
    <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.Groups</label>
    <div class="form-value text-value">
        @Html.DisplayFor(m => m.Groups)
    </div>
</div>