﻿<%@ Master Language="C#" MasterPageFile="~/MainMaster.Master"
    AutoEventWireup="true" CodeBehind="ProductDetails.master.cs" Inherits="Bridgeline.iAPPS.Admin.Commerce.Web.ProductDetails" %>
<asp:Content ID="head" runat="server" ContentPlaceHolderID="head">
    <script type="text/javascript">
        //method to show the dialog through code
        function ShowAttributeValueModalBox(strValues) {
            AppendValuesToModalBox(strValues);
            $('#AttributeValuesPopup').dialog('open');
            return false;
        }
        //method to close the dialog through code
        function CloseAttributeValueModalBox() {
            $('#AttributeValuesPopup').dialog('close');
            return false;
        }
        //method to add content to dialog
        function AppendValuesToModalBox(strValues) {
            $('#attrubuteValues').html(strValues);
        }
        $(document).ready(function () {
            $("#AttributeValuesPopup").dialog({ modal: true, bgiframe: true, autoOpen: false, resizable: false });
        });
    </script>
    <asp:ContentPlaceHolder ID="cphHead" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="body" ContentPlaceHolderID="mainPlaceHolder" runat="server">
    <div class="products product-details">
        <h1><asp:Literal ID="lblProductHeading" runat="server"></asp:Literal></h1>
        <div class="nav-links">
            <asp:HyperLink ID="hplAllProducts" runat="server" Text="<%$ Resources:GUIStrings, AllProducts %>" NavigateUrl="~/StoreManager/Products/ViewAllProducts.aspx" Visible="false"></asp:HyperLink>
            <asp:HyperLink ID="hplGeneralDetails" runat="server" Text="<%$ Resources:GUIStrings, GeneralDetails %>" NavigateUrl="GeneralDetails.aspx"></asp:HyperLink>
            <asp:HyperLink ID="hplPricing" runat="server" Text="<%$ Resources:GUIStrings, PriceSets %>" NavigateUrl="~/StoreManager/Products/ProductPriceSets.aspx"></asp:HyperLink>
            <asp:HyperLink ID="hplInventory" runat="server" Text="<%$ Resources:GUIStrings, Inventory %>" NavigateUrl="~/StoreManager/Products/InventoryAndRestocking.aspx"></asp:HyperLink>
            <asp:HyperLink ID="hplImages" runat="server" Text="<%$ Resources:GUIStrings, Images %>" NavigateUrl="~/StoreManager/Products/ProductImages.aspx"></asp:HyperLink>
            <asp:HyperLink ID="hplNavCategory" runat="server" Text="<%$ Resources:GUIStrings, NavigationCategories %>" NavigateUrl="~/StoreManager/Products/ProductNavigationCategories.aspx"></asp:HyperLink>
            <asp:HyperLink ID="hplSEOTerms" runat="server" Text="<%$ Resources:GUIStrings, SEOTerms %>" NavigateUrl="~/StoreManager/Products/SEOTerms.aspx"></asp:HyperLink>
            <asp:HyperLink ID="hplRelatedProducts" runat="server" Text="<%$ Resources:GUIStrings, RelatedProducts %>" NavigateUrl="~/StoreManager/Products/RelatedProducts.aspx"></asp:HyperLink>
            <asp:PlaceHolder ID="phProductMedia" runat="server" Visible="false">
                <asp:HyperLink ID="hplProductMedia" runat="server" Text="<%$ Resources:GUIStrings, ProductMedia%>" NavigateUrl="~/StoreManager/Products/ProductMedia.aspx"></asp:HyperLink>
            </asp:PlaceHolder>
        </div>
        <asp:ContentPlaceHolder ID="ProductDetailsContentHolder" runat="server"></asp:ContentPlaceHolder>
        <!-- HTML required for Loading Modal Popup STARTS -->
        <div style="visibility: hidden;">
            <div id="AttributeValuesPopup" title="Multi Attribute Values">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <div id="attrubuteValues" style="width: 285px; height: 200px; overflow: auto;">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="padding: 10px; border-top: solid 1px #A6C9E2;">
                                <input type="button" value="Close" class="button" onclick="CloseAttributeValueModalBox();" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</asp:Content>
