﻿
<%@ Master Language="C#" MasterPageFile="~/MainMaster.Master" AutoEventWireup="true" CodeBehind="ProductsMaster.master.cs" Inherits="Bridgeline.iAPPS.Admin.Commerce.Web.ProductsMaster" %>
<asp:Content ID="headerHolder" ContentPlaceHolderID="head" runat="server">
    <asp:ContentPlaceHolder ID="cphHead" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="ContentHolder" ContentPlaceHolderID="mainPlaceHolder" runat="server">
<div class="products">
    <h1><asp:Literal ID="subPageHeader" runat="server" Text="<%$ Resources:GUIStrings, ProductCatalog %>"></asp:Literal></h1>
    <asp:HyperLink ID="hplAddProduct" runat="server" Text="<%$ Resources:GUIStrings, AddNewProduct %>" CssClass="primarybutton" style="float: right;" Visible="false"
        NavigateUrl="~/StoreManager/Products/GeneralDetails.aspx?SelectedProductSkuIds=00000000-0000-0000-0000-000000000000&SelectedProductId=00000000-0000-0000-0000-000000000000"></asp:HyperLink>
    <div class="clear-fix"></div>
    <div class="nav-links">
        <asp:HyperLink id="hplAllProducts" runat="server" Text="<%$ Resources:GUIStrings, Products %>" NavigateUrl="~/StoreManager/Products/ViewAllProducts.aspx" />
        <asp:HyperLink ID="hplProductTypes" runat="server" Text="<%$ Resources:GUIStrings, ProductTypes %>" NavigateUrl="~/StoreManager/Products/ProductType.aspx" />
    </div>
    <asp:ContentPlaceHolder ID="productContentHolder" runat="server"></asp:ContentPlaceHolder>
</div>
</asp:Content>
