﻿.EditRequiredCSSClass:hover {
    border: solid 1px red;
    zoom: 1;
}
.EditOptionalCSSClass:hover {
    border: solid 1px #d2e6cc;
    zoom: 1;
}
.EditOptionalCSSClass, .EditRequiredCSSClass {
    min-height: 24px;
}
.HiddenContainerCssClass {
    background-color: #cccccc;
}
.extrainfo {
    position: absolute;
    border: solid 1px #ccc;
    padding: 10px;
    min-height: 20px;
    color: blue;
    background-color: white;
}
#ImageSrc_CallerButton, #ImageCaller_CallerButton {
    display: none !important;
}
.EditRequiredCSSClass, .EditOptionalCSSClass, .EditOptionalCSSClass ul.editMode li {
    position: relative;
}
.EditRequiredCSSClass .iapps-control-action, .EditOptionalCSSClass .iapps-control-action, .EditOptionalCSSClass ul.editMode li .iapps-control-action {
    position: absolute;
    top: 1px;
    right: 1px;
    display: block;
    width: 24px !important;
    height: 22px !important;
    z-index: 19996;
}
.iapps-video-container .iapps-control-action {
    display: none !important;
}
.iapps-video-container .iapps-video-action-row {
    text-align: right;
}

.reTool[title="Image Manager"] {
    visibility: hidden;
    border: solid 1px red;
    display: block;
}

.validation-error {
	color: #FF0000;
	font-size: 8pt;
	font-weight: normal;
	margin-left: 5px;
}
