﻿@{
    ViewBag.Title = Bridgeline.iAPPS.Resources.GUIStrings.DeveloperConfigurations;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header clear-fix">
    <h1>@Bridgeline.iAPPS.Resources.GUIStrings.DeveloperConfigurations</h1>
    <input type="button" id="btnSave" class="primarybutton" value="@Bridgeline.iAPPS.Resources.GUIStrings.Save" />
</div>
<div class="developer-config">
    <div class="form-row">
        <label class="form-label">@Bridgeline.iAPPS.Resources.GUIStrings.EnableSocialChannels</label>
        <div class="form-value text-value">
            <span style="display: block;">
                <input type="checkbox" id="chkTwitter" />
                <label for="chkTwitter">@Bridgeline.iAPPS.Resources.GUIStrings.Twitter</label>
            </span>
            <span style="display: block;">
                <input type="checkbox" id="chkFacebook" />
                <label for="chkFacebook">@Bridgeline.iAPPS.Resources.GUIStrings.Facebook</label>
            </span>
            <span style="display: block;">
                <input type="checkbox" id="chkLinkedIn" />
                <label for="chkLinkedIn">@Bridgeline.iAPPS.Resources.GUIStrings.LinkedIn</label>
            </span>
        </div>
    </div>
</div>