﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MainMaster.Master.cs" Inherits="Bridgeline.iAPPS.Admin.CommonLogin.Web.MainMaster" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <meta name="robots" content="noindex, nofollow" />
    <link rel="shortcut icon" href="/CommonLogin/favicon.ico" />
    <script type="text/javascript" src="../common/js/JSMessages.js.aspx"></script>
    <script type="text/javascript" src="../script/General.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var selectedProduct = $('#iAppsProductsSuite').find(":selected").text();
            switch (selectedProduct.toLowerCase()) {
                case 'analyzer':
                    $('.analyzer-button').addClass('selected').siblings().removeClass('selected');
                    break;
                case 'commerce':
                    $('.commerce-button').addClass('selected').siblings().removeClass('selected');
                    break;
                case 'content manager':
                    $('.cms-button').addClass('selected').siblings().removeClass('selected');
                    break;
                case 'marketier':
                    $('.marketier-button').addClass('selected').siblings().removeClass('selected');
                    break;
                case 'social':
                    $('.social-button').addClass('selected').siblings().removeClass('selected');
                    break;
            }
        });
        function fn_SelectProduct(productKey, productClicked) {
            switch (productKey.toLowerCase()) {
                case 'cms':
                    $('#iAppsProductsSuite option:contains("Content Manager")').prop('selected', 'selected');
                    break;
                case 'analyzer':
                    $('#iAppsProductsSuite option:contains("Analyzer")').prop('selected', 'selected');
                    break;
                case 'marketier':
                    $('#iAppsProductsSuite option:contains("Marketier")').prop('selected', 'selected');
                    break;
                case 'commerce':
                    $('#iAppsProductsSuite option:contains("Commerce")').prop('selected', 'selected');
                    break;
                case 'social':
                    $('#iAppsProductsSuite option:contains("Social")').prop('selected', 'selected');
                    break;
            }
            $(productClicked).addClass('selected').siblings().removeClass('selected');
            if (typeof fn_SubmitForm == 'function') {
                fn_SubmitForm();
            }
            return false;
        }
    </script>
    <asp:ContentPlaceHolder ID="cphHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div class="container">
        <form id="form1" runat="server">
            <div class="top-wrapper">
                <!-- Message Information Starts -->
                <div id="divPageTopContainer" class="messageContainer" runat="server" visible="false">
                </div>
                <!-- Message Information Ends -->
                <asp:ContentPlaceHolder ID="cphContent" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div class="bottom-wrapper">
                <asp:PlaceHolder ID="phUpsell" runat="server">
                    <div class="bottom-section clear-fix">
                        <div class="columns">
                            <asp:Image ID="imgCM" runat="server" AlternateText="<%$ Resources:GUIStrings, iAPPSContentManager %>" ToolTip="<%$ Resources:GUIStrings, iAPPSContentManager %>"
                                ImageUrl="~/App_Themes/General/images/cm-logo.png" />
                            <p><%= GUIStrings.LoginPageMessageForCMS %></p>
                        </div>
                        <div class="columns">
                            <asp:Image ID="imgAnalytics" runat="server" AlternateText="<%$ Resources:GUIStrings, iAPPSAnalytics %>" ToolTip="<%$ Resources:GUIStrings, iAPPSAnalytics %>"
                                ImageUrl="~/App_Themes/General/images/analytics-logo.png" />
                            <p><%= GUIStrings.LoginPageMessageForAnalyzer %></p>
                        </div>
                        <div class="columns">
                            <asp:Image ID="imgMarketier" runat="server" AlternateText="<%$ Resources:GUIStrings, iAPPSMarketier %>" ToolTip="<%$ Resources:GUIStrings, iAPPSMarketier %>"
                                ImageUrl="~/App_Themes/General/images/marketier-logo.png" />
                            <p><%= GUIStrings.LoginPageMessageForMarketier %></p>
                        </div>
                        <div class="columns">
                            <asp:Image ID="imgCommerce" runat="server" AlternateText="<%$ Resources:GUIStrings, iAPPSCommerce %>" ToolTip="<%$ Resources:GUIStrings, iAPPSCommerce %>"
                                ImageUrl="~/App_Themes/General/images/commerce-logo.png" />
                            <p><%= GUIStrings.LoginPageMessageForCommerce %></p>
                        </div>
                        <div class="columns">
                            <asp:Image ID="imgSocial" runat="server" AlternateText="<%$ Resources:GUIStrings, iAPPSCommerce %>" ToolTip="<%$ Resources:GUIStrings, iAPPSCommerce %>"
                                ImageUrl="~/App_Themes/General/images/social-logo.png" />
                            <p><%= GUIStrings.LoginPageMessageForSocial %></p>
                        </div>
                    </div>
                </asp:PlaceHolder>
            </div>
            <div class="footer-wrapper">
                <div class="footer">
                    <asp:Label ID="lblCopyright" runat="server" Text=""></asp:Label>
                    <asp:Image ImageUrl="~/App_Themes/General/images/bridgeline-logo.png" ToolTip="<%$ Resources:GUIStrings, BridgelineDigital %>" AlternateText="<%$ Resources:GUIStrings, BridgelineDigital %>" ID="logo1" runat="server" />
                </div>
            </div>
            <asp:HiddenField ID="hdn_machinename" runat="server" />
        </form>
    </div>
</body>
</html>
