﻿.ContextMenuGroup {
    border: solid 1px #8193b9;
    background: #fff;
    cursor: default;
    z-index: 200;
}
.ContextMenuItem {
    background-color: #fcfcfd;
    color: #707274;
    font-size: 12px;
    cursor: default;
    padding: 5px 0;
}
.ContextMenuItemHover {
    background-color: #e4ecf8;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 0;
}
.ContextMenuBreak {
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
}
.ContextMenuImageFileItem {
    color: black;
    background-color: #F7F7F7;
    font-family: "Trebuchet MS";
    font-size: 1.1em;
    cursor: default;
}
.ContextMenuListBoxItem {
    color: black;
    background-color: #F7F7F7;
    font-family: "Trebuchet MS";
    font-size: 1.1em;
    cursor: default;
    background-image: none;
}
