.dhtmlwindow{
position: absolute;
visibility: hidden;
background-color: #efefef;
border:0;
/*background-image:url(images/full-shadow.png) !important;
background-repeat:no-repeat;
background-position:right bottom; 
padding-bottom:7px;*/
}

.drag-handle{ /*CSS for Drag Handle*/
/*padding: 1px;
text-indent: 3px;
font: bold 14px Arial;
background-color: #CA0000;
color: white;
cursor: move;
overflow: hidden;
width: auto;
border:1px solid blue;*/
display:none;
background-color: #efefef;
border:0;
}

.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
display:none;
border:0;
/*right: 1px;
top: 2px;
cursor: hand;
cursor: pointer;
border:1px solid green;*/

}


.drag-contentarea{ /*CSS for Content Display Area div*/
/*border-top: 1px solid brown;padding: 2px;height: 150px;

background-color: white;
color: black;
overflow: auto;width:100%;width:100%;
height: 100%;
*/
margin:0;
padding:0;
border:0;
background-color: #efefef;
}

.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
/*border-top: 1px solid gray;
background-color: #F7F3F7;
height: 13px; height of resize image 
border:1px solid red;*/
display:none;
background-color: #efefef;
border:0;
}


.drag-resizearea{ /*CSS for Resize Area itself*/
/*float: right;
width: 13px; width of resize image
height: 13px; /*height of resize image
cursor: nw-resize;
font-size: 0;
border:1px solid grey;*/
display:none;
background-color: #efefef;
border:0;
}

