.Grid, .CCGrid, .sGrid {
    background-color: #fff;
    border-top: solid 1px #d2d2d2;
    cursor: pointer;
}
.hgGrid {
    background-color: #fff;
    cursor: pointer;
}
.sGrid {
    border: solid 1px #d2d2d2;
}
.GridLeftBorder {
    border-left: solid 1px #d2d2d2;
}
.TransparentGrid {
    background-color: Transparent;
    cursor: pointer;
}
.GridHeader, .sGridHeader, .hgGridHeader {
    background-color: #fff;
    padding-left: 3px;
    cursor: default;
}
.GridHeaderText, .sGridHeaderText, .hgGridHeaderText, .hgHeadingCellText {
    color: #535353;
}
.DataArea, .CCDataArea {
    width: 100%;
}
.HeadingRow, .sHeadingRow, .hgHeadingRow {
}
.HiddenHeadingRow, .sHiddenHeadingRow {
    display: none;
}
.HeadingCell, .HeadingRow td.FirstHeadingCell, .sHeadingCell, .sDefaultCursorHeadingCell, .sDefaultCursorHeadingCell, .DefaultCursorDataCell, .sFirstHeadingCell, .hgHeadingRowGradient, .hgHeadingCell {
    background-color: #e8e8e9;
    border-bottom: solid 1px #d2d2d2;
    border-right: solid 1px #d2d2d2;
    padding: 5px 0;
}
.hgGrid .HeadingCell {
    border-top: solid 1px #d2d2d2;
}
.FirstHeadingCell, .hgFirstHeadingCell {
    border-left: solid 1px #d2d2d2;
}
.GridFooter, .TransparentGridFooter, .sGridFooter, .hgGridFooter {
    cursor: default;
    padding: 5px;
    vertical-align: bottom;
    background-color: #fff;
}
.GridFooterRightBottom {
    border-bottom: solid 1px #d2d2d2;
    border-right: solid 1px #d2d2d2;
}
.GridFooterText, .sGridFooterText {
}
.EditDataCell input, .EditDataCell select {
    width: 90% !important;
}
.EditDataField {
    height: 13px;
    width: 90%;
}
.previewImage {
    float: left;
    padding-left: 35px;
}
.wrapImage {
    float: left;
}
.HeadingCellText, .sHeadingCellText {
    padding: 0 6px;
}
.DefaultPageRow td.DataCell, .DefaltPageRow td.RightAlignedDataCell, .AlternateDataRow td.DataCell, .AlternateDataRow td.RightAlignedDataCell, .AlternateDataRow td.FirstDataCell, .Row td.DataCell, .Row td.RightAlignedDataCell, .SelectedRow td.DataCell, .SelectedRow td.RightAlignedDataCell, .SelectedRow td.FirstDataCell, .SelectedRow td.LastDataCell, .Row td.SortedDataCell, .AlternateDataRow td.SortedDataCell, .SelectedRow td.SortedDataCell, .AlternateDataRow td.RightAlignedDataCell, .DefaultPageRow td.RightAlignedDataCell, .Row td.RightAlignedDataCell, .SelectedRow td.RightAlignedDataCell, .sAlternateDataRow td.sDataCell, .sAlternateDataRow td.sFirstDataCell, .sRow td.sDataCell, .sRow td.sFirstDataCell, .sSelectedRow td.sDataCell, .EditDataCell, .hgRow, .hgAlternateDataRow {
    padding: 5px;
    border-bottom: solid 1px #d2d2d2;
    border-right: solid 1px #d2d2d2;
    background-color: #FFEEC2;
    vertical-align: top;
}
.FirstDataCell, .hgHeadingRow td.hgFirstHeadingCell, .hgAlternateDataRow td.hgFirstDataCell, .hgRow td.hgFirstDataCell {
    border-left: solid 1px #d2d2d2;
}
.hgHeadingRow td.hgLastHeadingCell, .hgAlternateDataRow td.hgLastDataCell, .hgRow td.hgLastDataCell {
    border-right: solid 1px #d2d2d2;
}
.AlternateDataRow td.DataCell, .AlternateDataRow td.RightAlignedDataCell, .sAlternateDataRow td.sDataCell, .sAlternateDataRow td.sFirstDataCell, .hgAlternateDataRow .hgDataCell, .hgAlternateDataRow td.hgFirstDataCell {
    background-color: #e8e8e9;
}
.Row td.DataCell, .Row td.RightAlignedDataCell, .sRow td.sDataCell, .sRow td.sFirstDataCell, .hgRow td.hgDataCell {
    background-color: #fff;
}
.SelectedRow td.DataCell, .SelectedRow td.RightAlignedDataCell, .SelectedRow td.FirstDataCell, .SelectedRow td.LastDataCell, .sSelectedRow td.sDataCell, .sSelectedRow td.sFirstDataCell, .sSelectedRow td.sLastDataCell {
    background-color: #f5f7bf;
}
.Row td.FirstDataCell a, .Row td.DataCell a, .Row td.LastDataCell a, .AlternateDataRow td.FirstDataCell a, .AlternateDataRow td.DataCell a, .AlternateDataRow td.LastDataCell a, .SelectedRow td.FirstDataCell a, .SelectedRow td.DataCell a, .SelectedRow td.LastDataCell a, .sRow td.sFirstDataCell a, .sRow td.sDataCell a, .sRow td.sLastDataCell a, .sAlternateDataRow td.sFirstDataCell a, .sAlternateDataRow td.sDataCell a, .sAlternateDataRow td.sLastDataCell a {
    color: #535353;
    text-decoration: none;
}
.Row td.FirstDataCell a:hover, .Row td.DataCell a:hover, .Row td.LastDataCell a:hover, .SelectedRow td.DataCell a:hover, .AlternateDataRow td.FirstDataCell a:hover, .AlternateDataRow td.DataCell a:hover, .AlternateDataRow td.LastDataCell a:hover, .sRow td.sFirstDataCell a:hover, .sRow td.sDataCell a:hover, .sRow td.sLastDataCell a:hover {
    color: #535353;
    text-decoration: underline;
}
.AlternateDataRow td.RightAlignedDataCell, .DefaultPageRow td.RightAlignedDataCell, .Row td.RightAlignedDataCell, .SelectedRow td.RightAlignedDataCell {
    text-align: right;
}
.sScrollBar {
    background-image: url(images/scroller_bg.gif);
}
.sScrollGrip {
    background-image: url(images/scroll_gripBg.gif);
    background-repeat: no-repeat;
    background-position: 4px center;
    background-color: #efefef;
    border-left: solid 1px #9b9b9b;
}
div.SliderPopup, div.sScrollPopup, div.smallsScrollPopup {
    width: 278px;
    float: left;
    display: table;
    border: solid 1px #517cde;
    background-color: #fff;
    background-image: url(images/slider-popup-bg.gif);
    background-repeat: repeat-y;
    background-position: left top;
    color: #4e6592;
}
div.SliderPopup h5, div.sScrollPopup h5, div.smallsScrollPopup h5 {
    padding: 10px 10px 0 10px;
    width: 258px;
}
div.smallsScrollPopup {
    width: 150px;
}
div.smallsScrollPopup h5 {
    width: 150px;
}
div.SliderPopup p, div.sScrollPopup p {
    padding: 5px 10px 0 10px;
    margin: 0;
}
div.SliderPopup p.paging {
    background-color: #99b7ed;
    color: #fff;
    margin-top: 12px;
    border-top: solid 1px #4c78dd;
    float: left;
    width: 256px;
    display: table;
    padding: 3px 11px 3px 11px;
}
div.SliderPopup p.paging span.pages {
    float: left;
}
div.SliderPopup p.paging span.items {
    float: right;
}
.gridBorder {
    border: solid 1px #999999;
    width: 712px;
    height: 350px;
    padding: 0px;
    float: left;
    margin: 20px 0px 20px 20px;
}
div.nSliderPopup {
    width: 278px;
    float: left;
    display: table;
    border: solid 1px #517cde;
    background-color: #fff;
    background-image: url(images/slider-popup-bg.gif);
    background-repeat: repeat-y;
    background-position: left top;
    color: #4e6592;
}
div.nSliderPopup h5 {
    font-family: "Trebuchet MS";
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 10px 0 10px;
    width: 258px;
}
div.nSliderPopup p {
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    padding: 5px 10px 0 10px;
    margin: 0;
    clear: both;
}
div.nSliderPopup p.npaging {
    background-color: #99b7ed;
    color: #fff;
    margin-top: 12px;
    border-top: solid 1px #4c78dd;
    float: left;
    width: 256px;
    display: table;
    padding: 3px 11px 3px 11px;
}
div.nSliderPopup p.npaging span.npages {
    float: left;
}
div.nSliderPopup p.npaging span.nitems {
    float: right;
}
/* Archived page row styles */
.ArchiveDataRow {
    color: #aaa;
    padding: 2px 5px 2px 5px;
    font-style: italic;
}
.ArchiveDataRow td.DataCell {
    padding: 5px;
    border-bottom: solid 1px #EAE9E1;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    border-left: solid 1px #e6e6e6;
    text-align: left;
    color: #aaa;
    font-style: italic;
}
.ArchiveDataRow td.FirstDataCell {
    text-align: left;
    color: #aaa;
    font-style: italic;
}
.ArchiveDataRow td.FirstDataCell a:hover, .ArchiveDataRow td.DataCell a:hover, .ArchiveDataRow td.LastDataCell a:hover {
    color: #aaa;
    text-decoration: underline;
    font-style: italic;
}
div.customHeader img.helpIcon {
    padding-right: 2px;
}
