﻿
/* Add New Groups */

div.siteAdmin div.boxShadow div.boxContainer div.boxHeader h3
{
   padding:0px;
}
input.marginTopRight
{
	margin:8px 7px 0px 7px;
}
div.userAdministration div.groupWrapper
{
	width: 968px;
	clear:both;
	padding:0px;
	margin:0px;
	display:block;
	padding-bottom:2px;
}
div.userAdministration div.groupWrapper div.boxContent
{
	border:0;
	width:968px;
}
div.userAdministration div.groupWrapper div.boxContent span.instructions
{
	font-family:"Trebuchet MS";
	font-size:1.0em;
	font-weight:normal;
	padding:10px 0px 0px 0px;
	margin:0px;
	float:left;	
	display:block;
	width:800px;
	color: #293d63; 
	padding-left: 27px;
}
div.userAdministration div.contentOfModifyDeleteGroup div.rightColumn div.pageContent label a,
div.userAdministration div.contentOfModifyDeleteGroup div.rightColumn div.pageContent label a:hover,
div.userAdministration div.contentOfAddNewGroup div.rightColumn div.pageContent label a,
div.userAdministration div.contentOfAddNewGroup div.rightColumn div.pageContent label a:hover
{
	color: #5f7296;
	text-align:right;
	width:100%;
	font-family:Trebuchet MS;
	font-weight:normal;
	text-decoration:none;
	font-size:1em;
}
div.userAdministration div.contentOfModifyDeleteGroup div.rightColumn div.pageContent label a:hover,
div.userAdministration div.contentOfAddNewGroup div.rightColumn div.pageContent label a:hover
{
	text-decoration:underline;
}

/* Modify/Delete Groups */
.italicText
{
	font-family:"Trebuchet MS";
	font-size:1.0em;
	font-weight:normal;
	padding:10px 0px 0px 10px;
	margin:0px 0px 0px 0px;
	float:left;	
	display:block;
	font-style:italic;
	width:800px;
	
}	
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup
{
	clear:both;
	width:963px;
	display:table;
	padding:16px 0px 2px 5px;
	margin:0px;
	height:auto;	
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.leftColumn	
{
	width:251px;
	display:block;
	float:left;
	clear:left;
	margin-right:8px !important;
	margin-right:6px;
	padding:0px;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.leftColumn div.boxSubContainer,
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.leftColumn div.boxSubContainer div.boxSubHeader
{
	width: 251px;
	margin:0px;
	display:block;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.leftColumn div.boxSubContainer div.boxSubContent
{
	clear:both;
	
	display:block;
	
	height:auto;
	color:#666666;
}
.searchBoxwidth
{	margin-left: 6px;
	width:235px;
	margin-top:13px;
	margin-bottom:13px;
	background-color:#F7FBFF;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn
{	
	width:698px;
	height:auto;
	float:left;	
	color:#201f1f;	
	margin-bottom:3px;
	border: solid 1px #8EA5CE;
}
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn
{
	width:957px;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageHeader h4,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageHeader h4
{
	padding: 1px 0px 2px 12px; 
	margin: 0px; 
	color: #293d63;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent
{
	background-color: #daedff; 
	width: 698px; 
	float:left;
	padding: 3px 0px 4px 0px;
	height:auto;
	display:block;
}
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent
{
	width:957px;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent label,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent label
{
	clear:both;
	display:block;
	padding-top:3px;
	padding-bottom:3px;
	width:590px;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent label span,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent label span

{
	color: #5f7296;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent label span.smallerWidth, 
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent label span.smallerWidth
{
	width:103px;
	margin-top:2px;
	float:left;	
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent label.labelBottomPadding,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent label.labelBottomPadding
{
	padding-bottom: 5px;
	display:block;
}
.textBoxesWidth
{
	width:310px;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer
{
	display: table; 
	height:auto;
	clear:both;
	margin-left:5px;
	border: solid 1px #8EA5CE; 
	width: 686px;
}
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer
{
	width:945px;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubHeader h5,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubHeader h5
{
	padding-left:15px;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent
{
	display:table;
	padding-left: 15px;
	padding-bottom:6px;
	clear:both;
	height:auto;
	width:671px;
}
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent
{
	width:930px;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent p,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent p
{
	padding:0px 0px 0px 2px;
	margin:8px 0px 0px 0px;
	display:block;
	float:left;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent p label.formLabels,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent p label.formLabels
{
	clear:both;
	text-align:left;
	width:170px;
	margin:0px;	
	padding:2px 0px 0px 0px;	
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent p span,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent p span
{
	width:290px;
	float:left;
	margin:0px;
	padding:0px;
	color:#999999;
	display:inline-block;	
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent p span .floatleft,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent p span .floatleft
{
	float:left;
	display:inline-block;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper
{
	width: 668px; 
	margin-top: 15px; 
	padding-left: 0px;
	display:block;
	height:auto;
	clear:both;
	float:left;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper h5,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper h5
{
	width:640px;
	padding-bottom:5px;
	color: #293d63;
	clear:both;
	display:block;
}

div.userAdministration div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.leftSection,
div.userAdministration div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.leftSection
{
	padding: 0px;  
	width: 310px;
	float:left;
	display:block;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.leftSection div.userGroupTabs,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.leftSection div.userGroupTabs
{
	margin-left: -4px; 
	display: block; 
	min-height:26px;
	height:21px;	
	float: left;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.leftSection span.sortBy,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.leftSection span.sortBy
{
	width: 43px;
	font-weight: bold;
	float:left;
	padding-left:21px !important;	
	padding-left:18px;	
	padding-right:5px;
	margin: 0px;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.leftSection div.userGroupMultipage,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.leftSection div.userGroupMultipage
{
	z-index:97;
	margin-top:-1px;
	display:block;
	float:left;
	width:238px;
	color:#666666;
} 
div.clearBoth
{
	clear:both;
	color:#666666;
}
div.groupMemberWrapper div.arrows,
div.workflowSequence div.noRightMargin,
div.userAdministration div.propertiesContainer div.rssChannelsContainer div.boxSubContent div.workflowContainer div.arrows,
div.workflowWrapper div.boxSubContainer div.boxSubContent div.workflowContainer div.arrows
{
	display:inline-block;
	width:29px;
	float:left;
	margin:0;
	margin-top:21px;
	/*margin:21px 6px 0px 7px;	*/
		
	text-align:center;
	height:20px;
}
div.groupMemberWrapper div.arrows
{
	padding-top:80px;
}
div.groupMemberWrapper div.arrows .leftRightArrow,
div.userAdministration div.propertiesContainer div.rssChannelsContainer div.boxSubContent div.workflowContainer div.arrows .leftRightArrow,
div.workflowWrapper div.boxSubContainer div.boxSubContent div.workflowContainer div.arrows .leftRightArrow
{
	padding-top:2px;
	margin:0px;	
	vertical-align:bottom;
	display:inline-block;
	float:left;	
}

div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.rightSection,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.rightSection
{
	width: 310px; 
	display: block; 
	float: left; 
	position: relative;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.rightSection h5,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.pageContent div.boxSubContainer div.boxSubContent div.groupMemberWrapper div.rightSection h5
{
	width: 145px;
}
div.userAdministration div.groupWrapper div.contentOfModifyDeleteGroup div.rightColumn div.actionContainer,
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.actionContainer
{
	width:698px;
	margin-top:-1px;
	padding-bottom:0px;
	text-align:right;
}
div.userAdministration div.groupWrapper div.contentOfAddNewGroup div.rightColumn div.actionContainer
{
	width:957px;
}
div.MLLeftContainer div.boxListStructure div.MLSearchContainer div.MLSearchContainerformColumn input.searchBox
{
	width:196px;
	background-color:#F7FBFF;
}
div.smallScrollPopup
{
	width: 178px;
}
div.smallScrollPopup h5
{
	width: 158px;
}		