﻿/*
Master - ManageSiteMasterPage.master
====================================
Skin   - manageDataSiteTabSkin
*/
.mdTopGroup {
    z-index: 99;
    position: relative;
}
.mdDefaultTab {
    /*color:#3F557E;*/
    background-image: url(images/ManageDataTabBg.gif);
    font-family: Trebuchet MS;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}
.mdDefaultTabHover {
    /*color:#102A5C; */
    background-image: url(images/ManageDataTbSelBg.gif);
    font-family: Trebuchet MS;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}
/*
Master - ManageSiteMasterPage.master
====================================
Tag   - Div
*/
div.innerWrapper {
    padding-left: 1.0em;
}
/*
Master - DisplayLibraries.master, DataLibraries.master
====================================
Skin   - 
*/
.dlTopGroup {
    position: relative;
    z-index: 99; /* background-color:#bad0f2;*/
    padding-left: 1px;
    width: 932px; /*969px;*/
}
.VDefaultTabWhite {
    /*color: #3f557e;*/
    background-image: url(images/vtab_bg.gif);
    background-repeat: repeat-x;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    cursor: pointer;
    border-bottom: solid 1px #90aed4;
}
.dlTopGroupWhite {
    position: relative;
    z-index: 99; /* background-color:#bad0f2;*/
    padding-left: 1px;
    width: 932px; /*969px;*/
    font-size: 1.0em;
}
.VSelectedTabWhite {
    /*color: #3f557e;*/
    background-image: url(images/vselected_tab_bg.gif);
    background-repeat: repeat-x;
    background-color: #fff;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    cursor: pointer;
    color: #cc6600;
}
.VDefaultTabHoverWhite {
    /*color: #3f557e;*/
    background-image: url(images/vhover_tab_bg.gif);
    background-repeat: repeat-x;
    background-color: #bad0f2;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    cursor: pointer;
    color: #cc6600;
    border-bottom: solid 1px #90aed4;
}
.dlDefaultTab {
    /*color:#3f557e; */
    background-image: url(images/tab_bg.gif);
    background-color: #b9d0f2;
    font-family: Trebuchet MS;
    font-size: 1em;
    cursor: pointer;
}
.dlDefaultTabHover {
    /*color:#3f557e; */
    background-image: url(images/dl_selected_bg_tab.gif);
    background-color: #bad0f2;
    font-family: Trebuchet MS;
    font-size: 1em;
    cursor: pointer;
    color: #cc6600;
}
.dlSelectedTab {
    background-image: url(images/dl_selected_bg_tab.gif);
    background-color: #fff;
    font-family: Trebuchet MS;
    font-size: 1em;
    cursor: pointer;
    color: #cc6600;
}
/*
Master - DisplayLibraries.master, DataLibraries.master
====================================
Tag   - Div
*/
div.ManageDataMasterPage {
}
div.ManageDataMasterPage div.Margins {
}
/* - Page Library - */
/*
Page - ManageContentLibrary.aspx
====================================
Skin   - manageDataTreeView
*/
.mdTreeViewMargin {
    clear: both;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
    cursor: default;
    height: 82%;
    width: 100%;
}
/*
Page - ManageContentLibrary.aspx
====================================
Tag   - div
*/
div.bottomTopTab {
    width: 400px;
    position: relative;
    margin-top: -1px;
    z-index: 98;
    margin: 0;
}
div.mContentWrapper {
    width: 990px;
}
div.manageContentLeft {
    display: block;
    float: left;
    width: 230px;
    margin: 1px 0 0 0;
    background-image: url(images/small-gradient-bg.gif);
    background-repeat: repeat-y;
}
div.mcBorderLeftTop {
    clear: both;
    display: block;
    border: solid 1px #ACC2EB;
    border-bottom: 0px;
    width: 230px;
}
div.mcDirectoriesDesc {
    padding: 8px 0 0 8px;
}
.mcDirectoriesDesc h5 {
    display: block;
    font-family: Trebuchet MS;
    font-size: 1.2em;
    font-weight: bold;
    width: 214px;
}
.mcDirectoriesDesc p {
    display: block;
    font-family: Trebuchet MS;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 14px;
}
div.siteStructureLabel {
    background: url(images/manageSite/ms_siteStructure_bg.gif);
    height: 24px;
    font-family: Trebuchet MS;
    font-size: 1.1em;
    font-weight: bold; /*color: #102A5C;*/
    padding: 6px 0 0 7px;
}
div.mcTreeHeading {
    clear: both;
    display: block;
    background-image: url(images/mdTreeHeaderBgGrad.gif);
    background-repeat: repeat-x;
    height: 10%;
    width: 230px;
    min-height: 20px;
    line-height: 2.0em;
    margin: 1px 1px 0 0;
    font-family: Trebuchet MS;
    font-size: 1.0em;
}

div.mcTreeHeading h5 {
    display: block;
    float: left;
    font-family: Trebuchet MS;
    font-size: 1.0em;
    font-weight: bold;
    padding-left: 1.0em;
}

div.mcTreeHeading span {
    float: right;
    display: block;
    cursor: pointer;
    color: #cc6600;
    padding-right: 1.4em;
}
div.mcBorderLeftBottom {
    clear: both;
    display: block;
    border: solid 1px #CCCCCC;
    border-top: 0px;
    width: 230px;
}
div.manageContentRight {
    display: block;
    float: left;
    margin: 1px 0 0 0;
    width: 710px;
}
div.mcBorderRightTop {
    clear: both;
    display: block;
    border: solid 1px #ACC2EB;
    border-bottom: 0px;
}
div.siteDetailHeader {
    background: url(images/manageSite/ms_detail_bg.gif);
    height: 46px;
    font-family: Trebuchet MS;
    font-size: 1.1em;
    font-weight: bold; /*color: #102A5C;*/
    padding: 6px 0 0 7px;
}

div.siteDetailHeader div.siteDetailHeaderSub {
    font-size: 0.9em;
    font-weight: normal; /*color: #3F557E;*/
    line-height: 10px;
    padding-left: 4px;
}
div.siteDetailHeader div.siteDetailHeaderPara {
    font-size: 0.9em;
    font-weight: normal;
    color: #CC6600;
    padding-left: 4px;
}
div.msBorderRightBottom {
    clear: both;
    display: block;
    border: solid 1px #CCCCCC;
    border-top: 0px;
}
div.siteDetailSearchLeft {
    display: block;
    float: left;
    padding: 3px 0 3px 5px;
}

div.siteDetailSearchRight {
    display: block;
    float: right;
    font-size: 1.1em;
    font-family: Trebuchet MS;
    color: #3c5077;
    padding: 3px 12px 0 0;
}
div.siteDetailSearchRight span {
    padding: 0 8px 0 0;
}
div.siteDetailGrid {
    clear: both;
    display: block;
}
div.mciBorderLeftTop {
    clear: both;
    display: block;
    border: solid 1px #ACC2EB;
    border-bottom: 0px;
    width: 218px;
}
div.mciDirectoriesDesc {
    padding: 8px 0 0 8px;
}
.mciDirectoriesDesc h5 {
    display: block;
    font-family: Trebuchet MS;
    font-size: 1.2em;
    font-weight: bold;
    width: 202px;
}
.mciDirectoriesDesc p {
    display: block;
    font-family: Trebuchet MS;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 14px;
}

div.mciTreeHeading {
    clear: both;
    display: block;
    background-image: url(images/mdTreeHeaderBgGrad.gif);
    background-repeat: repeat-x;
    height: 10%;
    width: 218px;
    min-height: 20px;
    line-height: 2.0em;
    margin: 1px 1px 0 0;
    font-family: Trebuchet MS;
    font-size: 1.0em;
}
div.mciTreeHeading h5 {
    display: block;
    float: left;
    font-family: Trebuchet MS;
    font-size: 1.0em;
    font-weight: bold;
    padding-left: 1.0em;
}

div.mciTreeHeading span {
    float: right;
    display: block;
    cursor: pointer;
    color: #cc6600;
    padding-right: 1.4em;
}


div.mciBorderLeftBottom {
    clear: both;
    display: block;
    border: solid 1px #CCCCCC;
    border-top: 0px;
    width: 218px;
}
div.ilbottomTopTab {
    width: 368px;
    position: relative;
    margin-top: -1px;
    z-index: 98;
    margin: 0;
}
div.milContentWrapper {
    width: 958px;
}
div.ilManageContentLeft {
    display: block;
    float: left;
    width: 218px;
    margin: 1px 0 0 0;
    background-image: url(images/small-gradient-bg.gif);
    background-repeat: repeat-y;
}
div.boxSubContainer div.boxSubHeader {
    display: table;
    background-image: url(images/box-subheader-bg.gif);
    background-repeat: repeat-x;
    background-color: #c3ddff;
    color: #000;
}
/*div.boxSubContainer
{
    clear:both;
    float:left;

    padding:0;
    margin-top:4px;
    margin-left:4px;  
    margin-bottom:0px;
    border:solid 1px #8EA5CE;
    display:table;
 
}*/
div.boxSubContainer div.boxSubContent {
    background-color: #fff;
}

.contentGridTopGrid, .pageGridTopGrid, .fileGridTopGrid, .cssGridTopGrid, .pageTemplateGridTopGrid, .xmlTemplateGridTopGrid {
    font-size: 1.1em; /*color:#3F557E;*/
    padding: 5px;
    width: 687px;
    overflow: hidden;
}

.contentGridTopGrid h4, .pageGridTopGrid h4, .fileGridTopGrid h4, .cssGridTopGrid h4, .pageTemplateGridTopGrid h4, .xmlTemplateGridTopGrid h4 {
    font-size: 1.0em;
    font-family: "Trebuchet MS";
    margin: 0;
    padding: 7px 0 0 0;
    display: block;
    float: left;
    font-weight: bold;
    width: 500px;
    max-width: 500px;
}
.subTitle {
    clear: both;
    display: block;
    font-weight: normal;
    padding: 2px 0 0 5px;
    font-size: 1.0em; /*color:#102A5C;*/
    float: left;
    width: 600px;
}
.extraGridData {
    clear: both;
    display: block;
    font-weight: normal;
    padding: 2px 5px 2px 5px;
    font-style: italic;
    font-size: 1.0em; /*color:#102A5C;*/
    float: left;
    background-color: #fff;
    width: 677px;
}
.extraGridData span {
    font-style: normal;
}
.gridCombo {
    display: block;
    float: right;
    font-weight: normal;
    vertical-align: middle;
    padding: 4px 0 0 0;
}
div.gridCombo span {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    float: left;
}

.contentGridInnerStyle, .fileGridInnerStyle, .pageGridInnerStyle, .cssGridInnerStyle, .pageTemplateGridInnerStyle, .xmlTemplateGridInnerStyle {
    display: block;
    font-size: 1.0em; /*color:#3F557E;*/
    padding: 4px 0 0 0;
    width: 650px;
    float: left;
    text-align: left;
}


h4.libraryTreeTitle {
    clear: both;
    display: block;
    font-size: 1.1em;
    font-weight: bold; /*color:#3F557E;*/
    padding: 12px 0 11px 6px;
}
.libraryTreeOuter {
    clear: both;
    margin: 0;
    width: 240px;
    background-color: #ffffff;
}
.libraryTreeInner {
    height: 20px;
    background-image: url(images/grid-header-bg.gif);
    background-repeat: repeat-x;
    width: 230px;
    font-family: Trebuchet MS;
    font-size: 1.0em;
    vertical-align: top;
}
.libraryTreeHeaderImageContainer {
    display: block;
    height: 20px;
    float: right;
    padding: 0 5px 0 0;
    vertical-align: top;
    line-height: 8px;
}

div.libraryTreeHeaderImageContainer p {
    color: #cc6600;
    float: right;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
div.libraryTreeHeaderImageContainer p img {
    margin: 0;
    padding: 0;
    float: left;
}
div.libraryTreeHeaderImageContainer p span {
    margin: 0;
    padding: 2px 5px 0 0;
    float: left;
}
.contentLibraryOuter, .fileLibraryOuter, .pageLibraryOuter, .cssLibraryOuter, .pTemplateLibraryOuter, .xTemplateLibraryOuter {
    border: solid 1px #AAAAAA;
    width: 954px;
    margin-left: 2px;
    position: relative;
    margin-top: -2px;
    z-index: 98;
    background-color: #E7F3FF;
}
.contentLibraryOuter .contentLibraryHeaderBg, .fileLibraryOuter .fileLibraryHeaderBg, .pageLibraryOuter .pageLibraryHeaderBg, .cssLibraryOuter .cssLibraryHeaderBg, .pTemplateLibraryOuter .pTemplateLibraryHeaderBg, .xTemplateLibraryOuter .xTemplateLibraryHeaderBg {
    height: 31px;
    background-image: url(images/content_header_bg.jpg);
    background-repeat: repeat-x;
    padding-bottom: 3px;
}
.contentLibraryOuter .contentLibraryHeaderBg .padding, .fileLibraryOuter .fileLibraryHeaderBg .padding, .pageLibraryOuter .pageLibraryHeaderBg .padding, .cssLibraryOuter .cssLibraryHeaderBg .padding, .pTemplateLibraryOuter .pTemplateLibraryHeaderBg .padding, .xTemplateLibraryOuter .xTemplateLibraryHeaderBg .padding {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.contentLibraryOuter .contentLibraryHeaderBg .padding h3, .fileLibraryOuter .fileLibraryHeaderBg .padding h3, .pageLibraryOuter .pageLibraryHeaderBg .padding h3, .cssLibraryOuter .cssLibraryHeaderBg .padding h3, .pTemplateLibraryOuter .pTemplateLibraryHeaderBg .padding h3, .xTemplateLibraryOuter .xTemplateLibraryHeaderBg .padding h3 {
    display: block;
    float: left;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
    padding: 4px 0 0 0; /*color:#3f557e;*/
}
.contentLibraryOuter .contentLibraryHeaderBg .padding .searchDiv, .fileLibraryOuter .fileLibraryHeaderBg .padding .searchDiv, .pageLibraryOuter .pageLibraryHeaderBg .padding .searchDiv, .cssLibraryOuter .cssLibraryHeaderBg .padding .searchDiv, .pTemplateLibraryOuter .pTemplateLibraryHeaderBg .padding .searchDiv, .xTemplateLibraryOuter .xTemplateLibraryHeaderBg .padding .searchDiv {
    display: block;
    float: right;
    padding-right: 4px;
    margin-top: 0;
}
.contentLibraryOuter .contentLibraryHeaderBg .padding .searchDiv label, .fileLibraryOuter .fileLibraryHeaderBg .padding .searchDiv label, .pageLibraryOuter .pageLibraryHeaderBg .padding .searchDiv label, .cssLibraryOuter .cssLibraryHeaderBg .padding .searchDiv label, .pTemplateLibraryOuter .pTemplateLibraryHeaderBg .padding .searchDiv label, .xTemplateLibraryOuter .xTemplateLibraryHeaderBg .padding .searchDiv label {
    font-size: 1.1em;
    font-weight: bold;
    color: #5F7296;
    margin: 0;
    padding: 0;
}

.contentLibraryOuter .contentLibraryInnerBg, .fileLibraryOuter .fileLibraryInnerBg, .pageLibraryOuter .pageLibraryInnerBg, .cssLibraryOuter .cssLibraryInnerBg, .pTemplateLibraryOuter .pTemplateLibraryInnerBg, .xTemplateLibraryOuter .xTemplateLibraryInnerBg {
    display: block;
    background-image: url(images/content_inner_bg.jpg);
    background-repeat: repeat-x;
    width: 954px;
}
.contentLibraryOuter .contentLibraryInnerBg .padding, .fileLibraryOuter .fileLibraryInnerBg .padding, .pageLibraryOuter .pageLibraryInnerBg .padding, .cssLibraryOuter .cssLibraryInnerBg .padding, .pTemplateLibraryOuter .pTemplateLibraryInnerBg .padding, .xTemplateLibraryOuter .xTemplateLibraryInnerBg .padding {
    padding-left: 4px;
}
.contentLibraryOuter .contentLibraryInnerBg .padding .leftControl, .fileLibraryOuter .fileLibraryInnerBg .padding .leftControl, .pageLibraryOuter .pageLibraryInnerBg .padding .leftControl, .cssLibraryOuter .cssLibraryInnerBg .padding .leftControl, .pTemplateLibraryOuter .pTemplateLibraryInnerBg .padding .leftControl, .xTemplateLibraryOuter .xTemplateLibraryInnerBg .padding .leftControl {
    display: block;
    float: left;
    margin-top: 4px;
    margin-right: 0;
    margin-bottom: 4px;
    border: solid 1px #869FC8;
    background-color: #ffffff;
    background-image: url(images/small-gradient-bg.gif);
    background-repeat: repeat-y;
}
.contentLibraryOuter .contentLibraryInnerBg .padding .rightControl, .fileLibraryOuter .fileLibraryInnerBg .padding .rightControl, .pageLibraryOuter .pageLibraryInnerBg .padding .rightControl, .cssLibraryOuter .cssLibraryInnerBg .padding .rightControl, .pTemplateLibraryOuter .pTemplateLibraryInnerBg .padding .rightControl, .xTemplateLibraryOuter .xTemplateLibraryInnerBg .padding .rightControl {
    display: block;
    float: left;
    margin-left: 4px;
    margin-right: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    border: solid 1px #869FC8;
    background-color: #ffffff;
    background-image: url(images/grid-footer-bg.gif);
    background-repeat: repeat-y;
    width: 697px;
}


div.InnerSubWrapper {
    width: 985px;
    margin-left: 16px;
}


.tabbedGrid {
    background-color: #FFFFFF;
    cursor: pointer;
}



div.InnerSubWrapper div.boxShadow div.boxContainer {
    background: url(images/shadow-inverse2.png) no-repeat left top !important;
    padding: 0px 7px 6px 0px;
    float: left;
    width: 979px;
}
div.InnerSubWrapper div.boxShadow div.boxContainer div.paddingContainer {
    padding: 0 4px 4px 4px;
    border: solid 1px #10A9C5;
    border-top: 0;
    background-image: url(images/paddingImage.gif);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #a1c1fa;
}
div.InnerSubWrapper div.paddingContainer div.boxContent {
    background-image: url(images/grid-footer-bg.gif);
    background-position: left;
    background-repeat: repeat-y;
    background-color: #fff;
    border: solid 1px #a1a1a1;
}

div.ManageDataMasterPage div.boxShadow div.boxContainer {
    background: url(images/shadow-inverse2.png) no-repeat left top !important;
    padding: 0px 7px 6px 0px;
    float: left;
    width: 979px;
}
div.ManageDataMasterPage div.boxShadow div.boxContainer div.paddingContainer {
    padding: 0 4px 4px 4px;
    border: solid 1px #10A9C5;
    border-top: 0;
    background-image: url(images/paddingImage.gif);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #a1c1fa;
    width: 971px;
}
div.ManageDataMasterPage div.paddingContainer div.boxContent {
    background-image: url(images/grid-footer-bg.gif);
    background-position: left;
    background-repeat: repeat-y;
    background-color: #fff;
    border: solid 1px #a1a1a1;
    width: 960px;
    padding: 4px;
}
.listSpace {
    padding: 5px;
    background-color: #F7F7F7;
}
.mcsvDescription {
    width: 88px;
    height: 50px;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
}
.mcsvTitle {
    width: 90px;
    height: 15px;
    vertical-align: top;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
}
.ManageDataMultiPage {
    background-color: White;
    border-top: 1px solid #919B9C;
    width: 487px;
    height: 150px;
    position: relative;
    top: -2px;
    left: 1px;
    z-index: 98;
}
.PageContent {
    font-family: MS Sans Serif, Verdana;
    font-size: 1.0em;
}
.mdHorizontalSplitterBar {
    background: url(images/splitter_horBg.gif);
}
.mdCollapsedHorizontalSplitterBar {
    background: url(images/splitter_horBg.gif);
    border: 1px solid #000000;
    border-right-width: 0px;
}
.mdActiveSplitterBar {
    background-color: #000000;
}
.mdSplitterPane {
    border: 1px solid #333333;
}
.mdDetailsPane {
    border: 7px solid #888888;
}





div#wrapper div#userInformation h5 {
    padding-left: 0.8em;
}
div#wrapper div#userInformation h5 label {
    font-family: Trebuchet MS;
    font-size: 1.3em;
    font-weight: bold;
    color: #666666;
    float: left;
    padding-left: 1.3em;
    padding: 0;
    margin: 0;
}

.selectOrManageDirectoriesAction {
    clear: both;
    display: block;
    height: 36px;
    padding-top: 2px;
}
.selectOrManageDirectoriesAction select {
    float: left;
    display: block;
    padding: 0;
    margin: 5px 0 0 0;
}
.selectOrManageDirectoriesAction .arrowButton0, .selectOrManageDirectoriesAction .arrowButton0Hover {
    font-size: 1.0em;
    margin: 4px 0 0 3px;
}
/*.selectOrManageDirectoriesAction .arrowButton0,
.selectOrManageDirectoriesAction .arrowButton0Hover
{
	font-family: Trebuchet MS;
	font-size: 1.1em;
	text-align:left;
	float: left;
	clear:right;
	display: block;
	padding:0 0 0 3px;
	margin:4px 0 0 3px;
}*/
.mdText {
    width: 147px; /*color: #102A5C;*/
    font-family: Trebuchet MS;
    font-weight: normal;
    font-size: 1.1em;
    margin: 0 0 0 2px;
    padding: 1px 0 1px 0;
    border: solid 1px #CCCCCC;
}



/*.gridContainer
{
	width: 970px;
}*/
.shadowWrapper {
    width: 978px;
}
.gridWrapper {
    padding: 0 0 0 0;
    background-image: url(images/full-shadow.png);
    background-position: right 6px;
    background-repeat: no-repeat;
    width: 978px;
    float: left;
}
.shadowCorner {
    display: block;
    float: right;
    background-image: url(images/full-shadow.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 7px;
    width: 970px;
}


.splitterAContentSection1A div {
    display: block;
    float: left;
}
.splitterAContentSection1A p {
    background-image: url(../../App_Themes/General/images/RedInfo.gif);
    background-repeat: no-repeat;
    background-position: left 5px;
    display: block;
    color: #EF1F1F;
    padding: 3px 30px 0 18px;
    margin: 0;
    line-height: 14px;
}
.splitterAContentSection1A div .spImage {
    padding: 3px 0 0 0;
    margin: 0;
}

div.TreeHeading {
    clear: both;
    display: block;
    background-image: url(images/mdTreeHeaderBgGrad.gif);
    background-repeat: repeat-x;
    height: 20px;
    line-height: 2.0em;
    margin: 0;
    font-family: Trebuchet MS;
    font-size: 11px;
    border: 0px;
}
div.ImageTree div.TreeContainer {
}
div.TreeHeading h5 {
    display: block;
    float: left;
    font-family: Trebuchet MS;
    font-size: 1.0em;
    font-weight: bold;
    padding-left: 1.0em;
}

div.TreeHeading p {
    color: #627697;
    float: right;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
div.TreeHeading p img {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 1.0em;
}
div.TreeHeading p a, div.TreeHeading p a:hover, div.TreeHeading p a:active {
    margin: 0;
    padding: 0 5px 0 0;
    float: left;
    color: #627697;
    text-decoration: none;
}

.thumbNail {
    padding: 29px 0 0 7px;
}
.thumbNail span {
    display: block;
    float: left;
    margin: 2px 7px 12px 13px;
    padding: 0;
}
.thumbNail span img {
    margin: 0;
    padding: 0;
}

.thumbNail span.ImageSelected {
    margin: 0 3px 10px 9px;
    padding: 2px 2px 2px 2px;
    border: solid 2px #CCCCCC;
    padding: 0;
}
.thumbNail span.ImageNotSelected {
    margin: 0 3px 10px 9px;
    padding: 2px 2px 2px 2px;
    border: solid 2px Transparent;
    padding: 0;
}
div.splitterBContent {
    display: block;
    width: 950px;
    height: 1000px;
    background-color: #F7F7F7;
}
div.bigImage {
    padding: 8px 0 0 0;
    float: left;
    background-color: #F7F7F7;
    height: 260px;
    width: 372px;
}
div.bigImage img {
    padding: 10px 10px 10px 20px;
}
div.rightBigImage {
    display: block;
    float: left; /*color: #102A5C;*/
    font-family: Trebuchet MS;
    font-weight: normal;
    font-size: 1.0em;
    padding: 0 0 0 50px;
}

div.rightBigImage h5 {
    clear: both;
    display: block; /*color: #102A5C;*/
    margin: 0;
    font-family: Trebuchet MS;
    font-weight: normal;
    font-size: 1.0em;
    padding: 13px 3px 3px 3px;
    border-bottom: solid 1px #E5E5E5;
}
div.rightBigImage input {
    /*color: #102A5C;*/
    font-family: Trebuchet MS;
    font-weight: normal;
    font-size: 1.1em;
    margin: 0 0 0 2px;
    padding: 1px 0 1px 7px;
    border: solid 1px #CCCCCC;
}
.ImageSearchControl div {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}
div.ImageSearchControl {
    clear: both;
    display: block;
    padding: 0 3px 0 0;
    margin-left: 0px;
}

div.ImageSearchControl input.textBoxes {
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    color: #666;
    background-color: #f7fbff;
    border-top: solid 1px #859ec7;
    border-left: solid 1px #859ec7;
    border-bottom: solid 1px #d4d9e1;
    border-right: solid 1px #d4d9e1;
    height: 17px;
    float: left;
    display: block;
    margin-top: 5px;
}

div.ImageSearchControl input.arrowButton0, div.ImageSearchControl input.arrowButton0Hover {
    font-family: Trebuchet MS;
    font-size: 1.1em;
    border: 0;
    padding: 0 0 0 5px;
    margin-left: 5px;
    margin-top: 4px;
    text-align: left;
    float: left;
    display: block;
}



.ImageSearchButton {
    display: block;
    padding-left: 4px;
    border: 0;
}
div.ImageSearchButton .button {
    margin: 0 0 0 3px;
    border: 0;
    font-weight: bold;
}
.ImageSearchText {
    display: block;
    padding-right: 0;
}



.mdSelectedTab {
    /*color: #102A5C;*/
    background-image: url(images/ManageDataTbSelBg.gif);
    font-family: Trebuchet MS;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}
div.SplitterTop {
    position: relative;
    margin-top: -2px;
    margin-left: 2px;
    z-index: 98;
    background-color: White;
    margin-bottom: 0px;
}










.splitterAContent {
    font-family: Trebuchet MS;
    font-size: 1.0em;
    padding: 9px 20px 0px 9px;
    background-color: #F7F7F7;
    border-bottom: solid 1px #CCCCCC;
}
.splitterAContent h4 {
    /*color: #102A5C;*/
    font-size: 1.0em;
    font-weight: bold;
    clear: both;
    display: block;
    margin: 0;
    padding: 2px 0 0 0;
    line-height: 12px;
}
.splitterAContent p {
    color: #666666;
    clear: both;
    display: block;
    margin: 0;
    padding: 1px 0 0 0;
    line-height: 15px;
}
.splitterAContent select {
    font-family: Trebuchet MS;
    font-size: 1.0em;
    color: #666666;
    width: 163px;
}
.splitterAContent .button {
    font-family: Trebuchet MS;
    font-size: 1.0em;
    color: #666666;
    margin: 3px 0 0 7px;
}
.splitterAContentSection1 {
    clear: both;
    display: block;
    padding: 7px 0 15px 7px;
    text-align: left;
}
.splitterAContentSection1 strong {
    clear: both;
    display: block;
    padding: 0 0 3px 2px;
    font-family: Trebuchet MS;
    display: block;
    font-size: 1.0em;
    text-align: left;
}
.splitterAContentSection1 ul {
    clear: both;
    display: block;
    padding: 1px 50px 0 1px;
    font-family: Trebuchet MS;
    font-size: 1.0em;
    margin-bottom: 0;
    margin-left: 15px;
    color: #5574AC;
    background-color: #ffffff;
    line-height: 14px;
    text-align: left;
}
.splitterAContentSection1 ul li {
    padding: 3px 0 4px 0;
    margin: 0 0 0 4px;
    text-align: left;
}
.splitterAContentSection1 ul li span {
    color: #666666;
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    margin-left: -3px;
    text-align: left;
}




.HorizontalSplitterBar {
    background: url(images/splitter_horBg.gif);
}

.CollapsedHorizontalSplitterBar {
    background: url(images/splitter_horBg.gif);
    border: 1px solid #000000;
    border-right-width: 0px;
}

.VerticalSplitterBar {
    background: url(images/splitter_verBg.gif);
}

.CollapsedVerticalSplitterBar {
    background: url(images/splitter_verBg.gif);
    border: 1px solid #000000;
    border-bottom-width: 0px;
}

.ActiveSplitterBar {
    background-color: #000000;
}

.SplitterPaneLeftUp {
    border-top: 1px solid #999999;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
.SplitterPaneLeftDown {
    border-top: 1px solid #999999;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    background-image: url(images/small-gradient-bg.gif);
    background-repeat: repeat-y;
}
.SplitterPaneRightUp {
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #999999;
}
.SplitterPaneRightDown {
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #999999;
    background-image: url(images/small-gradient-bg.gif);
    background-repeat: repeat-y;
}

.splitterMargin {
    margin-top: 1px;
}
/* Manage Site */
/* Divs */
.manageSiteWrapper {
    display: block;
}
.manageSiteLeft {
    display: block;
    float: left;
    width: 238px;
    margin: 1px 0 0 0;
}


.manageSiteRight {
    display: block;
    float: left;
    margin: 1px 0 0 10px;
    width: 738px; /*38*/
}
.manageSiteRight1 {
    display: block;
    float: left;
    background-color: #ffffff;
    margin: 1px 0 0 0;
    width: 719px; /*38*/
}

.siteDetailHeader div span {
    font-weight: normal;
}

.siteDetailSearch {
}



.txtSearch {
    width: 260px;
    font-size: 1.1em;
    font-family: Trebuchet MS;
    color: #3c5077;
    padding: 0 0 0 6px;
}
.cmbPageIndex {
    /*width: 52px;*/
}

.msHeadingRow {
}
.msHeadingCell {
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 3px;
    border-right: solid 1px #fff;
    border-left: solid 1px #d3d3d3;
    background-image: url(images/grid_header_bg.gif);
    background-repeat: repeat-x;
    font-weight: bold;
    font-size: 1.1em;
    height: 10px;
}
.msHeadingCellText {
    font-family: "Trebuchet MS";
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
    padding-top: 0px;
    padding-left: 4px;
}
.Row td.msDataCell {
    padding-left: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: solid 1px #EAE9E1;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    border-left: solid 1px #e6e6e6;
    text-align: left;
    background-color: #f7f7f7;
}
.msAlternateDataRow {
    background-color: #fff;
}
.msAlternateDataRow td.msDataCell {
    padding-left: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: solid 1px #EAE9E1;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    border-left: solid 1px #e6e6e6;
    text-align: left;
}
.SelectedRow td.msDataCell {
    background-color: #FFEEC2;
    padding-left: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    border-bottom: solid 1px #4B4B6F;
    border-top: solid 1px #4B4B6F;
    border-right: solid 1px #e6e6e6;
}
.mssvPageName {
    width: 90px;
    height: 15px;
    vertical-align: top;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
}
.mssvTemplate {
    width: 115px;
    height: 20px;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
}
.mssvCSS {
    width: 100px;
    height: 60px;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
}
.mssvDescription {
    width: 88px;
    height: 50px;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
}
.mssvSecurity {
    width: 100px;
    height: 60px;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
}

.Row td.msSortCell {
    /*background-color: #ececec;*/
}
.msAlternateDataRow td.msSortCell {
    /*background-color: #f4f4f4;*/
}
.SelectedRow td.msSortCell {
    /*background-color: #E1F1FD;*/
}
.msBorderLeftTop {
    clear: both;
    display: block;
    border: solid 1px #ACC2EB;
    border-bottom: 0px;
    width: 234px;
}
.msBorderLeftBottom {
    clear: both;
    display: block;
    border: solid 1px #CCCCCC;
    border-top: 0px;
    width: 234px;
}
div.msTreeHeading {
    clear: both;
    display: block;
    background-image: url(images/mdTreeHeaderBgGrad.gif);
    background-repeat: repeat-x;
    height: 10%;
    width: 234px;
    min-height: 20px;
    line-height: 2.0em;
    margin: 1px 1px 0 0;
    font-family: Trebuchet MS;
    font-size: 1.0em;
}

div.msTreeHeading h5 {
    display: block;
    float: left;
    font-family: Trebuchet MS;
    font-size: 1.0em;
    font-weight: bold;
    padding-left: 1.0em;
}

div.msTreeHeading span {
    float: right;
    display: block;
    cursor: pointer;
    color: #cc6600;
    padding-right: 1.4em;
}
.msBorderRightTop {
    clear: both;
    display: block;
    border: solid 1px #ACC2EB;
    border-bottom: 0px;
}

.msMenuGroup {
    border: solid 1px #8193b9;
    background: #fff;
    cursor: default;
    z-index: 200;
}

.msMenuItem {
    background-color: #fcfcfd;
    color: #707274;
    font-size: 12px;
    cursor: default;
    padding: 5px 0;
}

.msMenuItemHover {
    background-color: #e4ecf8;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 0;
}

.msMenuBreak {
    padding: 0px;
}
div.divLayer {
    border: solid 1px #C4C4C4;
    background-color: #F7F7F7;
    width: 400px;
    height: 250px;
    position: absolute;
    visibility: hidden;
    top: 100px;
    left: 400px;
    z-index: 100;
}

iframe.divIFrame {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 402px;
    height: 250px;
    display: block;
    visibility: hidden;
    z-index: 99;
}
iframe.fileIFrame {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 302px;
    height: 195px;
    display: block;
    visibility: hidden;
    z-index: 99;
}
div.pageGridInnerStyle div.divLayer {
    position: absolute;
    z-index: 100;
}
div.pageGridInnerStyle iframe.divIFrame {
    position: absolute;
    z-index: 99;
}
div.divLayer td {
    padding-left: 15px;
}

div.divLayer td a, div.divLayer td a:active, div.divLayer td a:hover {
    padding-left: 24px;
    font-family: Trebuchet MS;
    font-size: 0.9em;
    font-weight: normal; /*color: #102A5C;*/
}
div.divLayer td.imgButton {
    padding-top: 10px;
    text-align: right;
}
div.divLayerLabel {
    background: url(images/manageSite/ms_siteStructure_bg.gif);
    height: 24px;
    width: 393px;
    font-family: Trebuchet MS;
    font-size: 1.1em;
    font-weight: bold; /*color: #102A5C;*/
    padding: 6px 0 0 7px;
}
div.divLayer .imageClass {
    margin-right: 5px;
}
div.divLayer textarea {
    height: 54px;
    width: 166px;
}
div.divLayer a, div.divLayer a:hover, div.divLayer a:active {
    font-size: 0.9em;
}
div.fileGridInnerStyle div.divLayer td a, div.fileGridInnerStyle div.divLayer td a:active, div.fileGridInnerStyle div.divLayer td a:hover, div.contentGridInnerStyle div.divLayer td a, div.contentGridInnerStyle div.divLayer td a:active, div.contentGridInnerStyle div.divLayer td a:hover {
    padding-left: 40px;
    font-family: Trebuchet MS;
    font-size: 0.9em;
    font-weight: normal; /*color: #102A5C;*/
}
div.fileGridInnerStyle div.divLayer, div.contentGridInnerStyle div.divLayer {
    border: solid 1px #C4C4C4;
    background-color: #F7F7F7;
    width: 260px;
    height: 160px;
    position: absolute;
    visibility: hidden;
}
div.fileGridInnerStyle div.divLayer td, div.contentGridInnerStyle div.divLayer td {
    padding-left: 15px;
}

div.fileGridInnerStyle div.divLayerLabel, div.contentGridInnerStyle div.divLayerLabel {
    background: url(images/manageSite/ms_siteStructure_bg.gif);
    height: 24px;
    width: 253px;
    font-family: Trebuchet MS;
    font-size: 1.1em;
    font-weight: bold; /*color: #102A5C;*/
    padding: 6px 0 0 7px;
}
div.fileGridInnerStyle div.divLayer .imageClass, div.contentGridInnerStyle div.divLayer .imageClass {
    margin-top: 10px;
    margin-right: 5px;
}


.pthumbNail {
    padding: 29px 0 0 7px;
    height: 150px;
    min-height: 150px;
    overflow: scroll;
}
.linkthumbNailheight {
    height: 200px;
    min-height: 200px;
}
.pthumbNail span {
    display: block;
    float: left;
    padding: 2px 7px 12px 13px;
    margin: 0;
}
.pthumbNail span img {
    margin: 0;
    padding: 0;
}

.pthumbNail span.ImageSelected {
    margin: 0 3px 10px 9px;
    padding: 2px 2px 2px 2px;
    border: solid 2px #CCCCCC;
    padding: 0;
}
div.DirectoryContent div.splitterAContent {
}
div.DirectoryContent div.splitterAContentSection1 {
    background-color: #fff;
    border-bottom: solid 1px #CCCCCC;
}
div.DirectoryContent .splitterAContent select {
    width: 120px;
}

div.DirectoryContent .splitterAContentSection1 ul {
    background-color: Transparent;
}
/* - Manage Index - */
div.InnerContent {
    width: 970px;
    clear: both;
    display: block;
    height: 486px;
    margin-bottom: 10px;
}
div.InnerSubWrapper div.boxHeader h5 {
    width: 970px;
}


div.InnerSubWrapper div.boxShadow div.boxContainer {
    float: left;
}

.tGridFooter {
    padding-top: 10px;
    padding-bottom: 10px;
}
.tMIndexGridBorder {
}
.IndexSaveButton {
    background-image: url(images/button_Save.jpg);
    background-repeat: no-repeat;
    height: 28px;
    width: 51px;
}
.IndexResetButton {
    background-image: url(images/button_Reset.jpg);
    background-repeat: no-repeat;
    height: 28px;
    width: 57px;
}

div.InnerContent div.leftColumn {
    width: 247px;
    height: 458px;
    margin: 0;
    padding: 0;
    display: block;
    padding: 0;
    float: left;
}

div.InnerContent div.innerLeftColumn {
    border: solid 1px #CCCCCC;
    margin: 4px 0 4px 4px;
    padding: 0;
    background-image: url(images/small-gradient-bg.gif);
    background-repeat: repeat-y;
    background-color: #fff;
}
div.InnerContent div.leftColumn div.miTreeHeading {
    clear: both;
    display: block;
    background-image: url(images/mdTreeHeaderBgGrad.gif);
    background-repeat: repeat-x;
    height: 20px;
    line-height: 2.0em;
    font-family: Trebuchet MS;
    font-size: 1.0em;
}
div.InnerContent div.leftColumn div.TreeContainer {
    display: block;
    height: 466px;
}
div.InnerContent div.gridContainer {
    display: block;
    float: left;
    padding: 0 0 0 0;
    width: 712px;
    padding: 0;
    margin: 4px 0 4px 4px;
    padding: 0;
    border: solid 1px #8EA5CE;
    background-color: #fff;
}
div.InnerContent div.gridContainer div.gridSubHeader {
    display: table;
    background-image: url(images/box-subheader-bg.gif);
    background-repeat: repeat-x;
    width: 712px;
    padding: 0;
    margin: 0;
    color: #000;
}
div.InnerContent div.gridContainer div.gridSubHeader h5 {
    color: #3E5574;
    margin: 0;
    padding: 2px 0 2px 8px;
}
div.InnerContent div.gridContainer div.gridSubContent {
    margin-bottom: 4px;
}
div.InnerContent div.gridContainer div.gridSubContent label {
    clear: both;
    display: block;
    padding: 30px 0 0 7px;
}
div.InnerContent div.gridContainer div.gridSubContent label span.textArea {
    display: block;
    float: left;
    font-weight: bold;
    margin: 3px 9px 0 0;
}


div.InnerContent div.gridContainer div.gridSubContent label textArea {
    display: block;
    float: left;
    width: 580px;
    height: 55px;
    margin: 0;
}
div.InnerContent div.gridContainer div.gridSubContent div.ActionButton {
    float: right;
    display: block;
    margin: 10px 14px 0 0;
}
div.InnerContent div.gridContainer div.gridSubContent div.ActionButton .primarybutton, div.InnerContent div.gridContainer div.gridSubContent div.ActionButton .button {
    display: block;
    float: left;
    margin-left: 10px;
}
div.InnerContent div.gridContainer div.gridSubContent div.userControl {
    margin: 0 0 0 5px;
    border: 0;
}
/*User Control*/
/*End User Control*/
div.InnerContent div.leftColumn div.miTreeHeading span {
    float: right;
    display: block;
    cursor: pointer;
    color: #cc6600;
    padding-right: 1.4em;
    height: 20px;
}
div.InnerContent div.rightColumn {
    width: 630px;
    height: auto;
    float: left;
    color: #201f1f;
    padding: 0px 0px 0px 1px;
    margin: 0px;
    border: solid 1px #bbbbbb;
}

div.InnerContent div.rightColumn p {
    padding: 4px 0px 4px 12px;
    margin: 0px;
    display: block;
    width: 600px;
    clear: both;
    font-weight: bold;
    float: left;
}
div.InnerContent div.rightColumn p label {
    vertical-align: top;
    font-weight: normal;
    margin-right: 12px;
    padding: 0px;
}
.resetButton, .saveButton {
    background-image: url(images/btn-bg.gif);
    background-repeat: no-repeat;
    border: 0;
    color: #2f3f5e;
    font-size: 1.0em;
    font-family: "Trebuchet MS";
    font-weight: bold;
    width: 98px;
    height: 22px;
}
div.termWidth {
    width: 690px;
}
div.ActionButton {
    clear: both;
    float: none;
    margin: 0px;
    padding: 0px 0px 5px 124px;
}
div.InnerContent div.rightColumn div.manageIndexSearch {
    width: 100%;
    padding-top: 5px;
    height: auto;
    border-top: solid 1px #cccccc;
    clear: both;
    display: block;
}
div.InnerContent div.rightColumn div.manageIndexSearch div.manageIndexSearchLeft {
    width: 300px;
    float: left;
    padding: 0px 0px 5px 10px;
}
div.InnerContent div.rightColumn div.manageIndexSearch div.manageIndexSearchRight {
    float: right;
    width: 180px;
}
div.InnerContent div.rightColumn div.manageIndexSearch div.manageIndexSearchRight span {
    width: 120px;
    vertical-align: middle;
    display: block;
    text-align: inherit;
}

.AlternateDataRow td.IndexDataCell {
    padding: 3px;
    padding-top: 2px;
    padding-bottom: 1px;
    border-bottom: solid 1px #EAE9E1;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    text-align: left;
}
.Row td.IndexDataCell {
    padding: 3px;
    padding-top: 2px;
    padding-bottom: 1px;
    border-bottom: solid 1px #EAE9E1;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    text-align: left;
    background-color: #fff;
}
.SelectedRow td.IndexDataCell {
    background-color: #e1f1fd;
    padding: 2px;
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    border-bottom: solid 1px #acc2eb;
    border-top: solid 1px #acc2eb;
}
div.middleHeader {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
}
div.middleHeader h5 {
    clear: both;
    display: block;
    margin: 10px 0 10px 0;
    padding: 0;
}
div.InnerContent div.leftColumn div.TreeContainer {
    width: 236px;
}
div.InnerContent div.gridContainer div.gridSubContent label {
    vertical-align: top;
}
div.InnerContent div.tabContent {
    z-index: 97;
    position: relative;
    top: -2px;
    clear: both;
    display: block;
    float: left;
    margin: 0 0 0 0;
    padding: 0 0 0 4px;
    width: 600px;
}
div.InnerContent div.tabWrapper {
    margin-left: 0;
}
div.InnerContent div.gridHeader {
    display: block;
    float: left;
    margin: 0 0 0 92px;
    font-family: Trebuchet MS;
    font-weight: normal;
}
div.InnerContent div.gridHeader span {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
    font-weight: normal;
}

div.InnerContent div.gridLeftBorder {
    display: block;
    float: left;
    border-left: solid 1px #627697;
    height: 202px;
    margin-left: 0;
}
div.tabContent table.tabbedGrid, table.tabbedGrid td.tGridFooter table {
    border: 0;
}
div.tabContent table.tabbedGrid table {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
table.tabbedGrid, table.tabbedGrid td.tGridFooter table {
    border: 0;
}
table.tabbedGrid table {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
table.tabbedGrid table table {
    border: 0;
}



/***************/
.indexLibraryOuter {
    border: solid 1px #AAAAAA;
    width: 688px;
    margin-left: 4px;
    position: relative;
    margin-top: -2px;
    z-index: 98;
    background-color: #E7F3FF;
}
.indexLibraryOuter .indexLibraryInnerBg {
    display: block;
    background-image: url(images/content_inner_bg.jpg);
    background-repeat: repeat-x;
    width: 688px;
}
.indexLibraryOuter .indexLibraryInnerBg .padding {
    padding: 0;
}
.indexLibraryOuter .indexLibraryInnerBg .padding .rightControl {
    display: block;
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: solid 1px #869FC8;
    background-image: url(images/grid-footer-bg.gif);
    background-repeat: repeat-y;
}
.indexGridTopGrid {
    font-size: 1.1em; /*color:#3F557E;*/
    padding: 5px;
    width: 667px;
    height: 25px;
}

.indexGridTopGrid h4 {
    font-size: 1.0em;
    font-family: "Trebuchet MS";
    margin: 0;
    padding: 7px 0 0 0;
    display: block;
    float: left;
    font-weight: bold;
}
.indexGridInnerStyle {
    font-size: 1.0em; /*color:#3F557E;*/
    padding: 4px 0 0 0;
    width: 677px;
    background-image: url(images/grid-footer-bg.gif);
    background-repeat: repeat-y;
}
.ImageFileLabel {
    text-align: right;
    font-family: "Trebuchet MS";
    font-size: 0.9em;
    padding: 3px 2px 0 15px;
    vertical-align: text-top;
    font-weight: bold;
    color: #5f7296;
}
.ImageFileControl {
    padding: 3px 15px 0 2px;
}
.ImageFileTextArea {
    border-top: solid 1px #859ec7;
    border-left: solid 1px #859ec7;
    border-bottom: solid 1px #d4d9e1;
    border-right: solid 1px #d4d9e1;
    background-color: #f7fbff;
    font-family: "Trebuchet MS";
    font-size: 1.0em;
    color: #666;
    width: 150px;
    height: 40px;
}
.ImageFileText {
    border: solid 1px #CCCCCC;
    width: 150px;
}
.ImageFileButton {
    padding: 5px 0px 15px 0px;
}
.ImageFileCancelButton {
    padding-right: 5px;
}
.ImageFileTable {
    padding-top: 5px;
}
span.required {
    color: #ff0000;
}
.GlobalCssClass {
    background-image: url(images/tick.gif);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    font-size: 18px;
}
table.ImageFileTable td.ImageFileControl input.disabled {
    color: #ababab;
    background-color: #eee;
}
