﻿


/*Site Admin*/
div.leftpadding
{
	padding-left:16px;
}
div.historyGrid div.siteSearchContainer
{
	width:962px;
	padding:4px 0px 3px 4px;	
	clear:both;
	color:#5f7296;
	display:table;
}
div.historyGrid div.siteSearchContainer input.inputText
{
	
	width: 150px;
	display:inline;
	float:left;
	line-height: normal;
	vertical-align:middle;
}

div.historyGrid div.siteSearchContainer *
{
	vertical-align:middle;
}

/* create site */
div.siteWrapper
{
	padding-left:7px;
	display:block;
	margin:0;
	width:974px;
	position:relative;
	height:auto;
	margin-top:-2px;
	z-index:98;
	
}
div.siteWrapper div.boxShadow div.boxContainer
{
	float:left;padding:0px;
}
div.siteWrapper div.boxShadow div.boxContainer div.boxHeader
{
	width: 970px;
}
div.siteWrapper div.boxShadow div.boxContainer div.boxHeader h5
{
	width:960px;
}
div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer
{
	float:left;
}
div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer
{
	width: 960px; 
	float: left;
	padding:0px;
	margin:0px;
}
div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer div.leftRightPadding
{
	padding:4px 0px 4px 4px;	
	display:block;
	width:956px;
}
div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer div.leftRightPadding div.boxSubContainer
{
    width:950px;
    clear:both; 
    margin:0px;
    display:block;
    border:solid 1px #8EA5CE;
    float:left;
    padding:0px;
 
}
div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer div.leftRightPadding div.boxSubContainer div.boxSubHeader
{
    display:table;
    background-image:url(images/subheader-bg.gif);
    background-repeat:repeat-x;
    background-color:#c3ddff;
    color:#fff;    
	width:950px;
	float:left;
}
div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer div.leftRightPadding div.boxSubContainer div.boxSubHeader h5
{
    padding:1px 0 3px 5px;
     color:#3E5574;   
     
 }
div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer div.leftRightPadding div.boxSubContainer div.boxSubContent
{      
   background-color:#fff;   
   width:942px;
   float:left; 
  /* color:#656565;  */
}
div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer div.leftRightPadding div.boxSubContainer div.boxSubContent div.directories
{
	width:943px;	
	/*color:#656565; */
	padding:12px 0px 12px 5px;
	display:block;
}
div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer div.leftRightPadding div.boxSubContainer div.boxSubContent div.directories label
{
	/*width: 22.8em;color:#656565;*/
	text-align:left;
	padding-right:0;
	margin-right:6px;
	  
}

div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer div.leftRightPadding div.subContainerMargin
{
	border:solid 1px #8EA5CE;
	width:950px;
	margin:4px 0px 4px 0px;
	clear:both;
	display:block;
	padding:0px;
	float:left;
/*	color:#656565;  */
}
div.siteStep1 label.formLabels
{
	width:252px;
}

div.siteStep1 input.textBoxes
{
	margin-left:0;
}

div.siteStep2
{
	display:table;
	width:940px;
	padding:12px 0px 0px 5px;
	color: #5f7296;
}
div.siteStep2 div.section1
{
	float:left;
	width:156px;
}
div.siteStep2 div.section2
{
	float:left;
	width:784px;
}

div.siteStep2 div.section1 .sitelabel
{
	margin: 0px; 
	padding: 0px;
	text-align: left;
    /*color:#656565;  */
}

div.whiteSpace
{
	padding-left:13.1em;
	display:block;
	padding-top:11px;
	float:left;
	width:802px;
	clear:both;
}
div.siteStep2 div.section2 label.formLabels
{
	width:96px;
	margin-right:6px;
}
div.siteStep2 div.section2 textarea,div.siteStep2 div.section2 input.textBoxes
{
	float:left;
	display:block;
	margin-bottom:10px;
	margin-right:0px;
}
label span.instructions
{
	clear: both; 
	display: block; 
	font-weight: normal; 
	font-size:0.9em;
	line-height:0.9em;
}
div.siteStep2 div.section2 .sitenameLabel,
div.siteStep2 div.whiteSpace .sitenameLabel
{
	margin-right: 5px; 
	padding-left: 0px; 
	margin-left: 0px;
    /*color:#656565; */
  
}
div.whiteSpace span
{
	display:table-cell; 
	float: left;	
}

.siteDesc
{
	/*width:60px;*/
}
.borderLeftTop
{
	border-left:solid 1px #8EA5CE;
	border-top:solid 1px #8EA5CE;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
}

div.siteWrapper div.boxShadow div.boxContainer div.paddingContainer div.paddedContentContainer div.actionContainer span
{
	width:70px;
	display:table-cell;
	height:auto;
	float:right;
	padding-right:8px;
	padding-top:8px;
	
}
