body.popupBody .ManuallyAddToListWrapper
{
	text-align:left;
	float:left;
}

div.radEditorWrapper
{
	width:920px;
}
/*.contentDefinitionPopupBody
{
	width:430px;
	
}*/
.contentDefinitionPopupWrapper
{
	width:790px;
}
div.contentDefinitionPopupWrapper div.footerContent
{
	width:771px;
}
div.contentDefinitionPopupWrapper div.contentDefinitionDialogBox
{
    display:table;
    width:100%;
}
div.contentDefinitionPopupWrapper div.contentDefinitionMiddleContent
{
    min-height:500px;    
    padding:0px 5px 0px 5px;
    float:left;
}
div.imageLibraryLeftTree
{
	border-right:solid 1px #CCC;
	width:240px;
	height:480px;
}
div.imageLibraryLoading
{
	font-size:10px;
}
body.popupBody div.uploadItems div.popupBoxShadow div.popupboxContainer div.dialogBox div.middleContent div.fileUpload
{
	margin: 0 0 0 0;
	width:250px;
	height:60px;
}
body.popupBody div.uploadItems div.popupBoxShadow div.popupboxContainer div.dialogBox div.middleContent div.fileUpload div.realFileInputlabel
{
	text-align:center;
	width:250px;
	min-height:15px;
}

body.popupBody div.uploadItems div.popupBoxShadow div.popupboxContainer div.dialogBox div.middleContent div.fileUpload div.realFileInput
{
	width:250px;
}
body.popupBody div.uploadItems div.popupBoxShadow div.popupboxContainer div.dialogBox div.middleContent div.fileUpload div.realFileInput div.fakeFile
{
	text-align: left;
	left:20px;
}
div.UploadFileWrapper form
{
	margin:0;
	padding:0;
}
body.uploadImageBody
{
	background-image:none;
}
div.uploadImageWrapper
{
	margin:50px 0 0 80px;
}
div.uploadContentDefinitionWrapper form
{
	margin: 0; padding: 0;
}
div.uploadContentDefinitionWrapper div.uploadItems div.popupBoxShadowdiv.popupboxContainer div.dialogBox div.middleContent div.fileUpload
{
	margin: 0 0 0 0; 
	height: 60px; 
	width: 250px;
}
div.uploadContentDefinitionWrapper div.uploadItems div.popupBoxShadowdiv.popupboxContainer div.dialogBox div.middleContent div.fileUpload div.realFileInputLabel
{
	text-align:center;
	width:250px;
}
div.uploadContentDefinitionWrapper div.uploadItems div.popupBoxShadowdiv.popupboxContainer div.dialogBox div.middleContent div.fileUpload div.realFileInput
{
	width: 250px;
}
div.uploadContentDefinitionWrapper div.uploadItems div.popupBoxShadowdiv.popupboxContainer div.dialogBox div.middleContent div.fileUpload div.realFileInput div.fakeFile
{
	text-align: left; 
	left: 20px;
}
div.uploadContentDefinitionWrapper div.divPageTopContainer
{
	display: none; 
	visibility: hidden;
}
div.uploadDisplayItemsWrapper form
{
	margin:0;
	padding:0;
}
div.uploadDisplayItemsWrapper div.uploadItems div.popupBoxShadow div.popupboxContainer div.dialogBox div.middleContent div.fileUpload
{
	margin: 0 0 0 0;
	height:60px;
	width:250px;
}
div.uploadDisplayItemsWrapper div.uploadItems div.popupBoxShadow div.popupboxContainer div.dialogBox div.middleContent div.fileUpload div.realFileInputLabel
{
	text-align:center;
	width:250px;
	min-height:15px;
}
div.uploadDisplayItemsWrapper div.uploadItems div.popupBoxShadow div.popupboxContainer div.dialogBox div.middleContent div.fileUpload div.realFileInput
{
	width:250px;
}
div.uploadDisplayItemsWrapper div.uploadItems div.popupBoxShadow div.popupboxContainer div.dialogBox div.middleContent div.fileUpload div.realFileInput div.fakeFile
{
	text-align: left;
	left:20px;
}
div.viewEditPermissionWarningPopupWrapper
{
	width:380px;
}
div.selectMenuTargetPopUpWrapper div.popupLibraryBoxShadow div.popupLibraryContainer div.popupBoxContent div.subContent div.popupTreeContainer
{
	margin:0px;
}
tr.imageGallerytableFontSize
{
	font-size: 8pt;
}
div.AddListTreePopupWrapper div.popupTreeContainer
{
	width:200px
}
table.recurrenceControlTableStyle
{
	clear:both;
	background:#fff;
}
td.recHeight
{
	height: 6px;
}
td.recurranceProp
{
	width: 21px; 
	height: 21px;
}
td.recurrancePropDaily
{
	height: 21px;
}
td.recurrancePropWeekday
{
	width: 21px;
}
td.recurrancePropheadHeight
{
	height: 1px;
}
td.recurranceProphead2Height
{
	height: 6px;
}
td.recurrancerbWeekly
{
	width: 21px; 
	height: 24px;
}
td.recurrance3height
{
	height: 24px;
}
td.recurrance4Height
{
	width: 21px;
}
td.recurrance5width
{
	width: 21px; 
	height: 24px;
}
td.recurrance6height
{
	height: 24px;
}
td.recurrance7width
{
	width: 21px; 
	height: 31px;
}
td.recurrance8height
{
	height: 31px;
}
td.recurrance9Height
{
	height: 30px;
}
td.recurrance10height
{
	height: 20px;
}
td.recurrance11height
{
	height: 24px;
}
td.recurrancewidth11
{
	width: 21px;
}
.recurrance12width
{
	width: 120px;
}
.recurrance18width
{
	width: 18px;
}
table.tblcblWeeklyWeekdays
{
	border-collapse: collapse;
}
.divShimBorder
{
	border: solid 1px;
}
div.librarySelectDirectoryWrapper
{
	width:240px;
}
/*div.insertContentLibraryWrapper div.insertLibrary div.popupLibraryBoxShadow div.popupLibraryContainer div.popupBoxContent div.popupGrid div.mainContent div.rightContent 
{
	width:485px;
}*/
