﻿body.popupBody {
    background-image: none;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}
a, a:hover, a:active, a:visited {
    color: #1c68b5;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* begin popup widths*/
div.linktoPage div.boxHeader input.textBoxes, div.linktoFile div.boxHeader input.textBoxes {
    font-weight: normal;
}
div.linkImage {
    width: 770px;
}
div.linkImage div.popupFooter {
    width: 755px;
}
div.backupSite, div.deleteSite, div.createWorkflowMenu {
    width: 350px;
}
div.backupSite div.footerContent, div.deleteSite div.footerContent, div.createWorkflowMenu div.footerContent, div.editIndex div.footerContent {
    width: 336px;
}
div.deleteCSSWarning, div.archiveConfirm, div.archiveTemplate, div.deleteFileWarning, div.editContent, div.viewWorkflow, div.viewEditPermission, div.viewPagesUsingCSS, div.insertList, div.deactivateGroup, div.deactivateUser, div.deleteList, div.viewPagesUsingFile, div.deleteImage {
    width: 380px;
}
div.deleteCSSWarning div.footerContent, div.archiveConfirm div.footerContent, div.archiveTemplate div.footerContent, div.deleteFileWarning div.footerContent, div.editContent div.footerContent, div.viewEditPermission div.footerContent, div.viewPagesUsingCSS div.footerContent, div.insertList div.footerContent, div.deactivateGroup div.footerContent, div.deactivateUser div.footerContent, div.deleteList div.footerContent, div.viewWorkflow div.footerContent, div.viewPagesUsingFile div.footerContent, div.deleteImage div.footerContent {
    width: 366px;
}
div.moveCopyWarning {
    width: 400px;
}
div.moveCopyWarning div.footerContent {
    width: 386px;
}
div.assignWorkflowMenu {
    width: 400px;
}
div.assignWorkflowMenu div.footerContent {
    width: 386px;
}
div.imageActualSize, div.selectWatch {
    width: 730px;
}
div.imageActualSize div.footerContent {
    width: 716px;
}
div.editIndex, div.menuTargetSelect {
    width: 251px;
}
div.editIndex div.popupFooter, div.menuTargetSelect div.popupFooter {
    width: 237px;
}
div.applyPermissiontoLibrary {
    width: 578px;
}
div.applyPermissiontoLibrary div.popupFooter {
    width: 560px;
}
div.applyPermission, div.editMenuProperties {
    width: 530px;
}
div.applyPermission div.popupFooter, div.editMenuProperties div.popupFooter {
    width: 511px;
}
div.editMenuProperties div.footerContent {
    width: 511px;
}
div.addtoListManually {
    width: 914px;
}
div.addtoListManually div.popupFooter {
    width: 900px;
}
div.uploadItems {
    width: 280px;
}
div.uploadItems div.footerContent {
    width: 266px;
}
/*end popup widths*/
div.popupBoxShadow {
    float: left;
    display: table;
}
div.popupBoxShadow div.popupboxContainer {
    position: relative;
    display: table;
    width: 100%;
}
div.dialogBox h3 {
    clear: both;
    font-size: 1.7em;
    margin-top: 25px;
    margin-bottom: 1.1em;
    color: #cc6600;
    text-align: center;
    display: block;
    float: none;
}
div.dialogBox div.middleContent {
    margin: 0px;
    padding: 0px 5px 0px 5px;
    clear: both;
}
div.dialogBox div.middleContent p.warningPara {
    height: 60px;
    margin-bottom: 5px;
}
div.dialogBox div.middleContent div.formArea {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 1.1em;
    color: #102a5c;
    font-size: 1.1em;
}

div.popupBoxShadow div.popupboxContainer div.dialogBox div.middleContent p {
    margin: 0em 0em 1.1em 0em;
    color: #102a5c;
}

div.dialogBox div.middleContent div.gridContent {
    margin-bottom: 1.1em;
}
div.dialogBox div.middleContent div.gridContent .slectContent {
    color: #102a5c;
}
div.dialogBox div.footerContent {
    background-image: url(images/bluefooter.gif);
    background-repeat: repeat-x;
    max-height: 38px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px !important;
}
div.multiTabContainer {
    width: 100%;
    float: left;
}
div.dialogBox label {
    vertical-align: top;
    padding-right: 3px;
    float: left;
    width: 700px;
    margin: 5px 0 0 0;
}

div.radEditClass {
    float: left;
}
div.popupboxContainer div.dialogBox div.footerContent input.buttonSpace, div.popupLibraryContainer div.popupBoxContent div.popupFooter input.buttonSpace {
    margin-left: 10px;
}

/** for library popups **/
div.popupLibraryBoxShadow {
    width: 100%;
}
div.popupLibraryBoxShadow div.popupLibraryContainer {
    position: relative;
    display: table;
    width: 100%;
}

div.popupLibraryBoxShadow div.popupLibraryContainer div.boxHeader {
    background-color: #f9f9f9;
    border-bottom: solid 1px #fff;
    display: table;
    width: 100%;
    padding: 10px 0;
}
div.popupLibraryBoxShadow div.popupLibraryContainer div.boxHeader h3 {
    float: left;
    display: block;
    font-weight: bold;
    color: #35383a;
    font-size: 20px;
    padding: 0 25px;
}
div.modal-header div.searchDiv {
    float: right;
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    padding-right: 8px;
}
div.modal-header div.searchDiv label {
    margin-right: 7px;
}
div.popupLibraryBoxShadow div.popupLibraryContainer div.mainContent, div.editMenuProperties div.mainContent {
    width: 100%;
    display: table;
}
div.popupLibraryBoxShadow div.popupLibraryContainer div.popupBoxContent div.popupGrid {
    padding: 10px 5px;
    border: solid 1px #e6e6e6;
    background-color: #fff;
}
div.popupLibraryBoxShadow div.popupLibraryContainer div.popupBoxContent div.assignIndexMargin {
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 5px;
    margin: 0 !important;
}
.modal-content div.leftContent {
    display: block;
    float: left;
    border: solid 1px #d2d2d2;
    width: 240px;
    margin: 0px;
}
.modal-content  div.rightContent {
    display: block;
    float: left;
    margin-left: 6px;
    width: 500px;
    border: solid 1px #d2d2d2;
    background-color: #ffffff;
}
div.popupLibraryBoxShadow div.popupLibraryContainer div.popupBoxContent div.popupFooter {
    text-align: right;
    padding: 10px;
    border-top: solid 1px #fff;
    background-color: #f9f9f9;
}
div.popupLibraryBoxShadow div.popupLibraryContainer div.popupBoxContent div.popupFooter input {
    margin-right: 10px;
}
/** Permission Popup Styles **/
div.popupLibraryBoxShadow div.popupLibraryContainer div.popupBoxContent div.subContent {
    padding: 6px;
}
div.popupLibraryBoxShadow div.popupBoxContent div.subContent p, div.popupLibraryBoxShadow div.popupBoxContent div.popupGrid p {
    margin-top: 0px;
    margin-bottom: 13px;
    color: #102A5C;
    font-size: 1.1em; /*width:100%;*/
}
div.popupLibraryBoxShadow div.subContent div.searchBox {
    width: 248px;
    color: #5F7296;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #ffffff;
    padding: 7px;
    padding-right: 0px;
    margin: 0px;
    border: 1px solid #869FC8;
}
div.popupLibraryBoxShadow div.subContent div.searchBox span {
    vertical-align: middle;
    display: inline;
}
div.popupLibraryBoxShadow div.subContent div.leftContent {
    display: block;
    margin-top: 3px;
    margin-right: 3px;
    background-color: #ffffff;
    background-image: url(images/usersGroups-bg.gif);
    background-repeat: repeat-x;
    float: left;
    width: 251px;
    border: solid 1px #869FC8;
    padding: 0px 0px 3px 4px;
}
div.popupLibraryBoxShadow div.subContent div.leftContent h4 {
    margin: 6px 0px 4px 3px;
    color: #3F557E;
    font-size: 1.1em;
}
div.popupLibraryBoxShadow div.subContent div.leftContent div.filteredSearch {
    clear: both;
    color: #3F557E;
    font-size: 1.1em;
    margin-left: 3px;
}
div.popupLibraryBoxShadow div.subContent div.arrows {
    width: 11px;
    float: left;
    margin: 0px 3px 0px 3px;
    padding-top: 122px;
    text-align: center;
    display: block;
}
div.popupLibraryBoxShadow div.subContent div.arrows img.arrowLeft, div.popupLibraryBoxShadow div.subContent div.arrows img.arrowRight {
    margin: 0px;
    padding-top: 2px;
    vertical-align: bottom;
    display: block;
}

div.popupLibraryBoxShadow div.subContent div.rightContent {
    display: block;
    float: left;
    margin-top: 3px;
    background-color: #ffffff;
    background-image: url(images/usersGroups-bg.gif);
    background-repeat: repeat-x;
    width: 221px;
    border: solid 1px #869FC8;
    padding: 0px 0px 5px 4px;
}
div.popupLibraryBoxShadow div.subContent div.rightContent h4 {
    margin: 6px 0px 28px 3px;
    color: #3F557E;
    font-size: 1.1em;
    display: block;
}

/******** Add to List Manually Styles ************/
div.popupLibraryBoxShadow div.popupGrid div.listContents {
    border: 1px solid #869FC8;
    margin-left: 8px;
    width: 217px;
    background-color: #ffffff; /*padding-bottom:4px;*/
    display: block;
    float: left;
    margin-top: 24px;
}
div.popupLibraryBoxShadow div.popupGrid div.listContents h4 {
    float: none;
    background-image: url(images/subheader-bg.gif);
    background-repeat: repeat-x;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
    color: #3F557E;
    font-size: 1.1em;
}

div.popupBoxContent div.popupGrid div.AddtoListtabContainer {
    float: left;
    width: 656px;
    padding: 0px;
    margin: 0px;
}
div.popupGrid div.AddtoListMultiPageContainer {
    top: -2px;
    position: relative;
    float: left;
    width: 660px;
    padding: 7px 5px 5px 2px;
    border: solid 1px #869FC8;
}
/******** Add to List Manually Styles ************/

div.applyPermissiontoLibrary div.subContent div.arrows {
    padding-top: 180px;
}
div.popupLibraryBoxShadow div.subContent div.rightContent div.blueBorder {
    border: solid 1px #869FC8;
}
div.popupLibraryBoxShadow div.subContent div.leftContent div.tabTreeBorder, div.popupLibraryBoxShadow div.subContent div.rightContent div.tabTreeBorder {
    border: solid 1px #869FC8;
}
div.applyPermissiontoLibrary div.subContent div.searchBox {
    width: 325px;
}

div.popupBoxContent div.rightContent div.imageThumbnail {
    clear: both;
    border-top: 1px solid #869FC8;
}
div.linkImage .pthumbNail {
    padding: 29px 0 0 7px;
    width: 492px;
    height: 242px;
    overflow: scroll;
}
.confirm {
    font-weight: bold;
}

/*generic styles*/

div.applyPermissiontoLibrary div.subContent div.leftContent {
    width: 260px;
}
div.applyPermissiontoLibrary div.subContent div.rightContent {
    width: 260px;
    padding: 0px 0px 3px 4px;
}
div.applyPermissiontoLibrary div.subContent div.rightContent h4 {
    margin-bottom: 4px;
}
div.popupLibraryBoxShadow .popupFileImage {
    display: block;
}
/******** Styles for Image Actual Size*********/
div.imageActualSize div.imageArea {
    overflow: auto;
    width: 705px;
    text-align: center;
    display: block;
    height: 360px;
}
div.imageActualSize div.imageProperties {
    font-size: 1.0em;
    color: #3F557E;
    text-align: center;
}
/******** End Styles for Image Actual Size*********/

/****** Begin Styles for Edit Menu Properties ***********/

div.editMenuProperties div.ContentcontextMenu label.labels {
    display: block;
    clear: both;
    padding: 2px 0 2px 0;
}

div.ContentcontextMenu label.lastRow {
    text-align: right;
    padding: 10px 10px 5px 0;
}

div.ContentcontextMenu label.labels input.textBoxes {
    width: 195px;
}

div.ContentcontextMenu label.labels .radioButtonWrapper {
    display: block;
    float: left;
}

div.ContentcontextMenu label.labels textArea {
    width: 345px;
}

div.ContentcontextMenu label.labels select {
    width: 200px;
}

div.contextMenuContainer div.ContentcontextMenu label.labels span.formLabels span {
    font-weight: normal;
}
/****** End Styles for Edit Menu Properties ***********/
div.popupLibraryBoxShadow h4.popupTreeTitle {
    clear: both;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    color: #3F557E;
    padding: 12px 0 19px 6px;
}

div.popupLibraryBoxShadow img.arrowButton0, div.popupLibraryBoxShadow img.arrowButton0Hover {
    padding: 0px;
    padding-left: 4px;
}

div#dhtmlPopupSpinner {
    position: fixed;
}
img.popupSpinnerIcon {
    margin: 75px 150px;
}
.PopupTreeHeading {
    width: 100%;
    background-image: url(images/grid-header-bg.gif);
    background-repeat: repeat-x;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    height: 1.9em;
}
.PopupTreeHeading a.expanded, .PopupTreeHeading a.expanded:hover, .PopupTreeHeading a.expanded:visited, .PopupTreeHeading a.expanded:active, .PopupTreeHeading a.collapsed, .PopupTreeHeading a.collapsed:hover, .PopupTreeHeading a.collapsed:visited, .PopupTreeHeading a.collapsed:active {
    float: right;
    text-decoration: none;
    background-image: url(images/plus.gif);
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 5px;
}
.PopupTreeHeading a.collapsed, .PopupTreeHeading a.collapsed:hover, .PopupTreeHeading a.collapsed:visited, .PopupTreeHeading a.collapsed:active {
    background-image: url(images/minus.gif);
}
div.popupTreeContainer {
    overflow: auto;
}
