.TopGroup
{
	z-index: 99;
	background-color: #bad0f2;
	float: left;
}

.DefaultTab
{
	color: #3f557e;
	background-image: url(images/tab_bg.gif);
	background-repeat: repeat-x;
	background-color: #b9d0f2;
	font-family: "Trebuchet MS";
	font-size: 1.1em;
	cursor: default;
}

.DefaultTabHover
{
	color: #3f557e;
	background-image: url(images/hover_tab_bg.gif);
	background-repeat: repeat-x;
	background-color: #bad0f2;
	font-family: "Trebuchet MS";
	font-size: 1.1em;
	cursor: default;
	color: #cc6600;
}

.SelectedTab
{
	color: #3f557e;
	background-image: url(images/selected_tab_bg.gif);
	background-repeat: repeat-x;
	background-color: #fff;
	font-family: "Trebuchet MS";
	font-size: 1.1em;
	cursor: default;
	color: #cc6600;
}

.MultiPage
{
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: relative;
	top: -1px;
	z-index: 98;
}

.VTopGroup
{
	position:relative;
	padding:0;
	padding-left:4px;
	margin-left:-1px;
	z-index: 99;
	float: left;
}

.VBTopGroup
{
	position:relative;
	padding:0;
	margin-left:-1px;
	z-index: 99;
	float: left;
}

.VDefaultTab
{
	color: #3f557e;
	background-image: url(images/vtab_bg.gif);
	background-repeat: repeat-x;	
	font-family: "Trebuchet MS";
	font-size: 1.0em;
	cursor: pointer;
	border-bottom:solid 1px #90aed4;
}

.VDefaultTabHover
{
	color: #3f557e;
	background-image: url(images/vhover_tab_bg.gif);
	background-repeat: repeat-x;
	background-color: #bad0f2;
	font-family: "Trebuchet MS";
	font-size: 1.0em;
	cursor: pointer;
	color: #cc6600;
	border-bottom:solid 1px #90aed4;
}

.VSelectedTab
{
	color: #3f557e;
	background-image: url(images/vselected_tab_bg.gif);
	background-repeat: repeat-x;
	background-color: #fff;
	font-family: "Trebuchet MS";
	font-size: 1.0em;
	cursor: default;
	color: #cc6600;
}

.vMultiPage
{
	height: 100%;
	position: relative;
	z-index: 98;
	top:-2px;
}