.TreeViewHeader {
    background: url(images/treeview_headerBg.gif);
    background-color: #737294;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 1.0em;
    font-weight: bold;
    padding: 5px;
    cursor: default;
}
.GroupTreeNode {
    font-weight: bold;
}
.HeadingRow, .NodeRow, .TreeRow, .SelectedNodeRowCssClass {
    cursor: default;
}
.HeadingRow td, .SelectedHeadingRow td, .NodeRow td, .SelectedNodeRowCssClass td, .TreeRow td {
    padding: 5px 0;
    vertical-align: middle;
}
.SelectedHeadingRow, .SelectedNodeRowCssClass {
    background-color: #c9c9ca;
}
.GrayedTreeNode {
    color: #b3b3b3;
}
.treeViewContainer {
    height: 307px;
    float: left;
    width: 300px;
    overflow: auto;
}
