﻿div.SiteSettings
{
    width: 984px;
}
div.SiteSettings div.boxHeader
{
    width: 975px;
}
div.SiteSettings div.boxContainer
{
    width: 977px;
}
div.footerContent
{
    background-image: url(../../App_Themes/General/images/bluefooter.gif);
    background-repeat: repeat-x;
    background-color: #d1eaff;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
    margin-top: 10px;
}
div#snapContainer
{
    overflow: hidden;
    width: 963px;
}
div.snapHeader
{
    border-bottom: solid 1px #879bb9;
    overflow: hidden;
    background-image: url(../App_Themes/General/images/snap-header-bg.gif);
    background-repeat: repeat-x;
    background-color: #fff;
    background-position: left top;
    padding: 5px 8px;
    color: #000;
    width: 947px;
}
div.snapHeader h4
{
    float: left;
    font-size: 1.1em;
    color: #000;
}
div.snapHeader img.snapToggle
{
    float: right;
}
div.snapContent
{
    border-bottom: solid 1px #879bb9;
    border-top: 0;
    overflow: hidden;
    width: 953px;
    padding: 5px;
    background-color: #ffffff;
}
div.SiteSettings span.formRow
{
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 2px 0;
}
div.SiteSettings label.formLabel
{
    float: left;
    width: 245px;
    text-align: right;
    padding-right: 5px;
}
.removerTopBorder
{
    border-top: 0 !important;
}
div.cacheSnapContent
{
    padding: 5px 0 0 0;
    width: 938px;
}
div.cacheSnapContent span.formRow
{
    padding-left: 5px;
}
div.site-settings h3
{
    margin: 20px 0;
}
div.site-settings .form-label
{
    width: 200px;
}