﻿h3
{
    font-size: 1.3em;
    color: #4e6592;
}
div.customerContainer
{
    width: 984px;
}
div.customerContainer div.boxHeader
{
    width: 975px;
}
div.customerContainer div.boxContainer
{
    width: 977px;
}
div.customerContainer div.boxContent
{
    width: 954px;
    padding: 5px !important;
    overflow: hidden;
}
div.tabHyperLinks
{
    padding: 3px 10px;
}
div.tabHyperLinks label
{
    padding: 0 3px;
    color: #3c5077;
}
div.customerContainer div.tabContent
{
    border: solid 1px #869fc8;
    margin-left: 1px;
    overflow: hidden;
    margin-top: -2px;
}
div.customerContainer h3
{
    padding: 5px 5px 5px 5px;
}
div.customerContainer div.SearchContainer
{
    padding: 0 5px 10px 0;
    overflow: hidden;
    width: 935px;
}
div.customerContainer div.SearchContainer div.KeyPressSearchContainer
{
    float: left;
}
div.customerContainer div.KeyPressSearchContainer input
{
    margin-right: 5px;
}
div.customerContainer div.KeyPressSearchContainer input.textBoxes
{
    margin-top: 2px;
}
div.customerContainer div.SearchContainer div.PaginationDetails
{
    float: right;
}
div.customerContainer div.PaginationDetails span
{
    padding: 0 1px;
    margin: 0;
}
div.customerContainer span.formRow
{
    display: block;
    padding: 3px 10px;
    overflow: hidden;
    width: 500px;
}

div.customerContainer span.formRow label.formLabel
{
    float: left;
    width: 165px;
}
div.customerContainer div.footerContent
{
    background-image: url(../../App_Themes/General/images/bluefooter.gif);
    background-repeat: repeat-x;
    background-color: #d1eaff;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
    margin-top: 10px;
}
div.footerContent input
{
    margin-left: 10px;
}
span.calendarRow input.textBoxes
{
    float: left;
    margin-top: 1px;
}
span.calendarRow img.buttonCalendar
{
    float: left;
    margin-left: 5px;
    cursor: pointer;
}
div.customerContainer div.PaymentContainer
{
    padding: 5px;
    overflow: hidden;
    width: 940px;
}
div.customerContainer div.leftColumn
{
    float: left;
    border: solid 1px #8EA5CE;
    width: 277px;
}
div.customerContainer div.leftColumn div.gridContainer, div.customerContainer div.NotesContainer div.gridContainer
{
    padding: 5px;
}
div.NotesContent
{
    border: solid 1px #869FC8;
    overflow: hidden;
    margin: 5px;
    width: 938px;
}
div.NotesContent h5
{
    font-size: 1.3em !important;
    color: #5d7aa3 !important;
    padding: 5px !important;
    background-color: #D1E9FF;
    background-image: url(../../App_Themes/General/images/subheader-bg.gif);
    background-repeat: repeat-x;
}
div.customerContainer div.boxSubHeader
{
    background-color: #D1E9FF;
    background-image: url(../../App_Themes/General/images/subheader-bg.gif);
    background-repeat: repeat-x;
    height: 20px;
    min-height: 20px;
}
div.customerContainer h5
{
    font-size: 1.1em;
    color: #0C2A68;
    padding: 1px 0 1px 9px;
}
div.customerContainer div.rightColumn
{
    margin-left: 5px;
    float: left;
    width: 653px;
    border: solid 1px #8EA5CE;
}
div.CustomerDetails div.subTabContent
{
    margin-top: -2px;
    margin-left: 1px;
}
div.CustomerDetails div.subContentHolder
{
    margin: 5px;
    border: solid 1px #8EA5CE;
}
div.groupMemberWrapper
{
    padding: 5px;
}
div.groupMemberWrapper h5
{
    padding-left: 0;
}
div.groupMemberWrapper div.leftSection
{
    padding: 0px;
    width: 310px;
    float: left;
    display: block;
}
div.groupMemberWrapper div.leftSection div.userGroupTabs
{
    margin-left: -4px;
    display: block;
    min-height: 26px;
    height: 21px;
    float: left;
}
div.groupMemberWrapper div.leftSection div.userGroupMultipage
{
    z-index: 97;
    margin-top: -1px;
    display: block;
    float: left;
    width: 238px;
    color: #666666;
}
div.groupMemberWrapper div.arrows
{
    display: inline-block;
    width: 29px;
    float: left;
    margin: 0;
    margin-top: 21px;
    text-align: center;
    height: 20px;
}
div.groupMemberWrapper div.arrows
{
    padding-top: 80px;
}
div.groupMemberWrapper div.arrows .leftRightArrow
{
    padding-top: 2px;
    margin: 0px;
    vertical-align: bottom;
    display: inline-block;
    float: left;
}
div.groupMemberWrapper div.rightSection
{
    width: 310px;
    display: block;
    float: left;
    position: relative;
}
div.groupMemberWrapper div.SearchContainer
{
    float: right;
}
div.checkboxListContainer
{
    height: 75px;
    overflow: auto;
    border: solid 1px #ccc;
    width: 202px;
}
div.CustomerDetails div.gridContainer
{
    padding: 5px;
}
div.CustomerGroups div.leftColumn
{
    margin-left: 5px;
    margin-bottom: 5px;
    width: 253px;
}
div.CustomerGroups div.rightColumn
{
    width: 677px;
    margin-bottom: 5px;
}
div.CustomerDetails div.rightColumn div.firstColumn, div.CustomerDetails div.rightColumn div.secondColumn
{
    float: left;
}
div.CustomerDetails div.rightColumn span.formRow
{
    width: 315px;
}
div.CustomerDetails div.rightColumn span.formRow label.formLabel
{
    width: 90px;
    padding-right: 5px;
    text-align: right;
}

div.SearchContainer div.columns, div.SearchContainer div.buttonColumn
{
    float: left;
    width: 210px;
    overflow: hidden;
    margin-left: 5px;
}
div.SearchContainer div.buttonColumn
{
    width: 50px;
}
div.SearchContainer div.columns span.formRow
{
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 2px 0;
}
div.SearchContainer div.columns span.formRow input.textBoxes, div.SearchContainer div.columns span.formRow img
{
    float: left;
    margin-right: 5px;
}
div.columnsCustomers
{
    float: left;
    width: 49%;
    overflow: hidden;
}
div.SearchContainer span.formRow
{
    padding: 0 !important;
    width: 100% !important;
}
div.SearchContainer span.formRow label.formLabel
{
    width: auto !important;
}
div.SearchContainer div.firstFilterColumn, div.SearchContainer div.secondFilterColumn, div.SearchContainer div.thirdFilterColumn, div.SearchContainer div.fourthFilterColumn, div.SearchContainer div.fifthFilterColumn
{
    float: left;
}
div.SearchContainer div.firstFilterColumn
{
    width: 190px;
}
div.SearchContainer div.secondFilterColumn
{
    width: 260px;
}
div.SearchContainer div.secondFilterColumn span.formRow
{
    display: block;
    width: 100% !important;
    overflow: hidden;
    margin-bottom: 5px;
}
div.SearchContainer div.secondFilterColumn .radioButtonContainer, div.SearchContainer div.secondFilterColumn select
{
    float: left;
    margin-right: 5px;
}
div.SearchContainer div.secondFilterColumn span.customRangeContainer
{
    float: left;
    width: 90%;
}
div.SearchContainer div.secondFilterColumn span.customRangeContainer input.textBoxes, div.SearchContainer div.secondFilterColumn span.customRangeContainer img.calenderButton
{
    float: left;
    margin-right: 5px;
}
div.SearchContainer div.thirdFilterColumn
{
    width: 223px;
}
div.SearchContainer div.fourthFilterColumn
{
    margin: 13px 0 0 5px;
    width: 90px;
}
div.SearchContainer div.fifthFilterColumn
{
    padding: 15px 20px;
    background-color: #e5f3fd;
    text-align: center;
    float: right;
    margin-bottom: 10px;
}
div.SearchContainer div.fifthFilterColumn span
{
    font-size: 1.6em;
    font-weight: bold;
    color: #333333;
}
div#globalAttributesContainer
{
    margin-left: 8px;
    margin-top: 5px;
}
div.snapHeader
{
    background-color: #FFFFFF;
    background-image: url("../App_Themes/General/images/snap-header-bg.gif");
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #879BB9;
    color: #000000;
    overflow: hidden;
    padding: 5px 8px;
    width: 915px;
}
div.snapHeader h4
{
    float: left;
    font-size: 1.1em;
    color: #000;
}
div.snapHeader img.snapToggle
{
    float: right;
}
div.snapContent
{
    border: solid 1px #879bb9;
    border-top: 0;
    overflow: hidden;
    padding: 10px 5px;
    width: 921px;
}
div.snapContent table.attributesTable
{
    width: 100%;
}
div.snapContent td.attributeName
{
    padding: 0 5px 5px 0;
    text-align: right;
}
div.snapContent td.attributeName:after
{
    content: ":";
}
div.snapContent td.attributeField
{
    padding-bottom: 5px;
    float:left;
}
div.snapContent td.attributeAdd
{
    float:left;
}
div.snapContent td.attributeField input.textBoxes
{
    width: 190px !important;
}
div.snapContent td.attributeField table, div.snapContent td.attributeField span, div.snapContent td.attributeField input
{
    float: left;
}
tr.unmappedAttributes > td
{
    background-color: #FFEEC2 !important;
    padding-top: 5px;
}
div.lineofCredit p
{
    padding-left: 5px;
}
div.lineofCredit div.snapContent
{
    padding: 10px 0 0 0;
    width: 931px;
}
div.lineofCredit div#globalAttributesContainer
{
    margin-bottom: 5px;
}
div.lineofCredit div.snapContent span.formRow
{
    padding-bottom: 2px;
}
div.lineofCredit div.snapContent span.formRow label.formLabel
{
    text-align: right;
    margin-right: 5px;
}
div.lineofCredit table.invoice
{
    padding-left: 8px;
    border-right: solid 1px #EAE9E1;
    width: 941px;
    margin-bottom: 5px;
}
div.accountLogins div.searchContainer
{
    width: 934px;
    padding: 0 10px 5px 7px;
}