﻿div.Dashboard h3
{
    font-size:1.1em;
    font-weight:bold;
}
div.Dashboard div#leftContentSection, div.Dashboard div.reportingSection
{
	float: left;
	display: block;
	display: table;
	width: 686px;
	padding: 0 0 0 0;
}
div.Dashboard div#rightContentSection
{
	width: 285px;
	float: left;
	padding-left: 15px;
}
div.Dashboard a, div.Dashboard a:hover, div.Dashboard a:active, div.Dashboard a:visited
{
    color:#5e79a4;
    text-decoration:underline;
}
div.Dashboard div#leftContentSection div.topShadowBox, div.Dashboard div#rightContentSection div.topShadowBox, div.Dashboard div.reportingSection div.topShadowBox
{
	width: 686px;
	display: table;
	background-image: url(../App_Themes/General/images/header-shadow.png);
	background-position: right top;
	background-repeat: repeat-y;
}
div.Dashboard div.topShadowBox div.headerContainer, div.Dashboard div.reportingSection div.headerContainer
{
	width: 678px;
	display: table;
	background-image: url(../App_Themes/General/images/box-header-bg.gif);
	background-repeat: repeat-x;
	background-color: #a8c3f0;
	border-right: solid 1px #10a9c5;
	border-top: solid 1px #10a9c5;
	border-left: solid 1px #10a9c5;
	padding-top: 8px;
	font-size: 1.1em;
	font-family: Arial;
}
div.Dashboard div#leftContentSection div.dragBox, div.Dashboard div#rightContentSection div.dragBox, div.Dashboard div.reportingSection div.dragBox
{
	float: left;
	width: 655px;
	display: table;
	padding-bottom: 7px;
	cursor: move;
}
div.Dashboard div#leftContentSection div.toggleBox, div.Dashboard div#rightContentSection div.toggleBox
{
	float: right;
	width: 23px;
	display: table;
	padding-bottom: 7px;
	cursor: pointer;
}
div.Dashboard div#leftContentSection div.headerContainer h3, div.Dashboard div#rightContentSection div.headerContainer h3, div.Dashboard div.reportingSection h3
{
	padding-left: 9px;
	color: #fff;
}
div.Dashboard div#leftContentSection div.contentShadowBox, div.Dashboard div#rightContentSection div.contentShadowBox
{
	width: 687px;
	display: table;
	background-image: url(../App_Themes/General/images/mid-shadow-wo-gap.png);
	background-position: right top;
	background-repeat: repeat-y;
}
div.Dashboard div#leftContentSection div.contentBox, div.Dashboard div#rightContentSection div.contentBox
{
	width: 668px;
	display: table;
	border-left: solid 1px #10a9c5;
	border-right: solid 1px #10a9c5;
	background-image: url(../App_Themes/General/images/paddingImage.gif);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #a1c1fa;
	padding: 0 5px 0 5px;
}
div.Dashboard div#leftContentSection div.contentBox div.gridContainer, div.Dashboard div#rightContentSection div.contentBox div.gridContainer
{
	border-left: solid 1px #97abc6;
	border-top: solid 1px #97abc6;
	border-right: solid 1px #97abc6;
	border-bottom: solid 1px #a4b2c7;
	background-color: #fff;
	background-image: url(../App_Themes/General/images/permissions-bg.gif);
	background-repeat: repeat-x;
	width: 666px;
	float: left;
}
div.Dashboard div#leftContentSection div.bottomShadowBox, div.Dashboard div#rightContentSection div.bottomShadowBox, div.Dashboard div.reportingSection div.bottomShadowBox
{
	width: 680px;
	height: 12px;
	display: table;
	margin-left: 6px;
	background-image: url(../App_Themes/General/images/footer-shadow-med.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	margin-bottom: 5px;
}
div.Dashboard div#leftContentSection div.bottomShadowBoxGap, div.Dashboard div.reportingSection div.bottomShadowBoxGap
{
	margin-top: 0;
}
div.Dashboard div#leftContentSection div.bottomShadowBox div.gridFooterContainer, div.Dashboard div#rightContentSection div.bottomShadowBox div.gridFooterContainer, div.Dashboard div.reportingSection div.gridFooterContainer
{
	width: 678px;
	height: 5px;
	position: relative;
	margin-left: -6px;
	background-color: #a1c1fa;
	border-left: solid 1px #10a9c5;
	border-bottom: solid 1px #10a9c5;
	border-right: solid 1px #10a9c5;
	font-size: 0;
}
div#leftContentSection p
{
    margin-bottom:20px;
}
div.gridContainer strong
{
    color:#4e6592;
    font-size:1.2em;
}
div#leftContentSection label
{
    padding:0 3px 0 5px;
}
div.Dashboard div#rightContentSection div.topShadowBox
{
	width: 284px;
}
div.Dashboard div#rightContentSection div.headerContainer
{
	width: 276px;
}
div.Dashboard div#rightContentSection div.dragBox
{
	width: 253px;
}
div.Dashboard div#rightContentSection div.toggleBox
{
	width: 23px;
}
div.Dashboard div#rightContentSection div.contentShadowBox
{
	width: 285px;
	background-image: url(../App_Themes/General/images/mid-shadow-wo-gap.png);
	background-position: right top;
	background-repeat: repeat-y;
}
div.Dashboard div#rightContentSection div.contentShadowBoxNoGap
{
	background-image: url(../App_Themes/General/images/mid-shadow-w-gap.png);
}
div.Dashboard div#rightContentSection div.contentBox
{
	width: 266px;
}
div.Dashboard div#rightContentSection div.contentBox div.gridContainer
{
	width: 264px;
	border: solid 1px #a1a1a1;
	background-image: url(../App_Themes/General/images/permissions-bg.gif);
	background-repeat: repeat-x;
	background-color: #fff;
}
div.Dashboard div#rightContentSection div.bottomShadowBox
{
	width: 278px;
	margin-top: 0;
	background-image: url(../App_Themes/General/images/footer-shadow-small.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
div#rightContentSection div.contentShadowBoxNoGap div.contentBox div.gridContainer, div#leftContentSection div.contentShadowBox div.contentBox div.gridTopPadding
{
	background-image: url(../App_Themes/General/images/permissions-bg.gif);
	background-repeat: repeat-x;
	padding-top: 4px;
}
div.Dashboard div#rightContentSection div.bottomShadowBox div.gridFooterContainer
{
	width: 276px;
	margin-top: 0;
}
div.reportingSnapHeader div.dragBox
{
    width:150px !important;
    display:block !important;
}
div.reportingSnapHeader div.rightHeaderSection
{
    margin:0 !important;
    padding:0 !important;
    color:#fff;
    width:410px;
}
div.reportingSnapHeader div.rightHeaderSection label.rangeSelector, div.reportingSnapHeader div.rightHeaderSection label.rangeSelectorHover
{
    padding-right:10px !important;
}
div.dateRangeSelector
{
    color:#666;
}
/** Styles for Usage Container STARTS **/
div.usageSection
{
    border: solid 1px #dedede;
    margin: 50px 0 20px 0;
    width: 532px;
}
div.barGraphSection
{
    float: left;
    text-align: center;
    border-right: dashed 1px #dedede;
}
div.barCover
{
    border-bottom: solid 1px #dedede;
    height: 180px;
    position: relative;
    padding: 0 5px;
}
div.bar
{
    float: left;
    margin: 0 7px;
    width: 30px;
    position: absolute;
    padding: 0 4px;
    bottom: 0;
}
div.allowedUsage
{
    left: 0;
}
div.allowedUsage div.colorDiv
{
    background-color: #F99057;
}
div.lastMonthUsage
{
    left: 40px;
}
div.lastMonthUsage div.colorDiv
{
    background-color: #9060b5;
}
div.thisMonthUsage
{
    left: 80px;
}
div.thisMonthUsage div.colorDiv
{
    background-color: #6E95E2;
}
div.graphText
{
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
}
div.topBorder
{
    border: 0;
    text-align: center;
    width: 132px;
    padding: 5px 0;
    border-bottom: solid 1px #dedede;
}
div#boxCapacity, div#boxUsage, div#boxLastMonth
{
    background-image: url('../App_Themes/General/images/orange-bullet.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    float: right;
    margin-right: 10px;
}
div#boxUsage
{
    background-image: url('../App_Themes/General/images/blue-bullet.gif');
}
div#boxLastMonth
{
    background-image: url('../App_Themes/General/images/purple-bullet.png');
}
/** Styles for Usage Container ENDS **/