﻿div.EmailManagement
{
    width: 984px;
}
div.EmailManagement div.boxHeader
{
    width: 975px;
}
div.EmailManagement div.boxContainer
{
    width: 977px;
}
div.EmailManagement div.boxContent
{
    width: 954px;
    padding: 5px !important;
    overflow: hidden;
}
div.EmailDetails
{
    background-color: #FFFFFF !important;
    border: solid 1px #8EA5CE;
    border-top: 0;
    margin-left:1px;
    padding-top:5px;
}
div.EmailDetails div.gridContainer
{
    padding:0 5px 5px 5px;
}
span.formRow
{
    display:block;
    width:99%;
    padding:2px 5px;
}
span.formRow label.formLabel
{
    float:left;
    width:100px;
    clear: both;
}
div.footerContent
{
    background-image: url(../../App_Themes/General/images/bluefooter.gif);
    background-repeat: repeat-x;
    background-color: #d1eaff;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
    margin-top: 10px;
}
div.footerContent input
{
    margin-left:10px;
}