﻿/** Styles for the shadow container **/
div.tabContentWithSubTabs
{
    width: 98.5%;
}
div.tabContentWithSubTabs div.ProductTypeContent
{
    float: left;
}
div.productContainer div.tabContentWithSubTabs div.topPaddingContent
{
    width: 98.4%;
}
div.previewProducts div.popupboxContainer
{
    width: 886px;
}
div.ProductDetails, div.Promotions
{
    width: 951px;
}
div.footerContent
{
    padding-bottom: 10px !important;
}
div.ProductDetails div.footerContent
{
    margin-top: 10px;
}
div.ImageUpload
{
    width: 354px;
}
div.browserWindow
{
    width: 264px;
}
div.InventoryShipping
{
    width: 945px;
}
div.InventoryShipping div.leftColumn
{
    margin-left: 3px;
}
div.productSearch
{
    width: 639px;
    margin-left: 3px;
}
div.AddBundle div.columns
{
    margin-left: 1px;
}
div.bundleRow div.firstColumn select
{
    width: 125px;
}
div.bundleRow div.firstColumn input
{
    width: 120px;
}
div.AddEditProduct div.firstColumn, div.AddEditProduct div.secondColumn, div.AddEditProduct div.thirdColumn
{
    padding: 4px;
    margin-left: 4px;
}
div.CustomerDetails
{
    width: 951px;
}
div.customerContainer div.subTabContent
{
    margin-top: -2px;
    z-index: 99999;
}
div.shippersLeftColumn
{
    width: 209px;
}
div.shippersLeftColumn div.topPaddingContent
{
    line-height: 0px;
    font-size: 0px;
    padding: 5px 0 0 0;
}
div.shippersRightColumn
{
    width: 720px;
}
div.shippersRightColumn div.topPaddingContent
{
    width: 710px;
}
div.shippersRightColumn div#divShippingMethodDetails
{
    float: left;
}
div.StoreSetupContainer div.StoreDetails
{
    width: 941px;
}
div.Dashboard div.reportingSection div.topShadowBox
{
    width:686px;
	background-image: url(../App_Themes/General/images/header-shadow.gif);
}
div.Dashboard div.reportingSection div.bottomShadowBox
{
	background-image: url(../App_Themes/General/images/footer-shadow-new.gif);
}
div.userDetails
{
    width:951px;
    border:solid 1px red;
}
div.userListing div.gridContainer
{
    margin-left:2px !important;
}
div.SiteDetails
{
    padding-left:5px !important;
    padding-bottom:5px !important;
}
div.productContainer div.rightColumn div.tabContent
{
    width:710px;
}
div.StoreSetupContainer div.StoreDetails
{
    width:951px;
}