﻿div.OrderContainer {
    width: 984px;
}
div.OrderContainer div.boxHeader {
    width: 975px;
}
div.OrderContainer div.boxContainer {
    width: 977px;
}
div.OrderContainer div.boxContent {
    width: 954px;
    padding: 5px !important;
    overflow: hidden;
}
div.OrderContainer h5 {
    padding: 5px;
    font-size: 1.3em;
    color: #5d7aa3;
}
div.OrderDetails {
    border: solid 1px #8EA5CE;
    border-top: 0;
    margin-left: 1px;
    overflow: hidden;
}
div.tabHyperLinks {
    padding: 3px 10px;
}
div.tabHyperLinks label {
    padding: 0 3px;
    color: #3c5077;
}
div.OrderDetails div.gridContainer {
    padding: 5px;
}
div.OrderDetails div.SearchContainer {
    padding: 0 5px 0 0;
    overflow: hidden;
    width: 935px;
}
div.OrderDetails div.SearchContainer .button, div.OrderDetails div.SearchContainer .button {
    padding: 2px 8px;
}
div.SearchContainer div.columns, div.SearchContainer div.buttonColumn {
    float: left;
    width: 210px;
    overflow: hidden;
    margin-left: 5px;
}
div.SearchContainer div.buttonColumn {
    width: 50px;
}
div.SearchContainer div.columns span.formRow {
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 2px 0;
}
div.SearchContainer div.columns span.formRow input.textBoxes, div.SearchContainer div.columns span.formRow img {
    float: left;
    margin-right: 5px;
}
div.OrderDetails div.SearchContainer div.PaginationDetails {
    float: right;
}
div.OrderDetails div.OrderDetailColumn {
    width: 460px;
    float: left;
    margin-left: 5px;
    overflow: hidden;
}
div.OrderDetails h6 {
    font-size: 1.1em;
    color: #000;
}
div.OrderDetails div.OrderDetailColumn div.firstColumn /*, div.OrderDetails div.OrderDetailColumn div.secondColumn*/ {
    width: 560px;
    float: left;
}
/*div.OrderDetails div.OrderDetailColumn div.secondColumn
{
    width: 350px;
}*/
div.OrderDetails div.firstColumn span.formRow, div.OrderDetails div.secondColumn span.formRow, div.OrderDetails div.BillingDetailColumn span.formRow {
    display: block;
    width: 100%;
    padding: 2px 0;
    clear: both;
}
div.OrderDetails div.firstColumn span.formRow label.formLabel, div.OrderDetails div.secondColumn span.formRow label.formLabel, div.OrderDetails div.BillingDetailColumn span.formRow label.formLabel {
    width: 90px;
    float: left;
}
div.OrderDetails div.firstColumn span.formRow {
    padding-right: 5px;
}
div.OrderDetails div.secondColumn span.formRow label.formLabel {
    width: 100px;
}
div.OrderDetails div.BillingDetailColumn {
    width: 480px;
    float: left;
    margin-left: 5px;
}
div.OrderDetails div.BillingDetailColumn span.formRow .formValue {
    width: 70px;
    float: left;
    text-align: right;
}
div.OrderDetails div.BillingDetailColumn div.columns {
    width: 260px;
    float: left;
}
div.OrderDetails div.BillingDetailColumn span.formRow label.formLabel {
    width: 110px;
}
div.ShipmentHeader {
    margin: 20px 5px 0 5px;
    border-top: solid 1px #d7d7d7;
    padding: 5px 5px 5px 0;
}
div.ShipmentDetails, div.ShipmentDetailsContainer {
    margin: 5px;
    overflow: hidden;
}
div.ShipmentBox, table.payments {
    margin-top: 5px;
    border: solid 1px #869FC8;
}
div.ShipmentDetailsContainer h6 {
    float: left;
    margin-right: 10px;
}
div.ShippingUtilityContainer {
    width: 927px;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #D1E9FF;
    background-image: url(../../App_Themes/General/images/subheader-bg.gif);
    background-repeat: repeat-x;
}
div.ShippingUtilityContainer div.ShippingAddressDetails {
    float: left;
}
div.ShippingUtilityContainer div.ShippingMethodDetails {
    float: right;
}
div.ShippingUtilityContainer div.ShippingMethodDetails img {
    cursor: pointer;
}
div.ShippingUtilityContainer div.ShippingAddressDetails label, div.ShippingUtilityContainer div.ShippingAddressDetails select, div.ShippingUtilityContainer div.ShippingAddressDetails span {
    margin-right: 5px;
}
div.ShipmentProducts {
    float: left;
}
div.ShipmentPaymentDetails {
    float: right;
    overflow: hidden;
    width: 190px;
}
div.ShipmentPaymentDetails span.formRow {
    display: block;
    padding: 2px 0;
    width: 190px;
    clear: both;
}
div.ShipmentPaymentDetails label.formLabel {
    float: left;
    width: 110px;
}
div.ShipmentPaymentDetails span.formValue {
    width: 80px;
    text-align: right;
    float: left;
}
div.footerContent {
    background-image: url(../../App_Themes/General/images/bluefooter.gif);
    background-repeat: repeat-x;
    background-color: #d1eaff;
    text-align: right;
    padding: 10px 10px 10px 0;
    margin-top: 10px;
}
div.footerContent input {
    margin-left: 10px;
}
div.NotesContainer span.formRow {
    display: block;
    padding: 5px;
}
div.NotesContainer span.formRow label.formLabel {
    float: left;
    width: 75px;
}
div.NotesContent {
    border: solid 1px #869FC8;
    overflow: hidden;
    margin: 5px;
    width: 938px;
}
table.payments {
    margin: 5px;
    width: 940px;
    border: solid 1px #869FC8;
    border-bottom: 0;
}
table.payments th, div.NotesContent h5 {
    padding: 5px;
    background-color: #D1E9FF;
    background-image: url(../../App_Themes/General/images/subheader-bg.gif);
    background-repeat: repeat-x;
}
table.payments td {
    padding: 5px;
    border-bottom: solid 1px #869FC8;
}
div.OrderDetails div.firstColumn a.selectCustomer, div.OrderDetails div.firstColumn a.selectCustomer:hover, div.OrderDetails div.firstColumn a.selectCustomer:active, div.OrderDetails div.firstColumn a.selectCustomer:visited {
    font-weight: bold;
    padding-left: 20px;
    background-image: url(../App_Themes/General/images/cm-icon-add.png);
    background-repeat: no-repeat;
    background-position: left top;
}
div.OrderDetails div.firstColumn a.customerSelected, div.OrderDetails div.firstColumn a.customerSelected:hover, div.OrderDetails div.firstColumn a.customerSelected:active, div.OrderDetails div.firstColumn a.customerSelected:visited {
    font-weight: bold;
    padding-left: 0;
}
div.SearchContainer div.firstFilterColumn, div.SearchContainer div.secondFilterColumn, div.SearchContainer div.thirdFilterColumn, div.SearchContainer div.fourthFilterColumn {
    float: left;
}
div.SearchContainer div.firstFilterColumn {
    width: 200px;
}
div.SearchContainer div.secondFilterColumn {
    width: 260px;
}
div.SearchContainer div.secondFilterColumn span.formRow {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}
div.SearchContainer div.secondFilterColumn .radioButtonContainer, div.SearchContainer div.secondFilterColumn select {
    float: left;
    margin-right: 5px;
}
div.SearchContainer div.secondFilterColumn span.customRangeContainer {
    float: left;
    width: 90%;
}
div.SearchContainer div.secondFilterColumn span.customRangeContainer input.textBoxes, div.SearchContainer div.secondFilterColumn span.customRangeContainer img.calenderButton {
    float: left;
    margin-right: 5px;
}
div.SearchContainer div.thirdFilterColumn {
    width: 205px;
}
div.SearchContainer div.thirdFilterColumn select {
    width: 200px;
    padding: 0;
    margin: 0;
}
div.SearchContainer div.fourthFilterColumn {
    width: 100px;
    margin-top: 14px;
}
div.SearchContainer div.fifthFilterColumn {
    float: right;
    margin-bottom: 10px;
    padding: 15px 20px;
    background-color: #e5f3fd;
    text-align: center;
    width: 125px;
    overflow: hidden;
}
div.SearchContainer div.fifthFilterColumn span {
    font-size: 1.6em;
    font-weight: bold;
    color: #333333;
}
div.globalAttributesContainer {
    margin: 5px 0 0 5px;
}
div.snapHeader {
    background-color: #FFFFFF;
    background-image: url("../App_Themes/General/images/snap-header-bg.gif");
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #879BB9;
    color: #000000;
    overflow: hidden;
    padding: 5px 8px;
    width: 915px;
}
div.globalAttributesContainer div.snapHeader {
    width: 922px;
}
div.snapHeader h4 {
    float: left;
    font-size: 1.1em;
    color: #000;
}
div.snapHeader img.snapToggle {
    float: right;
}
div.snapContent {
    border: solid 1px #879bb9;
    border-top: 0;
    overflow: hidden;
    padding-top: 10px;
    width: 931px;
}
div.globalAttributesContainer div.snapContent {
    width: 938px;
}
div.snapContent td.attributeName {
    padding: 0 5px 5px 5px;
}
div.snapContent td.attributeField {
    padding-bottom: 5px;
}
div.snapContent td.attributeField table, div.snapContent td.attributeField span, div.snapContent td.attributeField input {
    float: left;
}
div.globalAttributesContainer input.textBoxes {
    width: 150px;
}
a.addShipment {
    font-weight: bold;
    padding-left: 20px;
    background-image: url(/iapps_images/cm-icon-add.png);
    background-repeat: no-repeat;
    background-position: left top;
}
div.OrderContainer .newOrderLink {
    float: right;
    background-image: url(/iapps_images/cm-icon-add.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    display: inline-block;
    margin-top: 3px;
}
