﻿div.StoreSetupContainer div.firstColumn, div.StoreSetupContainer div.secondColumn, div.StoreSetupContainer div.thirdColumn
{
    float: left;
    width: 280px;
    padding: 5px;
}
div.StoreSetupContainer div.fourthColumn
{
    float: left;
    width: 60px;
}
div.StoreSetupContainer div.firstColumn span.formRow, div.StoreSetupContainer div.secondColumn span.formRow, div.StoreSetupContainer div.thirdColumn span.formRow
{
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}
div.StoreSetupContainer div.secondColumn span.row, div.StoreSetupContainer div.thirdColumn span.row
{
    padding-left:5px;
    width:90%;
}
div.StoreSetupContainer div.firstColumn span.formRow label.formLabel, div.StoreSetupContainer div.secondColumn label.formLabel, div.StoreSetupContainer div.thirdColumn label.formLabel
{
    display: block;
}
div.StoreSetupContainer div.firstColumn span.formRow label.firstLabel
{
    display: inline;
}
div.StoreSetupContainer div.firstColumn span.formColumn
{
    float: left;
    width: 90px;
    margin-right: 3px;
}
div.StoreSetupContainer div.secondColumn .radioButtonContainer, div.StoreSetupContainer div.secondColumn select, div.StoreSetupContainer div.thirdColumn .radioButtonContainer, div.StoreSetupContainer div.thirdColumn select
{
    float: left;
    margin-right:5px;
}
div.StoreSetupContainer div.secondColumn span.customRangeContainer, div.StoreSetupContainer div.thirdColumn span.customRangeContainer
{
    float: left;
    width: 90%;
}
div.StoreSetupContainer div.secondColumn span.customRangeContainer input.textBoxes, div.StoreSetupContainer div.secondColumn span.customRangeContainer img.calenderButton,
div.StoreSetupContainer div.thirdColumn span.customRangeContainer input.textBoxes, div.StoreSetupContainer div.thirdColumn span.customRangeContainer img.calenderButton
{
    float:left;
    margin-right:5px;
}
div.StoreSetupContainer div.fourthColumn
{
    margin-top:47px;
}