﻿/** General Popup Styles START **/
body.popupBody {
    background-image: none;
    margin: 0px;
    padding: 0px;
}

div.popupBoxShadow div.popupboxContainer {
    width: 100%;
}

div.validationControl {
    left: -1000px;
    position: absolute;
    top: -1000px;
    visibility: hidden;
    z-index: 99999;
}

div.UploadFileWrapper form {
    padding: 0;
    margin: 0;
}

div.uploadItems {
    width: 290px;
    margin: 0;
    padding: 0;
}

div.dialogBox div.middleContent div.fileUpload {
    height: 60px;
    margin: 0;
    width: 250px;
}

div.dialogBox div.middleContent div.realFileInputlabel {
    min-height: 15px;
    text-align: center;
    width: 250px;
}

div.dialogBox div.middleContent p.warningPara {
    height: 60px;
    margin-bottom: 5px;
}

div.dialogBox div.middleContent p {
    margin: 0 0 1.1em 0;
    color: #102a5c;
}

div.dialogBox div.middleContent div.formArea {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 1.1em;
    color: #102a5c;
    font-size: 1.1em;
}

div.middleContent {
    background: #fff;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    padding: 10px 0;
}

div.footerContent, div.AssignAttribute div.footerContent, div.AddFacets div.footerContent, div.ManualFeatures div.footerContent, div.PriceSetSku div.footerContent, div.PriceSetDiscount div.footerContent, div.ProductTypeAndSku div.footerContent, div.AttributeSearchResult div.footerContent {
    background-color: #f9f9f9;
    text-align: right;
    border-top: solid 1px #fff;
    padding: 10px 0;
}

    div.footerContent input {
        margin-right: 10px;
    }

div. uploadItems div.dialogBox div.footerContent {
    width: 266px;
}
/** Dark Header popup Styles STARTS **/
div.popupDarkBoxShadow div.popupDarkContainer div.boxHeader {
    padding: 10px 0;
    background-color: #f9f9f9;
    border-bottom: solid 1px #fff;
}

    div.popupDarkBoxShadow div.popupDarkContainer div.boxHeader h3, div.dialogBox h3 {
        float: left;
        font-size: 20px;
        padding: 0 25px;
        color: #35383a;
    }

div.dialogBox h3 {
    padding: 10px 25px;
}

div.popupDarkBoxShadow div.popupDarkContainer div.boxHeader h5 {
    text-align: right;
    display: block;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.0em;
    padding-left: 5px;
    padding-right: 8px;
}

div.popupDarkBoxShadow div.popupDarkContainer div.mainContent {
    width: 100%;
}

div.popupDarkBoxShadow div.popupDarkContainer div.popupBoxContent div.popupGrid {
    padding: 4px;
}
/** Dark Header Popup END **/
/** General Popup styles END **/
div.previewProducts {
    width: 886px;
}

    div.previewProducts div.popupboxContainer {
        width: 890px;
    }

    div.previewProducts div.imageRow img {
        padding: 5px;
    }

        div.previewProducts div.imageRow img.hover {
            padding: 4px;
            border: solid 1px #666;
        }

div.AssignAttribute {
    width: 900px;
}

    div.AssignAttribute h4, div.AddAttribute h4 {
        font-size: 15px;
        margin-bottom: 10px;
    }

    div.AssignAttribute .tree-header {
        border: solid 1px #d2d2d2;
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 8px;
    }

    div.AssignAttribute .tree-container {
        border: solid 1px #d2d2d2;
        border-top: 0;
        min-height: 400px;
    }

    div.AssignAttribute .left-column {
        width: 30%;
        float: left;
        margin: 0 30px 0 5px;
    }

    div.AssignAttribute .right-column {
        width: 65%;
    }

        div.AssignAttribute .right-column .content {
            height: 425px;
            overflow: auto;
            border: solid 1px #d2d2d2;
        }

div.AddAttribute {
    width: 400px;
}

    div.AddAttribute .modal-content {
        padding-left: 0;
        padding-right: 0;
    }

        div.AddAttribute .modal-content .tree-container {
            width: 400px !important;
            height: 400px !important;
            min-height: 400px;
        }

div.MultiAttribute {
    width: 525px;
}

div.AssignAttribute div.leftColumn, div.AddAttribute div.leftColumn {
    float: left;
    width: 209px;
    overflow: hidden;
}

div.AddAttribute div.leftColumn {
    padding: 5px;
}

div.AssignAttribute div.topPaddingContent, div.AddAttribute div.topPaddingContent {
    padding: 5px 0 0 0;
    border-bottom: 0;
    line-height: 5px;
    font-size: 2px;
}

div.AssignAttribute div.tabContent, div.AddAttribute div.tabContent {
    margin-left: 1px;
    border-left: solid 1px #869FC8;
    border-right: solid 1px #869FC8;
    border-bottom: solid 1px #869FC8;
}

div.AssignAttribute div.rightColumn {
    width: 300px;
    float: left;
    margin-left: 5px;
}

    div.AssignAttribute div.rightColumn div.checkboxContainer {
        height: 283px;
        overflow: auto;
    }

div.AddFacets {
    width: 720px;
}

    div.AddFacets span.formRow, div.CaptureAmount span.formRow {
        display: block;
        overflow: hidden;
        padding: 5px 10px 0 10px;
    }

    div.AddFacets label.formLabel, div.CaptureAmount label.formLabel {
        float: left;
        width: 75px;
        text-align: left;
    }

    div.AddFacets div#divTextGrid, div.AddFacets div#divDateTimeGrid {
        margin-left: 6px;
    }

div.ImageUpload {
    width: 375px;
}

    div.ImageUpload div.popupboxContainer {
        width: 354px;
    }

div.browserWindow {
    width: 260px;
}

    div.browserWindow div.popupboxContainer {
        width: 264px;
    }

div.ManualFeatures {
    width: 655px;
}

div.ManualFeaturesWidth {
    width: 945px;
}

div.PriceSetSku {
    width: 945px;
}

div.PriceSetDiscount {
    width: 520px;
}

    div.ManualFeatures div.footerContent, div.PriceSetSku div.footerContent, div.PriceSetDiscount div.footerContent, div.ProductTypeAndSku div.footerContent {
        margin-top: 5px;
    }

div.productSearch {
    width: 806px;
    float: left;
}

    div.productSearch div.popupboxContainer {
        width: 810px !important;
    }

    div.productSearch div.formArea {
        padding-bottom: 0 !important;
    }

    div.productSearch div.footerContent {
        margin-top: 0 !important;
    }

    div.productSearch div.footerContent {
        width: 800px;
    }

    div.productSearch div.popupboxContainer {
        width: 790px;
        float: left;
    }

    div.productSearch div.productSearchBox {
        overflow: hidden;
        float: left;
        margin: 5px 10px 5px 0;
    }

    div.productSearch h3 {
        float: right !important;
        clear: none;
        display: inline;
        margin: 0 10px 0 0 !important;
    }

div.productSearchBox input {
    float: left;
}

    div.productSearchBox input.button {
        margin-left: 10px;
    }

div.AddNavFacets {
    width: 940px;
}

    div.AddNavFacets div.popupboxContainer {
        width: 944px;
    }

    div.AddNavFacets div.leftColumn {
        float: left;
        padding: 5px;
        overflow: hidden;
    }

    div.AddNavFacets div.tabContent {
        border-bottom: 1px solid #869FC8;
        border-right: 1px solid #869FC8;
        border-left: 1px solid #869FC8;
    }

    div.AddNavFacets div.rightColumn {
        float: left;
        width: 700px;
        overflow: hidden;
        padding: 5px 5px 5px 0;
    }

    div.AddNavFacets div.footerContent {
        clear: both;
        text-align: center;
    }

div.AttributeSearchResult {
    width: 440px;
}

div.ProductTypeAndSku {
    width: 935px;
}

    div.ProductTypeAndSku div.leftColumn, div.ProductTypeAndSku div.rightColumn {
        float: left;
        width: 362px;
        padding: 0 5px 0 10px;
    }

        div.ProductTypeAndSku div.leftColumn h4, div.ProductTypeAndSku div.rightColumn h4 {
            font-size: 1.1em;
            font-weight: bold;
            color: #4E6592;
            padding: 5px 0;
        }

        div.ProductTypeAndSku div.leftColumn div.scrollingBox {
            height: 220px;
            border: solid 1px #ccc;
            overflow: auto;
            width: 360px;
        }

    div.ProductTypeAndSku div.centerColumn {
        width: 150px;
        padding: 0 5px;
        float: left;
        text-align: center;
    }

        div.ProductTypeAndSku div.centerColumn div.topRow {
            padding-top: 120px;
        }

        div.ProductTypeAndSku div.centerColumn div.bottomRow {
            padding-top: 130px;
        }

            div.ProductTypeAndSku div.centerColumn div.topRow input, div.ProductTypeAndSku div.centerColumn div.bottomRow input {
                margin-top: 5px;
            }

div.StatusChange {
    width: 385px;
    float: left;
}

div.CustomerSearch {
    width: 687px !important;
}

div.ShippingOptions {
    width: 450px;
}

    div.ShippingOptions div.gridContainer {
        height: 432px;
        overflow: auto;
        padding: 5px 5px 0 5px;
    }

div.ShipOrder {
    width: 780px;
}

    div.ShipOrder span.formRow, div.ViewShipments span.formRow {
        display: block;
        overflow: hidden;
        width: 100%;
        padding: 2px 0;
    }

    div.ShipOrder label.formLabel {
        width: 150px;
        float: left;
    }

    div.ShipOrder div.gridContainer, div.ViewShipments div.gridContainer {
        height: 432px;
        overflow: auto;
    }

    div.ShipOrder div.columns, div.ViewShipments div.columns {
        float: left;
        width: 48%;
        overflow: hidden;
    }

    div.ShipOrder div.PackageContainer {
        border: solid 1px #869FC8;
        border-top: 0;
    }

div.PackageContainer div.PackageHeader {
    background-color: #D1E9FF;
    background-image: url('../../App_Themes/General/images/subheader-bg.gif');
    background-repeat: repeat-x;
    border-top: solid 1px #869FC8;
    overflow: hidden;
    padding: 5px;
}

div.PackageHeader .PackageTitle {
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
}

div.PackageContainer div.PackageContent {
    padding: 5px;
    background-color: #fff;
}

div.ShipOrder .addShipment {
    background-image: url('/iapps_images/cm-icon-add.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    display: inline-block;
}

div.ViewShipments label.formLabel {
    width: 95px;
    float: left;
    font-weight: bold;
}

div.ViewShipments {
    width: 740px;
}

div.TrackOrder, div.SelectShippingOption, div.DefineShippingContainer {
    width: 480px;
}

    div.TrackOrder div.gridContainer, div.SelectShippingOption div.gridContainer {
        padding: 10px 5px 0 5px;
        height: 370px;
        overflow: auto;
    }

        div.SelectShippingOption div.gridContainer strong {
            font-size: 14px;
        }

    div.DefineShippingContainer div.formRow {
        padding: 5px;
    }

    div.DefineShippingContainer label.formLabel {
        display: inline-block;
        width: 100px;
        text-align: right;
        padding-right: 5px;
    }

div.CouponSearch {
    width: 693px;
}

div.CaptureAmount {
    width: 380px;
}

    div.CaptureAmount span.formLabel {
        float: left;
        width: 120px;
    }

div.ApplyPayment {
    width: 690px;
}

    div.ApplyPayment table.payments, div.paymentDetails {
        margin: 5px;
        width: 668px;
        border: solid 1px #869FC8;
    }

        div.ApplyPayment table.payments th, div.paymentDetails div.paymentHeader, div#divCODPayments th {
            padding: 5px;
            background-color: #D1E9FF;
            background-image: url(../../App_Themes/General/images/subheader-bg.gif);
            background-repeat: repeat-x;
        }

div#divCODPayments th {
    border-top: solid 1px #869FC8;
}

div.ApplyPayment table.payments td {
    padding: 5px;
    background-color: #fff;
}

div.ApplyPayment table.payments input.textBoxes {
    text-align: right;
}

div.paymentDetails {
    overflow: hidden;
    background-color: #fff;
    margin-top: 0;
    padding-bottom: 5px;
    width: 668px;
}

    div.paymentDetails div.columns {
        width: 47%;
        overflow: hidden;
        float: left;
    }

    div.paymentDetails span.formRow {
        display: block;
        padding: 2px 5px;
        overflow: hidden;
        width: 100%;
    }

        div.paymentDetails span.formRow label.formLabel {
            float: left;
            width: 75px;
        }

div.licenseWarning div.popupboxContainer {
    width: 400px;
}

div.licenseWarning h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

div.licenseWarning div.warningLeftColumn {
    float: left;
    width: 170px;
    padding-left: 10px;
}

div.licenseWarning div.warningRightColumn {
    width: 200px;
    float: left;
}

    div.licenseWarning div.warningRightColumn p {
        margin-top: 0 !important;
        margin-bottom: 10px;
    }

div.personalizedAttributes {
    width: 735px;
}

div.personalized-attributes-container {
    padding: 5px 5px 0 5px;
    height: 435px;
    width: 714px;
    overflow: auto;
}

div.personalizedAttributes td.attributeName {
    padding-right: 5px !important;
}

div.personalizedAttributes table.attributesTable td {
    padding-bottom: 5px !important;
}

div.personalizedAttributes table.comboBox td, div.personalizedAttributes table.comboBoxHover td {
    padding-bottom: 0 !important;
}

div.popupOverlay {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    top: 0;
    z-index: 900001;
    display: none;
    filter: progid:DXImageTransform.Microsoft.alpha(opacity=40);
    opacity: 0.4;
    width: 840px;
    height: 530px;
}

div.productThumbnails {
    height: 90px;
    overflow-y: hidden;
    overflow-x: auto;
    width: 780px;
    padding: 0 10px;
}

    div.productThumbnails span {
        display: block;
        width: 60px;
        height: 60px;
        border: solid 1px #ccc;
        margin: 2px;
        float: left;
    }

span.thumbnailSizeNote {
    padding-left: 10px;
}

div.ajaxOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    filter: progid:DXImageTransform.Microsoft.alpha(opacity=40);
    opacity: 0.4;
    display: none;
    z-index: 9000000;
}

div.popupFooter {
    margin: 0 0 -3px 0;
    padding: 8px 7px 5px 0;
    background: url("../App_Themes/General/images/bluefooter.gif") repeat-x;
    text-align: center;
}

    div.popupFooter div.leftButtons {
        float: left;
        padding: 0 0 0 7px;
    }

    div.popupFooter div.rightButtons {
        float: right;
    }

div.addeditLogin {
    width: 487px;
}

    div.addeditLogin .form-label {
        width: 150px;
    }

div#dhtmlPopupSpinner {
    position: fixed;
}

img.popupSpinnerIcon {
    margin: 75px 150px;
}

div.realFileInput {
    position: relative;
    text-align: right;
}

    div.realFileInput .fileUpload {
        /*position: relative;
    z-index: 99;
    filter: alpha(opacity:0);
    opacity: 0;
    cursor: pointer;
    margin-right: 20px;*/
    }

div.fakeFile {
    float: left;
    position: absolute;
    top: 0;
    z-index: 1;
}

    div.fakeFile input.textBoxes {
        cursor: pointer;
        margin: 1px 5px 0 0;
    }

    div.fakeFile input.button {
        cursor: pointer;
    }

div.UploadFileWrapper div.dialogBox div.fakeFile {
    left: 20px;
}

div.popupDarkBoxShadow div.popupDarkContainer div.addressPopup {
    width: 400px;
}

div.addressPopup span.formRow {
    display: block;
    padding: 2px 5px;
    overflow: hidden;
    width: 100%;
}

    div.addressPopup span.formRow label.formLabel {
        float: left;
        width: 140px;
    }

div.html-attribute {
    width: 720px;
}

div.edit-address {
    width: 500px;
}

    div.edit-address .form-label {
        min-width: 125px;
    }
