﻿h3
{
    color: #4e6592;
}
div.productContainer
{
    width: 984px;
}
div.productContainer div.boxHeader
{
    width: 975px;
}
div.productContainer div.boxContainer
{
    width: 977px;
}
div.productContainer div.boxContent
{
    width: 954px;
    padding: 5px !important;
    overflow: hidden;
}
div.productContainer .addProductLink
{
    float: right;
    background-image: url('/iapps_images/cm-icon-add.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-top: 3px;
}
div.tabHyperLinks
{
    padding: 3px 10px;
}
div.tabHyperLinks label
{
    padding: 0 3px;
    color: #3c5077;
}
div.productContainer div.tabContent
{
    border: solid 1px #869fc8;
    margin-left: 1px;
    overflow: hidden;
    margin-top: -2px;
}
div.tabContentWithSubTabs
{
    background-image: url(../../App_Themes/General/images/permissions-bg.gif);
    background-repeat: repeat-x;
    background-color: #fff;
    padding: 5px 5px 5px 5px;
}
div.leftColumn
{
    float: left;
    width: 209px;
    overflow: hidden;
}
div.rightColumn
{
    width: 725px;
    margin-left: 5px;
    float: left;
}
div.rightColumn div.topPaddingContent
{
    padding: 7px 5px 5px 4px;
}
div.rightColumn h3
{
    color: #4e6592;
    padding: 10px;
}
div.NavigationFilter
{
    width: 710px;
}
div.NavigationFilter div.footerContent
{
    margin-top: 10px;
}
div.NavigationFilter span.Error, div.NavigationFilter span.Success
{
    display: block;
    padding: 10px;
}
div.NavigationFilter span.Error
{
    color: red;
}
div.NavigationFilter span.Success
{
    color: green;
}
div.NavigationFilter div.formRow, div.facets span.formRow, div.Attributes span.formRow, div.ProductImages span.formRow, div.AddEditSeo span.formRow, div.InventoryShipping span.formRow, div.bundleRow span.formRow, div.ContextMenuWrapper span.formRow
{
    width: 690px;
    margin-bottom: 5px;
    overflow: hidden;
    clear: both;
    padding-left: 5px;
    padding-right: 8px;
    display: block;
}
div.AddEditSeo span.formRow
{
    width: 930px !important;
}
div.NavigationFilter div.firstField
{
    float: left;
    width: 20px;
    text-align: left;
}
div.NavigationFilter div.secondField, div.NavigationFilter div.thirdField, div.NavigationFilter div.fourthField, div.NavigationFilter div.fifthField
{
    display: inline;
    float: left;
    width: 167px;
    text-align: left;
    padding-top: 2px;
}
div.NavigationFilter div.thirdField
{
    width: 127px;
}
div.NavigationFilter div.fourthField
{
    width: 114px;
}
div.NavigationFilter div.fifthField
{
    width: 127px;
}
div.sixthField
{
    float: left;
    padding-top: 2px;
}
div.NavigationFilter div.parenthesisField
{
    float: left;
    width: 35px;
}
div.NavigationFilter div.parenthesisField input
{
    font-size: 10px;
    height: 25px;
    width: 30px;
    padding: 3px 0 7px 0;
    border: 0;
    font-family: Arial;
    font-weight: bold;
    color: #102a5c;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: Transparent;
    background-image: url(../../App_Themes/General/images/btn-go.gif);
}
div.NavigationFilter div.leftSection, div.NavigationFilter div.centerSection
{
    float: left;
    margin: 5px 0;
}
div.NavigationFilter div.centerSection
{
    margin-left: 10px;
}
div.NavigationFilter div.rightSection
{
    float: right;
    margin: 5px 0;
}
div.NavigationFilter a
{
    margin-right: 5px;
    text-decoration: underline;
}
div.facets div.footerContent
{
    width: 700px;
}
div#numberType, div#stringType
{
    margin: 5px 10px;
    border: solid 1px #869fc8;
    overflow: hidden;
    width: 688px;
}
div#numberType div.footerContent
{
    width: 678px;
}
div#stringType
{
    display: none;
    padding-top: 5px;
}
div.subHeader
{
    overflow: hidden;
    width: 100%;
    background-image: url(../../App_Themes/General/images/subheader-bg.gif);
    background-repeat: repeat-x;
    background-position: left top;
    border-bottom: solid 1px #869fc8;
}
div.subHeader h4
{
    float: left;
    padding-left: 5px;
    margin-top: 2px;
    font-size: 11px;
}
div.subHeader div.displayOptions
{
    float: right;
}
div.facets span.formRow, div.facets div.formRow, div.AddEditSeo span.formRow
{
    display: block;
    clear: both;
    overflow: hidden;
    width: 678px;
}
div.facets div.formRow
{
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 5px;
}
div.facets span.formRow label.formLabel
{
    float: left;
    width: 75px;
}
div#stringType label.formLabel
{
    float: left;
    width: 110px;
}
div.facets div.firstField, div.facets div.secondField, div.facets div.thirdField, div.facets div.fourthField
{
    float: left;
    margin-bottom: 3px;
}
div.facets div.firstField
{
    width: 150px;
}
div.facets div.secondField
{
    width: 150px;
}
div.facets div.thirdField
{
    width: 185px;
}
div.facets div.fourthField
{
    width: 185px;
}
div.Attributes
{
    padding-top: 20px;
    width: 710px;
}
div.Attributes span.formRow
{
    display: block;
}
div.Attributes span.formRow label.formLabels
{
    float: left;
    width: 50px;
}
div.Attributes div.footerContent
{
    width: 700px;
}
div.gridContainer
{
    padding: 5px;
}
div.ProductDetails h3, div.Promotions h3
{
    padding: 5px 5px 5px 5px;
}
div.ProductDetails div.productLinks
{
    padding: 5px 5px 10px 10px;
}
div.ProductDetails div.productLinks label.formLabel
{
    padding: 0 5px;
}
div.ProductDetails div.SearchContainer, div.Promotions div.SearchContainer
{
    padding: 0 5px 10px 0;
    overflow: hidden;
    width: 935px;
}
div.ProductDetails div.SearchContainer div.searchBox
{
    float: left;
}
div.ProductDetails div.searchBox input.textBoxes
{
    width: 200px;
    float: left;
    margin-top: 2px;
}
div.ProductDetails div.searchBox input.arrowButton0, div.ProductDetails div.searchBox input.arrowButton0Hover
{
    margin-left: 5px;
}
div.ProductImages div.imagesColumn
{
    width: 225px;
    padding: 5px;
    border: solid 1px #869fc8;
    float: left;
    overflow: hidden;
}
div.ProductImages div.imagesDetailColumn
{
    padding: 10px;
    border: solid 1px #869fc8;
    float: left;
    overflow: hidden;
    margin-left: 10px;
    width: 670px;
}
div.imagesDetailColumn div.imageUpload
{
    width: 410px;
    float: left;
}
div.imagesDetailColumn div.imageUpload a
{
    font-weight: bold;
    font-size: 12px;
}
div.imagesDetailColumn div.imageUpload img
{
    display: block;
    margin-bottom: 25px;
}
div.ProductImages div.imageDetails
{
    float: left;
    width: 260px;
}
div.ProductImages span.formRow
{
    width: 240px;
    display: block;
    padding-bottom: 10px;
}
div.ProductImages span.formRow label.formLabel
{
    float: left;
    width: 75px;
}
div.ProductImages span.buttonRow
{
    padding-left: 75px;
    width: 207px;
}
span.buttonRow input
{
    margin-left: 10px;
}
div.AddEditProduct
{
    width: 951px;
    overflow: hidden;
}
div.AddEditProduct div.firstColumn, div.AddEditProduct div.secondColumn, div.AddEditProduct div.thirdColumn
{
    padding: 5px;
    width: 295px;
    float: left;
    margin-left: 5px;
}
div.AddEditProduct div.secondColumn select, div.AddEditProduct div.thirdColumn select
{
    width: 190px;
}
div.AddEditProduct div.firstColumn h4, div.AddEditProduct div.secondColumn h4, div.AddEditProduct div.thirdColumn h4, div.AddBundle div.columns h4, div.bundleRow div.firstColumn h4, div.bundleRow div.secondColumn h4, div.bundleRow div.thirdColumn h4, div.bundleRow div.fourthColumn h4
{
    font-size: 11px;
    color: #000;
}
div.AddEditProduct div.sectionHeader
{
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}
div.AddEditProduct div.sectionHeader h4
{
    float: left;
}
div.AddEditProduct div.sectionHeader label
{
    float: left;
    padding: 0 5px;
}
div.AddEditProduct span.formRow
{
    display: block;
    overflow: hidden;
    padding: 3px 0;
    clear: both;
}
div.AddEditProduct span.formRow label.formLabel
{
    float: left;
    width: 80px;
}
div.productInfoColumn
{
    float: left;
    width: 735px;
    margin-left: 5px;
}
div.productImageContainer
{
    float: right;
    width: 200px;
    margin-right: 5px;
}
div.productInfoColumn label.formLabel
{
    width: 95px !important;
    text-align: right;
    padding-right: 5px;
}
div.productInfoColumn span.formRow table.comboBox
{
    display: inline-block;
}
div.AddEditProduct div.secondColumn span.formRow label.formLabel
{
    width: 80px;
}
div.greyBorderBox
{
    border: solid 1px #ccc;
    padding: 5px 5px 5px 0;
    margin-top: 4px;
}
div.greyBorderBox h4
{
    padding-left: 4px;
}
div.AddEditProduct div.scrollingBox
{
    height: 268px;
    overflow: auto;
    padding-left: 5px;
}
div.AddEditProduct div.scrollingBox label.formLabel
{
    width: 75px !important;
}
div.AddEditProduct div.attributesBox input
{
    width: 170px;
}
div.AddEditProduct div.attributesBox input.textBoxes
{
    width: 190px !important;
}
div.ProductDetails div.footerContent
{
    margin-top: 10px;
}
div.SKULayer
{
    width: 300px;
    height: 100px;
    border: solid 1px #ccc;
    background-color: #fff !important;
    display: none;
    position: absolute;
    z-index: 99999;
    overflow: auto;
}
span.SkuSelectorContainer a.expandLayer
{
    background-image: url(../../App_Themes/General/images/snap-maximize.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}
span.SkuSelectorContainer a.collapseLayer
{
    background-image: url(../../App_Themes/General/images/snap-minimize.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}
span.SkuSelectorContainer a.expandLayer img, span.SkuSelectorContainer a.collapseLayer img
{
    border: 0;
}
div.AddEditSeo
{
    margin-top: 15px;
}
div.AddEditSeo label.formLabel
{
    width: 150px;
    float: left;
}
div.ProductNavCategory div.SearchContainer
{
    padding: 5px;
}
div.InventoryShipping
{
    padding: 5px 5px 5px 0;
    overflow: hidden;
}
div.InventoryShipping label.formLabel, div.InventoryShipping label.formLabelSku
{
    float: left;
    margin-right: 10px;
}
div.InventoryShipping label.formLabel
{
    width: 125px;
}
span.SelectedSKUs
{
    font-weight: bold;
}
div.Promotions div.SearchContainer
{
    padding-left: 5px;
    padding-right: 5px;
    width: 936px;
}
div.AddBundle div.bundleRow
{
    margin-left: 5px;
    width: 100%;
    overflow: hidden;
}
div.AddBundle div.columns, div.AddBundle div.bundleInfo, div.AddBundle div.bundleItemsInfo
{
    width: 465px;
    float: left;
    overflow: hidden;
    margin-left: 5px;
}
div.AddBundle div.scrollingBox
{
    height: 300px;
    border: solid 1px #a1a1a1;
    overflow: auto;
    padding: 5px;
}
div.AddBundle div.bundleInfo
{
    width: 410px;
}
div.AddBundle div.bundleItemsInfo
{
    width: 510px;
    margin-left: 10px;
}
div.bundleRow span.formRow
{
    width: 380px;
}
div.bundleRow div.columns span.formRow label.formLabel
{
    float: left;
    width: 135px;
}
div.bundleRow div.firstColumn, div.bundleRow div.secondColumn, div.bundleRow div.thirdColumn, div.bundleRow div.fourthColumn
{
    float: left;
    width: 226px;
    margin: 15px 0 0 5px;
    overflow: hidden;
}
div.bundleRow div.firstColumn
{
    margin-left: 1px;
}
div.bundleRow div.sectionHeader
{
    width: 100%;
    overflow: hidden;
}
div.bundleRow div.sectionHeader h4, div.bundleRow div.sectionHeader label, div.bundleRow div.sectionHeader a
{
    float: left;
    padding-right: 5px;
}
div.bundleRow div.firstColumn span.formRow
{
    width: 200px;
}
div.bundleRow div.firstColumn label.formLabel
{
    width: 70px;
    float: left;
}
div.bundleRow div.firstColumn select
{
    width: 129px;
}
div.bundleRow div.firstColumn input
{
    width: 124px;
}
div.BundleInventory div.leftColumn
{
    width: 630px;
}
div.BundleInventory div.leftColumn div.topPaddingContent, div.BundleInventory div.rightColumn div.topPaddingContent
{
    line-height: 0px;
    font-size: 0px;
    padding: 5px 0 0 0;
}
div.BundleInventory div.leftColumn div.tabContent
{
    width: 617px;
    padding: 5px;
}
div.BundleInventory div.rightColumn
{
    width: 300px;
}
div.BundleInventory div.rightColumn div.tabContent
{
    width: 297px;
}
div.paddingBox
{
    padding: 5px;
    overflow: hidden;
    width: 941px;
}
div#SKUContainer, div#GlobalContainer, div.bundleDescription
{
    margin-left: 10px;
    overflow: hidden;
    width: 933px;
}
div.snapHeader
{
    border: solid 1px #879bb9;
    overflow: hidden;
    background-image: url(../App_Themes/General/images/snap-header-bg.gif);
    background-repeat: repeat-x;
    background-color: #fff;
    background-position: left top;
    padding: 5px 8px;
    color: #000;
    width: 915px;
}
div.snapHeader h4
{
    float: left;
    font-size: 11px;
    color: #000;
}
div.snapHeader img.snapToggle
{
    float: right;
}
div.snapHeader div.snapUtility
{
    float: right;
}
div.snapHeader div.snapUtility a:visited, div.snapHeader div.snapUtility a:active, div.snapHeader div.snapUtility a:hover, div.snapHeader div.snapUtility a
{
    display: inline-block;
    background-image: url('/iapps_images/cm-icon-add.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding: 5px 20px;
    float: left;
}
div.snapHeader div.snapUtility img
{
    float: right !important;
}
div.snapContent
{
    border: solid 1px #879bb9;
    border-top: 0;
    overflow: hidden;
    padding-bottom: 10px;
    width: 931px;
}
div.snapContent div.firstColumn label.formLabel
{
    width: 95px;
}
div#GlobalContainer div.snapHeader
{
    border-top: 0;
}
div.NavDetails, div.ProductTypeDetail
{
    width: 710px;
    overflow: hidden;
    padding-top: 10px;
}
div.NavDetails span.formRow, div.ProductTypeDetail span.formRow
{
    display: block;
    width: 690px;
    padding: 2px 10px;
    clear: both;
}
div.NavDetails label.formLabel, div.ProductTypeDetail label.formLabel
{
    float: left;
    width: 100px;
}
div.ProductTypeDetail label.formLabel
{
    width: 135px;
}
div.NavDetails div.footerContent, div.ProductTypeDetail div.footerContent
{
    margin-top: 10px;
}
div.GlobalContainer
{
    margin-top: 10px;
    border-top: solid 1px #879bb9;
}
h3.SectionHeading
{
    margin-bottom: 10px;
}
table.attributesTable td.attributeName
{
    height: 27px;
    vertical-align: top;
}
table.attributesTable td.attributeName, table.attributesTable td.attributeDelete
{
    padding-top: 3px;
}
div.AddBundle div.GlobalContainer
{
    margin-top: 0;
    border-top: 0;
}
div.AddBundle div.bundleDescription
{
    margin-top: 10px;
}
div.AddBundle div.descriptionColumns
{
    float: left;
    width: 450px;
    margin: 10px 0 10px 10px;
}
div.AddBundle div.descriptionColumns span.formRow
{
    display: block;
    overflow: hidden;
}
div.AddBundle div.descriptionColumns label.formLabel
{
    float: left;
    width: 95px;
}
a.addImage
{
    font-weight: bold;
    padding-left: 20px;
    background-image: url(/iapps_images/cm-icon-add.png);
    background-repeat: no-repeat;
    background-position: left top;
}
div.filterValue
{
    float: left;
}
div.filterValue input.textBoxes
{
    width: 120px;
    margin-top: 2px;
}
div.filterLookup
{
    float: left;
    margin-left: 2px;
}
table.radioButtonList input
{
    width: 20px !important;
}
div.ProductDetails div.fristSearchColumn, div.ProductDetails div.secondSearchColumn, div.ProductDetails div.thirdSearchColumn
{
    float: left;
    width: 180px;
}
div.ProductDetails div.thirdSearchColumn
{
    width: 200px;
}
div.ProductDetails div.fourthSearchColumn
{
    float: left;
    width: 50px;
    margin-top: 15px;
}
div.ProductDetails div.fourthSearchColumn input
{
    margin-bottom:5px;
}
div.ProductDetails div.fristSearchColumn label.formLabel, div.ProductDetails div.secondSearchColumn label.formLabel, div.ProductDetails div.thirdSearchColumn label.formLabel
{
    width: 160px;
    display: block;
}
div.ProductDetails div.searchBox
{
    padding-left: 5px;
}
div.ProductDetails div.productView
{
    float: right;
    margin-top: 15px;
}
div.productRelationSection
{
    padding: 0 10px 10px 5px;
}
div.productRelationSection p
{
    padding-bottom: 5px;
}
div.productRelationSection span.formRow
{
    display: block;
}
div.productRelationSection label.formLabel, div.productRelationSection select
{
    float: left;
    margin-right: 5px;
}
div.relatedProductsUtilitySection
{
    padding: 0 5px 10px 5px;
}
div.relatedProductsUtilitySection span.formRow, div.relatedProductsUtilitySection label.formLabel, div.relatedProductsUtilitySection select
{
    float: left;
    margin-right: 5px;
}
div.relatedProductsUtilitySection .sortOrder
{
    float: right;
}
div.contextMenuContainer div.contextMenuContent
{
    border: solid 1px #aaaaaa;
    background-image: url(../App_Themes/General/images/small-gradient-bg.gif);
    background-color: #fff;
    background-repeat: repeat-y;
    background-position: left top;
    padding: 5px;
}
div.contextMenuContainer div.contextMenuContent label.labels
{
    display: block;
    clear: both;
    padding: 2px 0 2px 0;
}
div.contextMenuContainer div.contextMenuContent label.lastRow
{
    text-align: right;
    padding: 10px 10px 5px 0;
}
div.contextMenuContainer div.contextMenuContent label.labels input.textBoxes
{
    width: 195px;
}
div.contextMenuContainer div.contextMenuContent label.labels select
{
    width: 200px;
}
div.contextMenuContainer div.contextMenuContent label.lastRow input.button
{
    margin-left: 10px;
}
div.AttributesContainer
{
    margin: 0 !important;
    padding-left: 5px;
    padding-bottom: 5px;
}
