﻿/**Styles for the Date Range Popup Starts **/
div.dateRangeSelector
{
    width: 210px;
    overflow: hidden;
    border: solid 1px #8193b9;
    background-image: url(../App_Themes/General/images/date-range-bg.gif);
    background-position: left top;
    background-repeat: repeat-y;
    background-color: #e4f1ff;
    padding: 3px 10px 10px 10px;
    position: absolute;
    display: none;
    z-index: 999;
    color: #666;
}

div.dateRangeSelector span.formRow
{
    float: left;
    width: 100%;
}
div.dateRangeSelector div.formRow
{
    margin-top: 7px;
}

div.dateRangeSelector input.textBoxes, div.dateRangeSelector select, div.dateRangeSelector img
{
    float: left;
    margin-top: 7px;
}

div.dateRangeSelector img
{
    float: left;
    margin-left: 8px;
}
/**Styles for the Date Range Popup Ends **/
div.ReportContainer
{
    width: 984px;
}
div.ReportContainer div.boxHeader
{
    width: 975px;
}
div.ReportContainer div.boxContainer
{
    width: 977px;
}
div.ReportContainer div.boxContent
{
    width: 954px;
    padding: 5px !important;
    overflow: hidden;
}
div.ReportContainer h5
{
    padding: 5px;
    font-size: 1.3em;
    color: #5d7aa3;
}
div.ReportDetails
{
    border: solid 1px #8EA5CE;
    border-top: 0;
    margin-left: 1px;
    overflow: hidden;
}
div.tabHyperLinks
{
    padding: 3px 10px;
}
div.tabHyperLinks label
{
    padding: 0 3px;
    color: #3c5077;
}
div.ReportDetails div.gridContainer
{
    padding: 5px;
}
div.ReportContainer div.boxHeader h4
{
    float: left;
}
div.rightHeaderSection
{
    float: right;
    padding-top: 7px;
    width:435px;
}
div.rightHeaderSection h6
{
    float: left;
    font-size: 1.1em;
    padding-right: 10px;
}
div.rightHeaderSection span, div.rightHeaderSection label
{
    padding: 0 5px 0 0;
}
div.rightHeaderSection label.rangeSelector, div.rightHeaderSection label.rangeSelectorHover
{
    background-image: url(../App_Themes/General/images/range-picker-collapsed.gif);
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 10px;
    padding-right: 10px;
}
div.rightHeaderSection label.rangeSelectorHover
{
    background-image: url(../App_Themes/General/images/range-picker-expand.gif);
}
div.rightHeaderSection a.exportToExcel
{
    background-image:url(../App_Themes/General/images/excel-icon.gif);
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:20px;
    color:#fff;
    float:right;
}
div.rightHeaderSection label.separator
{
    float:left;
    margin:0 5px;
    padding:0;
}
div.rightHeaderSection div.reportRangeContainer
{
    float:right;
}
div.orderStatisticsContainer
{
    padding: 5px;
    width: 941px;
    overflow: hidden;
}
div.orderStatisticsContainer span.formRow
{
    display: block;
    padding: 3px 0;
    overflow: hidden;
    width: 100%;
}
div.orderStatisticsContainer label.formLabel
{
    float: left;
    padding-right: 5px;
    width: 165px;
}
div.orderStatisticsContainer span.formValue
{
    font-weight: bold;
}
div.reportFilterSection
{
    padding:5px;
}
div.firstFilterColumn
{
    float:left;
    width:200px;
}
div.secondFilterColumn
{
    float:left;
    width:200px;
}
div.thirdFilterColumn
{
    float:left;
    width:200px;
    padding-top:10px;
}