﻿div.reviewsContainer
{
    width: 984px;
}
div.reviewsContainer div.boxHeader
{
    width: 975px;
}
div.reviewsContainer div.boxContainer
{
    width: 977px;
}
div.reviewsContainer div.boxContent
{
    width: 954px;
    padding: 5px !important;
    overflow: hidden;
}
div.reviewsContainer div.tabContentWithSubTabs
{
    padding: 5px;
    background: #FFFFFF url("../../App_Themes/General/images/permissions-bg.gif") repeat-x;
}
div.reviewsContainer div.tabContentWithSubTabs h3
{
    color: #4E6592;
    font-size: 1.3em;
}
div.reviewsContainer div.tabContentWithSubTabs h3.sectionHeading
{
    margin: 0 0 10px 0;
}
div.reviewsContainer div.leftColumn
{
    float: left;
    width: 206px;
    border: solid 1px #869FC8;
    overflow: hidden;
}
div.reviewsContainer div.rightColumn
{
    float: left;
    width: 726px;
    margin: 0 0 0 5px;
    border: solid 1px #869FC8;
    overflow: hidden;
}
div.reviewsContainer div.gridContainer
{
    padding: 5px 0 0 0;
}
div.reviewsContainer div.rightColumn div.gridContainer
{
    padding: 5px;
}
div.commentAuthor span.postedBy
{
    font-weight: bold;
}
div.commentDetails
{
    padding: 5px 0;
    margin: 5px 0;
    border: solid 1px #EAE9E1;
    border-left: none;
    border-right: none;
}
div.commentActions a
{
    color: #0065CC !important;
    text-decoration: none !important;
}
div.commentActions a:hover
{
    text-decoration: underline !important;
}
div.commentActions a.approve
{
    color: #85A446 !important;
}
div.commentActions a.unapprove
{
    color: #85A446 !important;
}
div.commentActions a.delete
{
    color: #FF0000 !important;
}
div#commentsPreview
{
    position: absolute;
    z-index: 9000001;
    width: 510px;
}
div#commentsPreview div.popupBoxShadow
{
    padding-left: 6px;
}
div#commentsPreview div.commentsPreviewText
{
    width: 450px;
    height: 300px;
    margin: 10px 10px 10px 5px;
    padding: 10px;
    overflow: auto;
    border: 1px solid #10A9C5;
    background: #FFFFFF;
}
div#editComments
{
    position: absolute;
    z-index: 9000001;
    width: 485px;
}
div#editComments div.popupBoxShadow
{
    padding-left: 6px;
}
div#editComments div.middleContent
{
    padding: 10px 5px;
}
div#editComments label
{
    display: block;
    margin: 0 0 5px 0;
    font-weight: bold;
}
div#editComments input#txtTitle
{
    width: 446px;
    margin: 0 0 10px 0;
    border: solid 1px #859EC7 #D4D9E1 #D4D9E1 #859EC7;
    font-family: "Trebuchet MS";
    font-size: 1em;
    color: #666666;
}
div#editComments textarea#txtComments
{
    width: 450px;
    height: 300px;
    margin: 0;
    overflow: auto;
    background: #FFFFFF;
}
div.bulkActions
{
    text-align: right;
    margin: 5px 0 0 0;
}
div.rightColumn div.bulkActions
{
    margin: 5px 5px 5px 0;
}
div.bulkActions select#ddlAction
{
    /*float: left;*/
    height: 24px;
    margin: 0 10px 0 0;
}
div.bulkActions input.button
{
    /*float: left;*/
}
div.instructionsText
{
    margin: 5px 0;
}
div.rightColumn div.instructionsText
{
    margin: 5px;
}
div.commentsFilter
{
    padding: 5px 0;
    overflow: hidden;
}
div.commentsFilter label
{
    display: block;
}
div.commentsFilter div.keywordFilter, div.commentsFilter div.dateFilter, div.commentsFilter div.productsFilter, div.commentsFilter div.statusFilter, div.commentsFilter div.filterButtons
{
    float: left;
    margin: 0 40px 0 0;
}
div.commentsFilter div.keywordFilter input
{
    width: 130px;
}
div.commentsFilter div.dateFilter span.formRow
{
    float: left;
    clear: both;
    margin: 0 0 10px 0;
}
div.commentsFilter div.dateFilter span.formRow span.radioButtonContainer
{
    float: left;
    margin: 0 5px 0 0;
}
div.commentsFilter div.dateFilter span.formRow span.customRangeContainer
{
    float: left;
}
div.commentsFilter div.dateFilter span.formRow span.customRangeContainer input.textBoxes
{
    float: left;
    margin: 0 2px 0 0;
}
div.commentsFilter div.dateFilter span.formRow span.customRangeContainer img.calenderButton
{
    float: left;
    margin: 0 5px 0 0;
}
div.commentsFilter div.productsFilter a.selectProducts
{
    display: block;
    margin: 0 0 5px 0;
}
div.commentsFilter div.productsFilter div.productsFilterList
{
    width: 188px;
    margin: 5px 0 0 0;
}
div.commentsFilter div.productsFilter div.productsFilterList ul
{
    margin: 5px 0 0 13px;
}
div.commentsFilter div.productsFilter div.productsFilterList ul li
{
    width: 175px;
}
div.commentsFilter div.filterButtons
{
    float: right;
    margin: 0;
    padding: 14px 0 0 0;
}
