﻿div.StoreDetails
{
    background-color: #FFFFFF !important;
    background-image: url(../../App_Themes/General/images/permissions-bg.gif) !important;
    background-repeat: repeat-x;
    padding: 5px;
}
div.StoreDetails h5
{
    padding: 5px;
    font-size: 1.3em;
    color: #5d7aa3;
}
div.leftColumn
{
    float: left;
    width: 209px;
    overflow: hidden;
}
div.rightColumn
{
    width: 725px;
    margin-left: 5px;
    float: left;
}
div.rightColumn div.topPaddingContent
{
    padding: 7px 5px 5px 4px;
}
div.rightColumn h3
{
    font-size: 1.3em;
    color: #4e6592;
    padding: 10px;
}
div.leftColumn div.tabContent
{
    margin-left: 1px;
    border: solid 1px #8EA5CE;
}
div.rightColumn div.tabContent
{
    border: solid 1px #8EA5CE;
}
div.StoreDetails span.formRow
{
    display:block;
    width:100%;
    padding:2px 0;
}
div.StoreDetails span.formRow label.formLabel
{
    float:left;
    width:100px;
    padding-left:5px;
}
div.StoreDetails div.footerContent
{
    background-image: url(../../App_Themes/General/images/bluefooter.gif);
    background-repeat: repeat-x;
    background-color: #d1eaff;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
    margin-top: 10px;
}