﻿div.StoreSetupContainer
{
    width: 984px;
}
div.StoreSetupContainer div.boxHeader
{
    width: 975px;
}
div.StoreSetupContainer div.boxContainer
{
    width: 977px;
}
div.StoreSetupContainer div.boxContent
{
    width: 954px;
    padding: 5px !important;
    overflow: hidden;
}
h5
{
    font-size: 1.2em;
    color: #4e6592;
    padding: 5px 5px 5px 5px;
}
div.tabHyperLinks
{
    padding: 3px 10px;
}
div.tabHyperLinks label
{
    padding: 0 3px;
    color: #3c5077;
}
div.StoreSetupContainer div.tabContent
{
    border: solid 1px #869fc8;
    margin-left: 1px;
    overflow: hidden;
    margin-top: -2px;
}
div.tabContentWithSubTabs
{
    background-image: url(../../App_Themes/General/images/permissions-bg.gif);
    background-repeat: repeat-x;
    background-color: #fff;
    padding: 5px 5px 5px 5px;
}
div.gridContainer
{
    padding: 5px;
}
div.StoreDetails div.productLinks
{
    padding: 5px 5px 10px 10px;
}
div.StoreDetails div.SearchContainer
{
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    width: 936px;
}
div.columns
{
    margin: 5px 0 5px 5px;
    overflow: hidden;
    float: left;
}
div.firstColumn
{
    width: 60%;
}
div.secondColumn
{
    width: 35%;
}
div.columns span.formRow
{
    display: block;
    overflow: hidden;
    padding: 2px 0;
    width: 100%;
    clear: both;
}
div.columns span.formRow label.formLabel
{
    float: left;
    width: 120px;
}
div.columns span.formRow .itemSpacing
{
    float: left;
    margin-right: 5px;
}
span.calendarRow input.textBoxes
{
    float: left;
    margin-top: 1px;
}
span.calendarRow img.buttonCalendar
{
    float: left;
    margin-left: 5px;
    cursor: pointer;
}
div.footerContent
{
    /*background-image: url(../../App_Themes/General/images/bluefooter.gif);
    background-repeat: repeat-x;
    background-color: #d1eaff;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left:10px;
    margin-top: 10px;*/
    background: #f9f9f9;
    text-align: right;
    padding: 10px 0;
}
div.footerContent input
{
    margin-right: 10px;
}
div.footerContent .addMore
{
    float:left;
    background-image: url(/iapps_images/cm-icon-add.png);
    background-repeat:no-repeat;
    background-position:left top;
    padding:0px 18px;
}
div.footerContent input
{
    margin-left: 10px;
}
div.formRow
{
    width: 99%;
    padding: 5px;
    overflow: hidden;
}
div.formRow div.columns
{
    margin:0;
}
div.formRow span.formColumn
{
    float: left;
}
div.formRow span.formColumn a
{
    text-decoration: underline;
    font-weight:bold;
    font-size:1.1em;
}
div.formRow label.formLabel
{
    float: left;
    padding: 0 10px;
}
div.formRow span.formRow
{
    padding: 0;
}
div.formRow div.columns span.formRow input.textBoxes, div.formRow div.columns span.formRow img
{
    float:left;
    margin-right:5px;
}
div.formRow span.formColumn input.arrowButton0, div.formRow span.formColumn input.arrowButton0Hover
{
    margin-top:17px;
}
div.NotesContainer span.formRow
{
    padding-left:5px;
    display:block;
    overflow:hidden;
    width:99%;
}
div.NotesContainer span.formRow label.formLabel
{
    float:left;
    width:75px;
}