﻿div.userContainer
{
    width: 984px;
}
div.userContainer div.boxHeader
{
    width: 975px;
}
div.userContainer div.boxContainer
{
    width: 977px;
}
div.userContainer div.boxContent
{
    width: 954px;
    padding: 5px !important;
    overflow: hidden;
}
div.userContainer div.tabContent
{
    border: solid 1px #869fc8;
    margin-left: 1px;
    overflow: hidden;
    margin-top: -2px;
}
div.userDetails h3
{
    font-size: 1.3em;
    color: #4e6592;
    padding: 5px 5px 5px 5px;
}
div.userDetails div.formColumn
{
    float: left;
    width: 465px;
    overflow: hidden;
    padding: 5px;
}
div.userDetails div.formColumn span.formRow
{
    display: block;
    width: 100%;
    padding: 0 0 10px 10px;
}
div.userDetails div.formColumn label.formLabel
{
    float: left;
    width: 150px;
    clear: both;
    padding-right: 10px;
}
span.calendarRow input.textBoxes
{
    float: left;
    margin-top: 1px;
}
span.calendarRow img.buttonCalendar
{
    float: left;
    margin-left: 5px;
    cursor: pointer;
}
div.userDetails div.userGroupSection
{
    display: table;
    margin: 0 5px;
    width: 970px;
    padding-bottom: 5px;
}
div.userGroupSection div.headerContainer
{
    display: table;
    font-size: 1em;
    padding: 3px 5px 0;
    width: 970px;
}
div.userGroupSection div.headerContainer h5
{
    border: 0 none;
    padding: 0 0 0 2px;
    width: auto;
    float: left;
    font-size: 1.1em;
}
div.userGroupSection div.listBoxContainer
{
    float: left;
    padding-left: 5px;
    width: 970px;
}
div.userGroupSection div.listBoxContainer div.columns
{
    width: 292px;
    float: left;
}
div.userGroupSection div.listBoxContainer div.imageColumns
{
    padding: 60px 15px 0 15px;
    float: left;
}
div.userGroupSection div.listBoxContainer div.columns label span
{
    font-weight: bold;
    padding: 3px 0;
}
div.userGroupSection div.listBoxContainer div.columns select
{
    float: left;
    width: 292px;
}
div.userGroupSection div.listBoxContainer div.columns strong
{
    color: #C96600;
}
div.userDetails div.footerContent
{
    background: #f9f9f9;
    text-align: right;
    margin: 10px 0 0 0;
    padding: 10px 0;
}
div.userDetails div.footerContent input
{
    margin-right: 10px;
}
div.userDetails div.userListing
{
    float: left;
    width: 994px;
}
div.userListing div.gridContainer
{
    border: 1px solid #d2d2d2;
    float: left;
    margin-left: 4px;
    margin-top: -1px;
    padding: 0 5px 5px 5px;
    width: 974px;
}
div.userDetails div.sectionHeader
{
    padding: 5px 0 5px 11px;
}
div.userDetails div.userListing h5
{
    font-size: 1.1em;
    float: left;
}
div.userListing div.searchContainer
{
    height: 2.8em;
    padding-top: 10px;
    width: 929px;
}
div.userListing div.searchContainer input.textBoxes
{
    float: left;
    margin-left: 6px;
    width: 270px;
}
div.userListing div.pagingInfo
{
    /*color: #3E5179;*/
    float: right;
}
div.selectedUser
{
    border: 1px solid #d2d2d2;
    overflow: hidden;
    margin-top:5px;
}
div.selectedUser div.sectionHeader
{
    background-color: #f9f9f9;
    background-image: none;
    width: 918px;
}
div.selectedUser div.sectionHeader h5
{
    float: none;
}
div.selectedUser div.formColumn
{
    width: 430px;
}
div.selectedUser div.boxSubContent
{
    overflow: hidden;
    width: 100%;
    padding-bottom: 5px;
}
div.selectedUser div.userGroupSection
{
    width: 915px;
    padding-bottom:0;
}
div.selectedUser div.userGroupSection div.listBoxContainer div.columns
{
    width: 283px;
}
div.selectedUser div.userGroupSection div.listBoxContainer div.columns select
{
    width: 283px;
}
div.userListing div.userGroupSection div.buttonRow
{
    background-color: #f9f9f9;
    display: table;
    padding: 6px 0 5px 0;
    text-align: right;
    margin-top:10px;
    width: 967px;
}
div.userListing div.userGroupSection div.buttonRow input
{
    margin-right:10px;
}
div.currentPermissionsPopup
{
    background-color: #FFFFFF;
    border: 1px solid #d2d2d2;
    display: none;
    position: absolute;
    width: 300px;
    z-index: 999;
    padding-bottom: 10px;
}
div.currentPermissionsPopup h5
{
    background-color: #f9f9f9;
    display: block;
    float: none;
    margin: 0;
    padding: 3px 10px;
    width:280px;
}
div.currentPermissionsPopup ul
{
    clear:both;
    list-style-type:none;
    margin: 10px;
}
div.currentPermissionsPopup li
{
    margin: 3px 0;
}
div.currentPermissionsPopup div.actionRow
{
    text-align: right;
    padding-right:10px;
}
div.userDetails .tabs
{
    margin-top: 20px;
}
div.userDetails .tab-content
{
    border: solid 1px #d2d2d2;
    background: #fff;
    position: relative;
    top: -1px;
    padding: 20px 0 0 0;
}