﻿@model Bridgeline.iAPPS.Admin.Social.MVCWeb.Models.NotificationModel

@{
    Layout = "~/Views/Shared/_iAPPSPopupLayout.cshtml";
}
@section PopupHeading {
    @Bridgeline.iAPPS.Resources.GUIStrings.MessageNotifications
}

@section PopupFooter {
    <input type="button" name="btnClose" class="button cancel-button" value="@Bridgeline.iAPPS.Resources.GUIStrings.Close" />
}

<div class="message-notifications">
    <p><strong>@Bridgeline.iAPPS.Resources.GUIStrings.NotificationsForUser: @Model.user.User.UserName (@Model.user.User.Email)</strong></p>
    <div class="comment-container">
        @if (Model.socialNotifications != null && Model.socialNotifications.Count > 0)
        {
            foreach (var item in Model.socialNotifications)
            {
            <p>@item.message</p>
            <div>
                <a href="javascript://" onclick="NavigateToConversation(@item.broadcast_id,@item.engagement_id)">@Bridgeline.iAPPS.Resources.GUIStrings.View</a>
                <a href="javascript://" onclick="Dismiss(@item.id)">@Bridgeline.iAPPS.Resources.GUIStrings.Dismiss</a>
            </div>
            }
        }
        else
        {
            <p>@Bridgeline.iAPPS.Resources.GUIStrings.NoRecordsFound</p>
        }
        
    </div>
</div>

<script type="text/javascript">
    function NavigateToConversation(broadcastId, engagementId) {
        var url = "/SocialAdmin/Conversation?broadcastid=" + broadcastId + "&engagementid=" + engagementId;
        CanceliAppsAdminPopup(false);
        window.parent.location.href = url;
    }

    function Dismiss(notificationId) {
        if (window.confirm("Are you sure you want to dismiss the notification?")) {
            ShowiAppsLoadingPanel();
            $.post("/socialadmin/SocialNotification/Dismiss?id=" + notificationId, function (data) {
                if (typeof (data.success) != 'undefined' && !data.success) {
                    alert(data.message);
                    CanceliAppsAdminPopup(false);
                    CloseiAppsLoadingPanel();
                }
                else {
                    alert(data);
                    CanceliAppsAdminPopup(false);
                    CloseiAppsLoadingPanel();
                }
            });
        }
    }
</script>
