<%@ Page Language="C#" AutoEventWireup="true" Inherits="Bridgeline.iAPPS.Admin.CMS.Web.MultiFileUploadProcessor" 
    EnableViewState="false" EnableViewStateMac="false" ValidateRequest="false" Codebehind="MultiFileUploadProcessor.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title><asp:localize ID="Localize1" runat="server" text="<%$ Resources:GUIStrings, UntitledPage %>"/></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
