<%@ Master Language="C#" AutoEventWireup="true" Inherits="MainMaster" CodeBehind="MainMaster.master.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="shortcut icon" href="/AnalyzerAdmin/favicon.ico" />
    <script type="text/javascript">
        $(function () {
            $(".product-nav .global-navigation").iAppsMegaMenu({ useToken: true, delay: 500 });
            $(".site-utility .global-navigation").iAppsMegaMenu();
        });
    </script>
    <asp:PlaceHolder ID="phScripts" runat="server" />
    <asp:ContentPlaceHolder ID="headPlaceHolder" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div style="position: relative; min-height: 100%;">
        <form id="form1" runat="server">
            <asp:ScriptManager ID="scriptmanager" runat="server" ScriptMode="Release" />
            <div class="site-header-wrapper">
                <div class="site-header clear-fix">
                    <div class="left-header">
                        <div class="product-nav top-section clear-fix">
                            <iAppsControls:iAPPSMegaMenu ID="iAppsMenu" runat="server" ProviderName="iAPPSAdminSiteMapProvider"
                                CssClass="global-navigation iapps-navigation" CurrentProductId="Commerce" CurrentProductName="commerce"
                                ExpandCurrentnode="false" />
                        </div>
                        <div class="site-utility bottom-section clear-fix">
                            <iAppsControls:iAPPSMegaMenu ID="iAppsProductMenu" runat="server" ProviderName="iAPPSAdminSiteMapProvider"
                                CssClass="global-navigation" CurrentProductId="Commerce" StartFromCurrentProduct="true" />
                        </div>
                    </div>
                    <div class="right-header">
                        <div class="top-section site-utility-search clear-fix">
                            <div class="clear-fix">
                                <div style="float: left;">
                                    <asp:Literal ID="ltSiteName" runat="server" />
                                </div>
                                <div class="signout" style="float: right;">
                                    <asp:LoginStatus ID="loginStatus" runat="server" OnLoggingOut="loginStatus_LoggingOut"
                                        LogoutText="<%$ Resources:GUIStrings, SignOut %>" />
                                </div>
                            </div>
                            <ul class="utility-nav">
                                <li class="site-search ui-front">
                                    <asp:TextBox ID="txtGlobalSearch" runat="server" CssClass="textBoxes" ClientIDMode="Static" CausesValidation="false"
                                        ValidationGroup="GlobalSearch" ToolTip="<%$ Resources:GUIStrings, SearchAndSwitchBetweenSites %>" />
                                </li>
                            </ul>
                        </div>
                        <div class="site-utility bottom-section clear-fix">
                            <div class="search-help clear-fix">
                            <ul>
                                <li class="iapps-overage" id="liOverage" runat="server" visible="false">
                                    <asp:Image ID="imgOverage" runat="server" ImageUrl="~/App_Themes/General/images/icon-exclamation.png" AlternateText="" onclick="OpenUsageGraphPopup();" />
                                </li>
                                <li class="user-dropdown">
                                    <a>
                                        <asp:Literal ID="ltWelcome" runat="server" Text="<%$ Resources:GUIStrings, WelcomeNamePrefix %>" />
                                        <asp:LoginName ID="loginName" runat="server" />
                                    </a>
                                    <ul>
                                        <asp:PlaceHolder ID="phMyProfile" runat="server">
                                            <li>
                                                <asp:HyperLink ID="hplMyProfile" runat="server" Text="<%$ Resources:GUIStrings, MyProfile %>" /></li>
                                        </asp:PlaceHolder>
                                        <li id="liResetCache" runat="server" visible="false"><a onclick="return OpenResetCachePopup();">
                                            <%= Bridgeline.iAPPS.Resources.GUIStrings.ResetCache %></a></li>
                                        <li><a onclick="OpeniAppsAdminPopup('ChangePassword');">
                                            <%= Bridgeline.iAPPS.Resources.GUIStrings.ChangePassword %></a></li>
                                        <li id="liCheckUpdates" runat="server" visible="false"><a onclick="OpenVersionCheckPopup();">
                                            <%= Bridgeline.iAPPS.Resources.GUIStrings.CheckForUpdates %></a></li>
                                        <li id="liCheckUsage" runat="server">
                                            <a onclick="OpenUsageGraphPopup();">
                                                <%= Bridgeline.iAPPS.Resources.GUIStrings.CheckiAPPSUsage %>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="siteeditor-dropdown">
                                    <a><%= Bridgeline.iAPPS.Resources.GUIStrings.SiteEditor %></a>
                                    <ul>
                                        <li><a onclick="JumpToFrontPage();">
                                            <%= Bridgeline.iAPPS.Resources.GUIStrings.HomePage %></a></li>
                                        <li><a onclick="JumpToLastVisitedFrontPage();">
                                            <%= Bridgeline.iAPPS.Resources.GUIStrings.LastVisitedPage %></a></li>
                                    </ul>
                                </li>
                                <asp:PlaceHolder ID="phSearch" runat="server">
                                    <li class="search">
                                        <asp:HyperLink ID="hplSearch" runat="server" Text="<%$ Resources:GUIStrings, Search %>"
                                            onclick="return fn_ShowSearchBox(this);" />
                                        <ul>
                                            <li class="search-box">
                                                <h2>
                                                    <%= Bridgeline.iAPPS.Resources.GUIStrings.iAPPSSearch %></h2>
                                                <asp:Panel ID="pnlHeaderSearch" runat="server" DefaultButton="btnHeaderSearch" CssClass="form-row form-value">
                                                    <asp:ValidationSummary ID="valSearchSummary" runat="server" ShowSummary="false" ShowMessageBox="True"
                                                        ValidationGroup="valHeaderSearch" />
                                                    <asp:TextBox ID="txtHeaderSearch" runat="server" ToolTip="<%$ Resources:GUIStrings, Search %>"
                                                        ValidationGroup="valHeaderSearch" />
                                                    <asp:Button ID="btnHeaderSearch" Text="<%$ Resources:GUIStrings, Search %>" ToolTip="<%$ Resources:GUIStrings, Search %>"
                                                        CssClass="small-button" runat="server" ValidationGroup="valHeaderSearch" />
                                                    <asp:RequiredFieldValidator ID="reqtxtHeaderSearch" runat="server" ControlToValidate="txtHeaderSearch"
                                                        SetFocusOnError="true" ErrorMessage="<%$ Resources:JSMessages, PleaseEnterASearchTerm %>"
                                                        Display="None" ValidationGroup="valHeaderSearch" />
                                                    <asp:RegularExpressionValidator ID="regtxtHeaderSearch" runat="server" ControlToValidate="txtHeaderSearch"
                                                        ErrorMessage="<%$ Resources:GUIStrings, InvalidInput %>" ValidationGroup="valHeaderSearch"
                                                        SetFocusOnError="true" ValidationExpression="^[^\/?:&]+$" Display="None" />
                                                </asp:Panel>
                                                <div class="link-row">
                                                    <asp:HyperLink ID="hplFindReplace" runat="server" Text="<%$ Resources:GUIStrings, FindAndReplace  %>"
                                                        NavigateUrl="~/General/FindAndReplace.aspx" />
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </asp:PlaceHolder>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper clear-fix" id="wrapper">
                <asp:PlaceHolder ID="phBreadcrumb" runat="server">
                    <div class="breadcrumb">
                        <iAppsControls:iAppsBreadCrumb runat="server" ProviderName="iAPPSAdminBreadcrumbProvider"
                            ID="iAppsCMSBreadCrumb" StartNodeId="Analyzer" PathSeparator="/" />
                    </div>
                </asp:PlaceHolder>
                <!-- Message Information Starts -->
                <asp:Panel ID="contentSection" runat="server" CssClass="contentSection clear-fix">
                    <div id="divPageTopContainer" class="messageContainer" runat="server">
                    </div>
                    <div class="contentArea clear-fix">
                        <asp:ContentPlaceHolder ID="cphHeaderButtons" runat="server" />
                        <asp:ContentPlaceHolder ID="mainPlaceHolder" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </asp:Panel>
            </div>
            <!-- BEGIN footer -->
            <div class="footerWrapper clear-fix" id="footerWrapper">
                <div class="footer clear-fix">
                    <div class="leftFooter">
                        <asp:Label ID="lblVersion" runat="server" Text=""></asp:Label>
                    </div>
                    <div class="rightFooter">
                        <asp:Image ImageUrl="~/images/bridgeline-logo.png" ID="companyLogo" runat="server"
                            ToolTip="<%$ Resources:GUIStrings, BridgelineDigital %>" AlternateText="<%$ Resources:GUIStrings, BridgelineSoftware %>" />
                    </div>
                </div>
                <!-- END footer -->
            </div>
            <div id="dhtmlPopupSpinner" style="visibility: hidden;">
                <div class="popupBoxShadow">
                    <div class="popupboxContainer">
                        <div class="dialogBox">
                            <div class="middleContent">
                                <img id="imgSpinnerIcon" class="popupSpinnerIcon" src="/AnalyzerAdmin/App_Themes/General/images/spinner.gif" alt="<%= Bridgeline.iAPPS.Resources.GUIStrings.PleaseWait %>"
                                    title="<%= Bridgeline.iAPPS.Resources.GUIStrings.PleaseWait %>" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <asp:HiddenField ID="hdn_machinename" runat="server" />
        </form>
    </div>
    <div class="help-box" id="iapps_help"></div>
</body>
</html>
